In [37]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
orders = pd.read_excel("LTV_Orders_Feb2020_1.xlsx")
orders2 = pd.read_excel("LTV_Orders_Feb2020_2.xlsx")
orders3 = pd.read_excel("LTV_Orders_Feb2020_3.xlsx")


orders.shape

(734050, 3)

In [39]:
orders.head()

,Orders SFCC/Shopify Customer Email,Orders Order Date,Orders Gross Sales Amount
0,mullaly.jennifer@gmail.com,2019-01-31,23.0
1,Tenharmsel27@gmail.com,2019-01-31,15.0
2,parise46@yahoo.com,2019-01-31,10.0
3,lexynsmith@gmail.com,2019-01-31,15.0
4,leslylezama@gmail.com,2019-01-31,15.0

In [40]:
orders2.shape

(851648, 3)

In [41]:
orders3.shape

(496536, 3)

In [42]:
orders = pd.concat([orders, orders2, orders3])
orders.shape

(2082234, 3)

In [43]:
orders.isnull().sum()

Orders SFCC/Shopify Customer Email    0
Orders Order Date                     0
Orders Gross Sales Amount             0
dtype: int64

In [44]:
orders = orders.dropna()

orders.shape

(2082234, 3)

### Customer Lifetime Value Model - Take 1
1. Create a dataframe of each customer's purchase over the course of each month (data from 6.2016-present)
2. Calculate respective 12-month value for each customer; find the average of that 
3. Calculate respective 24-month value for each customer; find the average of that

In [45]:
orders = orders.drop_duplicates()

orders.shape

(2082234, 3)

In [46]:
def pull_month_year(date):
    mon = str(date.month)
    yr = str(date.year)
    return "-".join([mon, yr])

In [47]:
orders.columns

Index(['Orders SFCC/Shopify Customer Email', 'Orders Order Date',
       'Orders Gross Sales Amount'],
      dtype='object')

In [48]:
orders.columns = ["Email", "Order Date", "Revenue"]

In [49]:
pull_month_year(orders["Order Date"].iloc[0])

'1-2019'

In [50]:
orders["Order Month_Year"] = orders["Order Date"].apply(pull_month_year)
#orders["Customer Created Month_Year"] = orders["Customers Created Date"].apply(pull_month_year)

In [51]:
orders.dtypes

Email                       object
Order Date          datetime64[ns]
Revenue                    float64
Order Month_Year            object
dtype: object

In [52]:
orders["Order Month_Year"] = pd.to_datetime(orders["Order Month_Year"])
#orders["Customer Created Month_Year"] = pd.to_datetime(orders["Customer Created Month_Year"])

In [53]:
orders.head()

                        Email Order Date  Revenue Order Month_Year
0  mullaly.jennifer@gmail.com 2019-01-31     23.0       2019-01-01
1      Tenharmsel27@gmail.com 2019-01-31     15.0       2019-01-01
2          parise46@yahoo.com 2019-01-31     10.0       2019-01-01
3        lexynsmith@gmail.com 2019-01-31     15.0       2019-01-01
4       leslylezama@gmail.com 2019-01-31     15.0       2019-01-01

In [54]:
orders.dtypes

Email                       object
Order Date          datetime64[ns]
Revenue                    float64
Order Month_Year    datetime64[ns]
dtype: object

In [69]:
piv_orders = orders.pivot_table(index="Email", values="Revenue", aggfunc=np.sum, columns="Order Month_Year")

In [70]:
piv_orders.head(10)

Order Month_Year,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,...,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00
Email,,,,,,,,,,,,,,,,,,,,,
(818)751-9631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN
+16053210376@tmomail.net,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
+kristina.repinac@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
+shimmiehayshee@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
..Vianeymoraa@gmail.com,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.E..milyhurtado04@icloud.com,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.Emilyhurtado.04@icloud.com,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.jeraldine6@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
/o=organization/ou=first administrative group/cn=recipients/cn=robert.maiale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.maysin.0@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
piv_orders.shape

(1650618, 30)

In [72]:
orders.shape[0] - piv_orders.shape[0]

431616

In [73]:
piv_orders["Total_LTV"] = piv_orders.sum(axis=1)
piv_orders.head()

Order Month_Year,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,...,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,Total_LTV
Email,,,,,,,,,,,,,,,,,,,,,
(818)751-9631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,20.0
+16053210376@tmomail.net,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
+kristina.repinac@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30.0
+shimmiehayshee@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
..Vianeymoraa@gmail.com,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0

In [74]:
first_order = orders.pivot_table(index="Email", values="Order Date", aggfunc=np.min)

first_order.shape

(1650618, 1)

In [75]:
first_order[first_order.index == "beccaborow6@gmail.com"]

                      Order Date
Email
beccaborow6@gmail.com 2017-11-11

In [76]:
piv_orders[piv_orders.index == "beccaborow6@gmail.com"]

Order Month_Year,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,...,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,Total_LTV
Email,,,,,,,,,,,,,,,,,,,,,
beccaborow6@gmail.com,NaN,NaN,NaN,175.0,40.0,30.0,NaN,NaN,NaN,NaN,...,NaN,NaN,98.0,31.0,NaN,4.0,15.0,70.0,30.0,833.0

In [77]:
orders[orders["Email"] == "beccaborow6@gmail.com"].sort_values("Order Date")

                        Email Order Date  Revenue Order Month_Year
242645  beccaborow6@gmail.com 2017-11-11    145.0       2017-11-01
263871  beccaborow6@gmail.com 2017-11-22     30.0       2017-11-01
404856  beccaborow6@gmail.com 2017-12-22     40.0       2017-12-01
463134  beccaborow6@gmail.com 2018-01-14     30.0       2018-01-01
351115  beccaborow6@gmail.com 2018-09-15     30.0       2018-09-01
342464  beccaborow6@gmail.com 2018-09-20    105.0       2018-09-01
317087  beccaborow6@gmail.com 2018-10-06     70.0       2018-10-01
309848  beccaborow6@gmail.com 2018-10-12     50.0       2018-10-01
757560  beccaborow6@gmail.com 2019-03-17     25.0       2019-03-01
752406  beccaborow6@gmail.com 2019-03-20     15.0       2019-03-01
747489  beccaborow6@gmail.com 2019-03-22     15.0       2019-03-01
708394  beccaborow6@gmail.com 2019-04-12     30.0       2019-04-01
553938  beccaborow6@gmail.com 2019-07-11     26.0       2019-07-01
547049  beccaborow6@gmail.com 2019-07-15     26.0       2019-07-01
543048  beccaborow6@gmail.com 2019-07-17     10.0       2019-07-01
526248  beccaborow6@gmail.com 2019-07-24     36.0       2019-07-01
470148  beccaborow6@gmail.com 2019-08-22     31.0       2019-08-01
358820  beccaborow6@gmail.com 2019-10-14      4.0       2019-10-01
314795  beccaborow6@gmail.com 2019-11-07     15.0       2019-11-01
188371  beccaborow6@gmail.com 2019-12-05     15.0       2019-12-01
142463  beccaborow6@gmail.com 2019-12-11     55.0       2019-12-01
47631   beccaborow6@gmail.com 2020-01-04     30.0       2020-01-01

In [78]:
first_order.dtypes

Order Date    datetime64[ns]
dtype: object

In [79]:
first_order.columns

Index(['Order Date'], dtype='object')

In [81]:
first_order.columns = ["First Order Date"]

In [82]:
piv_orders = pd.merge(piv_orders, first_order, how="left", right_on=first_order.index, left_on=piv_orders.index)

piv_orders.shape

(1650618, 33)

In [83]:
piv_orders.head()

,key_0,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,...,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,Total_LTV,First Order Date
0,(818)751-9631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,20.0,2019-11-23
1,+16053210376@tmomail.net,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2018-09-16
2,+kristina.repinac@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30.0,2020-01-15
3,+shimmiehayshee@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,2019-02-25
4,..Vianeymoraa@gmail.com,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,2017-10-01

In [84]:
piv_orders.columns

Index([            'key_0', 2017-08-01 00:00:00, 2017-09-01 00:00:00,
       2017-10-01 00:00:00, 2017-11-01 00:00:00, 2017-12-01 00:00:00,
       2018-01-01 00:00:00, 2018-02-01 00:00:00, 2018-03-01 00:00:00,
       2018-04-01 00:00:00, 2018-05-01 00:00:00, 2018-06-01 00:00:00,
       2018-07-01 00:00:00, 2018-08-01 00:00:00, 2018-09-01 00:00:00,
       2018-10-01 00:00:00, 2018-11-01 00:00:00, 2018-12-01 00:00:00,
       2019-01-01 00:00:00, 2019-02-01 00:00:00, 2019-03-01 00:00:00,
       2019-04-01 00:00:00, 2019-05-01 00:00:00, 2019-06-01 00:00:00,
       2019-07-01 00:00:00, 2019-08-01 00:00:00, 2019-09-01 00:00:00,
       2019-10-01 00:00:00, 2019-11-01 00:00:00, 2019-12-01 00:00:00,
       2020-01-01 00:00:00,         'Total_LTV',  'First Order Date'],
      dtype='object')

In [85]:
piv_orders = piv_orders.fillna(0)

In [86]:
min(piv_orders["First Order Date"])

Timestamp('2017-08-01 00:00:00')

In [87]:
piv_orders.shape

(1650618, 33)

In [ ]:
#piv_orders.to_excel("data_checkpoint1.xlsx")

In [ ]:
#piv_orders = pd.read_excel("data_checkpoint1.xlsx")

In [88]:
piv_orders.dtypes

key_0                          object
2017-08-01 00:00:00           float64
2017-09-01 00:00:00           float64
2017-10-01 00:00:00           float64
2017-11-01 00:00:00           float64
2017-12-01 00:00:00           float64
2018-01-01 00:00:00           float64
2018-02-01 00:00:00           float64
2018-03-01 00:00:00           float64
2018-04-01 00:00:00           float64
2018-05-01 00:00:00           float64
2018-06-01 00:00:00           float64
2018-07-01 00:00:00           float64
2018-08-01 00:00:00           float64
2018-09-01 00:00:00           float64
2018-10-01 00:00:00           float64
2018-11-01 00:00:00           float64
2018-12-01 00:00:00           float64
2019-01-01 00:00:00           float64
2019-02-01 00:00:00           float64
2019-03-01 00:00:00           float64
2019-04-01 00:00:00           float64
2019-05-01 00:00:00           float64
2019-06-01 00:00:00           float64
2019-07-01 00:00:00           float64
2019-08-01 00:00:00           float64
2019-09-01 00:00:00           float64
2019-10-01 00:00:00           float64
2019-11-01 00:00:00           float64
2019-12-01 00:00:00           float64
2020-01-01 00:00:00           float64
Total_LTV                     float64
First Order Date       datetime64[ns]
dtype: object

In [89]:
from datetime import timedelta
from dateutil.relativedelta import relativedelta

In [90]:
start = max(piv_orders["First Order Date"])
end = start + relativedelta(months=24)
start

Timestamp('2020-01-31 00:00:00')

In [95]:
future_dates = pd.date_range(start, end, freq="MS").tolist()

In [96]:
future_dates

[Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2021-07-01 00:00:00', freq='MS'),
 Timestamp('2021-08-01 00:00:00', freq='MS'),
 Timestamp('2021-09-01 00:00:00', freq='MS'),
 Timestamp('2021-10-01 00:00:00', freq='MS'),
 Timestamp('2021-11-01 00:00:00', freq='MS'),
 Timestamp('2021-12-01 00:00:00', freq='MS'),
 Timestamp('2022-01-01 00:00:00', freq='MS')]

In [97]:
len(future_dates)

24

In [98]:
for i in range(24):
    piv_orders[future_dates[i]] = np.nan

In [163]:
jul2017 = piv_orders["First Order Date"].iloc[216] - relativedelta(months=1)

In [164]:
jul2017

Timestamp('2017-07-01 00:00:00')

In [162]:
piv_orders["First Order Date"].iloc[216]

Timestamp('2017-08-01 00:00:00')

In [165]:
piv_orders[jul2017] = np.nan

In [166]:
piv_orders.shape

(1650618, 58)

In [101]:
piv_orders["First Order Date"].value_counts()

2019-12-11    12550
2019-12-02    11540
2019-11-29    11121
2019-12-03    10380
2018-11-23     7790
2018-11-26     7747
2019-12-01     7717
2019-11-30     7584
2019-11-28     7491
2017-11-25     7276
2019-12-18     7217
2019-12-14     7152
2019-12-09     6898
2017-09-30     6630
2017-11-27     6477
2018-12-10     6369
2017-12-11     6120
2017-12-17     5767
2017-12-10     5767
2018-12-09     5680
2017-12-09     5323
2018-12-12     5122
2017-12-12     5119
2017-12-15     5093
2017-12-13     5077
2017-12-14     4988
2018-12-16     4980
2017-09-08     4975
2017-12-16     4944
2018-12-14     4941
              ...
2018-05-25      946
2018-10-29      941
2018-05-29      937
2018-10-06      937
2018-10-15      930
2018-10-16      928
2018-05-27      928
2018-10-19      922
2018-10-18      921
2018-10-11      915
2018-10-13      912
2019-10-31      902
2017-10-15      890
2017-08-02      870
2017-08-12      865
2018-10-17      860
2018-10-10      855
2018-10-30      835
2018-10-20      829
2018-10-23      818
2018-10-12      792
2018-10-22      790
2018-10-24      767
2018-10-31      740
2017-09-02      733
2017-08-20      726
2017-10-29      725
2017-08-13      717
2017-08-06      661
2017-11-14      218
Name: First Order Date, Length: 914, dtype: int64

In [103]:
piv_orders["First Order Date"].iloc[200000]

Timestamp('2017-11-28 00:00:00')

In [124]:
start = piv_orders["First Order Date"].iloc[200000]
end_12 = start + relativedelta(months=12)
datelist = pd.date_range(start - relativedelta(months=1), end_12 - relativedelta(months=1), freq="MS").tolist()
twelve_mon = piv_orders[datelist[0]].iloc[200000] + piv_orders[datelist[1]].iloc[200000] + piv_orders[datelist[2]].iloc[200000] + piv_orders[datelist[3]].iloc[200000] + piv_orders[datelist[4]].iloc[200000] + piv_orders[datelist[5]].iloc[200000] + piv_orders[datelist[6]].iloc[200000] + piv_orders[datelist[7]].iloc[200000] + piv_orders[datelist[8]].iloc[200000] + piv_orders[datelist[9]].iloc[200000] + piv_orders[datelist[10]].iloc[200000] + piv_orders[datelist[11]].iloc[200000] 
twelve_mon

10.0

In [125]:
pd.date_range(start - relativedelta(months=1), end_12 - relativedelta(months=1), freq="MS").tolist()

[Timestamp('2017-11-01 00:00:00', freq='MS'),
 Timestamp('2017-12-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS')]

In [126]:
piv_orders.iloc[200000]

key_0                  Oliviacmoon@gmail.com
2017-08-01 00:00:00                        0
2017-09-01 00:00:00                        0
2017-10-01 00:00:00                        0
2017-11-01 00:00:00                       10
2017-12-01 00:00:00                        0
2018-01-01 00:00:00                        0
2018-02-01 00:00:00                        0
2018-03-01 00:00:00                        0
2018-04-01 00:00:00                        0
2018-05-01 00:00:00                        0
2018-06-01 00:00:00                        0
2018-07-01 00:00:00                        0
2018-08-01 00:00:00                        0
2018-09-01 00:00:00                        0
2018-10-01 00:00:00                        0
2018-11-01 00:00:00                        0
2018-12-01 00:00:00                        0
2019-01-01 00:00:00                        0
2019-02-01 00:00:00                        0
2019-03-01 00:00:00                        0
2019-04-01 00:00:00                        0
2019-05-01 00:00:00                        0
2019-06-01 00:00:00                        0
2019-07-01 00:00:00                        0
2019-08-01 00:00:00                        0
2019-09-01 00:00:00                        0
2019-10-01 00:00:00                        0
2019-11-01 00:00:00                        0
2019-12-01 00:00:00                        0
2020-01-01 00:00:00                        0
Total_LTV                                 10
First Order Date         2017-11-28 00:00:00
2020-02-01 00:00:00                      NaN
2020-03-01 00:00:00                      NaN
2020-04-01 00:00:00                      NaN
2020-05-01 00:00:00                      NaN
2020-06-01 00:00:00                      NaN
2020-07-01 00:00:00                      NaN
2020-08-01 00:00:00                      NaN
2020-09-01 00:00:00                      NaN
2020-10-01 00:00:00                      NaN
2020-11-01 00:00:00                      NaN
2020-12-01 00:00:00                      NaN
2021-01-01 00:00:00                      NaN
2021-02-01 00:00:00                      NaN
2021-03-01 00:00:00                      NaN
2021-04-01 00:00:00                      NaN
2021-05-01 00:00:00                      NaN
2021-06-01 00:00:00                      NaN
2021-07-01 00:00:00                      NaN
2021-08-01 00:00:00                      NaN
2021-09-01 00:00:00                      NaN
2021-10-01 00:00:00                      NaN
2021-11-01 00:00:00                      NaN
2021-12-01 00:00:00                      NaN
2022-01-01 00:00:00                      NaN
Name: 200000, dtype: object

In [128]:
orders[orders["Email"] == "Oliviacmoon@gmail.com"]

                        Email Order Date  Revenue Order Month_Year
292583  Oliviacmoon@gmail.com 2017-11-28     10.0       2017-11-01

In [129]:
end_12

Timestamp('2018-11-28 00:00:00')

In [130]:
datelist

[Timestamp('2017-11-01 00:00:00', freq='MS'),
 Timestamp('2017-12-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS')]

In [131]:
piv_orders.columns[6]

Timestamp('2018-01-01 00:00:00')

In [132]:
piv_orders.iloc[200000][datelist[2]]

0.0

In [134]:
piv_orders.head()

,key_0,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,...,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00
0,(818)751-9631,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,+16053210376@tmomail.net,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,+kristina.repinac@gmail.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,+shimmiehayshee@gmail.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,..Vianeymoraa@gmail.com,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
piv_orders = piv_orders.fillna(0)

In [137]:
start = piv_orders["First Order Date"].iloc[300]
end_12 = start + relativedelta(months=12)
datelist = pd.date_range(start - relativedelta(months=1), end_12 - relativedelta(months=1), freq="MS").tolist()
twelve_mon = piv_orders[datelist[0]].iloc[300] + piv_orders[datelist[1]].iloc[300] + piv_orders[datelist[2]].iloc[300] + piv_orders[datelist[3]].iloc[300] + piv_orders[datelist[4]].iloc[300] + piv_orders[datelist[5]].iloc[300] + piv_orders[datelist[6]].iloc[300] + piv_orders[datelist[7]].iloc[300] + piv_orders[datelist[8]].iloc[300] + piv_orders[datelist[9]].iloc[300] + piv_orders[datelist[10]].iloc[300] + piv_orders[datelist[11]].iloc[300] 
twelve_mon

30.0

In [167]:
twelve_mon = []

for i in range(piv_orders.shape[0]):
    start_date = piv_orders["First Order Date"].iloc[i]
    end_12 = start_date + relativedelta(months=12)
    datelist = pd.date_range(start_date - relativedelta(months=1), end_12 - relativedelta(months=1), freq="MS").tolist()
    total = piv_orders[datelist[0]].iloc[i] + piv_orders[datelist[1]].iloc[i] + piv_orders[datelist[2]].iloc[i] + piv_orders[datelist[3]].iloc[i] + piv_orders[datelist[4]].iloc[i] + piv_orders[datelist[5]].iloc[i] + piv_orders[datelist[6]].iloc[i] + piv_orders[datelist[7]].iloc[i] + piv_orders[datelist[8]].iloc[i] + piv_orders[datelist[9]].iloc[i] + piv_orders[datelist[10]].iloc[i] + piv_orders[datelist[11]].iloc[i] 
    twelve_mon.append(total)
    if i % 200 == 0:
        print("Crushed row ", i)

Crushed row  0
Crushed row  200
Crushed row  400
Crushed row  600
Crushed row  800
Crushed row  1000
Crushed row  1200
Crushed row  1400
Crushed row  1600
Crushed row  1800
Crushed row  2000
Crushed row  2200
Crushed row  2400
Crushed row  2600
Crushed row  2800
Crushed row  3000
Crushed row  3200
Crushed row  3400
Crushed row  3600
Crushed row  3800
Crushed row  4000
Crushed row  4200
Crushed row  4400
Crushed row  4600
Crushed row  4800
Crushed row  5000
Crushed row  5200
Crushed row  5400
Crushed row  5600
Crushed row  5800
Crushed row  6000
Crushed row  6200
Crushed row  6400
Crushed row  6600
Crushed row  6800
Crushed row  7000
Crushed row  7200
Crushed row  7400
Crushed row  7600
Crushed row  7800
Crushed row  8000
Crushed row  8200
Crushed row  8400
Crushed row  8600
Crushed row  8800
Crushed row  9000
Crushed row  9200
Crushed row  9400
Crushed row  9600
Crushed row  9800
Crushed row  10000
Crushed row  10200
Crushed row  10400
Crushed row  10600
Crushed row  10800
Crushed row  11000
Crushed row  11200
Crushed row  11400
Crushed row  11600
Crushed row  11800
Crushed row  12000
Crushed row  12200
Crushed row  12400
Crushed row  12600
Crushed row  12800
Crushed row  13000
Crushed row  13200
Crushed row  13400
Crushed row  13600
Crushed row  13800
Crushed row  14000
Crushed row  14200
Crushed row  14400
Crushed row  14600
Crushed row  14800
Crushed row  15000
Crushed row  15200
Crushed row  15400
Crushed row  15600
Crushed row  15800
Crushed row  16000
Crushed row  16200
Crushed row  16400
Crushed row  16600
Crushed row  16800
Crushed row  17000
Crushed row  17200
Crushed row  17400
Crushed row  17600
Crushed row  17800
Crushed row  18000
Crushed row  18200
Crushed row  18400
Crushed row  18600
Crushed row  18800
Crushed row  19000
Crushed row  19200
Crushed row  19400
Crushed row  19600
Crushed row  19800
Crushed row  20000
Crushed row  20200
Crushed row  20400
Crushed row  20600
Crushed row  20800
Crushed row  21000
Crushed row  21200
Crushed row  21400
Crushed row  21600
Crushed row  21800
Crushed row  22000
Crushed row  22200
Crushed row  22400
Crushed row  22600
Crushed row  22800
Crushed row  23000
Crushed row  23200
Crushed row  23400
Crushed row  23600
Crushed row  23800
Crushed row  24000
Crushed row  24200
Crushed row  24400
Crushed row  24600
Crushed row  24800
Crushed row  25000
Crushed row  25200
Crushed row  25400
Crushed row  25600
Crushed row  25800
Crushed row  26000
Crushed row  26200
Crushed row  26400
Crushed row  26600
Crushed row  26800
Crushed row  27000
Crushed row  27200
Crushed row  27400
Crushed row  27600
Crushed row  27800
Crushed row  28000
Crushed row  28200
Crushed row  28400
Crushed row  28600
Crushed row  28800
Crushed row  29000
Crushed row  29200
Crushed row  29400
Crushed row  29600
Crushed row  29800
Crushed row  30000
Crushed row  30200
Crushed row  30400
Crushed row  30600
Crushed row  30800
Crushed row  31000
Crushed row  31200
Crushed row  31400
Crushed row  31600
Crushed row  31800
Crushed row  32000
Crushed row  32200
Crushed row  32400
Crushed row  32600
Crushed row  32800
Crushed row  33000
Crushed row  33200
Crushed row  33400
Crushed row  33600
Crushed row  33800
Crushed row  34000
Crushed row  34200
Crushed row  34400
Crushed row  34600
Crushed row  34800
Crushed row  35000
Crushed row  35200
Crushed row  35400
Crushed row  35600
Crushed row  35800
Crushed row  36000
Crushed row  36200
Crushed row  36400
Crushed row  36600
Crushed row  36800
Crushed row  37000
Crushed row  37200
Crushed row  37400
Crushed row  37600
Crushed row  37800
Crushed row  38000
Crushed row  38200
Crushed row  38400
Crushed row  38600
Crushed row  38800
Crushed row  39000
Crushed row  39200
Crushed row  39400
Crushed row  39600
Crushed row  39800
Crushed row  40000
Crushed row  40200
Crushed row  40400
Crushed row  40600
Crushed row  40800
Crushed row  41000
Crushed row  41200
Crushed row  41400
Crushed row  41600
Crushed row  41800
Crushed row  42000
Crushed row  42200
Crushed row  42400
Crushed row  42600
Crushed row  42800
Crushed row  43000
Crushed row  43200
Crushed row  43400
Crushed row  43600
Crushed row  43800
Crushed row  44000
Crushed row  44200
Crushed row  44400
Crushed row  44600
Crushed row  44800
Crushed row  45000
Crushed row  45200
Crushed row  45400
Crushed row  45600
Crushed row  45800
Crushed row  46000
Crushed row  46200
Crushed row  46400
Crushed row  46600
Crushed row  46800
Crushed row  47000
Crushed row  47200
Crushed row  47400
Crushed row  47600
Crushed row  47800
Crushed row  48000
Crushed row  48200
Crushed row  48400
Crushed row  48600
Crushed row  48800
Crushed row  49000
Crushed row  49200
Crushed row  49400
Crushed row  49600
Crushed row  49800
Crushed row  50000
Crushed row  50200
Crushed row  50400
Crushed row  50600
Crushed row  50800
Crushed row  51000
Crushed row  51200
Crushed row  51400
Crushed row  51600
Crushed row  51800
Crushed row  52000
Crushed row  52200
Crushed row  52400
Crushed row  52600
Crushed row  52800
Crushed row  53000
Crushed row  53200
Crushed row  53400
Crushed row  53600
Crushed row  53800
Crushed row  54000
Crushed row  54200
Crushed row  54400
Crushed row  54600
Crushed row  54800
Crushed row  55000
Crushed row  55200
Crushed row  55400
Crushed row  55600
Crushed row  55800
Crushed row  56000
Crushed row  56200
Crushed row  56400
Crushed row  56600
Crushed row  56800
Crushed row  57000
Crushed row  57200
Crushed row  57400
Crushed row  57600
Crushed row  57800
Crushed row  58000
Crushed row  58200
Crushed row  58400
Crushed row  58600
Crushed row  58800
Crushed row  59000
Crushed row  59200
Crushed row  59400
Crushed row  59600
Crushed row  59800
Crushed row  60000
Crushed row  60200
Crushed row  60400
Crushed row  60600
Crushed row  60800
Crushed row  61000
Crushed row  61200
Crushed row  61400
Crushed row  61600
Crushed row  61800
Crushed row  62000
Crushed row  62200
Crushed row  62400
Crushed row  62600
Crushed row  62800
Crushed row  63000
Crushed row  63200
Crushed row  63400
Crushed row  63600
Crushed row  63800
Crushed row  64000
Crushed row  64200
Crushed row  64400
Crushed row  64600
Crushed row  64800
Crushed row  65000
Crushed row  65200
Crushed row  65400
Crushed row  65600
Crushed row  65800
Crushed row  66000
Crushed row  66200
Crushed row  66400
Crushed row  66600
Crushed row  66800
Crushed row  67000
Crushed row  67200
Crushed row  67400
Crushed row  67600
Crushed row  67800
Crushed row  68000
Crushed row  68200
Crushed row  68400
Crushed row  68600
Crushed row  68800
Crushed row  69000
Crushed row  69200
Crushed row  69400
Crushed row  69600
Crushed row  69800
Crushed row  70000
Crushed row  70200
Crushed row  70400
Crushed row  70600
Crushed row  70800
Crushed row  71000
Crushed row  71200
Crushed row  71400
Crushed row  71600
Crushed row  71800
Crushed row  72000
Crushed row  72200
Crushed row  72400
Crushed row  72600
Crushed row  72800
Crushed row  73000
Crushed row  73200
Crushed row  73400
Crushed row  73600
Crushed row  73800
Crushed row  74000
Crushed row  74200
Crushed row  74400
Crushed row  74600
Crushed row  74800
Crushed row  75000
Crushed row  75200
Crushed row  75400
Crushed row  75600
Crushed row  75800
Crushed row  76000
Crushed row  76200
Crushed row  76400
Crushed row  76600
Crushed row  76800
Crushed row  77000
Crushed row  77200
Crushed row  77400
Crushed row  77600
Crushed row  77800
Crushed row  78000
Crushed row  78200
Crushed row  78400
Crushed row  78600
Crushed row  78800
Crushed row  79000
Crushed row  79200
Crushed row  79400
Crushed row  79600
Crushed row  79800
Crushed row  80000
Crushed row  80200
Crushed row  80400
Crushed row  80600
Crushed row  80800
Crushed row  81000
Crushed row  81200
Crushed row  81400
Crushed row  81600
Crushed row  81800
Crushed row  82000
Crushed row  82200
Crushed row  82400
Crushed row  82600
Crushed row  82800
Crushed row  83000
Crushed row  83200
Crushed row  83400
Crushed row  83600
Crushed row  83800
Crushed row  84000
Crushed row  84200
Crushed row  84400
Crushed row  84600
Crushed row  84800
Crushed row  85000
Crushed row  85200
Crushed row  85400
Crushed row  85600
Crushed row  85800
Crushed row  86000
Crushed row  86200
Crushed row  86400
Crushed row  86600
Crushed row  86800

Crushed row  87000
Crushed row  87200
Crushed row  87400
Crushed row  87600
Crushed row  87800
Crushed row  88000
Crushed row  88200
Crushed row  88400
Crushed row  88600
Crushed row  88800
Crushed row  89000
Crushed row  89200
Crushed row  89400
Crushed row  89600
Crushed row  89800
Crushed row  90000
Crushed row  90200
Crushed row  90400
Crushed row  90600
Crushed row  90800
Crushed row  91000
Crushed row  91200
Crushed row  91400
Crushed row  91600
Crushed row  91800
Crushed row  92000
Crushed row  92200
Crushed row  92400
Crushed row  92600
Crushed row  92800
Crushed row  93000
Crushed row  93200
Crushed row  93400
Crushed row  93600
Crushed row  93800
Crushed row  94000
Crushed row  94200
Crushed row  94400
Crushed row  94600
Crushed row  94800
Crushed row  95000
Crushed row  95200
Crushed row  95400
Crushed row  95600
Crushed row  95800
Crushed row  96000
Crushed row  96200
Crushed row  96400
Crushed row  96600
Crushed row  96800
Crushed row  97000
Crushed row  97200
Crushed row  97400
Crushed row  97600
Crushed row  97800
Crushed row  98000
Crushed row  98200
Crushed row  98400
Crushed row  98600
Crushed row  98800
Crushed row  99000
Crushed row  99200
Crushed row  99400
Crushed row  99600
Crushed row  99800
Crushed row  100000
Crushed row  100200
Crushed row  100400
Crushed row  100600
Crushed row  100800
Crushed row  101000
Crushed row  101200
Crushed row  101400
Crushed row  101600
Crushed row  101800
Crushed row  102000
Crushed row  102200
Crushed row  102400
Crushed row  102600
Crushed row  102800
Crushed row  103000
Crushed row  103200
Crushed row  103400
Crushed row  103600
Crushed row  103800
Crushed row  104000
Crushed row  104200
Crushed row  104400
Crushed row  104600
Crushed row  104800
Crushed row  105000
Crushed row  105200
Crushed row  105400
Crushed row  105600
Crushed row  105800
Crushed row  106000
Crushed row  106200
Crushed row  106400
Crushed row  106600
Crushed row  106800
Crushed row  107000
Crushed row  107200
Crushed row  107400
Crushed row  107600
Crushed row  107800
Crushed row  108000
Crushed row  108200
Crushed row  108400
Crushed row  108600
Crushed row  108800
Crushed row  109000
Crushed row  109200
Crushed row  109400
Crushed row  109600
Crushed row  109800
Crushed row  110000
Crushed row  110200
Crushed row  110400
Crushed row  110600
Crushed row  110800
Crushed row  111000
Crushed row  111200
Crushed row  111400
Crushed row  111600
Crushed row  111800
Crushed row  112000
Crushed row  112200
Crushed row  112400
Crushed row  112600
Crushed row  112800
Crushed row  113000
Crushed row  113200
Crushed row  113400
Crushed row  113600
Crushed row  113800
Crushed row  114000
Crushed row  114200
Crushed row  114400
Crushed row  114600
Crushed row  114800
Crushed row  115000
Crushed row  115200
Crushed row  115400
Crushed row  115600
Crushed row  115800
Crushed row  116000
Crushed row  116200
Crushed row  116400
Crushed row  116600
Crushed row  116800
Crushed row  117000
Crushed row  117200
Crushed row  117400
Crushed row  117600
Crushed row  117800
Crushed row  118000
Crushed row  118200
Crushed row  118400
Crushed row  118600
Crushed row  118800
Crushed row  119000
Crushed row  119200
Crushed row  119400
Crushed row  119600
Crushed row  119800
Crushed row  120000
Crushed row  120200
Crushed row  120400
Crushed row  120600
Crushed row  120800
Crushed row  121000
Crushed row  121200
Crushed row  121400
Crushed row  121600
Crushed row  121800
Crushed row  122000
Crushed row  122200
Crushed row  122400
Crushed row  122600
Crushed row  122800
Crushed row  123000
Crushed row  123200
Crushed row  123400
Crushed row  123600
Crushed row  123800
Crushed row  124000
Crushed row  124200
Crushed row  124400
Crushed row  124600
Crushed row  124800
Crushed row  125000
Crushed row  125200
Crushed row  125400
Crushed row  125600
Crushed row  125800
Crushed row  126000
Crushed row  126200
Crushed row  126400
Crushed row  126600
Crushed row  126800
Crushed row  127000
Crushed row  127200
Crushed row  127400
Crushed row  127600
Crushed row  127800
Crushed row  128000
Crushed row  128200
Crushed row  128400
Crushed row  128600
Crushed row  128800
Crushed row  129000
Crushed row  129200
Crushed row  129400
Crushed row  129600
Crushed row  129800
Crushed row  130000
Crushed row  130200
Crushed row  130400
Crushed row  130600
Crushed row  130800
Crushed row  131000
Crushed row  131200
Crushed row  131400
Crushed row  131600
Crushed row  131800
Crushed row  132000
Crushed row  132200
Crushed row  132400
Crushed row  132600
Crushed row  132800
Crushed row  133000
Crushed row  133200
Crushed row  133400
Crushed row  133600
Crushed row  133800
Crushed row  134000
Crushed row  134200
Crushed row  134400
Crushed row  134600
Crushed row  134800
Crushed row  135000
Crushed row  135200
Crushed row  135400
Crushed row  135600
Crushed row  135800
Crushed row  136000
Crushed row  136200
Crushed row  136400
Crushed row  136600
Crushed row  136800
Crushed row  137000
Crushed row  137200
Crushed row  137400
Crushed row  137600
Crushed row  137800
Crushed row  138000
Crushed row  138200
Crushed row  138400
Crushed row  138600
Crushed row  138800
Crushed row  139000
Crushed row  139200
Crushed row  139400
Crushed row  139600
Crushed row  139800
Crushed row  140000
Crushed row  140200
Crushed row  140400
Crushed row  140600
Crushed row  140800
Crushed row  141000
Crushed row  141200
Crushed row  141400
Crushed row  141600
Crushed row  141800
Crushed row  142000
Crushed row  142200
Crushed row  142400
Crushed row  142600
Crushed row  142800
Crushed row  143000
Crushed row  143200
Crushed row  143400
Crushed row  143600
Crushed row  143800
Crushed row  144000
Crushed row  144200
Crushed row  144400
Crushed row  144600
Crushed row  144800
Crushed row  145000
Crushed row  145200
Crushed row  145400
Crushed row  145600
Crushed row  145800
Crushed row  146000
Crushed row  146200
Crushed row  146400
Crushed row  146600
Crushed row  146800
Crushed row  147000
Crushed row  147200
Crushed row  147400
Crushed row  147600
Crushed row  147800
Crushed row  148000
Crushed row  148200
Crushed row  148400
Crushed row  148600
Crushed row  148800
Crushed row  149000
Crushed row  149200
Crushed row  149400
Crushed row  149600
Crushed row  149800
Crushed row  150000
Crushed row  150200
Crushed row  150400
Crushed row  150600
Crushed row  150800
Crushed row  151000
Crushed row  151200
Crushed row  151400
Crushed row  151600
Crushed row  151800
Crushed row  152000
Crushed row  152200
Crushed row  152400
Crushed row  152600
Crushed row  152800
Crushed row  153000
Crushed row  153200
Crushed row  153400
Crushed row  153600
Crushed row  153800
Crushed row  154000
Crushed row  154200
Crushed row  154400
Crushed row  154600
Crushed row  154800
Crushed row  155000
Crushed row  155200
Crushed row  155400
Crushed row  155600
Crushed row  155800
Crushed row  156000
Crushed row  156200
Crushed row  156400
Crushed row  156600
Crushed row  156800
Crushed row  157000
Crushed row  157200
Crushed row  157400
Crushed row  157600
Crushed row  157800
Crushed row  158000
Crushed row  158200
Crushed row  158400
Crushed row  158600
Crushed row  158800
Crushed row  159000
Crushed row  159200
Crushed row  159400
Crushed row  159600
Crushed row  159800
Crushed row  160000
Crushed row  160200
Crushed row  160400
Crushed row  160600
Crushed row  160800
Crushed row  161000
Crushed row  161200
Crushed row  161400
Crushed row  161600
Crushed row  161800
Crushed row  162000
Crushed row  162200
Crushed row  162400
Crushed row  162600
Crushed row  162800
Crushed row  163000
Crushed row  163200
Crushed row  163400
Crushed row  163600
Crushed row  163800
Crushed row  164000
Crushed row  164200
Crushed row  164400
Crushed row  164600
Crushed row  164800
Crushed row  165000
Crushed row  165200
Crushed row  165400
Crushed row  165600
Crushed row  165800
Crushed row  166000
Crushed row  166200
Crushed row  166400
Crushed row  166600
Crushed row  166800
Crushed row  167000
Crushed row  167200
Crushed row  167400
Crushed row  167600
Crushed row  167800
Crushed row  168000
Crushed row  168200
Crushed row  168400
Crushed row  168600
Crushed row  168800
Crushed row  169000
Crushed row  169200
Crushed row  169400

Crushed row  169600
Crushed row  169800
Crushed row  170000
Crushed row  170200
Crushed row  170400
Crushed row  170600
Crushed row  170800
Crushed row  171000
Crushed row  171200
Crushed row  171400
Crushed row  171600
Crushed row  171800
Crushed row  172000
Crushed row  172200
Crushed row  172400
Crushed row  172600
Crushed row  172800
Crushed row  173000
Crushed row  173200
Crushed row  173400
Crushed row  173600
Crushed row  173800
Crushed row  174000
Crushed row  174200
Crushed row  174400
Crushed row  174600
Crushed row  174800
Crushed row  175000
Crushed row  175200
Crushed row  175400
Crushed row  175600
Crushed row  175800
Crushed row  176000
Crushed row  176200
Crushed row  176400
Crushed row  176600
Crushed row  176800
Crushed row  177000
Crushed row  177200
Crushed row  177400
Crushed row  177600
Crushed row  177800
Crushed row  178000
Crushed row  178200
Crushed row  178400
Crushed row  178600
Crushed row  178800
Crushed row  179000
Crushed row  179200
Crushed row  179400
Crushed row  179600
Crushed row  179800
Crushed row  180000
Crushed row  180200
Crushed row  180400
Crushed row  180600
Crushed row  180800
Crushed row  181000
Crushed row  181200
Crushed row  181400
Crushed row  181600
Crushed row  181800
Crushed row  182000
Crushed row  182200
Crushed row  182400
Crushed row  182600
Crushed row  182800
Crushed row  183000
Crushed row  183200
Crushed row  183400
Crushed row  183600
Crushed row  183800
Crushed row  184000
Crushed row  184200
Crushed row  184400
Crushed row  184600
Crushed row  184800
Crushed row  185000
Crushed row  185200
Crushed row  185400
Crushed row  185600
Crushed row  185800
Crushed row  186000
Crushed row  186200
Crushed row  186400
Crushed row  186600
Crushed row  186800
Crushed row  187000
Crushed row  187200
Crushed row  187400
Crushed row  187600
Crushed row  187800
Crushed row  188000
Crushed row  188200
Crushed row  188400
Crushed row  188600
Crushed row  188800
Crushed row  189000
Crushed row  189200
Crushed row  189400
Crushed row  189600
Crushed row  189800
Crushed row  190000
Crushed row  190200
Crushed row  190400
Crushed row  190600
Crushed row  190800
Crushed row  191000
Crushed row  191200
Crushed row  191400
Crushed row  191600
Crushed row  191800
Crushed row  192000
Crushed row  192200
Crushed row  192400
Crushed row  192600
Crushed row  192800
Crushed row  193000
Crushed row  193200
Crushed row  193400
Crushed row  193600
Crushed row  193800
Crushed row  194000
Crushed row  194200
Crushed row  194400
Crushed row  194600
Crushed row  194800
Crushed row  195000
Crushed row  195200
Crushed row  195400
Crushed row  195600
Crushed row  195800
Crushed row  196000
Crushed row  196200
Crushed row  196400
Crushed row  196600
Crushed row  196800
Crushed row  197000
Crushed row  197200
Crushed row  197400
Crushed row  197600
Crushed row  197800
Crushed row  198000
Crushed row  198200
Crushed row  198400
Crushed row  198600
Crushed row  198800
Crushed row  199000
Crushed row  199200
Crushed row  199400
Crushed row  199600
Crushed row  199800
Crushed row  200000
Crushed row  200200
Crushed row  200400
Crushed row  200600
Crushed row  200800
Crushed row  201000
Crushed row  201200
Crushed row  201400
Crushed row  201600
Crushed row  201800
Crushed row  202000
Crushed row  202200
Crushed row  202400
Crushed row  202600
Crushed row  202800
Crushed row  203000
Crushed row  203200
Crushed row  203400
Crushed row  203600
Crushed row  203800
Crushed row  204000
Crushed row  204200
Crushed row  204400
Crushed row  204600
Crushed row  204800
Crushed row  205000
Crushed row  205200
Crushed row  205400
Crushed row  205600
Crushed row  205800
Crushed row  206000
Crushed row  206200
Crushed row  206400
Crushed row  206600
Crushed row  206800
Crushed row  207000
Crushed row  207200
Crushed row  207400
Crushed row  207600
Crushed row  207800
Crushed row  208000
Crushed row  208200
Crushed row  208400
Crushed row  208600
Crushed row  208800
Crushed row  209000
Crushed row  209200
Crushed row  209400
Crushed row  209600
Crushed row  209800
Crushed row  210000
Crushed row  210200
Crushed row  210400
Crushed row  210600
Crushed row  210800
Crushed row  211000
Crushed row  211200
Crushed row  211400
Crushed row  211600
Crushed row  211800
Crushed row  212000
Crushed row  212200
Crushed row  212400
Crushed row  212600
Crushed row  212800
Crushed row  213000
Crushed row  213200
Crushed row  213400
Crushed row  213600
Crushed row  213800
Crushed row  214000
Crushed row  214200
Crushed row  214400
Crushed row  214600
Crushed row  214800
Crushed row  215000
Crushed row  215200
Crushed row  215400
Crushed row  215600
Crushed row  215800
Crushed row  216000
Crushed row  216200
Crushed row  216400
Crushed row  216600
Crushed row  216800
Crushed row  217000
Crushed row  217200
Crushed row  217400
Crushed row  217600
Crushed row  217800
Crushed row  218000
Crushed row  218200
Crushed row  218400
Crushed row  218600
Crushed row  218800
Crushed row  219000
Crushed row  219200
Crushed row  219400
Crushed row  219600
Crushed row  219800
Crushed row  220000
Crushed row  220200
Crushed row  220400
Crushed row  220600
Crushed row  220800
Crushed row  221000
Crushed row  221200
Crushed row  221400
Crushed row  221600
Crushed row  221800
Crushed row  222000
Crushed row  222200
Crushed row  222400
Crushed row  222600
Crushed row  222800
Crushed row  223000
Crushed row  223200
Crushed row  223400
Crushed row  223600
Crushed row  223800
Crushed row  224000
Crushed row  224200
Crushed row  224400
Crushed row  224600
Crushed row  224800
Crushed row  225000
Crushed row  225200
Crushed row  225400
Crushed row  225600
Crushed row  225800
Crushed row  226000
Crushed row  226200
Crushed row  226400
Crushed row  226600
Crushed row  226800
Crushed row  227000
Crushed row  227200
Crushed row  227400
Crushed row  227600
Crushed row  227800
Crushed row  228000
Crushed row  228200
Crushed row  228400
Crushed row  228600
Crushed row  228800
Crushed row  229000
Crushed row  229200
Crushed row  229400
Crushed row  229600
Crushed row  229800
Crushed row  230000
Crushed row  230200
Crushed row  230400
Crushed row  230600
Crushed row  230800
Crushed row  231000
Crushed row  231200
Crushed row  231400
Crushed row  231600
Crushed row  231800
Crushed row  232000
Crushed row  232200
Crushed row  232400
Crushed row  232600
Crushed row  232800
Crushed row  233000
Crushed row  233200
Crushed row  233400
Crushed row  233600
Crushed row  233800
Crushed row  234000
Crushed row  234200
Crushed row  234400
Crushed row  234600
Crushed row  234800
Crushed row  235000
Crushed row  235200
Crushed row  235400
Crushed row  235600
Crushed row  235800
Crushed row  236000
Crushed row  236200
Crushed row  236400
Crushed row  236600
Crushed row  236800
Crushed row  237000
Crushed row  237200
Crushed row  237400
Crushed row  237600
Crushed row  237800
Crushed row  238000
Crushed row  238200
Crushed row  238400
Crushed row  238600
Crushed row  238800
Crushed row  239000
Crushed row  239200
Crushed row  239400
Crushed row  239600
Crushed row  239800
Crushed row  240000
Crushed row  240200
Crushed row  240400
Crushed row  240600
Crushed row  240800
Crushed row  241000
Crushed row  241200
Crushed row  241400
Crushed row  241600
Crushed row  241800
Crushed row  242000
Crushed row  242200
Crushed row  242400
Crushed row  242600
Crushed row  242800
Crushed row  243000
Crushed row  243200
Crushed row  243400
Crushed row  243600
Crushed row  243800
Crushed row  244000
Crushed row  244200
Crushed row  244400
Crushed row  244600
Crushed row  244800
Crushed row  245000
Crushed row  245200
Crushed row  245400
Crushed row  245600
Crushed row  245800
Crushed row  246000
Crushed row  246200
Crushed row  246400
Crushed row  246600
Crushed row  246800
Crushed row  247000
Crushed row  247200
Crushed row  247400
Crushed row  247600
Crushed row  247800
Crushed row  248000
Crushed row  248200
Crushed row  248400
Crushed row  248600
Crushed row  248800
Crushed row  249000
Crushed row  249200
Crushed row  249400
Crushed row  249600
Crushed row  249800
Crushed row  250000
Crushed row  250200
Crushed row  250400
Crushed row  250600
Crushed row  250800
Crushed row  251000
Crushed row  251200
Crushed row  251400
Crushed row  251600

Crushed row  251800
Crushed row  252000
Crushed row  252200
Crushed row  252400
Crushed row  252600
Crushed row  252800
Crushed row  253000
Crushed row  253200
Crushed row  253400
Crushed row  253600
Crushed row  253800
Crushed row  254000
Crushed row  254200
Crushed row  254400
Crushed row  254600
Crushed row  254800
Crushed row  255000
Crushed row  255200
Crushed row  255400
Crushed row  255600
Crushed row  255800
Crushed row  256000
Crushed row  256200
Crushed row  256400
Crushed row  256600
Crushed row  256800
Crushed row  257000
Crushed row  257200
Crushed row  257400
Crushed row  257600
Crushed row  257800
Crushed row  258000
Crushed row  258200
Crushed row  258400
Crushed row  258600
Crushed row  258800
Crushed row  259000
Crushed row  259200
Crushed row  259400
Crushed row  259600
Crushed row  259800
Crushed row  260000
Crushed row  260200
Crushed row  260400
Crushed row  260600
Crushed row  260800
Crushed row  261000
Crushed row  261200
Crushed row  261400
Crushed row  261600
Crushed row  261800
Crushed row  262000
Crushed row  262200
Crushed row  262400
Crushed row  262600
Crushed row  262800
Crushed row  263000
Crushed row  263200
Crushed row  263400
Crushed row  263600
Crushed row  263800
Crushed row  264000
Crushed row  264200
Crushed row  264400
Crushed row  264600
Crushed row  264800
Crushed row  265000
Crushed row  265200
Crushed row  265400
Crushed row  265600
Crushed row  265800
Crushed row  266000
Crushed row  266200
Crushed row  266400
Crushed row  266600
Crushed row  266800
Crushed row  267000
Crushed row  267200
Crushed row  267400
Crushed row  267600
Crushed row  267800
Crushed row  268000
Crushed row  268200
Crushed row  268400
Crushed row  268600
Crushed row  268800
Crushed row  269000
Crushed row  269200
Crushed row  269400
Crushed row  269600
Crushed row  269800
Crushed row  270000
Crushed row  270200
Crushed row  270400
Crushed row  270600
Crushed row  270800
Crushed row  271000
Crushed row  271200
Crushed row  271400
Crushed row  271600
Crushed row  271800
Crushed row  272000
Crushed row  272200
Crushed row  272400
Crushed row  272600
Crushed row  272800
Crushed row  273000
Crushed row  273200
Crushed row  273400
Crushed row  273600
Crushed row  273800
Crushed row  274000
Crushed row  274200
Crushed row  274400
Crushed row  274600
Crushed row  274800
Crushed row  275000
Crushed row  275200
Crushed row  275400
Crushed row  275600
Crushed row  275800
Crushed row  276000
Crushed row  276200
Crushed row  276400
Crushed row  276600
Crushed row  276800
Crushed row  277000
Crushed row  277200
Crushed row  277400
Crushed row  277600
Crushed row  277800
Crushed row  278000
Crushed row  278200
Crushed row  278400
Crushed row  278600
Crushed row  278800
Crushed row  279000
Crushed row  279200
Crushed row  279400
Crushed row  279600
Crushed row  279800
Crushed row  280000
Crushed row  280200
Crushed row  280400
Crushed row  280600
Crushed row  280800
Crushed row  281000
Crushed row  281200
Crushed row  281400
Crushed row  281600
Crushed row  281800
Crushed row  282000
Crushed row  282200
Crushed row  282400
Crushed row  282600
Crushed row  282800
Crushed row  283000
Crushed row  283200
Crushed row  283400
Crushed row  283600
Crushed row  283800
Crushed row  284000
Crushed row  284200
Crushed row  284400
Crushed row  284600
Crushed row  284800
Crushed row  285000
Crushed row  285200
Crushed row  285400
Crushed row  285600
Crushed row  285800
Crushed row  286000
Crushed row  286200
Crushed row  286400
Crushed row  286600
Crushed row  286800
Crushed row  287000
Crushed row  287200
Crushed row  287400
Crushed row  287600
Crushed row  287800
Crushed row  288000
Crushed row  288200
Crushed row  288400
Crushed row  288600
Crushed row  288800
Crushed row  289000
Crushed row  289200
Crushed row  289400
Crushed row  289600
Crushed row  289800
Crushed row  290000
Crushed row  290200
Crushed row  290400
Crushed row  290600
Crushed row  290800
Crushed row  291000
Crushed row  291200
Crushed row  291400
Crushed row  291600
Crushed row  291800
Crushed row  292000
Crushed row  292200
Crushed row  292400
Crushed row  292600
Crushed row  292800
Crushed row  293000
Crushed row  293200
Crushed row  293400
Crushed row  293600
Crushed row  293800
Crushed row  294000
Crushed row  294200
Crushed row  294400
Crushed row  294600
Crushed row  294800
Crushed row  295000
Crushed row  295200
Crushed row  295400
Crushed row  295600
Crushed row  295800
Crushed row  296000
Crushed row  296200
Crushed row  296400
Crushed row  296600
Crushed row  296800
Crushed row  297000
Crushed row  297200
Crushed row  297400
Crushed row  297600
Crushed row  297800
Crushed row  298000
Crushed row  298200
Crushed row  298400
Crushed row  298600
Crushed row  298800
Crushed row  299000
Crushed row  299200
Crushed row  299400
Crushed row  299600
Crushed row  299800
Crushed row  300000
Crushed row  300200
Crushed row  300400
Crushed row  300600
Crushed row  300800
Crushed row  301000
Crushed row  301200
Crushed row  301400
Crushed row  301600
Crushed row  301800
Crushed row  302000
Crushed row  302200
Crushed row  302400
Crushed row  302600
Crushed row  302800
Crushed row  303000
Crushed row  303200
Crushed row  303400
Crushed row  303600
Crushed row  303800
Crushed row  304000
Crushed row  304200
Crushed row  304400
Crushed row  304600
Crushed row  304800
Crushed row  305000
Crushed row  305200
Crushed row  305400
Crushed row  305600
Crushed row  305800
Crushed row  306000
Crushed row  306200
Crushed row  306400
Crushed row  306600
Crushed row  306800
Crushed row  307000
Crushed row  307200
Crushed row  307400
Crushed row  307600
Crushed row  307800
Crushed row  308000
Crushed row  308200
Crushed row  308400
Crushed row  308600
Crushed row  308800
Crushed row  309000
Crushed row  309200
Crushed row  309400
Crushed row  309600
Crushed row  309800
Crushed row  310000
Crushed row  310200
Crushed row  310400
Crushed row  310600
Crushed row  310800
Crushed row  311000
Crushed row  311200
Crushed row  311400
Crushed row  311600
Crushed row  311800
Crushed row  312000
Crushed row  312200
Crushed row  312400
Crushed row  312600
Crushed row  312800
Crushed row  313000
Crushed row  313200
Crushed row  313400
Crushed row  313600
Crushed row  313800
Crushed row  314000
Crushed row  314200
Crushed row  314400
Crushed row  314600
Crushed row  314800
Crushed row  315000
Crushed row  315200
Crushed row  315400
Crushed row  315600
Crushed row  315800
Crushed row  316000
Crushed row  316200
Crushed row  316400
Crushed row  316600
Crushed row  316800
Crushed row  317000
Crushed row  317200
Crushed row  317400
Crushed row  317600
Crushed row  317800
Crushed row  318000
Crushed row  318200
Crushed row  318400
Crushed row  318600
Crushed row  318800
Crushed row  319000
Crushed row  319200
Crushed row  319400
Crushed row  319600
Crushed row  319800
Crushed row  320000
Crushed row  320200
Crushed row  320400
Crushed row  320600
Crushed row  320800
Crushed row  321000
Crushed row  321200
Crushed row  321400
Crushed row  321600
Crushed row  321800
Crushed row  322000
Crushed row  322200
Crushed row  322400
Crushed row  322600
Crushed row  322800
Crushed row  323000
Crushed row  323200
Crushed row  323400
Crushed row  323600
Crushed row  323800
Crushed row  324000
Crushed row  324200
Crushed row  324400
Crushed row  324600
Crushed row  324800
Crushed row  325000
Crushed row  325200
Crushed row  325400
Crushed row  325600
Crushed row  325800
Crushed row  326000
Crushed row  326200
Crushed row  326400
Crushed row  326600
Crushed row  326800
Crushed row  327000
Crushed row  327200
Crushed row  327400
Crushed row  327600
Crushed row  327800
Crushed row  328000
Crushed row  328200
Crushed row  328400
Crushed row  328600
Crushed row  328800
Crushed row  329000
Crushed row  329200
Crushed row  329400
Crushed row  329600
Crushed row  329800
Crushed row  330000
Crushed row  330200
Crushed row  330400
Crushed row  330600
Crushed row  330800
Crushed row  331000
Crushed row  331200
Crushed row  331400
Crushed row  331600
Crushed row  331800
Crushed row  332000
Crushed row  332200
Crushed row  332400
Crushed row  332600
Crushed row  332800
Crushed row  333000
Crushed row  333200
Crushed row  333400
Crushed row  333600

Crushed row  333800
Crushed row  334000
Crushed row  334200
Crushed row  334400
Crushed row  334600
Crushed row  334800
Crushed row  335000
Crushed row  335200
Crushed row  335400
Crushed row  335600
Crushed row  335800
Crushed row  336000
Crushed row  336200
Crushed row  336400
Crushed row  336600
Crushed row  336800
Crushed row  337000
Crushed row  337200
Crushed row  337400
Crushed row  337600
Crushed row  337800
Crushed row  338000
Crushed row  338200
Crushed row  338400
Crushed row  338600
Crushed row  338800
Crushed row  339000
Crushed row  339200
Crushed row  339400
Crushed row  339600
Crushed row  339800
Crushed row  340000
Crushed row  340200
Crushed row  340400
Crushed row  340600
Crushed row  340800
Crushed row  341000
Crushed row  341200
Crushed row  341400
Crushed row  341600
Crushed row  341800
Crushed row  342000
Crushed row  342200
Crushed row  342400
Crushed row  342600
Crushed row  342800
Crushed row  343000
Crushed row  343200
Crushed row  343400
Crushed row  343600
Crushed row  343800
Crushed row  344000
Crushed row  344200
Crushed row  344400
Crushed row  344600
Crushed row  344800
Crushed row  345000
Crushed row  345200
Crushed row  345400
Crushed row  345600
Crushed row  345800
Crushed row  346000
Crushed row  346200
Crushed row  346400
Crushed row  346600
Crushed row  346800
Crushed row  347000
Crushed row  347200
Crushed row  347400
Crushed row  347600
Crushed row  347800
Crushed row  348000
Crushed row  348200
Crushed row  348400
Crushed row  348600
Crushed row  348800
Crushed row  349000
Crushed row  349200
Crushed row  349400
Crushed row  349600
Crushed row  349800
Crushed row  350000
Crushed row  350200
Crushed row  350400
Crushed row  350600
Crushed row  350800
Crushed row  351000
Crushed row  351200
Crushed row  351400
Crushed row  351600
Crushed row  351800
Crushed row  352000
Crushed row  352200
Crushed row  352400
Crushed row  352600
Crushed row  352800
Crushed row  353000
Crushed row  353200
Crushed row  353400
Crushed row  353600
Crushed row  353800
Crushed row  354000
Crushed row  354200
Crushed row  354400
Crushed row  354600
Crushed row  354800
Crushed row  355000
Crushed row  355200
Crushed row  355400
Crushed row  355600
Crushed row  355800
Crushed row  356000
Crushed row  356200
Crushed row  356400
Crushed row  356600
Crushed row  356800
Crushed row  357000
Crushed row  357200
Crushed row  357400
Crushed row  357600
Crushed row  357800
Crushed row  358000
Crushed row  358200
Crushed row  358400
Crushed row  358600
Crushed row  358800
Crushed row  359000
Crushed row  359200
Crushed row  359400
Crushed row  359600
Crushed row  359800
Crushed row  360000
Crushed row  360200
Crushed row  360400
Crushed row  360600
Crushed row  360800
Crushed row  361000
Crushed row  361200
Crushed row  361400
Crushed row  361600
Crushed row  361800
Crushed row  362000
Crushed row  362200
Crushed row  362400
Crushed row  362600
Crushed row  362800
Crushed row  363000
Crushed row  363200
Crushed row  363400
Crushed row  363600
Crushed row  363800
Crushed row  364000
Crushed row  364200
Crushed row  364400
Crushed row  364600
Crushed row  364800
Crushed row  365000
Crushed row  365200
Crushed row  365400
Crushed row  365600
Crushed row  365800
Crushed row  366000
Crushed row  366200
Crushed row  366400
Crushed row  366600
Crushed row  366800
Crushed row  367000
Crushed row  367200
Crushed row  367400
Crushed row  367600
Crushed row  367800
Crushed row  368000
Crushed row  368200
Crushed row  368400
Crushed row  368600
Crushed row  368800
Crushed row  369000
Crushed row  369200
Crushed row  369400
Crushed row  369600
Crushed row  369800
Crushed row  370000
Crushed row  370200
Crushed row  370400
Crushed row  370600
Crushed row  370800
Crushed row  371000
Crushed row  371200
Crushed row  371400
Crushed row  371600
Crushed row  371800
Crushed row  372000
Crushed row  372200
Crushed row  372400
Crushed row  372600
Crushed row  372800
Crushed row  373000
Crushed row  373200
Crushed row  373400
Crushed row  373600
Crushed row  373800
Crushed row  374000
Crushed row  374200
Crushed row  374400
Crushed row  374600
Crushed row  374800
Crushed row  375000
Crushed row  375200
Crushed row  375400
Crushed row  375600
Crushed row  375800
Crushed row  376000
Crushed row  376200
Crushed row  376400
Crushed row  376600
Crushed row  376800
Crushed row  377000
Crushed row  377200
Crushed row  377400
Crushed row  377600
Crushed row  377800
Crushed row  378000
Crushed row  378200
Crushed row  378400
Crushed row  378600
Crushed row  378800
Crushed row  379000
Crushed row  379200
Crushed row  379400
Crushed row  379600
Crushed row  379800
Crushed row  380000
Crushed row  380200
Crushed row  380400
Crushed row  380600
Crushed row  380800
Crushed row  381000
Crushed row  381200
Crushed row  381400
Crushed row  381600
Crushed row  381800
Crushed row  382000
Crushed row  382200
Crushed row  382400
Crushed row  382600
Crushed row  382800
Crushed row  383000
Crushed row  383200
Crushed row  383400
Crushed row  383600
Crushed row  383800
Crushed row  384000
Crushed row  384200
Crushed row  384400
Crushed row  384600
Crushed row  384800
Crushed row  385000
Crushed row  385200
Crushed row  385400
Crushed row  385600
Crushed row  385800
Crushed row  386000
Crushed row  386200
Crushed row  386400
Crushed row  386600
Crushed row  386800
Crushed row  387000
Crushed row  387200
Crushed row  387400
Crushed row  387600
Crushed row  387800
Crushed row  388000
Crushed row  388200
Crushed row  388400
Crushed row  388600
Crushed row  388800
Crushed row  389000
Crushed row  389200
Crushed row  389400
Crushed row  389600
Crushed row  389800
Crushed row  390000
Crushed row  390200
Crushed row  390400
Crushed row  390600
Crushed row  390800
Crushed row  391000
Crushed row  391200
Crushed row  391400
Crushed row  391600
Crushed row  391800
Crushed row  392000
Crushed row  392200
Crushed row  392400
Crushed row  392600
Crushed row  392800
Crushed row  393000
Crushed row  393200
Crushed row  393400
Crushed row  393600
Crushed row  393800
Crushed row  394000
Crushed row  394200
Crushed row  394400
Crushed row  394600
Crushed row  394800
Crushed row  395000
Crushed row  395200
Crushed row  395400
Crushed row  395600
Crushed row  395800
Crushed row  396000
Crushed row  396200
Crushed row  396400
Crushed row  396600
Crushed row  396800
Crushed row  397000
Crushed row  397200
Crushed row  397400
Crushed row  397600
Crushed row  397800
Crushed row  398000
Crushed row  398200
Crushed row  398400
Crushed row  398600
Crushed row  398800
Crushed row  399000
Crushed row  399200
Crushed row  399400
Crushed row  399600
Crushed row  399800
Crushed row  400000
Crushed row  400200
Crushed row  400400
Crushed row  400600
Crushed row  400800
Crushed row  401000
Crushed row  401200
Crushed row  401400
Crushed row  401600
Crushed row  401800
Crushed row  402000
Crushed row  402200
Crushed row  402400
Crushed row  402600
Crushed row  402800
Crushed row  403000
Crushed row  403200
Crushed row  403400
Crushed row  403600
Crushed row  403800
Crushed row  404000
Crushed row  404200
Crushed row  404400
Crushed row  404600
Crushed row  404800
Crushed row  405000
Crushed row  405200
Crushed row  405400
Crushed row  405600
Crushed row  405800
Crushed row  406000
Crushed row  406200
Crushed row  406400
Crushed row  406600
Crushed row  406800
Crushed row  407000
Crushed row  407200
Crushed row  407400
Crushed row  407600
Crushed row  407800
Crushed row  408000
Crushed row  408200
Crushed row  408400
Crushed row  408600
Crushed row  408800
Crushed row  409000
Crushed row  409200
Crushed row  409400
Crushed row  409600
Crushed row  409800
Crushed row  410000
Crushed row  410200
Crushed row  410400
Crushed row  410600
Crushed row  410800
Crushed row  411000
Crushed row  411200
Crushed row  411400
Crushed row  411600
Crushed row  411800
Crushed row  412000
Crushed row  412200
Crushed row  412400
Crushed row  412600
Crushed row  412800
Crushed row  413000
Crushed row  413200
Crushed row  413400
Crushed row  413600
Crushed row  413800
Crushed row  414000
Crushed row  414200
Crushed row  414400
Crushed row  414600
Crushed row  414800
Crushed row  415000
Crushed row  415200
Crushed row  415400
Crushed row  415600
Crushed row  415800

Crushed row  416000
Crushed row  416200
Crushed row  416400
Crushed row  416600
Crushed row  416800
Crushed row  417000
Crushed row  417200
Crushed row  417400
Crushed row  417600
Crushed row  417800
Crushed row  418000
Crushed row  418200
Crushed row  418400
Crushed row  418600
Crushed row  418800
Crushed row  419000
Crushed row  419200
Crushed row  419400
Crushed row  419600
Crushed row  419800
Crushed row  420000
Crushed row  420200
Crushed row  420400
Crushed row  420600
Crushed row  420800
Crushed row  421000
Crushed row  421200
Crushed row  421400
Crushed row  421600
Crushed row  421800
Crushed row  422000
Crushed row  422200
Crushed row  422400
Crushed row  422600
Crushed row  422800
Crushed row  423000
Crushed row  423200
Crushed row  423400
Crushed row  423600
Crushed row  423800
Crushed row  424000
Crushed row  424200
Crushed row  424400
Crushed row  424600
Crushed row  424800
Crushed row  425000
Crushed row  425200
Crushed row  425400
Crushed row  425600
Crushed row  425800
Crushed row  426000
Crushed row  426200
Crushed row  426400
Crushed row  426600
Crushed row  426800
Crushed row  427000
Crushed row  427200
Crushed row  427400
Crushed row  427600
Crushed row  427800
Crushed row  428000
Crushed row  428200
Crushed row  428400
Crushed row  428600
Crushed row  428800
Crushed row  429000
Crushed row  429200
Crushed row  429400
Crushed row  429600
Crushed row  429800
Crushed row  430000
Crushed row  430200
Crushed row  430400
Crushed row  430600
Crushed row  430800
Crushed row  431000
Crushed row  431200
Crushed row  431400
Crushed row  431600
Crushed row  431800
Crushed row  432000
Crushed row  432200
Crushed row  432400
Crushed row  432600
Crushed row  432800
Crushed row  433000
Crushed row  433200
Crushed row  433400
Crushed row  433600
Crushed row  433800
Crushed row  434000
Crushed row  434200
Crushed row  434400
Crushed row  434600
Crushed row  434800
Crushed row  435000
Crushed row  435200
Crushed row  435400
Crushed row  435600
Crushed row  435800
Crushed row  436000
Crushed row  436200
Crushed row  436400
Crushed row  436600
Crushed row  436800
Crushed row  437000
Crushed row  437200
Crushed row  437400
Crushed row  437600
Crushed row  437800
Crushed row  438000
Crushed row  438200
Crushed row  438400
Crushed row  438600
Crushed row  438800
Crushed row  439000
Crushed row  439200
Crushed row  439400
Crushed row  439600
Crushed row  439800
Crushed row  440000
Crushed row  440200
Crushed row  440400
Crushed row  440600
Crushed row  440800
Crushed row  441000
Crushed row  441200
Crushed row  441400
Crushed row  441600
Crushed row  441800
Crushed row  442000
Crushed row  442200
Crushed row  442400
Crushed row  442600
Crushed row  442800
Crushed row  443000
Crushed row  443200
Crushed row  443400
Crushed row  443600
Crushed row  443800
Crushed row  444000
Crushed row  444200
Crushed row  444400
Crushed row  444600
Crushed row  444800
Crushed row  445000
Crushed row  445200
Crushed row  445400
Crushed row  445600
Crushed row  445800
Crushed row  446000
Crushed row  446200
Crushed row  446400
Crushed row  446600
Crushed row  446800
Crushed row  447000
Crushed row  447200
Crushed row  447400
Crushed row  447600
Crushed row  447800
Crushed row  448000
Crushed row  448200
Crushed row  448400
Crushed row  448600
Crushed row  448800
Crushed row  449000
Crushed row  449200
Crushed row  449400
Crushed row  449600
Crushed row  449800
Crushed row  450000
Crushed row  450200
Crushed row  450400
Crushed row  450600
Crushed row  450800
Crushed row  451000
Crushed row  451200
Crushed row  451400
Crushed row  451600
Crushed row  451800
Crushed row  452000
Crushed row  452200
Crushed row  452400
Crushed row  452600
Crushed row  452800
Crushed row  453000
Crushed row  453200
Crushed row  453400
Crushed row  453600
Crushed row  453800
Crushed row  454000
Crushed row  454200
Crushed row  454400
Crushed row  454600
Crushed row  454800
Crushed row  455000
Crushed row  455200
Crushed row  455400
Crushed row  455600
Crushed row  455800
Crushed row  456000
Crushed row  456200
Crushed row  456400
Crushed row  456600
Crushed row  456800
Crushed row  457000
Crushed row  457200
Crushed row  457400
Crushed row  457600
Crushed row  457800
Crushed row  458000
Crushed row  458200
Crushed row  458400
Crushed row  458600
Crushed row  458800
Crushed row  459000
Crushed row  459200
Crushed row  459400
Crushed row  459600
Crushed row  459800
Crushed row  460000
Crushed row  460200
Crushed row  460400
Crushed row  460600
Crushed row  460800
Crushed row  461000
Crushed row  461200
Crushed row  461400
Crushed row  461600
Crushed row  461800
Crushed row  462000
Crushed row  462200
Crushed row  462400
Crushed row  462600
Crushed row  462800
Crushed row  463000
Crushed row  463200
Crushed row  463400
Crushed row  463600
Crushed row  463800
Crushed row  464000
Crushed row  464200
Crushed row  464400
Crushed row  464600
Crushed row  464800
Crushed row  465000
Crushed row  465200
Crushed row  465400
Crushed row  465600
Crushed row  465800
Crushed row  466000
Crushed row  466200
Crushed row  466400
Crushed row  466600
Crushed row  466800
Crushed row  467000
Crushed row  467200
Crushed row  467400
Crushed row  467600
Crushed row  467800
Crushed row  468000
Crushed row  468200
Crushed row  468400
Crushed row  468600
Crushed row  468800
Crushed row  469000
Crushed row  469200
Crushed row  469400
Crushed row  469600
Crushed row  469800
Crushed row  470000
Crushed row  470200
Crushed row  470400
Crushed row  470600
Crushed row  470800
Crushed row  471000
Crushed row  471200
Crushed row  471400
Crushed row  471600
Crushed row  471800
Crushed row  472000
Crushed row  472200
Crushed row  472400
Crushed row  472600
Crushed row  472800
Crushed row  473000
Crushed row  473200
Crushed row  473400
Crushed row  473600
Crushed row  473800
Crushed row  474000
Crushed row  474200
Crushed row  474400
Crushed row  474600
Crushed row  474800
Crushed row  475000
Crushed row  475200
Crushed row  475400
Crushed row  475600
Crushed row  475800
Crushed row  476000
Crushed row  476200
Crushed row  476400
Crushed row  476600
Crushed row  476800
Crushed row  477000
Crushed row  477200
Crushed row  477400
Crushed row  477600
Crushed row  477800
Crushed row  478000
Crushed row  478200
Crushed row  478400
Crushed row  478600
Crushed row  478800
Crushed row  479000
Crushed row  479200
Crushed row  479400
Crushed row  479600
Crushed row  479800
Crushed row  480000
Crushed row  480200
Crushed row  480400
Crushed row  480600
Crushed row  480800
Crushed row  481000
Crushed row  481200
Crushed row  481400
Crushed row  481600
Crushed row  481800
Crushed row  482000
Crushed row  482200
Crushed row  482400
Crushed row  482600
Crushed row  482800
Crushed row  483000
Crushed row  483200
Crushed row  483400
Crushed row  483600
Crushed row  483800
Crushed row  484000
Crushed row  484200
Crushed row  484400
Crushed row  484600
Crushed row  484800
Crushed row  485000
Crushed row  485200
Crushed row  485400
Crushed row  485600
Crushed row  485800
Crushed row  486000
Crushed row  486200
Crushed row  486400
Crushed row  486600
Crushed row  486800
Crushed row  487000
Crushed row  487200
Crushed row  487400
Crushed row  487600
Crushed row  487800
Crushed row  488000
Crushed row  488200
Crushed row  488400
Crushed row  488600
Crushed row  488800
Crushed row  489000
Crushed row  489200
Crushed row  489400
Crushed row  489600
Crushed row  489800
Crushed row  490000
Crushed row  490200
Crushed row  490400
Crushed row  490600
Crushed row  490800
Crushed row  491000
Crushed row  491200
Crushed row  491400
Crushed row  491600
Crushed row  491800
Crushed row  492000
Crushed row  492200
Crushed row  492400
Crushed row  492600
Crushed row  492800
Crushed row  493000
Crushed row  493200
Crushed row  493400
Crushed row  493600
Crushed row  493800
Crushed row  494000
Crushed row  494200
Crushed row  494400
Crushed row  494600
Crushed row  494800
Crushed row  495000
Crushed row  495200
Crushed row  495400
Crushed row  495600
Crushed row  495800
Crushed row  496000
Crushed row  496200
Crushed row  496400
Crushed row  496600
Crushed row  496800
Crushed row  497000
Crushed row  497200
Crushed row  497400
Crushed row  497600
Crushed row  497800
Crushed row  498000

Crushed row  498200
Crushed row  498400
Crushed row  498600
Crushed row  498800
Crushed row  499000
Crushed row  499200
Crushed row  499400
Crushed row  499600
Crushed row  499800
Crushed row  500000
Crushed row  500200
Crushed row  500400
Crushed row  500600
Crushed row  500800
Crushed row  501000
Crushed row  501200
Crushed row  501400
Crushed row  501600
Crushed row  501800
Crushed row  502000
Crushed row  502200
Crushed row  502400
Crushed row  502600
Crushed row  502800
Crushed row  503000
Crushed row  503200
Crushed row  503400
Crushed row  503600
Crushed row  503800
Crushed row  504000
Crushed row  504200
Crushed row  504400
Crushed row  504600
Crushed row  504800
Crushed row  505000
Crushed row  505200
Crushed row  505400
Crushed row  505600
Crushed row  505800
Crushed row  506000
Crushed row  506200
Crushed row  506400
Crushed row  506600
Crushed row  506800
Crushed row  507000
Crushed row  507200
Crushed row  507400
Crushed row  507600
Crushed row  507800
Crushed row  508000
Crushed row  508200
Crushed row  508400
Crushed row  508600
Crushed row  508800
Crushed row  509000
Crushed row  509200
Crushed row  509400
Crushed row  509600
Crushed row  509800
Crushed row  510000
Crushed row  510200
Crushed row  510400
Crushed row  510600
Crushed row  510800
Crushed row  511000
Crushed row  511200
Crushed row  511400
Crushed row  511600
Crushed row  511800
Crushed row  512000
Crushed row  512200
Crushed row  512400
Crushed row  512600
Crushed row  512800
Crushed row  513000
Crushed row  513200
Crushed row  513400
Crushed row  513600
Crushed row  513800
Crushed row  514000
Crushed row  514200
Crushed row  514400
Crushed row  514600
Crushed row  514800
Crushed row  515000
Crushed row  515200
Crushed row  515400
Crushed row  515600
Crushed row  515800
Crushed row  516000
Crushed row  516200
Crushed row  516400
Crushed row  516600
Crushed row  516800
Crushed row  517000
Crushed row  517200
Crushed row  517400
Crushed row  517600
Crushed row  517800
Crushed row  518000
Crushed row  518200
Crushed row  518400
Crushed row  518600
Crushed row  518800
Crushed row  519000
Crushed row  519200
Crushed row  519400
Crushed row  519600
Crushed row  519800
Crushed row  520000
Crushed row  520200
Crushed row  520400
Crushed row  520600
Crushed row  520800
Crushed row  521000
Crushed row  521200
Crushed row  521400
Crushed row  521600
Crushed row  521800
Crushed row  522000
Crushed row  522200
Crushed row  522400
Crushed row  522600
Crushed row  522800
Crushed row  523000
Crushed row  523200
Crushed row  523400
Crushed row  523600
Crushed row  523800
Crushed row  524000
Crushed row  524200
Crushed row  524400
Crushed row  524600
Crushed row  524800
Crushed row  525000
Crushed row  525200
Crushed row  525400
Crushed row  525600
Crushed row  525800
Crushed row  526000
Crushed row  526200
Crushed row  526400
Crushed row  526600
Crushed row  526800
Crushed row  527000
Crushed row  527200
Crushed row  527400
Crushed row  527600
Crushed row  527800
Crushed row  528000
Crushed row  528200
Crushed row  528400
Crushed row  528600
Crushed row  528800
Crushed row  529000
Crushed row  529200
Crushed row  529400
Crushed row  529600
Crushed row  529800
Crushed row  530000
Crushed row  530200
Crushed row  530400
Crushed row  530600
Crushed row  530800
Crushed row  531000
Crushed row  531200
Crushed row  531400
Crushed row  531600
Crushed row  531800
Crushed row  532000
Crushed row  532200
Crushed row  532400
Crushed row  532600
Crushed row  532800
Crushed row  533000
Crushed row  533200
Crushed row  533400
Crushed row  533600
Crushed row  533800
Crushed row  534000
Crushed row  534200
Crushed row  534400
Crushed row  534600
Crushed row  534800
Crushed row  535000
Crushed row  535200
Crushed row  535400
Crushed row  535600
Crushed row  535800
Crushed row  536000
Crushed row  536200
Crushed row  536400
Crushed row  536600
Crushed row  536800
Crushed row  537000
Crushed row  537200
Crushed row  537400
Crushed row  537600
Crushed row  537800
Crushed row  538000
Crushed row  538200
Crushed row  538400
Crushed row  538600
Crushed row  538800
Crushed row  539000
Crushed row  539200
Crushed row  539400
Crushed row  539600
Crushed row  539800
Crushed row  540000
Crushed row  540200
Crushed row  540400
Crushed row  540600
Crushed row  540800
Crushed row  541000
Crushed row  541200
Crushed row  541400
Crushed row  541600
Crushed row  541800
Crushed row  542000
Crushed row  542200
Crushed row  542400
Crushed row  542600
Crushed row  542800
Crushed row  543000
Crushed row  543200
Crushed row  543400
Crushed row  543600
Crushed row  543800
Crushed row  544000
Crushed row  544200
Crushed row  544400
Crushed row  544600
Crushed row  544800
Crushed row  545000
Crushed row  545200
Crushed row  545400
Crushed row  545600
Crushed row  545800
Crushed row  546000
Crushed row  546200
Crushed row  546400
Crushed row  546600
Crushed row  546800
Crushed row  547000
Crushed row  547200
Crushed row  547400
Crushed row  547600
Crushed row  547800
Crushed row  548000
Crushed row  548200
Crushed row  548400
Crushed row  548600
Crushed row  548800
Crushed row  549000
Crushed row  549200
Crushed row  549400
Crushed row  549600
Crushed row  549800
Crushed row  550000
Crushed row  550200
Crushed row  550400
Crushed row  550600
Crushed row  550800
Crushed row  551000
Crushed row  551200
Crushed row  551400
Crushed row  551600
Crushed row  551800
Crushed row  552000
Crushed row  552200
Crushed row  552400
Crushed row  552600
Crushed row  552800
Crushed row  553000
Crushed row  553200
Crushed row  553400
Crushed row  553600
Crushed row  553800
Crushed row  554000
Crushed row  554200
Crushed row  554400
Crushed row  554600
Crushed row  554800
Crushed row  555000
Crushed row  555200
Crushed row  555400
Crushed row  555600
Crushed row  555800
Crushed row  556000
Crushed row  556200
Crushed row  556400
Crushed row  556600
Crushed row  556800
Crushed row  557000
Crushed row  557200
Crushed row  557400
Crushed row  557600
Crushed row  557800
Crushed row  558000
Crushed row  558200
Crushed row  558400
Crushed row  558600
Crushed row  558800
Crushed row  559000
Crushed row  559200
Crushed row  559400
Crushed row  559600
Crushed row  559800
Crushed row  560000
Crushed row  560200
Crushed row  560400
Crushed row  560600
Crushed row  560800
Crushed row  561000
Crushed row  561200
Crushed row  561400
Crushed row  561600
Crushed row  561800
Crushed row  562000
Crushed row  562200
Crushed row  562400
Crushed row  562600
Crushed row  562800
Crushed row  563000
Crushed row  563200
Crushed row  563400
Crushed row  563600
Crushed row  563800
Crushed row  564000
Crushed row  564200
Crushed row  564400
Crushed row  564600
Crushed row  564800
Crushed row  565000
Crushed row  565200
Crushed row  565400
Crushed row  565600
Crushed row  565800
Crushed row  566000
Crushed row  566200
Crushed row  566400
Crushed row  566600
Crushed row  566800
Crushed row  567000
Crushed row  567200
Crushed row  567400
Crushed row  567600
Crushed row  567800
Crushed row  568000
Crushed row  568200
Crushed row  568400
Crushed row  568600
Crushed row  568800
Crushed row  569000
Crushed row  569200
Crushed row  569400
Crushed row  569600
Crushed row  569800
Crushed row  570000
Crushed row  570200
Crushed row  570400
Crushed row  570600
Crushed row  570800
Crushed row  571000
Crushed row  571200
Crushed row  571400
Crushed row  571600
Crushed row  571800
Crushed row  572000
Crushed row  572200
Crushed row  572400
Crushed row  572600
Crushed row  572800
Crushed row  573000
Crushed row  573200
Crushed row  573400
Crushed row  573600
Crushed row  573800
Crushed row  574000
Crushed row  574200
Crushed row  574400
Crushed row  574600
Crushed row  574800
Crushed row  575000
Crushed row  575200
Crushed row  575400
Crushed row  575600
Crushed row  575800
Crushed row  576000
Crushed row  576200
Crushed row  576400
Crushed row  576600
Crushed row  576800
Crushed row  577000
Crushed row  577200
Crushed row  577400
Crushed row  577600
Crushed row  577800
Crushed row  578000
Crushed row  578200
Crushed row  578400
Crushed row  578600
Crushed row  578800
Crushed row  579000
Crushed row  579200
Crushed row  579400
Crushed row  579600
Crushed row  579800
Crushed row  580000

Crushed row  580200
Crushed row  580400
Crushed row  580600
Crushed row  580800
Crushed row  581000
Crushed row  581200
Crushed row  581400
Crushed row  581600
Crushed row  581800
Crushed row  582000
Crushed row  582200
Crushed row  582400
Crushed row  582600
Crushed row  582800
Crushed row  583000
Crushed row  583200
Crushed row  583400
Crushed row  583600
Crushed row  583800
Crushed row  584000
Crushed row  584200
Crushed row  584400
Crushed row  584600
Crushed row  584800
Crushed row  585000
Crushed row  585200
Crushed row  585400
Crushed row  585600
Crushed row  585800
Crushed row  586000
Crushed row  586200
Crushed row  586400
Crushed row  586600
Crushed row  586800
Crushed row  587000
Crushed row  587200
Crushed row  587400
Crushed row  587600
Crushed row  587800
Crushed row  588000
Crushed row  588200
Crushed row  588400
Crushed row  588600
Crushed row  588800
Crushed row  589000
Crushed row  589200
Crushed row  589400
Crushed row  589600
Crushed row  589800
Crushed row  590000
Crushed row  590200
Crushed row  590400
Crushed row  590600
Crushed row  590800
Crushed row  591000
Crushed row  591200
Crushed row  591400
Crushed row  591600
Crushed row  591800
Crushed row  592000
Crushed row  592200
Crushed row  592400
Crushed row  592600
Crushed row  592800
Crushed row  593000
Crushed row  593200
Crushed row  593400
Crushed row  593600
Crushed row  593800
Crushed row  594000
Crushed row  594200
Crushed row  594400
Crushed row  594600
Crushed row  594800
Crushed row  595000
Crushed row  595200
Crushed row  595400
Crushed row  595600
Crushed row  595800
Crushed row  596000
Crushed row  596200
Crushed row  596400
Crushed row  596600
Crushed row  596800
Crushed row  597000
Crushed row  597200
Crushed row  597400
Crushed row  597600
Crushed row  597800
Crushed row  598000
Crushed row  598200
Crushed row  598400
Crushed row  598600
Crushed row  598800
Crushed row  599000
Crushed row  599200
Crushed row  599400
Crushed row  599600
Crushed row  599800
Crushed row  600000
Crushed row  600200
Crushed row  600400
Crushed row  600600
Crushed row  600800
Crushed row  601000
Crushed row  601200
Crushed row  601400
Crushed row  601600
Crushed row  601800
Crushed row  602000
Crushed row  602200
Crushed row  602400
Crushed row  602600
Crushed row  602800
Crushed row  603000
Crushed row  603200
Crushed row  603400
Crushed row  603600
Crushed row  603800
Crushed row  604000
Crushed row  604200
Crushed row  604400
Crushed row  604600
Crushed row  604800
Crushed row  605000
Crushed row  605200
Crushed row  605400
Crushed row  605600
Crushed row  605800
Crushed row  606000
Crushed row  606200
Crushed row  606400
Crushed row  606600
Crushed row  606800
Crushed row  607000
Crushed row  607200
Crushed row  607400
Crushed row  607600
Crushed row  607800
Crushed row  608000
Crushed row  608200
Crushed row  608400
Crushed row  608600
Crushed row  608800
Crushed row  609000
Crushed row  609200
Crushed row  609400
Crushed row  609600
Crushed row  609800
Crushed row  610000
Crushed row  610200
Crushed row  610400
Crushed row  610600
Crushed row  610800
Crushed row  611000
Crushed row  611200
Crushed row  611400
Crushed row  611600
Crushed row  611800
Crushed row  612000
Crushed row  612200
Crushed row  612400
Crushed row  612600
Crushed row  612800
Crushed row  613000
Crushed row  613200
Crushed row  613400
Crushed row  613600
Crushed row  613800
Crushed row  614000
Crushed row  614200
Crushed row  614400
Crushed row  614600
Crushed row  614800
Crushed row  615000
Crushed row  615200
Crushed row  615400
Crushed row  615600
Crushed row  615800
Crushed row  616000
Crushed row  616200
Crushed row  616400
Crushed row  616600
Crushed row  616800
Crushed row  617000
Crushed row  617200
Crushed row  617400
Crushed row  617600
Crushed row  617800
Crushed row  618000
Crushed row  618200
Crushed row  618400
Crushed row  618600
Crushed row  618800
Crushed row  619000
Crushed row  619200
Crushed row  619400
Crushed row  619600
Crushed row  619800
Crushed row  620000
Crushed row  620200
Crushed row  620400
Crushed row  620600
Crushed row  620800
Crushed row  621000
Crushed row  621200
Crushed row  621400
Crushed row  621600
Crushed row  621800
Crushed row  622000
Crushed row  622200
Crushed row  622400
Crushed row  622600
Crushed row  622800
Crushed row  623000
Crushed row  623200
Crushed row  623400
Crushed row  623600
Crushed row  623800
Crushed row  624000
Crushed row  624200
Crushed row  624400
Crushed row  624600
Crushed row  624800
Crushed row  625000
Crushed row  625200
Crushed row  625400
Crushed row  625600
Crushed row  625800
Crushed row  626000
Crushed row  626200
Crushed row  626400
Crushed row  626600
Crushed row  626800
Crushed row  627000
Crushed row  627200
Crushed row  627400
Crushed row  627600
Crushed row  627800
Crushed row  628000
Crushed row  628200
Crushed row  628400
Crushed row  628600
Crushed row  628800
Crushed row  629000
Crushed row  629200
Crushed row  629400
Crushed row  629600
Crushed row  629800
Crushed row  630000
Crushed row  630200
Crushed row  630400
Crushed row  630600
Crushed row  630800
Crushed row  631000
Crushed row  631200
Crushed row  631400
Crushed row  631600
Crushed row  631800
Crushed row  632000
Crushed row  632200
Crushed row  632400
Crushed row  632600
Crushed row  632800
Crushed row  633000
Crushed row  633200
Crushed row  633400
Crushed row  633600
Crushed row  633800
Crushed row  634000
Crushed row  634200
Crushed row  634400
Crushed row  634600
Crushed row  634800
Crushed row  635000
Crushed row  635200
Crushed row  635400
Crushed row  635600
Crushed row  635800
Crushed row  636000
Crushed row  636200
Crushed row  636400
Crushed row  636600
Crushed row  636800
Crushed row  637000
Crushed row  637200
Crushed row  637400
Crushed row  637600
Crushed row  637800
Crushed row  638000
Crushed row  638200
Crushed row  638400
Crushed row  638600
Crushed row  638800
Crushed row  639000
Crushed row  639200
Crushed row  639400
Crushed row  639600
Crushed row  639800
Crushed row  640000
Crushed row  640200
Crushed row  640400
Crushed row  640600
Crushed row  640800
Crushed row  641000
Crushed row  641200
Crushed row  641400
Crushed row  641600
Crushed row  641800
Crushed row  642000
Crushed row  642200
Crushed row  642400
Crushed row  642600
Crushed row  642800
Crushed row  643000
Crushed row  643200
Crushed row  643400
Crushed row  643600
Crushed row  643800
Crushed row  644000
Crushed row  644200
Crushed row  644400
Crushed row  644600
Crushed row  644800
Crushed row  645000
Crushed row  645200
Crushed row  645400
Crushed row  645600
Crushed row  645800
Crushed row  646000
Crushed row  646200
Crushed row  646400
Crushed row  646600
Crushed row  646800
Crushed row  647000
Crushed row  647200
Crushed row  647400
Crushed row  647600
Crushed row  647800
Crushed row  648000
Crushed row  648200
Crushed row  648400
Crushed row  648600
Crushed row  648800
Crushed row  649000
Crushed row  649200
Crushed row  649400
Crushed row  649600
Crushed row  649800
Crushed row  650000
Crushed row  650200
Crushed row  650400
Crushed row  650600
Crushed row  650800
Crushed row  651000
Crushed row  651200
Crushed row  651400
Crushed row  651600
Crushed row  651800
Crushed row  652000
Crushed row  652200
Crushed row  652400
Crushed row  652600
Crushed row  652800
Crushed row  653000
Crushed row  653200
Crushed row  653400
Crushed row  653600
Crushed row  653800
Crushed row  654000
Crushed row  654200
Crushed row  654400
Crushed row  654600
Crushed row  654800
Crushed row  655000
Crushed row  655200
Crushed row  655400
Crushed row  655600
Crushed row  655800
Crushed row  656000
Crushed row  656200
Crushed row  656400
Crushed row  656600
Crushed row  656800
Crushed row  657000
Crushed row  657200
Crushed row  657400
Crushed row  657600
Crushed row  657800
Crushed row  658000
Crushed row  658200
Crushed row  658400
Crushed row  658600
Crushed row  658800
Crushed row  659000
Crushed row  659200
Crushed row  659400
Crushed row  659600
Crushed row  659800
Crushed row  660000
Crushed row  660200
Crushed row  660400
Crushed row  660600
Crushed row  660800
Crushed row  661000
Crushed row  661200
Crushed row  661400
Crushed row  661600
Crushed row  661800
Crushed row  662000

Crushed row  662200
Crushed row  662400
Crushed row  662600
Crushed row  662800
Crushed row  663000
Crushed row  663200
Crushed row  663400
Crushed row  663600
Crushed row  663800
Crushed row  664000
Crushed row  664200
Crushed row  664400
Crushed row  664600
Crushed row  664800
Crushed row  665000
Crushed row  665200
Crushed row  665400
Crushed row  665600
Crushed row  665800
Crushed row  666000
Crushed row  666200
Crushed row  666400
Crushed row  666600
Crushed row  666800
Crushed row  667000
Crushed row  667200
Crushed row  667400
Crushed row  667600
Crushed row  667800
Crushed row  668000
Crushed row  668200
Crushed row  668400
Crushed row  668600
Crushed row  668800
Crushed row  669000
Crushed row  669200
Crushed row  669400
Crushed row  669600
Crushed row  669800
Crushed row  670000
Crushed row  670200
Crushed row  670400
Crushed row  670600
Crushed row  670800
Crushed row  671000
Crushed row  671200
Crushed row  671400
Crushed row  671600
Crushed row  671800
Crushed row  672000
Crushed row  672200
Crushed row  672400
Crushed row  672600
Crushed row  672800
Crushed row  673000
Crushed row  673200
Crushed row  673400
Crushed row  673600
Crushed row  673800
Crushed row  674000
Crushed row  674200
Crushed row  674400
Crushed row  674600
Crushed row  674800
Crushed row  675000
Crushed row  675200
Crushed row  675400
Crushed row  675600
Crushed row  675800
Crushed row  676000
Crushed row  676200
Crushed row  676400
Crushed row  676600
Crushed row  676800
Crushed row  677000
Crushed row  677200
Crushed row  677400
Crushed row  677600
Crushed row  677800
Crushed row  678000
Crushed row  678200
Crushed row  678400
Crushed row  678600
Crushed row  678800
Crushed row  679000
Crushed row  679200
Crushed row  679400
Crushed row  679600
Crushed row  679800
Crushed row  680000
Crushed row  680200
Crushed row  680400
Crushed row  680600
Crushed row  680800
Crushed row  681000
Crushed row  681200
Crushed row  681400
Crushed row  681600
Crushed row  681800
Crushed row  682000
Crushed row  682200
Crushed row  682400
Crushed row  682600
Crushed row  682800
Crushed row  683000
Crushed row  683200
Crushed row  683400
Crushed row  683600
Crushed row  683800
Crushed row  684000
Crushed row  684200
Crushed row  684400
Crushed row  684600
Crushed row  684800
Crushed row  685000
Crushed row  685200
Crushed row  685400
Crushed row  685600
Crushed row  685800
Crushed row  686000
Crushed row  686200
Crushed row  686400
Crushed row  686600
Crushed row  686800
Crushed row  687000
Crushed row  687200
Crushed row  687400
Crushed row  687600
Crushed row  687800
Crushed row  688000
Crushed row  688200
Crushed row  688400
Crushed row  688600
Crushed row  688800
Crushed row  689000
Crushed row  689200
Crushed row  689400
Crushed row  689600
Crushed row  689800
Crushed row  690000
Crushed row  690200
Crushed row  690400
Crushed row  690600
Crushed row  690800
Crushed row  691000
Crushed row  691200
Crushed row  691400
Crushed row  691600
Crushed row  691800
Crushed row  692000
Crushed row  692200
Crushed row  692400
Crushed row  692600
Crushed row  692800
Crushed row  693000
Crushed row  693200
Crushed row  693400
Crushed row  693600
Crushed row  693800
Crushed row  694000
Crushed row  694200
Crushed row  694400
Crushed row  694600
Crushed row  694800
Crushed row  695000
Crushed row  695200
Crushed row  695400
Crushed row  695600
Crushed row  695800
Crushed row  696000
Crushed row  696200
Crushed row  696400
Crushed row  696600
Crushed row  696800
Crushed row  697000
Crushed row  697200
Crushed row  697400
Crushed row  697600
Crushed row  697800
Crushed row  698000
Crushed row  698200
Crushed row  698400
Crushed row  698600
Crushed row  698800
Crushed row  699000
Crushed row  699200
Crushed row  699400
Crushed row  699600
Crushed row  699800
Crushed row  700000
Crushed row  700200
Crushed row  700400
Crushed row  700600
Crushed row  700800
Crushed row  701000
Crushed row  701200
Crushed row  701400
Crushed row  701600
Crushed row  701800
Crushed row  702000
Crushed row  702200
Crushed row  702400
Crushed row  702600
Crushed row  702800
Crushed row  703000
Crushed row  703200
Crushed row  703400
Crushed row  703600
Crushed row  703800
Crushed row  704000
Crushed row  704200
Crushed row  704400
Crushed row  704600
Crushed row  704800
Crushed row  705000
Crushed row  705200
Crushed row  705400
Crushed row  705600
Crushed row  705800
Crushed row  706000
Crushed row  706200
Crushed row  706400
Crushed row  706600
Crushed row  706800
Crushed row  707000
Crushed row  707200
Crushed row  707400
Crushed row  707600
Crushed row  707800
Crushed row  708000
Crushed row  708200
Crushed row  708400
Crushed row  708600
Crushed row  708800
Crushed row  709000
Crushed row  709200
Crushed row  709400
Crushed row  709600
Crushed row  709800
Crushed row  710000
Crushed row  710200
Crushed row  710400
Crushed row  710600
Crushed row  710800
Crushed row  711000
Crushed row  711200
Crushed row  711400
Crushed row  711600
Crushed row  711800
Crushed row  712000
Crushed row  712200
Crushed row  712400
Crushed row  712600
Crushed row  712800
Crushed row  713000
Crushed row  713200
Crushed row  713400
Crushed row  713600
Crushed row  713800
Crushed row  714000
Crushed row  714200
Crushed row  714400
Crushed row  714600
Crushed row  714800
Crushed row  715000
Crushed row  715200
Crushed row  715400
Crushed row  715600
Crushed row  715800
Crushed row  716000
Crushed row  716200
Crushed row  716400
Crushed row  716600
Crushed row  716800
Crushed row  717000
Crushed row  717200
Crushed row  717400
Crushed row  717600
Crushed row  717800
Crushed row  718000
Crushed row  718200
Crushed row  718400
Crushed row  718600
Crushed row  718800
Crushed row  719000
Crushed row  719200
Crushed row  719400
Crushed row  719600
Crushed row  719800
Crushed row  720000
Crushed row  720200
Crushed row  720400
Crushed row  720600
Crushed row  720800
Crushed row  721000
Crushed row  721200
Crushed row  721400
Crushed row  721600
Crushed row  721800
Crushed row  722000
Crushed row  722200
Crushed row  722400
Crushed row  722600
Crushed row  722800
Crushed row  723000
Crushed row  723200
Crushed row  723400
Crushed row  723600
Crushed row  723800
Crushed row  724000
Crushed row  724200
Crushed row  724400
Crushed row  724600
Crushed row  724800
Crushed row  725000
Crushed row  725200
Crushed row  725400
Crushed row  725600
Crushed row  725800
Crushed row  726000
Crushed row  726200
Crushed row  726400
Crushed row  726600
Crushed row  726800
Crushed row  727000
Crushed row  727200
Crushed row  727400
Crushed row  727600
Crushed row  727800
Crushed row  728000
Crushed row  728200
Crushed row  728400
Crushed row  728600
Crushed row  728800
Crushed row  729000
Crushed row  729200
Crushed row  729400
Crushed row  729600
Crushed row  729800
Crushed row  730000
Crushed row  730200
Crushed row  730400
Crushed row  730600
Crushed row  730800
Crushed row  731000
Crushed row  731200
Crushed row  731400
Crushed row  731600
Crushed row  731800
Crushed row  732000
Crushed row  732200
Crushed row  732400
Crushed row  732600
Crushed row  732800
Crushed row  733000
Crushed row  733200
Crushed row  733400
Crushed row  733600
Crushed row  733800
Crushed row  734000
Crushed row  734200
Crushed row  734400
Crushed row  734600
Crushed row  734800
Crushed row  735000
Crushed row  735200
Crushed row  735400
Crushed row  735600
Crushed row  735800
Crushed row  736000
Crushed row  736200
Crushed row  736400
Crushed row  736600
Crushed row  736800
Crushed row  737000
Crushed row  737200
Crushed row  737400
Crushed row  737600
Crushed row  737800
Crushed row  738000
Crushed row  738200
Crushed row  738400
Crushed row  738600
Crushed row  738800
Crushed row  739000
Crushed row  739200
Crushed row  739400
Crushed row  739600
Crushed row  739800
Crushed row  740000
Crushed row  740200
Crushed row  740400
Crushed row  740600
Crushed row  740800
Crushed row  741000
Crushed row  741200
Crushed row  741400
Crushed row  741600
Crushed row  741800
Crushed row  742000
Crushed row  742200
Crushed row  742400
Crushed row  742600
Crushed row  742800
Crushed row  743000
Crushed row  743200
Crushed row  743400
Crushed row  743600
Crushed row  743800
Crushed row  744000

Crushed row  744200
Crushed row  744400
Crushed row  744600
Crushed row  744800
Crushed row  745000
Crushed row  745200
Crushed row  745400
Crushed row  745600
Crushed row  745800
Crushed row  746000
Crushed row  746200
Crushed row  746400
Crushed row  746600
Crushed row  746800
Crushed row  747000
Crushed row  747200
Crushed row  747400
Crushed row  747600
Crushed row  747800
Crushed row  748000
Crushed row  748200
Crushed row  748400
Crushed row  748600
Crushed row  748800
Crushed row  749000
Crushed row  749200
Crushed row  749400
Crushed row  749600
Crushed row  749800
Crushed row  750000
Crushed row  750200
Crushed row  750400
Crushed row  750600
Crushed row  750800
Crushed row  751000
Crushed row  751200
Crushed row  751400
Crushed row  751600
Crushed row  751800
Crushed row  752000
Crushed row  752200
Crushed row  752400
Crushed row  752600
Crushed row  752800
Crushed row  753000
Crushed row  753200
Crushed row  753400
Crushed row  753600
Crushed row  753800
Crushed row  754000
Crushed row  754200
Crushed row  754400
Crushed row  754600
Crushed row  754800
Crushed row  755000
Crushed row  755200
Crushed row  755400
Crushed row  755600
Crushed row  755800
Crushed row  756000
Crushed row  756200
Crushed row  756400
Crushed row  756600
Crushed row  756800
Crushed row  757000
Crushed row  757200
Crushed row  757400
Crushed row  757600
Crushed row  757800
Crushed row  758000
Crushed row  758200
Crushed row  758400
Crushed row  758600
Crushed row  758800
Crushed row  759000
Crushed row  759200
Crushed row  759400
Crushed row  759600
Crushed row  759800
Crushed row  760000
Crushed row  760200
Crushed row  760400
Crushed row  760600
Crushed row  760800
Crushed row  761000
Crushed row  761200
Crushed row  761400
Crushed row  761600
Crushed row  761800
Crushed row  762000
Crushed row  762200
Crushed row  762400
Crushed row  762600
Crushed row  762800
Crushed row  763000
Crushed row  763200
Crushed row  763400
Crushed row  763600
Crushed row  763800
Crushed row  764000
Crushed row  764200
Crushed row  764400
Crushed row  764600
Crushed row  764800
Crushed row  765000
Crushed row  765200
Crushed row  765400
Crushed row  765600
Crushed row  765800
Crushed row  766000
Crushed row  766200
Crushed row  766400
Crushed row  766600
Crushed row  766800
Crushed row  767000
Crushed row  767200
Crushed row  767400
Crushed row  767600
Crushed row  767800
Crushed row  768000
Crushed row  768200
Crushed row  768400
Crushed row  768600
Crushed row  768800
Crushed row  769000
Crushed row  769200
Crushed row  769400
Crushed row  769600
Crushed row  769800
Crushed row  770000
Crushed row  770200
Crushed row  770400
Crushed row  770600
Crushed row  770800
Crushed row  771000
Crushed row  771200
Crushed row  771400
Crushed row  771600
Crushed row  771800
Crushed row  772000
Crushed row  772200
Crushed row  772400
Crushed row  772600
Crushed row  772800
Crushed row  773000
Crushed row  773200
Crushed row  773400
Crushed row  773600
Crushed row  773800
Crushed row  774000
Crushed row  774200
Crushed row  774400
Crushed row  774600
Crushed row  774800
Crushed row  775000
Crushed row  775200
Crushed row  775400
Crushed row  775600
Crushed row  775800
Crushed row  776000
Crushed row  776200
Crushed row  776400
Crushed row  776600
Crushed row  776800
Crushed row  777000
Crushed row  777200
Crushed row  777400
Crushed row  777600
Crushed row  777800
Crushed row  778000
Crushed row  778200
Crushed row  778400
Crushed row  778600
Crushed row  778800
Crushed row  779000
Crushed row  779200
Crushed row  779400
Crushed row  779600
Crushed row  779800
Crushed row  780000
Crushed row  780200
Crushed row  780400
Crushed row  780600
Crushed row  780800
Crushed row  781000
Crushed row  781200
Crushed row  781400
Crushed row  781600
Crushed row  781800
Crushed row  782000
Crushed row  782200
Crushed row  782400
Crushed row  782600
Crushed row  782800
Crushed row  783000
Crushed row  783200
Crushed row  783400
Crushed row  783600
Crushed row  783800
Crushed row  784000
Crushed row  784200
Crushed row  784400
Crushed row  784600
Crushed row  784800
Crushed row  785000
Crushed row  785200
Crushed row  785400
Crushed row  785600
Crushed row  785800
Crushed row  786000
Crushed row  786200
Crushed row  786400
Crushed row  786600
Crushed row  786800
Crushed row  787000
Crushed row  787200
Crushed row  787400
Crushed row  787600
Crushed row  787800
Crushed row  788000
Crushed row  788200
Crushed row  788400
Crushed row  788600
Crushed row  788800
Crushed row  789000
Crushed row  789200
Crushed row  789400
Crushed row  789600
Crushed row  789800
Crushed row  790000
Crushed row  790200
Crushed row  790400
Crushed row  790600
Crushed row  790800
Crushed row  791000
Crushed row  791200
Crushed row  791400
Crushed row  791600
Crushed row  791800
Crushed row  792000
Crushed row  792200
Crushed row  792400
Crushed row  792600
Crushed row  792800
Crushed row  793000
Crushed row  793200
Crushed row  793400
Crushed row  793600
Crushed row  793800
Crushed row  794000
Crushed row  794200
Crushed row  794400
Crushed row  794600
Crushed row  794800
Crushed row  795000
Crushed row  795200
Crushed row  795400
Crushed row  795600
Crushed row  795800
Crushed row  796000
Crushed row  796200
Crushed row  796400
Crushed row  796600
Crushed row  796800
Crushed row  797000
Crushed row  797200
Crushed row  797400
Crushed row  797600
Crushed row  797800
Crushed row  798000
Crushed row  798200
Crushed row  798400
Crushed row  798600
Crushed row  798800
Crushed row  799000
Crushed row  799200
Crushed row  799400
Crushed row  799600
Crushed row  799800
Crushed row  800000
Crushed row  800200
Crushed row  800400
Crushed row  800600
Crushed row  800800
Crushed row  801000
Crushed row  801200
Crushed row  801400
Crushed row  801600
Crushed row  801800
Crushed row  802000
Crushed row  802200
Crushed row  802400
Crushed row  802600
Crushed row  802800
Crushed row  803000
Crushed row  803200
Crushed row  803400
Crushed row  803600
Crushed row  803800
Crushed row  804000
Crushed row  804200
Crushed row  804400
Crushed row  804600
Crushed row  804800
Crushed row  805000
Crushed row  805200
Crushed row  805400
Crushed row  805600
Crushed row  805800
Crushed row  806000
Crushed row  806200
Crushed row  806400
Crushed row  806600
Crushed row  806800
Crushed row  807000
Crushed row  807200
Crushed row  807400
Crushed row  807600
Crushed row  807800
Crushed row  808000
Crushed row  808200
Crushed row  808400
Crushed row  808600
Crushed row  808800
Crushed row  809000
Crushed row  809200
Crushed row  809400
Crushed row  809600
Crushed row  809800
Crushed row  810000
Crushed row  810200
Crushed row  810400
Crushed row  810600
Crushed row  810800
Crushed row  811000
Crushed row  811200
Crushed row  811400
Crushed row  811600
Crushed row  811800
Crushed row  812000
Crushed row  812200
Crushed row  812400
Crushed row  812600
Crushed row  812800
Crushed row  813000
Crushed row  813200
Crushed row  813400
Crushed row  813600
Crushed row  813800
Crushed row  814000
Crushed row  814200
Crushed row  814400
Crushed row  814600
Crushed row  814800
Crushed row  815000
Crushed row  815200
Crushed row  815400
Crushed row  815600
Crushed row  815800
Crushed row  816000
Crushed row  816200
Crushed row  816400
Crushed row  816600
Crushed row  816800
Crushed row  817000
Crushed row  817200
Crushed row  817400
Crushed row  817600
Crushed row  817800
Crushed row  818000
Crushed row  818200
Crushed row  818400
Crushed row  818600
Crushed row  818800
Crushed row  819000
Crushed row  819200
Crushed row  819400
Crushed row  819600
Crushed row  819800
Crushed row  820000
Crushed row  820200
Crushed row  820400
Crushed row  820600
Crushed row  820800
Crushed row  821000
Crushed row  821200
Crushed row  821400
Crushed row  821600
Crushed row  821800
Crushed row  822000
Crushed row  822200
Crushed row  822400
Crushed row  822600
Crushed row  822800
Crushed row  823000
Crushed row  823200
Crushed row  823400
Crushed row  823600
Crushed row  823800
Crushed row  824000
Crushed row  824200
Crushed row  824400
Crushed row  824600
Crushed row  824800
Crushed row  825000
Crushed row  825200
Crushed row  825400
Crushed row  825600
Crushed row  825800
Crushed row  826000

Crushed row  826200
Crushed row  826400
Crushed row  826600
Crushed row  826800
Crushed row  827000
Crushed row  827200
Crushed row  827400
Crushed row  827600
Crushed row  827800
Crushed row  828000
Crushed row  828200
Crushed row  828400
Crushed row  828600
Crushed row  828800
Crushed row  829000
Crushed row  829200
Crushed row  829400
Crushed row  829600
Crushed row  829800
Crushed row  830000
Crushed row  830200
Crushed row  830400
Crushed row  830600
Crushed row  830800
Crushed row  831000
Crushed row  831200
Crushed row  831400
Crushed row  831600
Crushed row  831800
Crushed row  832000
Crushed row  832200
Crushed row  832400
Crushed row  832600
Crushed row  832800
Crushed row  833000
Crushed row  833200
Crushed row  833400
Crushed row  833600
Crushed row  833800
Crushed row  834000
Crushed row  834200
Crushed row  834400
Crushed row  834600
Crushed row  834800
Crushed row  835000
Crushed row  835200
Crushed row  835400
Crushed row  835600
Crushed row  835800
Crushed row  836000
Crushed row  836200
Crushed row  836400
Crushed row  836600
Crushed row  836800
Crushed row  837000
Crushed row  837200
Crushed row  837400
Crushed row  837600
Crushed row  837800
Crushed row  838000
Crushed row  838200
Crushed row  838400
Crushed row  838600
Crushed row  838800
Crushed row  839000
Crushed row  839200
Crushed row  839400
Crushed row  839600
Crushed row  839800
Crushed row  840000
Crushed row  840200
Crushed row  840400
Crushed row  840600
Crushed row  840800
Crushed row  841000
Crushed row  841200
Crushed row  841400
Crushed row  841600
Crushed row  841800
Crushed row  842000
Crushed row  842200
Crushed row  842400
Crushed row  842600
Crushed row  842800
Crushed row  843000
Crushed row  843200
Crushed row  843400
Crushed row  843600
Crushed row  843800
Crushed row  844000
Crushed row  844200
Crushed row  844400
Crushed row  844600
Crushed row  844800
Crushed row  845000
Crushed row  845200
Crushed row  845400
Crushed row  845600
Crushed row  845800
Crushed row  846000
Crushed row  846200
Crushed row  846400
Crushed row  846600
Crushed row  846800
Crushed row  847000
Crushed row  847200
Crushed row  847400
Crushed row  847600
Crushed row  847800
Crushed row  848000
Crushed row  848200
Crushed row  848400
Crushed row  848600
Crushed row  848800
Crushed row  849000
Crushed row  849200
Crushed row  849400
Crushed row  849600
Crushed row  849800
Crushed row  850000
Crushed row  850200
Crushed row  850400
Crushed row  850600
Crushed row  850800
Crushed row  851000
Crushed row  851200
Crushed row  851400
Crushed row  851600
Crushed row  851800
Crushed row  852000
Crushed row  852200
Crushed row  852400
Crushed row  852600
Crushed row  852800
Crushed row  853000
Crushed row  853200
Crushed row  853400
Crushed row  853600
Crushed row  853800
Crushed row  854000
Crushed row  854200
Crushed row  854400
Crushed row  854600
Crushed row  854800
Crushed row  855000
Crushed row  855200
Crushed row  855400
Crushed row  855600
Crushed row  855800
Crushed row  856000
Crushed row  856200
Crushed row  856400
Crushed row  856600
Crushed row  856800
Crushed row  857000
Crushed row  857200
Crushed row  857400
Crushed row  857600
Crushed row  857800
Crushed row  858000
Crushed row  858200
Crushed row  858400
Crushed row  858600
Crushed row  858800
Crushed row  859000
Crushed row  859200
Crushed row  859400
Crushed row  859600
Crushed row  859800
Crushed row  860000
Crushed row  860200
Crushed row  860400
Crushed row  860600
Crushed row  860800
Crushed row  861000
Crushed row  861200
Crushed row  861400
Crushed row  861600
Crushed row  861800
Crushed row  862000
Crushed row  862200
Crushed row  862400
Crushed row  862600
Crushed row  862800
Crushed row  863000
Crushed row  863200
Crushed row  863400
Crushed row  863600
Crushed row  863800
Crushed row  864000
Crushed row  864200
Crushed row  864400
Crushed row  864600
Crushed row  864800
Crushed row  865000
Crushed row  865200
Crushed row  865400
Crushed row  865600
Crushed row  865800
Crushed row  866000
Crushed row  866200
Crushed row  866400
Crushed row  866600
Crushed row  866800
Crushed row  867000
Crushed row  867200
Crushed row  867400
Crushed row  867600
Crushed row  867800
Crushed row  868000
Crushed row  868200
Crushed row  868400
Crushed row  868600
Crushed row  868800
Crushed row  869000
Crushed row  869200
Crushed row  869400
Crushed row  869600
Crushed row  869800
Crushed row  870000
Crushed row  870200
Crushed row  870400
Crushed row  870600
Crushed row  870800
Crushed row  871000
Crushed row  871200
Crushed row  871400
Crushed row  871600
Crushed row  871800
Crushed row  872000
Crushed row  872200
Crushed row  872400
Crushed row  872600
Crushed row  872800
Crushed row  873000
Crushed row  873200
Crushed row  873400
Crushed row  873600
Crushed row  873800
Crushed row  874000
Crushed row  874200
Crushed row  874400
Crushed row  874600
Crushed row  874800
Crushed row  875000
Crushed row  875200
Crushed row  875400
Crushed row  875600
Crushed row  875800
Crushed row  876000
Crushed row  876200
Crushed row  876400
Crushed row  876600
Crushed row  876800
Crushed row  877000
Crushed row  877200
Crushed row  877400
Crushed row  877600
Crushed row  877800
Crushed row  878000
Crushed row  878200
Crushed row  878400
Crushed row  878600
Crushed row  878800
Crushed row  879000
Crushed row  879200
Crushed row  879400
Crushed row  879600
Crushed row  879800
Crushed row  880000
Crushed row  880200
Crushed row  880400
Crushed row  880600
Crushed row  880800
Crushed row  881000
Crushed row  881200
Crushed row  881400
Crushed row  881600
Crushed row  881800
Crushed row  882000
Crushed row  882200
Crushed row  882400
Crushed row  882600
Crushed row  882800
Crushed row  883000
Crushed row  883200
Crushed row  883400
Crushed row  883600
Crushed row  883800
Crushed row  884000
Crushed row  884200
Crushed row  884400
Crushed row  884600
Crushed row  884800
Crushed row  885000
Crushed row  885200
Crushed row  885400
Crushed row  885600
Crushed row  885800
Crushed row  886000
Crushed row  886200
Crushed row  886400
Crushed row  886600
Crushed row  886800
Crushed row  887000
Crushed row  887200
Crushed row  887400
Crushed row  887600
Crushed row  887800
Crushed row  888000
Crushed row  888200
Crushed row  888400
Crushed row  888600
Crushed row  888800
Crushed row  889000
Crushed row  889200
Crushed row  889400
Crushed row  889600
Crushed row  889800
Crushed row  890000
Crushed row  890200
Crushed row  890400
Crushed row  890600
Crushed row  890800
Crushed row  891000
Crushed row  891200
Crushed row  891400
Crushed row  891600
Crushed row  891800
Crushed row  892000
Crushed row  892200
Crushed row  892400
Crushed row  892600
Crushed row  892800
Crushed row  893000
Crushed row  893200
Crushed row  893400
Crushed row  893600
Crushed row  893800
Crushed row  894000
Crushed row  894200
Crushed row  894400
Crushed row  894600
Crushed row  894800
Crushed row  895000
Crushed row  895200
Crushed row  895400
Crushed row  895600
Crushed row  895800
Crushed row  896000
Crushed row  896200
Crushed row  896400
Crushed row  896600
Crushed row  896800
Crushed row  897000
Crushed row  897200
Crushed row  897400
Crushed row  897600
Crushed row  897800
Crushed row  898000
Crushed row  898200
Crushed row  898400
Crushed row  898600
Crushed row  898800
Crushed row  899000
Crushed row  899200
Crushed row  899400
Crushed row  899600
Crushed row  899800
Crushed row  900000
Crushed row  900200
Crushed row  900400
Crushed row  900600
Crushed row  900800
Crushed row  901000
Crushed row  901200
Crushed row  901400
Crushed row  901600
Crushed row  901800
Crushed row  902000
Crushed row  902200
Crushed row  902400
Crushed row  902600
Crushed row  902800
Crushed row  903000
Crushed row  903200
Crushed row  903400
Crushed row  903600
Crushed row  903800
Crushed row  904000
Crushed row  904200
Crushed row  904400
Crushed row  904600
Crushed row  904800
Crushed row  905000
Crushed row  905200
Crushed row  905400
Crushed row  905600
Crushed row  905800
Crushed row  906000
Crushed row  906200
Crushed row  906400
Crushed row  906600
Crushed row  906800
Crushed row  907000
Crushed row  907200
Crushed row  907400
Crushed row  907600
Crushed row  907800
Crushed row  908000

Crushed row  908200
Crushed row  908400
Crushed row  908600
Crushed row  908800
Crushed row  909000
Crushed row  909200
Crushed row  909400
Crushed row  909600
Crushed row  909800
Crushed row  910000
Crushed row  910200
Crushed row  910400
Crushed row  910600
Crushed row  910800
Crushed row  911000
Crushed row  911200
Crushed row  911400
Crushed row  911600
Crushed row  911800
Crushed row  912000
Crushed row  912200
Crushed row  912400
Crushed row  912600
Crushed row  912800
Crushed row  913000
Crushed row  913200
Crushed row  913400
Crushed row  913600
Crushed row  913800
Crushed row  914000
Crushed row  914200
Crushed row  914400
Crushed row  914600
Crushed row  914800
Crushed row  915000
Crushed row  915200
Crushed row  915400
Crushed row  915600
Crushed row  915800
Crushed row  916000
Crushed row  916200
Crushed row  916400
Crushed row  916600
Crushed row  916800
Crushed row  917000
Crushed row  917200
Crushed row  917400
Crushed row  917600
Crushed row  917800
Crushed row  918000
Crushed row  918200
Crushed row  918400
Crushed row  918600
Crushed row  918800
Crushed row  919000
Crushed row  919200
Crushed row  919400
Crushed row  919600
Crushed row  919800
Crushed row  920000
Crushed row  920200
Crushed row  920400
Crushed row  920600
Crushed row  920800
Crushed row  921000
Crushed row  921200
Crushed row  921400
Crushed row  921600
Crushed row  921800
Crushed row  922000
Crushed row  922200
Crushed row  922400
Crushed row  922600
Crushed row  922800
Crushed row  923000
Crushed row  923200
Crushed row  923400
Crushed row  923600
Crushed row  923800
Crushed row  924000
Crushed row  924200
Crushed row  924400
Crushed row  924600
Crushed row  924800
Crushed row  925000
Crushed row  925200
Crushed row  925400
Crushed row  925600
Crushed row  925800
Crushed row  926000
Crushed row  926200
Crushed row  926400
Crushed row  926600
Crushed row  926800
Crushed row  927000
Crushed row  927200
Crushed row  927400
Crushed row  927600
Crushed row  927800
Crushed row  928000
Crushed row  928200
Crushed row  928400
Crushed row  928600
Crushed row  928800
Crushed row  929000
Crushed row  929200
Crushed row  929400
Crushed row  929600
Crushed row  929800
Crushed row  930000
Crushed row  930200
Crushed row  930400
Crushed row  930600
Crushed row  930800
Crushed row  931000
Crushed row  931200
Crushed row  931400
Crushed row  931600
Crushed row  931800
Crushed row  932000
Crushed row  932200
Crushed row  932400
Crushed row  932600
Crushed row  932800
Crushed row  933000
Crushed row  933200
Crushed row  933400
Crushed row  933600
Crushed row  933800
Crushed row  934000
Crushed row  934200
Crushed row  934400
Crushed row  934600
Crushed row  934800
Crushed row  935000
Crushed row  935200
Crushed row  935400
Crushed row  935600
Crushed row  935800
Crushed row  936000
Crushed row  936200
Crushed row  936400
Crushed row  936600
Crushed row  936800
Crushed row  937000
Crushed row  937200
Crushed row  937400
Crushed row  937600
Crushed row  937800
Crushed row  938000
Crushed row  938200
Crushed row  938400
Crushed row  938600
Crushed row  938800
Crushed row  939000
Crushed row  939200
Crushed row  939400
Crushed row  939600
Crushed row  939800
Crushed row  940000
Crushed row  940200
Crushed row  940400
Crushed row  940600
Crushed row  940800
Crushed row  941000
Crushed row  941200
Crushed row  941400
Crushed row  941600
Crushed row  941800
Crushed row  942000
Crushed row  942200
Crushed row  942400
Crushed row  942600
Crushed row  942800
Crushed row  943000
Crushed row  943200
Crushed row  943400
Crushed row  943600
Crushed row  943800
Crushed row  944000
Crushed row  944200
Crushed row  944400
Crushed row  944600
Crushed row  944800
Crushed row  945000
Crushed row  945200
Crushed row  945400
Crushed row  945600
Crushed row  945800
Crushed row  946000
Crushed row  946200
Crushed row  946400
Crushed row  946600
Crushed row  946800
Crushed row  947000
Crushed row  947200
Crushed row  947400
Crushed row  947600
Crushed row  947800
Crushed row  948000
Crushed row  948200
Crushed row  948400
Crushed row  948600
Crushed row  948800
Crushed row  949000
Crushed row  949200
Crushed row  949400
Crushed row  949600
Crushed row  949800
Crushed row  950000
Crushed row  950200
Crushed row  950400
Crushed row  950600
Crushed row  950800
Crushed row  951000
Crushed row  951200
Crushed row  951400
Crushed row  951600
Crushed row  951800
Crushed row  952000
Crushed row  952200
Crushed row  952400
Crushed row  952600
Crushed row  952800
Crushed row  953000
Crushed row  953200
Crushed row  953400
Crushed row  953600
Crushed row  953800
Crushed row  954000
Crushed row  954200
Crushed row  954400
Crushed row  954600
Crushed row  954800
Crushed row  955000
Crushed row  955200
Crushed row  955400
Crushed row  955600
Crushed row  955800
Crushed row  956000
Crushed row  956200
Crushed row  956400
Crushed row  956600
Crushed row  956800
Crushed row  957000
Crushed row  957200
Crushed row  957400
Crushed row  957600
Crushed row  957800
Crushed row  958000
Crushed row  958200
Crushed row  958400
Crushed row  958600
Crushed row  958800
Crushed row  959000
Crushed row  959200
Crushed row  959400
Crushed row  959600
Crushed row  959800
Crushed row  960000
Crushed row  960200
Crushed row  960400
Crushed row  960600
Crushed row  960800
Crushed row  961000
Crushed row  961200
Crushed row  961400
Crushed row  961600
Crushed row  961800
Crushed row  962000
Crushed row  962200
Crushed row  962400
Crushed row  962600
Crushed row  962800
Crushed row  963000
Crushed row  963200
Crushed row  963400
Crushed row  963600
Crushed row  963800
Crushed row  964000
Crushed row  964200
Crushed row  964400
Crushed row  964600
Crushed row  964800
Crushed row  965000
Crushed row  965200
Crushed row  965400
Crushed row  965600
Crushed row  965800
Crushed row  966000
Crushed row  966200
Crushed row  966400
Crushed row  966600
Crushed row  966800
Crushed row  967000
Crushed row  967200
Crushed row  967400
Crushed row  967600
Crushed row  967800
Crushed row  968000
Crushed row  968200
Crushed row  968400
Crushed row  968600
Crushed row  968800
Crushed row  969000
Crushed row  969200
Crushed row  969400
Crushed row  969600
Crushed row  969800
Crushed row  970000
Crushed row  970200
Crushed row  970400
Crushed row  970600
Crushed row  970800
Crushed row  971000
Crushed row  971200
Crushed row  971400
Crushed row  971600
Crushed row  971800
Crushed row  972000
Crushed row  972200
Crushed row  972400
Crushed row  972600
Crushed row  972800
Crushed row  973000
Crushed row  973200
Crushed row  973400
Crushed row  973600
Crushed row  973800
Crushed row  974000
Crushed row  974200
Crushed row  974400
Crushed row  974600
Crushed row  974800
Crushed row  975000
Crushed row  975200
Crushed row  975400
Crushed row  975600
Crushed row  975800
Crushed row  976000
Crushed row  976200
Crushed row  976400
Crushed row  976600
Crushed row  976800
Crushed row  977000
Crushed row  977200
Crushed row  977400
Crushed row  977600
Crushed row  977800
Crushed row  978000
Crushed row  978200
Crushed row  978400
Crushed row  978600
Crushed row  978800
Crushed row  979000
Crushed row  979200
Crushed row  979400
Crushed row  979600
Crushed row  979800
Crushed row  980000
Crushed row  980200
Crushed row  980400
Crushed row  980600
Crushed row  980800
Crushed row  981000
Crushed row  981200
Crushed row  981400
Crushed row  981600
Crushed row  981800
Crushed row  982000
Crushed row  982200
Crushed row  982400
Crushed row  982600
Crushed row  982800
Crushed row  983000
Crushed row  983200
Crushed row  983400
Crushed row  983600
Crushed row  983800
Crushed row  984000
Crushed row  984200
Crushed row  984400
Crushed row  984600
Crushed row  984800
Crushed row  985000
Crushed row  985200
Crushed row  985400
Crushed row  985600
Crushed row  985800
Crushed row  986000
Crushed row  986200
Crushed row  986400
Crushed row  986600
Crushed row  986800
Crushed row  987000
Crushed row  987200
Crushed row  987400
Crushed row  987600
Crushed row  987800
Crushed row  988000
Crushed row  988200
Crushed row  988400
Crushed row  988600
Crushed row  988800
Crushed row  989000
Crushed row  989200
Crushed row  989400
Crushed row  989600
Crushed row  989800
Crushed row  990000

Crushed row  990200
Crushed row  990400
Crushed row  990600
Crushed row  990800
Crushed row  991000
Crushed row  991200
Crushed row  991400
Crushed row  991600
Crushed row  991800
Crushed row  992000
Crushed row  992200
Crushed row  992400
Crushed row  992600
Crushed row  992800
Crushed row  993000
Crushed row  993200
Crushed row  993400
Crushed row  993600
Crushed row  993800
Crushed row  994000
Crushed row  994200
Crushed row  994400
Crushed row  994600
Crushed row  994800
Crushed row  995000
Crushed row  995200
Crushed row  995400
Crushed row  995600
Crushed row  995800
Crushed row  996000
Crushed row  996200
Crushed row  996400
Crushed row  996600
Crushed row  996800
Crushed row  997000
Crushed row  997200
Crushed row  997400
Crushed row  997600
Crushed row  997800
Crushed row  998000
Crushed row  998200
Crushed row  998400
Crushed row  998600
Crushed row  998800
Crushed row  999000
Crushed row  999200
Crushed row  999400
Crushed row  999600
Crushed row  999800
Crushed row  1000000
Crushed row  1000200
Crushed row  1000400
Crushed row  1000600
Crushed row  1000800
Crushed row  1001000
Crushed row  1001200
Crushed row  1001400
Crushed row  1001600
Crushed row  1001800
Crushed row  1002000
Crushed row  1002200
Crushed row  1002400
Crushed row  1002600
Crushed row  1002800
Crushed row  1003000
Crushed row  1003200
Crushed row  1003400
Crushed row  1003600
Crushed row  1003800
Crushed row  1004000
Crushed row  1004200
Crushed row  1004400
Crushed row  1004600
Crushed row  1004800
Crushed row  1005000
Crushed row  1005200
Crushed row  1005400
Crushed row  1005600
Crushed row  1005800
Crushed row  1006000
Crushed row  1006200
Crushed row  1006400
Crushed row  1006600
Crushed row  1006800
Crushed row  1007000
Crushed row  1007200
Crushed row  1007400
Crushed row  1007600
Crushed row  1007800
Crushed row  1008000
Crushed row  1008200
Crushed row  1008400
Crushed row  1008600
Crushed row  1008800
Crushed row  1009000
Crushed row  1009200
Crushed row  1009400
Crushed row  1009600
Crushed row  1009800
Crushed row  1010000
Crushed row  1010200
Crushed row  1010400
Crushed row  1010600
Crushed row  1010800
Crushed row  1011000
Crushed row  1011200
Crushed row  1011400
Crushed row  1011600
Crushed row  1011800
Crushed row  1012000
Crushed row  1012200
Crushed row  1012400
Crushed row  1012600
Crushed row  1012800
Crushed row  1013000
Crushed row  1013200
Crushed row  1013400
Crushed row  1013600
Crushed row  1013800
Crushed row  1014000
Crushed row  1014200
Crushed row  1014400
Crushed row  1014600
Crushed row  1014800
Crushed row  1015000
Crushed row  1015200
Crushed row  1015400
Crushed row  1015600
Crushed row  1015800
Crushed row  1016000
Crushed row  1016200
Crushed row  1016400
Crushed row  1016600
Crushed row  1016800
Crushed row  1017000
Crushed row  1017200
Crushed row  1017400
Crushed row  1017600
Crushed row  1017800
Crushed row  1018000
Crushed row  1018200
Crushed row  1018400
Crushed row  1018600
Crushed row  1018800
Crushed row  1019000
Crushed row  1019200
Crushed row  1019400
Crushed row  1019600
Crushed row  1019800
Crushed row  1020000
Crushed row  1020200
Crushed row  1020400
Crushed row  1020600
Crushed row  1020800
Crushed row  1021000
Crushed row  1021200
Crushed row  1021400
Crushed row  1021600
Crushed row  1021800
Crushed row  1022000
Crushed row  1022200
Crushed row  1022400
Crushed row  1022600
Crushed row  1022800
Crushed row  1023000
Crushed row  1023200
Crushed row  1023400
Crushed row  1023600
Crushed row  1023800
Crushed row  1024000
Crushed row  1024200
Crushed row  1024400
Crushed row  1024600
Crushed row  1024800
Crushed row  1025000
Crushed row  1025200
Crushed row  1025400
Crushed row  1025600
Crushed row  1025800
Crushed row  1026000
Crushed row  1026200
Crushed row  1026400
Crushed row  1026600
Crushed row  1026800
Crushed row  1027000
Crushed row  1027200
Crushed row  1027400
Crushed row  1027600
Crushed row  1027800
Crushed row  1028000
Crushed row  1028200
Crushed row  1028400
Crushed row  1028600
Crushed row  1028800
Crushed row  1029000
Crushed row  1029200
Crushed row  1029400
Crushed row  1029600
Crushed row  1029800
Crushed row  1030000
Crushed row  1030200
Crushed row  1030400
Crushed row  1030600
Crushed row  1030800
Crushed row  1031000
Crushed row  1031200
Crushed row  1031400
Crushed row  1031600
Crushed row  1031800
Crushed row  1032000
Crushed row  1032200
Crushed row  1032400
Crushed row  1032600
Crushed row  1032800
Crushed row  1033000
Crushed row  1033200
Crushed row  1033400
Crushed row  1033600
Crushed row  1033800
Crushed row  1034000
Crushed row  1034200
Crushed row  1034400
Crushed row  1034600
Crushed row  1034800
Crushed row  1035000
Crushed row  1035200
Crushed row  1035400
Crushed row  1035600
Crushed row  1035800
Crushed row  1036000
Crushed row  1036200
Crushed row  1036400
Crushed row  1036600
Crushed row  1036800
Crushed row  1037000
Crushed row  1037200
Crushed row  1037400
Crushed row  1037600
Crushed row  1037800
Crushed row  1038000
Crushed row  1038200
Crushed row  1038400
Crushed row  1038600
Crushed row  1038800
Crushed row  1039000
Crushed row  1039200
Crushed row  1039400
Crushed row  1039600
Crushed row  1039800
Crushed row  1040000
Crushed row  1040200
Crushed row  1040400
Crushed row  1040600
Crushed row  1040800
Crushed row  1041000
Crushed row  1041200
Crushed row  1041400
Crushed row  1041600
Crushed row  1041800
Crushed row  1042000
Crushed row  1042200
Crushed row  1042400
Crushed row  1042600
Crushed row  1042800
Crushed row  1043000
Crushed row  1043200
Crushed row  1043400
Crushed row  1043600
Crushed row  1043800
Crushed row  1044000
Crushed row  1044200
Crushed row  1044400
Crushed row  1044600
Crushed row  1044800
Crushed row  1045000
Crushed row  1045200
Crushed row  1045400
Crushed row  1045600
Crushed row  1045800
Crushed row  1046000
Crushed row  1046200
Crushed row  1046400
Crushed row  1046600
Crushed row  1046800
Crushed row  1047000
Crushed row  1047200
Crushed row  1047400
Crushed row  1047600
Crushed row  1047800
Crushed row  1048000
Crushed row  1048200
Crushed row  1048400
Crushed row  1048600
Crushed row  1048800
Crushed row  1049000
Crushed row  1049200
Crushed row  1049400
Crushed row  1049600
Crushed row  1049800
Crushed row  1050000
Crushed row  1050200
Crushed row  1050400
Crushed row  1050600
Crushed row  1050800
Crushed row  1051000
Crushed row  1051200
Crushed row  1051400
Crushed row  1051600
Crushed row  1051800
Crushed row  1052000
Crushed row  1052200
Crushed row  1052400
Crushed row  1052600
Crushed row  1052800
Crushed row  1053000
Crushed row  1053200
Crushed row  1053400
Crushed row  1053600
Crushed row  1053800
Crushed row  1054000
Crushed row  1054200
Crushed row  1054400
Crushed row  1054600
Crushed row  1054800
Crushed row  1055000
Crushed row  1055200
Crushed row  1055400
Crushed row  1055600
Crushed row  1055800
Crushed row  1056000
Crushed row  1056200
Crushed row  1056400
Crushed row  1056600
Crushed row  1056800
Crushed row  1057000
Crushed row  1057200
Crushed row  1057400
Crushed row  1057600
Crushed row  1057800
Crushed row  1058000
Crushed row  1058200
Crushed row  1058400
Crushed row  1058600
Crushed row  1058800
Crushed row  1059000
Crushed row  1059200
Crushed row  1059400
Crushed row  1059600
Crushed row  1059800
Crushed row  1060000
Crushed row  1060200
Crushed row  1060400
Crushed row  1060600
Crushed row  1060800
Crushed row  1061000
Crushed row  1061200
Crushed row  1061400
Crushed row  1061600
Crushed row  1061800
Crushed row  1062000
Crushed row  1062200
Crushed row  1062400
Crushed row  1062600
Crushed row  1062800
Crushed row  1063000
Crushed row  1063200
Crushed row  1063400
Crushed row  1063600
Crushed row  1063800
Crushed row  1064000
Crushed row  1064200
Crushed row  1064400
Crushed row  1064600
Crushed row  1064800
Crushed row  1065000
Crushed row  1065200
Crushed row  1065400
Crushed row  1065600
Crushed row  1065800
Crushed row  1066000
Crushed row  1066200
Crushed row  1066400
Crushed row  1066600
Crushed row  1066800
Crushed row  1067000
Crushed row  1067200
Crushed row  1067400
Crushed row  1067600
Crushed row  1067800
Crushed row  1068000
Crushed row  1068200
Crushed row  1068400
Crushed row  1068600
Crushed row  1068800

Crushed row  1069000
Crushed row  1069200
Crushed row  1069400
Crushed row  1069600
Crushed row  1069800
Crushed row  1070000
Crushed row  1070200
Crushed row  1070400
Crushed row  1070600
Crushed row  1070800
Crushed row  1071000
Crushed row  1071200
Crushed row  1071400
Crushed row  1071600
Crushed row  1071800
Crushed row  1072000
Crushed row  1072200
Crushed row  1072400
Crushed row  1072600
Crushed row  1072800
Crushed row  1073000
Crushed row  1073200
Crushed row  1073400
Crushed row  1073600
Crushed row  1073800
Crushed row  1074000
Crushed row  1074200
Crushed row  1074400
Crushed row  1074600
Crushed row  1074800
Crushed row  1075000
Crushed row  1075200
Crushed row  1075400
Crushed row  1075600
Crushed row  1075800
Crushed row  1076000
Crushed row  1076200
Crushed row  1076400
Crushed row  1076600
Crushed row  1076800
Crushed row  1077000
Crushed row  1077200
Crushed row  1077400
Crushed row  1077600
Crushed row  1077800
Crushed row  1078000
Crushed row  1078200
Crushed row  1078400
Crushed row  1078600
Crushed row  1078800
Crushed row  1079000
Crushed row  1079200
Crushed row  1079400
Crushed row  1079600
Crushed row  1079800
Crushed row  1080000
Crushed row  1080200
Crushed row  1080400
Crushed row  1080600
Crushed row  1080800
Crushed row  1081000
Crushed row  1081200
Crushed row  1081400
Crushed row  1081600
Crushed row  1081800
Crushed row  1082000
Crushed row  1082200
Crushed row  1082400
Crushed row  1082600
Crushed row  1082800
Crushed row  1083000
Crushed row  1083200
Crushed row  1083400
Crushed row  1083600
Crushed row  1083800
Crushed row  1084000
Crushed row  1084200
Crushed row  1084400
Crushed row  1084600
Crushed row  1084800
Crushed row  1085000
Crushed row  1085200
Crushed row  1085400
Crushed row  1085600
Crushed row  1085800
Crushed row  1086000
Crushed row  1086200
Crushed row  1086400
Crushed row  1086600
Crushed row  1086800
Crushed row  1087000
Crushed row  1087200
Crushed row  1087400
Crushed row  1087600
Crushed row  1087800
Crushed row  1088000
Crushed row  1088200
Crushed row  1088400
Crushed row  1088600
Crushed row  1088800
Crushed row  1089000
Crushed row  1089200
Crushed row  1089400
Crushed row  1089600
Crushed row  1089800
Crushed row  1090000
Crushed row  1090200
Crushed row  1090400
Crushed row  1090600
Crushed row  1090800
Crushed row  1091000
Crushed row  1091200
Crushed row  1091400
Crushed row  1091600
Crushed row  1091800
Crushed row  1092000
Crushed row  1092200
Crushed row  1092400
Crushed row  1092600
Crushed row  1092800
Crushed row  1093000
Crushed row  1093200
Crushed row  1093400
Crushed row  1093600
Crushed row  1093800
Crushed row  1094000
Crushed row  1094200
Crushed row  1094400
Crushed row  1094600
Crushed row  1094800
Crushed row  1095000
Crushed row  1095200
Crushed row  1095400
Crushed row  1095600
Crushed row  1095800
Crushed row  1096000
Crushed row  1096200
Crushed row  1096400
Crushed row  1096600
Crushed row  1096800
Crushed row  1097000
Crushed row  1097200
Crushed row  1097400
Crushed row  1097600
Crushed row  1097800
Crushed row  1098000
Crushed row  1098200
Crushed row  1098400
Crushed row  1098600
Crushed row  1098800
Crushed row  1099000
Crushed row  1099200
Crushed row  1099400
Crushed row  1099600
Crushed row  1099800
Crushed row  1100000
Crushed row  1100200
Crushed row  1100400
Crushed row  1100600
Crushed row  1100800
Crushed row  1101000
Crushed row  1101200
Crushed row  1101400
Crushed row  1101600
Crushed row  1101800
Crushed row  1102000
Crushed row  1102200
Crushed row  1102400
Crushed row  1102600
Crushed row  1102800
Crushed row  1103000
Crushed row  1103200
Crushed row  1103400
Crushed row  1103600
Crushed row  1103800
Crushed row  1104000
Crushed row  1104200
Crushed row  1104400
Crushed row  1104600
Crushed row  1104800
Crushed row  1105000
Crushed row  1105200
Crushed row  1105400
Crushed row  1105600
Crushed row  1105800
Crushed row  1106000
Crushed row  1106200
Crushed row  1106400
Crushed row  1106600
Crushed row  1106800
Crushed row  1107000
Crushed row  1107200
Crushed row  1107400
Crushed row  1107600
Crushed row  1107800
Crushed row  1108000
Crushed row  1108200
Crushed row  1108400
Crushed row  1108600
Crushed row  1108800
Crushed row  1109000
Crushed row  1109200
Crushed row  1109400
Crushed row  1109600
Crushed row  1109800
Crushed row  1110000
Crushed row  1110200
Crushed row  1110400
Crushed row  1110600
Crushed row  1110800
Crushed row  1111000
Crushed row  1111200
Crushed row  1111400
Crushed row  1111600
Crushed row  1111800
Crushed row  1112000
Crushed row  1112200
Crushed row  1112400
Crushed row  1112600
Crushed row  1112800
Crushed row  1113000
Crushed row  1113200
Crushed row  1113400
Crushed row  1113600
Crushed row  1113800
Crushed row  1114000
Crushed row  1114200
Crushed row  1114400
Crushed row  1114600
Crushed row  1114800
Crushed row  1115000
Crushed row  1115200
Crushed row  1115400
Crushed row  1115600
Crushed row  1115800
Crushed row  1116000
Crushed row  1116200
Crushed row  1116400
Crushed row  1116600
Crushed row  1116800
Crushed row  1117000
Crushed row  1117200
Crushed row  1117400
Crushed row  1117600
Crushed row  1117800
Crushed row  1118000
Crushed row  1118200
Crushed row  1118400
Crushed row  1118600
Crushed row  1118800
Crushed row  1119000
Crushed row  1119200
Crushed row  1119400
Crushed row  1119600
Crushed row  1119800
Crushed row  1120000
Crushed row  1120200
Crushed row  1120400
Crushed row  1120600
Crushed row  1120800
Crushed row  1121000
Crushed row  1121200
Crushed row  1121400
Crushed row  1121600
Crushed row  1121800
Crushed row  1122000
Crushed row  1122200
Crushed row  1122400
Crushed row  1122600
Crushed row  1122800
Crushed row  1123000
Crushed row  1123200
Crushed row  1123400
Crushed row  1123600
Crushed row  1123800
Crushed row  1124000
Crushed row  1124200
Crushed row  1124400
Crushed row  1124600
Crushed row  1124800
Crushed row  1125000
Crushed row  1125200
Crushed row  1125400
Crushed row  1125600
Crushed row  1125800
Crushed row  1126000
Crushed row  1126200
Crushed row  1126400
Crushed row  1126600
Crushed row  1126800
Crushed row  1127000
Crushed row  1127200
Crushed row  1127400
Crushed row  1127600
Crushed row  1127800
Crushed row  1128000
Crushed row  1128200
Crushed row  1128400
Crushed row  1128600
Crushed row  1128800
Crushed row  1129000
Crushed row  1129200
Crushed row  1129400
Crushed row  1129600
Crushed row  1129800
Crushed row  1130000
Crushed row  1130200
Crushed row  1130400
Crushed row  1130600
Crushed row  1130800
Crushed row  1131000
Crushed row  1131200
Crushed row  1131400
Crushed row  1131600
Crushed row  1131800
Crushed row  1132000
Crushed row  1132200
Crushed row  1132400
Crushed row  1132600
Crushed row  1132800
Crushed row  1133000
Crushed row  1133200
Crushed row  1133400
Crushed row  1133600
Crushed row  1133800
Crushed row  1134000
Crushed row  1134200
Crushed row  1134400
Crushed row  1134600
Crushed row  1134800
Crushed row  1135000
Crushed row  1135200
Crushed row  1135400
Crushed row  1135600
Crushed row  1135800
Crushed row  1136000
Crushed row  1136200
Crushed row  1136400
Crushed row  1136600
Crushed row  1136800
Crushed row  1137000
Crushed row  1137200
Crushed row  1137400
Crushed row  1137600
Crushed row  1137800
Crushed row  1138000
Crushed row  1138200
Crushed row  1138400
Crushed row  1138600
Crushed row  1138800
Crushed row  1139000
Crushed row  1139200
Crushed row  1139400
Crushed row  1139600
Crushed row  1139800
Crushed row  1140000
Crushed row  1140200
Crushed row  1140400
Crushed row  1140600
Crushed row  1140800
Crushed row  1141000
Crushed row  1141200
Crushed row  1141400
Crushed row  1141600
Crushed row  1141800
Crushed row  1142000
Crushed row  1142200
Crushed row  1142400
Crushed row  1142600
Crushed row  1142800
Crushed row  1143000
Crushed row  1143200
Crushed row  1143400
Crushed row  1143600
Crushed row  1143800
Crushed row  1144000
Crushed row  1144200
Crushed row  1144400
Crushed row  1144600
Crushed row  1144800
Crushed row  1145000
Crushed row  1145200
Crushed row  1145400
Crushed row  1145600
Crushed row  1145800
Crushed row  1146000
Crushed row  1146200
Crushed row  1146400
Crushed row  1146600
Crushed row  1146800
Crushed row  1147000
Crushed row  1147200

Crushed row  1147400
Crushed row  1147600
Crushed row  1147800
Crushed row  1148000
Crushed row  1148200
Crushed row  1148400
Crushed row  1148600
Crushed row  1148800
Crushed row  1149000
Crushed row  1149200
Crushed row  1149400
Crushed row  1149600
Crushed row  1149800
Crushed row  1150000
Crushed row  1150200
Crushed row  1150400
Crushed row  1150600
Crushed row  1150800
Crushed row  1151000
Crushed row  1151200
Crushed row  1151400
Crushed row  1151600
Crushed row  1151800
Crushed row  1152000
Crushed row  1152200
Crushed row  1152400
Crushed row  1152600
Crushed row  1152800
Crushed row  1153000
Crushed row  1153200
Crushed row  1153400
Crushed row  1153600
Crushed row  1153800
Crushed row  1154000
Crushed row  1154200
Crushed row  1154400
Crushed row  1154600
Crushed row  1154800
Crushed row  1155000
Crushed row  1155200
Crushed row  1155400
Crushed row  1155600
Crushed row  1155800
Crushed row  1156000
Crushed row  1156200
Crushed row  1156400
Crushed row  1156600
Crushed row  1156800
Crushed row  1157000
Crushed row  1157200
Crushed row  1157400
Crushed row  1157600
Crushed row  1157800
Crushed row  1158000
Crushed row  1158200
Crushed row  1158400
Crushed row  1158600
Crushed row  1158800
Crushed row  1159000
Crushed row  1159200
Crushed row  1159400
Crushed row  1159600
Crushed row  1159800
Crushed row  1160000
Crushed row  1160200
Crushed row  1160400
Crushed row  1160600
Crushed row  1160800
Crushed row  1161000
Crushed row  1161200
Crushed row  1161400
Crushed row  1161600
Crushed row  1161800
Crushed row  1162000
Crushed row  1162200
Crushed row  1162400
Crushed row  1162600
Crushed row  1162800
Crushed row  1163000
Crushed row  1163200
Crushed row  1163400
Crushed row  1163600
Crushed row  1163800
Crushed row  1164000
Crushed row  1164200
Crushed row  1164400
Crushed row  1164600
Crushed row  1164800
Crushed row  1165000
Crushed row  1165200
Crushed row  1165400
Crushed row  1165600
Crushed row  1165800
Crushed row  1166000
Crushed row  1166200
Crushed row  1166400
Crushed row  1166600
Crushed row  1166800
Crushed row  1167000
Crushed row  1167200
Crushed row  1167400
Crushed row  1167600
Crushed row  1167800
Crushed row  1168000
Crushed row  1168200
Crushed row  1168400
Crushed row  1168600
Crushed row  1168800
Crushed row  1169000
Crushed row  1169200
Crushed row  1169400
Crushed row  1169600
Crushed row  1169800
Crushed row  1170000
Crushed row  1170200
Crushed row  1170400
Crushed row  1170600
Crushed row  1170800
Crushed row  1171000
Crushed row  1171200
Crushed row  1171400
Crushed row  1171600
Crushed row  1171800
Crushed row  1172000
Crushed row  1172200
Crushed row  1172400
Crushed row  1172600
Crushed row  1172800
Crushed row  1173000
Crushed row  1173200
Crushed row  1173400
Crushed row  1173600
Crushed row  1173800
Crushed row  1174000
Crushed row  1174200
Crushed row  1174400
Crushed row  1174600
Crushed row  1174800
Crushed row  1175000
Crushed row  1175200
Crushed row  1175400
Crushed row  1175600
Crushed row  1175800
Crushed row  1176000
Crushed row  1176200
Crushed row  1176400
Crushed row  1176600
Crushed row  1176800
Crushed row  1177000
Crushed row  1177200
Crushed row  1177400
Crushed row  1177600
Crushed row  1177800
Crushed row  1178000
Crushed row  1178200
Crushed row  1178400
Crushed row  1178600
Crushed row  1178800
Crushed row  1179000
Crushed row  1179200
Crushed row  1179400
Crushed row  1179600
Crushed row  1179800
Crushed row  1180000
Crushed row  1180200
Crushed row  1180400
Crushed row  1180600
Crushed row  1180800
Crushed row  1181000
Crushed row  1181200
Crushed row  1181400
Crushed row  1181600
Crushed row  1181800
Crushed row  1182000
Crushed row  1182200
Crushed row  1182400
Crushed row  1182600
Crushed row  1182800
Crushed row  1183000
Crushed row  1183200
Crushed row  1183400
Crushed row  1183600
Crushed row  1183800
Crushed row  1184000
Crushed row  1184200
Crushed row  1184400
Crushed row  1184600
Crushed row  1184800
Crushed row  1185000
Crushed row  1185200
Crushed row  1185400
Crushed row  1185600
Crushed row  1185800
Crushed row  1186000
Crushed row  1186200
Crushed row  1186400
Crushed row  1186600
Crushed row  1186800
Crushed row  1187000
Crushed row  1187200
Crushed row  1187400
Crushed row  1187600
Crushed row  1187800
Crushed row  1188000
Crushed row  1188200
Crushed row  1188400
Crushed row  1188600
Crushed row  1188800
Crushed row  1189000
Crushed row  1189200
Crushed row  1189400
Crushed row  1189600
Crushed row  1189800
Crushed row  1190000
Crushed row  1190200
Crushed row  1190400
Crushed row  1190600
Crushed row  1190800
Crushed row  1191000
Crushed row  1191200
Crushed row  1191400
Crushed row  1191600
Crushed row  1191800
Crushed row  1192000
Crushed row  1192200
Crushed row  1192400
Crushed row  1192600
Crushed row  1192800
Crushed row  1193000
Crushed row  1193200
Crushed row  1193400
Crushed row  1193600
Crushed row  1193800
Crushed row  1194000
Crushed row  1194200
Crushed row  1194400
Crushed row  1194600
Crushed row  1194800
Crushed row  1195000
Crushed row  1195200
Crushed row  1195400
Crushed row  1195600
Crushed row  1195800
Crushed row  1196000
Crushed row  1196200
Crushed row  1196400
Crushed row  1196600
Crushed row  1196800
Crushed row  1197000
Crushed row  1197200
Crushed row  1197400
Crushed row  1197600
Crushed row  1197800
Crushed row  1198000
Crushed row  1198200
Crushed row  1198400
Crushed row  1198600
Crushed row  1198800
Crushed row  1199000
Crushed row  1199200
Crushed row  1199400
Crushed row  1199600
Crushed row  1199800
Crushed row  1200000
Crushed row  1200200
Crushed row  1200400
Crushed row  1200600
Crushed row  1200800
Crushed row  1201000
Crushed row  1201200
Crushed row  1201400
Crushed row  1201600
Crushed row  1201800
Crushed row  1202000
Crushed row  1202200
Crushed row  1202400
Crushed row  1202600
Crushed row  1202800
Crushed row  1203000
Crushed row  1203200
Crushed row  1203400
Crushed row  1203600
Crushed row  1203800
Crushed row  1204000
Crushed row  1204200
Crushed row  1204400
Crushed row  1204600
Crushed row  1204800
Crushed row  1205000
Crushed row  1205200
Crushed row  1205400
Crushed row  1205600
Crushed row  1205800
Crushed row  1206000
Crushed row  1206200
Crushed row  1206400
Crushed row  1206600
Crushed row  1206800
Crushed row  1207000
Crushed row  1207200
Crushed row  1207400
Crushed row  1207600
Crushed row  1207800
Crushed row  1208000
Crushed row  1208200
Crushed row  1208400
Crushed row  1208600
Crushed row  1208800
Crushed row  1209000
Crushed row  1209200
Crushed row  1209400
Crushed row  1209600
Crushed row  1209800
Crushed row  1210000
Crushed row  1210200
Crushed row  1210400
Crushed row  1210600
Crushed row  1210800
Crushed row  1211000
Crushed row  1211200
Crushed row  1211400
Crushed row  1211600
Crushed row  1211800
Crushed row  1212000
Crushed row  1212200
Crushed row  1212400
Crushed row  1212600
Crushed row  1212800
Crushed row  1213000
Crushed row  1213200
Crushed row  1213400
Crushed row  1213600
Crushed row  1213800
Crushed row  1214000
Crushed row  1214200
Crushed row  1214400
Crushed row  1214600
Crushed row  1214800
Crushed row  1215000
Crushed row  1215200
Crushed row  1215400
Crushed row  1215600
Crushed row  1215800
Crushed row  1216000
Crushed row  1216200
Crushed row  1216400
Crushed row  1216600
Crushed row  1216800
Crushed row  1217000
Crushed row  1217200
Crushed row  1217400
Crushed row  1217600
Crushed row  1217800
Crushed row  1218000
Crushed row  1218200
Crushed row  1218400
Crushed row  1218600
Crushed row  1218800
Crushed row  1219000
Crushed row  1219200
Crushed row  1219400
Crushed row  1219600
Crushed row  1219800
Crushed row  1220000
Crushed row  1220200
Crushed row  1220400
Crushed row  1220600
Crushed row  1220800
Crushed row  1221000
Crushed row  1221200
Crushed row  1221400
Crushed row  1221600
Crushed row  1221800
Crushed row  1222000
Crushed row  1222200
Crushed row  1222400
Crushed row  1222600
Crushed row  1222800
Crushed row  1223000
Crushed row  1223200
Crushed row  1223400
Crushed row  1223600
Crushed row  1223800
Crushed row  1224000
Crushed row  1224200
Crushed row  1224400
Crushed row  1224600
Crushed row  1224800
Crushed row  1225000
Crushed row  1225200
Crushed row  1225400

Crushed row  1225600
Crushed row  1225800
Crushed row  1226000
Crushed row  1226200
Crushed row  1226400
Crushed row  1226600
Crushed row  1226800
Crushed row  1227000
Crushed row  1227200
Crushed row  1227400
Crushed row  1227600
Crushed row  1227800
Crushed row  1228000
Crushed row  1228200
Crushed row  1228400
Crushed row  1228600
Crushed row  1228800
Crushed row  1229000
Crushed row  1229200
Crushed row  1229400
Crushed row  1229600
Crushed row  1229800
Crushed row  1230000
Crushed row  1230200
Crushed row  1230400
Crushed row  1230600
Crushed row  1230800
Crushed row  1231000
Crushed row  1231200
Crushed row  1231400
Crushed row  1231600
Crushed row  1231800
Crushed row  1232000
Crushed row  1232200
Crushed row  1232400
Crushed row  1232600
Crushed row  1232800
Crushed row  1233000
Crushed row  1233200
Crushed row  1233400
Crushed row  1233600
Crushed row  1233800
Crushed row  1234000
Crushed row  1234200
Crushed row  1234400
Crushed row  1234600
Crushed row  1234800
Crushed row  1235000
Crushed row  1235200
Crushed row  1235400
Crushed row  1235600
Crushed row  1235800
Crushed row  1236000
Crushed row  1236200
Crushed row  1236400
Crushed row  1236600
Crushed row  1236800
Crushed row  1237000
Crushed row  1237200
Crushed row  1237400
Crushed row  1237600
Crushed row  1237800
Crushed row  1238000
Crushed row  1238200
Crushed row  1238400
Crushed row  1238600
Crushed row  1238800
Crushed row  1239000
Crushed row  1239200
Crushed row  1239400
Crushed row  1239600
Crushed row  1239800
Crushed row  1240000
Crushed row  1240200
Crushed row  1240400
Crushed row  1240600
Crushed row  1240800
Crushed row  1241000
Crushed row  1241200
Crushed row  1241400
Crushed row  1241600
Crushed row  1241800
Crushed row  1242000
Crushed row  1242200
Crushed row  1242400
Crushed row  1242600
Crushed row  1242800
Crushed row  1243000
Crushed row  1243200
Crushed row  1243400
Crushed row  1243600
Crushed row  1243800
Crushed row  1244000
Crushed row  1244200
Crushed row  1244400
Crushed row  1244600
Crushed row  1244800
Crushed row  1245000
Crushed row  1245200
Crushed row  1245400
Crushed row  1245600
Crushed row  1245800
Crushed row  1246000
Crushed row  1246200
Crushed row  1246400
Crushed row  1246600
Crushed row  1246800
Crushed row  1247000
Crushed row  1247200
Crushed row  1247400
Crushed row  1247600
Crushed row  1247800
Crushed row  1248000
Crushed row  1248200
Crushed row  1248400
Crushed row  1248600
Crushed row  1248800
Crushed row  1249000
Crushed row  1249200
Crushed row  1249400
Crushed row  1249600
Crushed row  1249800
Crushed row  1250000
Crushed row  1250200
Crushed row  1250400
Crushed row  1250600
Crushed row  1250800
Crushed row  1251000
Crushed row  1251200
Crushed row  1251400
Crushed row  1251600
Crushed row  1251800
Crushed row  1252000
Crushed row  1252200
Crushed row  1252400
Crushed row  1252600
Crushed row  1252800
Crushed row  1253000
Crushed row  1253200
Crushed row  1253400
Crushed row  1253600
Crushed row  1253800
Crushed row  1254000
Crushed row  1254200
Crushed row  1254400
Crushed row  1254600
Crushed row  1254800
Crushed row  1255000
Crushed row  1255200
Crushed row  1255400
Crushed row  1255600
Crushed row  1255800
Crushed row  1256000
Crushed row  1256200
Crushed row  1256400
Crushed row  1256600
Crushed row  1256800
Crushed row  1257000
Crushed row  1257200
Crushed row  1257400
Crushed row  1257600
Crushed row  1257800
Crushed row  1258000
Crushed row  1258200
Crushed row  1258400
Crushed row  1258600
Crushed row  1258800
Crushed row  1259000
Crushed row  1259200
Crushed row  1259400
Crushed row  1259600
Crushed row  1259800
Crushed row  1260000
Crushed row  1260200
Crushed row  1260400
Crushed row  1260600
Crushed row  1260800
Crushed row  1261000
Crushed row  1261200
Crushed row  1261400
Crushed row  1261600
Crushed row  1261800
Crushed row  1262000
Crushed row  1262200
Crushed row  1262400
Crushed row  1262600
Crushed row  1262800
Crushed row  1263000
Crushed row  1263200
Crushed row  1263400
Crushed row  1263600
Crushed row  1263800
Crushed row  1264000
Crushed row  1264200
Crushed row  1264400
Crushed row  1264600
Crushed row  1264800
Crushed row  1265000
Crushed row  1265200
Crushed row  1265400
Crushed row  1265600
Crushed row  1265800
Crushed row  1266000
Crushed row  1266200
Crushed row  1266400
Crushed row  1266600
Crushed row  1266800
Crushed row  1267000
Crushed row  1267200
Crushed row  1267400
Crushed row  1267600
Crushed row  1267800
Crushed row  1268000
Crushed row  1268200
Crushed row  1268400
Crushed row  1268600
Crushed row  1268800
Crushed row  1269000
Crushed row  1269200
Crushed row  1269400
Crushed row  1269600
Crushed row  1269800
Crushed row  1270000
Crushed row  1270200
Crushed row  1270400
Crushed row  1270600
Crushed row  1270800
Crushed row  1271000
Crushed row  1271200
Crushed row  1271400
Crushed row  1271600
Crushed row  1271800
Crushed row  1272000
Crushed row  1272200
Crushed row  1272400
Crushed row  1272600
Crushed row  1272800
Crushed row  1273000
Crushed row  1273200
Crushed row  1273400
Crushed row  1273600
Crushed row  1273800
Crushed row  1274000
Crushed row  1274200
Crushed row  1274400
Crushed row  1274600
Crushed row  1274800
Crushed row  1275000
Crushed row  1275200
Crushed row  1275400
Crushed row  1275600
Crushed row  1275800
Crushed row  1276000
Crushed row  1276200
Crushed row  1276400
Crushed row  1276600
Crushed row  1276800
Crushed row  1277000
Crushed row  1277200
Crushed row  1277400
Crushed row  1277600
Crushed row  1277800
Crushed row  1278000
Crushed row  1278200
Crushed row  1278400
Crushed row  1278600
Crushed row  1278800
Crushed row  1279000
Crushed row  1279200
Crushed row  1279400
Crushed row  1279600
Crushed row  1279800
Crushed row  1280000
Crushed row  1280200
Crushed row  1280400
Crushed row  1280600
Crushed row  1280800
Crushed row  1281000
Crushed row  1281200
Crushed row  1281400
Crushed row  1281600
Crushed row  1281800
Crushed row  1282000
Crushed row  1282200
Crushed row  1282400
Crushed row  1282600
Crushed row  1282800
Crushed row  1283000
Crushed row  1283200
Crushed row  1283400
Crushed row  1283600
Crushed row  1283800
Crushed row  1284000
Crushed row  1284200
Crushed row  1284400
Crushed row  1284600
Crushed row  1284800
Crushed row  1285000
Crushed row  1285200
Crushed row  1285400
Crushed row  1285600
Crushed row  1285800
Crushed row  1286000
Crushed row  1286200
Crushed row  1286400
Crushed row  1286600
Crushed row  1286800
Crushed row  1287000
Crushed row  1287200
Crushed row  1287400
Crushed row  1287600
Crushed row  1287800
Crushed row  1288000
Crushed row  1288200
Crushed row  1288400
Crushed row  1288600
Crushed row  1288800
Crushed row  1289000
Crushed row  1289200
Crushed row  1289400
Crushed row  1289600
Crushed row  1289800
Crushed row  1290000
Crushed row  1290200
Crushed row  1290400
Crushed row  1290600
Crushed row  1290800
Crushed row  1291000
Crushed row  1291200
Crushed row  1291400
Crushed row  1291600
Crushed row  1291800
Crushed row  1292000
Crushed row  1292200
Crushed row  1292400
Crushed row  1292600
Crushed row  1292800
Crushed row  1293000
Crushed row  1293200
Crushed row  1293400
Crushed row  1293600
Crushed row  1293800
Crushed row  1294000
Crushed row  1294200
Crushed row  1294400
Crushed row  1294600
Crushed row  1294800
Crushed row  1295000
Crushed row  1295200
Crushed row  1295400
Crushed row  1295600
Crushed row  1295800
Crushed row  1296000
Crushed row  1296200
Crushed row  1296400
Crushed row  1296600
Crushed row  1296800
Crushed row  1297000
Crushed row  1297200
Crushed row  1297400
Crushed row  1297600
Crushed row  1297800
Crushed row  1298000
Crushed row  1298200
Crushed row  1298400
Crushed row  1298600
Crushed row  1298800
Crushed row  1299000
Crushed row  1299200
Crushed row  1299400
Crushed row  1299600
Crushed row  1299800
Crushed row  1300000
Crushed row  1300200
Crushed row  1300400
Crushed row  1300600
Crushed row  1300800
Crushed row  1301000
Crushed row  1301200
Crushed row  1301400
Crushed row  1301600
Crushed row  1301800
Crushed row  1302000
Crushed row  1302200
Crushed row  1302400
Crushed row  1302600
Crushed row  1302800
Crushed row  1303000
Crushed row  1303200
Crushed row  1303400
Crushed row  1303600

Crushed row  1303800
Crushed row  1304000
Crushed row  1304200
Crushed row  1304400
Crushed row  1304600
Crushed row  1304800
Crushed row  1305000
Crushed row  1305200
Crushed row  1305400
Crushed row  1305600
Crushed row  1305800
Crushed row  1306000
Crushed row  1306200
Crushed row  1306400
Crushed row  1306600
Crushed row  1306800
Crushed row  1307000
Crushed row  1307200
Crushed row  1307400
Crushed row  1307600
Crushed row  1307800
Crushed row  1308000
Crushed row  1308200
Crushed row  1308400
Crushed row  1308600
Crushed row  1308800
Crushed row  1309000
Crushed row  1309200
Crushed row  1309400
Crushed row  1309600
Crushed row  1309800
Crushed row  1310000
Crushed row  1310200
Crushed row  1310400
Crushed row  1310600
Crushed row  1310800
Crushed row  1311000
Crushed row  1311200
Crushed row  1311400
Crushed row  1311600
Crushed row  1311800
Crushed row  1312000
Crushed row  1312200
Crushed row  1312400
Crushed row  1312600
Crushed row  1312800
Crushed row  1313000
Crushed row  1313200
Crushed row  1313400
Crushed row  1313600
Crushed row  1313800
Crushed row  1314000
Crushed row  1314200
Crushed row  1314400
Crushed row  1314600
Crushed row  1314800
Crushed row  1315000
Crushed row  1315200
Crushed row  1315400
Crushed row  1315600
Crushed row  1315800
Crushed row  1316000
Crushed row  1316200
Crushed row  1316400
Crushed row  1316600
Crushed row  1316800
Crushed row  1317000
Crushed row  1317200
Crushed row  1317400
Crushed row  1317600
Crushed row  1317800
Crushed row  1318000
Crushed row  1318200
Crushed row  1318400
Crushed row  1318600
Crushed row  1318800
Crushed row  1319000
Crushed row  1319200
Crushed row  1319400
Crushed row  1319600
Crushed row  1319800
Crushed row  1320000
Crushed row  1320200
Crushed row  1320400
Crushed row  1320600
Crushed row  1320800
Crushed row  1321000
Crushed row  1321200
Crushed row  1321400
Crushed row  1321600
Crushed row  1321800
Crushed row  1322000
Crushed row  1322200
Crushed row  1322400
Crushed row  1322600
Crushed row  1322800
Crushed row  1323000
Crushed row  1323200
Crushed row  1323400
Crushed row  1323600
Crushed row  1323800
Crushed row  1324000
Crushed row  1324200
Crushed row  1324400
Crushed row  1324600
Crushed row  1324800
Crushed row  1325000
Crushed row  1325200
Crushed row  1325400
Crushed row  1325600
Crushed row  1325800
Crushed row  1326000
Crushed row  1326200
Crushed row  1326400
Crushed row  1326600
Crushed row  1326800
Crushed row  1327000
Crushed row  1327200
Crushed row  1327400
Crushed row  1327600
Crushed row  1327800
Crushed row  1328000
Crushed row  1328200
Crushed row  1328400
Crushed row  1328600
Crushed row  1328800
Crushed row  1329000
Crushed row  1329200
Crushed row  1329400
Crushed row  1329600
Crushed row  1329800
Crushed row  1330000
Crushed row  1330200
Crushed row  1330400
Crushed row  1330600
Crushed row  1330800
Crushed row  1331000
Crushed row  1331200
Crushed row  1331400
Crushed row  1331600
Crushed row  1331800
Crushed row  1332000
Crushed row  1332200
Crushed row  1332400
Crushed row  1332600
Crushed row  1332800
Crushed row  1333000
Crushed row  1333200
Crushed row  1333400
Crushed row  1333600
Crushed row  1333800
Crushed row  1334000
Crushed row  1334200
Crushed row  1334400
Crushed row  1334600
Crushed row  1334800
Crushed row  1335000
Crushed row  1335200
Crushed row  1335400
Crushed row  1335600
Crushed row  1335800
Crushed row  1336000
Crushed row  1336200
Crushed row  1336400
Crushed row  1336600
Crushed row  1336800
Crushed row  1337000
Crushed row  1337200
Crushed row  1337400
Crushed row  1337600
Crushed row  1337800
Crushed row  1338000
Crushed row  1338200
Crushed row  1338400
Crushed row  1338600
Crushed row  1338800
Crushed row  1339000
Crushed row  1339200
Crushed row  1339400
Crushed row  1339600
Crushed row  1339800
Crushed row  1340000
Crushed row  1340200
Crushed row  1340400
Crushed row  1340600
Crushed row  1340800
Crushed row  1341000
Crushed row  1341200
Crushed row  1341400
Crushed row  1341600
Crushed row  1341800
Crushed row  1342000
Crushed row  1342200
Crushed row  1342400
Crushed row  1342600
Crushed row  1342800
Crushed row  1343000
Crushed row  1343200
Crushed row  1343400
Crushed row  1343600
Crushed row  1343800
Crushed row  1344000
Crushed row  1344200
Crushed row  1344400
Crushed row  1344600
Crushed row  1344800
Crushed row  1345000
Crushed row  1345200
Crushed row  1345400
Crushed row  1345600
Crushed row  1345800
Crushed row  1346000
Crushed row  1346200
Crushed row  1346400
Crushed row  1346600
Crushed row  1346800
Crushed row  1347000
Crushed row  1347200
Crushed row  1347400
Crushed row  1347600
Crushed row  1347800
Crushed row  1348000
Crushed row  1348200
Crushed row  1348400
Crushed row  1348600
Crushed row  1348800
Crushed row  1349000
Crushed row  1349200
Crushed row  1349400
Crushed row  1349600
Crushed row  1349800
Crushed row  1350000
Crushed row  1350200
Crushed row  1350400
Crushed row  1350600
Crushed row  1350800
Crushed row  1351000
Crushed row  1351200
Crushed row  1351400
Crushed row  1351600
Crushed row  1351800
Crushed row  1352000
Crushed row  1352200
Crushed row  1352400
Crushed row  1352600
Crushed row  1352800
Crushed row  1353000
Crushed row  1353200
Crushed row  1353400
Crushed row  1353600
Crushed row  1353800
Crushed row  1354000
Crushed row  1354200
Crushed row  1354400
Crushed row  1354600
Crushed row  1354800
Crushed row  1355000
Crushed row  1355200
Crushed row  1355400
Crushed row  1355600
Crushed row  1355800
Crushed row  1356000
Crushed row  1356200
Crushed row  1356400
Crushed row  1356600
Crushed row  1356800
Crushed row  1357000
Crushed row  1357200
Crushed row  1357400
Crushed row  1357600
Crushed row  1357800
Crushed row  1358000
Crushed row  1358200
Crushed row  1358400
Crushed row  1358600
Crushed row  1358800
Crushed row  1359000
Crushed row  1359200
Crushed row  1359400
Crushed row  1359600
Crushed row  1359800
Crushed row  1360000
Crushed row  1360200
Crushed row  1360400
Crushed row  1360600
Crushed row  1360800
Crushed row  1361000
Crushed row  1361200
Crushed row  1361400
Crushed row  1361600
Crushed row  1361800
Crushed row  1362000
Crushed row  1362200
Crushed row  1362400
Crushed row  1362600
Crushed row  1362800
Crushed row  1363000
Crushed row  1363200
Crushed row  1363400
Crushed row  1363600
Crushed row  1363800
Crushed row  1364000
Crushed row  1364200
Crushed row  1364400
Crushed row  1364600
Crushed row  1364800
Crushed row  1365000
Crushed row  1365200
Crushed row  1365400
Crushed row  1365600
Crushed row  1365800
Crushed row  1366000
Crushed row  1366200
Crushed row  1366400
Crushed row  1366600
Crushed row  1366800
Crushed row  1367000
Crushed row  1367200
Crushed row  1367400
Crushed row  1367600
Crushed row  1367800
Crushed row  1368000
Crushed row  1368200
Crushed row  1368400
Crushed row  1368600
Crushed row  1368800
Crushed row  1369000
Crushed row  1369200
Crushed row  1369400
Crushed row  1369600
Crushed row  1369800
Crushed row  1370000
Crushed row  1370200
Crushed row  1370400
Crushed row  1370600
Crushed row  1370800
Crushed row  1371000
Crushed row  1371200
Crushed row  1371400
Crushed row  1371600
Crushed row  1371800
Crushed row  1372000
Crushed row  1372200
Crushed row  1372400
Crushed row  1372600
Crushed row  1372800
Crushed row  1373000
Crushed row  1373200
Crushed row  1373400
Crushed row  1373600
Crushed row  1373800
Crushed row  1374000
Crushed row  1374200
Crushed row  1374400
Crushed row  1374600
Crushed row  1374800
Crushed row  1375000
Crushed row  1375200
Crushed row  1375400
Crushed row  1375600
Crushed row  1375800
Crushed row  1376000
Crushed row  1376200
Crushed row  1376400
Crushed row  1376600
Crushed row  1376800
Crushed row  1377000
Crushed row  1377200
Crushed row  1377400
Crushed row  1377600
Crushed row  1377800
Crushed row  1378000
Crushed row  1378200
Crushed row  1378400
Crushed row  1378600
Crushed row  1378800
Crushed row  1379000
Crushed row  1379200
Crushed row  1379400
Crushed row  1379600
Crushed row  1379800
Crushed row  1380000
Crushed row  1380200
Crushed row  1380400
Crushed row  1380600
Crushed row  1380800
Crushed row  1381000
Crushed row  1381200
Crushed row  1381400
Crushed row  1381600
Crushed row  1381800
Crushed row  1382000

Crushed row  1382200
Crushed row  1382400
Crushed row  1382600
Crushed row  1382800
Crushed row  1383000
Crushed row  1383200
Crushed row  1383400
Crushed row  1383600
Crushed row  1383800
Crushed row  1384000
Crushed row  1384200
Crushed row  1384400
Crushed row  1384600
Crushed row  1384800
Crushed row  1385000
Crushed row  1385200
Crushed row  1385400
Crushed row  1385600
Crushed row  1385800
Crushed row  1386000
Crushed row  1386200
Crushed row  1386400
Crushed row  1386600
Crushed row  1386800
Crushed row  1387000
Crushed row  1387200
Crushed row  1387400
Crushed row  1387600
Crushed row  1387800
Crushed row  1388000
Crushed row  1388200
Crushed row  1388400
Crushed row  1388600
Crushed row  1388800
Crushed row  1389000
Crushed row  1389200
Crushed row  1389400
Crushed row  1389600
Crushed row  1389800
Crushed row  1390000
Crushed row  1390200
Crushed row  1390400
Crushed row  1390600
Crushed row  1390800
Crushed row  1391000
Crushed row  1391200
Crushed row  1391400
Crushed row  1391600
Crushed row  1391800
Crushed row  1392000
Crushed row  1392200
Crushed row  1392400
Crushed row  1392600
Crushed row  1392800
Crushed row  1393000
Crushed row  1393200
Crushed row  1393400
Crushed row  1393600
Crushed row  1393800
Crushed row  1394000
Crushed row  1394200
Crushed row  1394400
Crushed row  1394600
Crushed row  1394800
Crushed row  1395000
Crushed row  1395200
Crushed row  1395400
Crushed row  1395600
Crushed row  1395800
Crushed row  1396000
Crushed row  1396200
Crushed row  1396400
Crushed row  1396600
Crushed row  1396800
Crushed row  1397000
Crushed row  1397200
Crushed row  1397400
Crushed row  1397600
Crushed row  1397800
Crushed row  1398000
Crushed row  1398200
Crushed row  1398400
Crushed row  1398600
Crushed row  1398800
Crushed row  1399000
Crushed row  1399200
Crushed row  1399400
Crushed row  1399600
Crushed row  1399800
Crushed row  1400000
Crushed row  1400200
Crushed row  1400400
Crushed row  1400600
Crushed row  1400800
Crushed row  1401000
Crushed row  1401200
Crushed row  1401400
Crushed row  1401600
Crushed row  1401800
Crushed row  1402000
Crushed row  1402200
Crushed row  1402400
Crushed row  1402600
Crushed row  1402800
Crushed row  1403000
Crushed row  1403200
Crushed row  1403400
Crushed row  1403600
Crushed row  1403800
Crushed row  1404000
Crushed row  1404200
Crushed row  1404400
Crushed row  1404600
Crushed row  1404800
Crushed row  1405000
Crushed row  1405200
Crushed row  1405400
Crushed row  1405600
Crushed row  1405800
Crushed row  1406000
Crushed row  1406200
Crushed row  1406400
Crushed row  1406600
Crushed row  1406800
Crushed row  1407000
Crushed row  1407200
Crushed row  1407400
Crushed row  1407600
Crushed row  1407800
Crushed row  1408000
Crushed row  1408200
Crushed row  1408400
Crushed row  1408600
Crushed row  1408800
Crushed row  1409000
Crushed row  1409200
Crushed row  1409400
Crushed row  1409600
Crushed row  1409800
Crushed row  1410000
Crushed row  1410200
Crushed row  1410400
Crushed row  1410600
Crushed row  1410800
Crushed row  1411000
Crushed row  1411200
Crushed row  1411400
Crushed row  1411600
Crushed row  1411800
Crushed row  1412000
Crushed row  1412200
Crushed row  1412400
Crushed row  1412600
Crushed row  1412800
Crushed row  1413000
Crushed row  1413200
Crushed row  1413400
Crushed row  1413600
Crushed row  1413800
Crushed row  1414000
Crushed row  1414200
Crushed row  1414400
Crushed row  1414600
Crushed row  1414800
Crushed row  1415000
Crushed row  1415200
Crushed row  1415400
Crushed row  1415600
Crushed row  1415800
Crushed row  1416000
Crushed row  1416200
Crushed row  1416400
Crushed row  1416600
Crushed row  1416800
Crushed row  1417000
Crushed row  1417200
Crushed row  1417400
Crushed row  1417600
Crushed row  1417800
Crushed row  1418000
Crushed row  1418200
Crushed row  1418400
Crushed row  1418600
Crushed row  1418800
Crushed row  1419000
Crushed row  1419200
Crushed row  1419400
Crushed row  1419600
Crushed row  1419800
Crushed row  1420000
Crushed row  1420200
Crushed row  1420400
Crushed row  1420600
Crushed row  1420800
Crushed row  1421000
Crushed row  1421200
Crushed row  1421400
Crushed row  1421600
Crushed row  1421800
Crushed row  1422000
Crushed row  1422200
Crushed row  1422400
Crushed row  1422600
Crushed row  1422800
Crushed row  1423000
Crushed row  1423200
Crushed row  1423400
Crushed row  1423600
Crushed row  1423800
Crushed row  1424000
Crushed row  1424200
Crushed row  1424400
Crushed row  1424600
Crushed row  1424800
Crushed row  1425000
Crushed row  1425200
Crushed row  1425400
Crushed row  1425600
Crushed row  1425800
Crushed row  1426000
Crushed row  1426200
Crushed row  1426400
Crushed row  1426600
Crushed row  1426800
Crushed row  1427000
Crushed row  1427200
Crushed row  1427400
Crushed row  1427600
Crushed row  1427800
Crushed row  1428000
Crushed row  1428200
Crushed row  1428400
Crushed row  1428600
Crushed row  1428800
Crushed row  1429000
Crushed row  1429200
Crushed row  1429400
Crushed row  1429600
Crushed row  1429800
Crushed row  1430000
Crushed row  1430200
Crushed row  1430400
Crushed row  1430600
Crushed row  1430800
Crushed row  1431000
Crushed row  1431200
Crushed row  1431400
Crushed row  1431600
Crushed row  1431800
Crushed row  1432000
Crushed row  1432200
Crushed row  1432400
Crushed row  1432600
Crushed row  1432800
Crushed row  1433000
Crushed row  1433200
Crushed row  1433400
Crushed row  1433600
Crushed row  1433800
Crushed row  1434000
Crushed row  1434200
Crushed row  1434400
Crushed row  1434600
Crushed row  1434800
Crushed row  1435000
Crushed row  1435200
Crushed row  1435400
Crushed row  1435600
Crushed row  1435800
Crushed row  1436000
Crushed row  1436200
Crushed row  1436400
Crushed row  1436600
Crushed row  1436800
Crushed row  1437000
Crushed row  1437200
Crushed row  1437400
Crushed row  1437600
Crushed row  1437800
Crushed row  1438000
Crushed row  1438200
Crushed row  1438400
Crushed row  1438600
Crushed row  1438800
Crushed row  1439000
Crushed row  1439200
Crushed row  1439400
Crushed row  1439600
Crushed row  1439800
Crushed row  1440000
Crushed row  1440200
Crushed row  1440400
Crushed row  1440600
Crushed row  1440800
Crushed row  1441000
Crushed row  1441200
Crushed row  1441400
Crushed row  1441600
Crushed row  1441800
Crushed row  1442000
Crushed row  1442200
Crushed row  1442400
Crushed row  1442600
Crushed row  1442800
Crushed row  1443000
Crushed row  1443200
Crushed row  1443400
Crushed row  1443600
Crushed row  1443800
Crushed row  1444000
Crushed row  1444200
Crushed row  1444400
Crushed row  1444600
Crushed row  1444800
Crushed row  1445000
Crushed row  1445200
Crushed row  1445400
Crushed row  1445600
Crushed row  1445800
Crushed row  1446000
Crushed row  1446200
Crushed row  1446400
Crushed row  1446600
Crushed row  1446800
Crushed row  1447000
Crushed row  1447200
Crushed row  1447400
Crushed row  1447600
Crushed row  1447800
Crushed row  1448000
Crushed row  1448200
Crushed row  1448400
Crushed row  1448600
Crushed row  1448800
Crushed row  1449000
Crushed row  1449200
Crushed row  1449400
Crushed row  1449600
Crushed row  1449800
Crushed row  1450000
Crushed row  1450200
Crushed row  1450400
Crushed row  1450600
Crushed row  1450800
Crushed row  1451000
Crushed row  1451200
Crushed row  1451400
Crushed row  1451600
Crushed row  1451800
Crushed row  1452000
Crushed row  1452200
Crushed row  1452400
Crushed row  1452600
Crushed row  1452800
Crushed row  1453000
Crushed row  1453200
Crushed row  1453400
Crushed row  1453600
Crushed row  1453800
Crushed row  1454000
Crushed row  1454200
Crushed row  1454400
Crushed row  1454600
Crushed row  1454800
Crushed row  1455000
Crushed row  1455200
Crushed row  1455400
Crushed row  1455600
Crushed row  1455800
Crushed row  1456000
Crushed row  1456200
Crushed row  1456400
Crushed row  1456600
Crushed row  1456800
Crushed row  1457000
Crushed row  1457200
Crushed row  1457400
Crushed row  1457600
Crushed row  1457800
Crushed row  1458000
Crushed row  1458200
Crushed row  1458400
Crushed row  1458600
Crushed row  1458800
Crushed row  1459000
Crushed row  1459200
Crushed row  1459400
Crushed row  1459600
Crushed row  1459800
Crushed row  1460000
Crushed row  1460200

Crushed row  1460400
Crushed row  1460600
Crushed row  1460800
Crushed row  1461000
Crushed row  1461200
Crushed row  1461400
Crushed row  1461600
Crushed row  1461800
Crushed row  1462000
Crushed row  1462200
Crushed row  1462400
Crushed row  1462600
Crushed row  1462800
Crushed row  1463000
Crushed row  1463200
Crushed row  1463400
Crushed row  1463600
Crushed row  1463800
Crushed row  1464000
Crushed row  1464200
Crushed row  1464400
Crushed row  1464600
Crushed row  1464800
Crushed row  1465000
Crushed row  1465200
Crushed row  1465400
Crushed row  1465600
Crushed row  1465800
Crushed row  1466000
Crushed row  1466200
Crushed row  1466400
Crushed row  1466600
Crushed row  1466800
Crushed row  1467000
Crushed row  1467200
Crushed row  1467400
Crushed row  1467600
Crushed row  1467800
Crushed row  1468000
Crushed row  1468200
Crushed row  1468400
Crushed row  1468600
Crushed row  1468800
Crushed row  1469000
Crushed row  1469200
Crushed row  1469400
Crushed row  1469600
Crushed row  1469800
Crushed row  1470000
Crushed row  1470200
Crushed row  1470400
Crushed row  1470600
Crushed row  1470800
Crushed row  1471000
Crushed row  1471200
Crushed row  1471400
Crushed row  1471600
Crushed row  1471800
Crushed row  1472000
Crushed row  1472200
Crushed row  1472400
Crushed row  1472600
Crushed row  1472800
Crushed row  1473000
Crushed row  1473200
Crushed row  1473400
Crushed row  1473600
Crushed row  1473800
Crushed row  1474000
Crushed row  1474200
Crushed row  1474400
Crushed row  1474600
Crushed row  1474800
Crushed row  1475000
Crushed row  1475200
Crushed row  1475400
Crushed row  1475600
Crushed row  1475800
Crushed row  1476000
Crushed row  1476200
Crushed row  1476400
Crushed row  1476600
Crushed row  1476800
Crushed row  1477000
Crushed row  1477200
Crushed row  1477400
Crushed row  1477600
Crushed row  1477800
Crushed row  1478000
Crushed row  1478200
Crushed row  1478400
Crushed row  1478600
Crushed row  1478800
Crushed row  1479000
Crushed row  1479200
Crushed row  1479400
Crushed row  1479600
Crushed row  1479800
Crushed row  1480000
Crushed row  1480200
Crushed row  1480400
Crushed row  1480600
Crushed row  1480800
Crushed row  1481000
Crushed row  1481200
Crushed row  1481400
Crushed row  1481600
Crushed row  1481800
Crushed row  1482000
Crushed row  1482200
Crushed row  1482400
Crushed row  1482600
Crushed row  1482800
Crushed row  1483000
Crushed row  1483200
Crushed row  1483400
Crushed row  1483600
Crushed row  1483800
Crushed row  1484000
Crushed row  1484200
Crushed row  1484400
Crushed row  1484600
Crushed row  1484800
Crushed row  1485000
Crushed row  1485200
Crushed row  1485400
Crushed row  1485600
Crushed row  1485800
Crushed row  1486000
Crushed row  1486200
Crushed row  1486400
Crushed row  1486600
Crushed row  1486800
Crushed row  1487000
Crushed row  1487200
Crushed row  1487400
Crushed row  1487600
Crushed row  1487800
Crushed row  1488000
Crushed row  1488200
Crushed row  1488400
Crushed row  1488600
Crushed row  1488800
Crushed row  1489000
Crushed row  1489200
Crushed row  1489400
Crushed row  1489600
Crushed row  1489800
Crushed row  1490000
Crushed row  1490200
Crushed row  1490400
Crushed row  1490600
Crushed row  1490800
Crushed row  1491000
Crushed row  1491200
Crushed row  1491400
Crushed row  1491600
Crushed row  1491800
Crushed row  1492000
Crushed row  1492200
Crushed row  1492400
Crushed row  1492600
Crushed row  1492800
Crushed row  1493000
Crushed row  1493200
Crushed row  1493400
Crushed row  1493600
Crushed row  1493800
Crushed row  1494000
Crushed row  1494200
Crushed row  1494400
Crushed row  1494600
Crushed row  1494800
Crushed row  1495000
Crushed row  1495200
Crushed row  1495400
Crushed row  1495600
Crushed row  1495800
Crushed row  1496000
Crushed row  1496200
Crushed row  1496400
Crushed row  1496600
Crushed row  1496800
Crushed row  1497000
Crushed row  1497200
Crushed row  1497400
Crushed row  1497600
Crushed row  1497800
Crushed row  1498000
Crushed row  1498200
Crushed row  1498400
Crushed row  1498600
Crushed row  1498800
Crushed row  1499000
Crushed row  1499200
Crushed row  1499400
Crushed row  1499600
Crushed row  1499800
Crushed row  1500000
Crushed row  1500200
Crushed row  1500400
Crushed row  1500600
Crushed row  1500800
Crushed row  1501000
Crushed row  1501200
Crushed row  1501400
Crushed row  1501600
Crushed row  1501800
Crushed row  1502000
Crushed row  1502200
Crushed row  1502400
Crushed row  1502600
Crushed row  1502800
Crushed row  1503000
Crushed row  1503200
Crushed row  1503400
Crushed row  1503600
Crushed row  1503800
Crushed row  1504000
Crushed row  1504200
Crushed row  1504400
Crushed row  1504600
Crushed row  1504800
Crushed row  1505000
Crushed row  1505200
Crushed row  1505400
Crushed row  1505600
Crushed row  1505800
Crushed row  1506000
Crushed row  1506200
Crushed row  1506400
Crushed row  1506600
Crushed row  1506800
Crushed row  1507000
Crushed row  1507200
Crushed row  1507400
Crushed row  1507600
Crushed row  1507800
Crushed row  1508000
Crushed row  1508200
Crushed row  1508400
Crushed row  1508600
Crushed row  1508800
Crushed row  1509000
Crushed row  1509200
Crushed row  1509400
Crushed row  1509600
Crushed row  1509800
Crushed row  1510000
Crushed row  1510200
Crushed row  1510400
Crushed row  1510600
Crushed row  1510800
Crushed row  1511000
Crushed row  1511200
Crushed row  1511400
Crushed row  1511600
Crushed row  1511800
Crushed row  1512000
Crushed row  1512200
Crushed row  1512400
Crushed row  1512600
Crushed row  1512800
Crushed row  1513000
Crushed row  1513200
Crushed row  1513400
Crushed row  1513600
Crushed row  1513800
Crushed row  1514000
Crushed row  1514200
Crushed row  1514400
Crushed row  1514600
Crushed row  1514800
Crushed row  1515000
Crushed row  1515200
Crushed row  1515400
Crushed row  1515600
Crushed row  1515800
Crushed row  1516000
Crushed row  1516200
Crushed row  1516400
Crushed row  1516600
Crushed row  1516800
Crushed row  1517000
Crushed row  1517200
Crushed row  1517400
Crushed row  1517600
Crushed row  1517800
Crushed row  1518000
Crushed row  1518200
Crushed row  1518400
Crushed row  1518600
Crushed row  1518800
Crushed row  1519000
Crushed row  1519200
Crushed row  1519400
Crushed row  1519600
Crushed row  1519800
Crushed row  1520000
Crushed row  1520200
Crushed row  1520400
Crushed row  1520600
Crushed row  1520800
Crushed row  1521000
Crushed row  1521200
Crushed row  1521400
Crushed row  1521600
Crushed row  1521800
Crushed row  1522000
Crushed row  1522200
Crushed row  1522400
Crushed row  1522600
Crushed row  1522800
Crushed row  1523000
Crushed row  1523200
Crushed row  1523400
Crushed row  1523600
Crushed row  1523800
Crushed row  1524000
Crushed row  1524200
Crushed row  1524400
Crushed row  1524600
Crushed row  1524800
Crushed row  1525000
Crushed row  1525200
Crushed row  1525400
Crushed row  1525600
Crushed row  1525800
Crushed row  1526000
Crushed row  1526200
Crushed row  1526400
Crushed row  1526600
Crushed row  1526800
Crushed row  1527000
Crushed row  1527200
Crushed row  1527400
Crushed row  1527600
Crushed row  1527800
Crushed row  1528000
Crushed row  1528200
Crushed row  1528400
Crushed row  1528600
Crushed row  1528800
Crushed row  1529000
Crushed row  1529200
Crushed row  1529400
Crushed row  1529600
Crushed row  1529800
Crushed row  1530000
Crushed row  1530200
Crushed row  1530400
Crushed row  1530600
Crushed row  1530800
Crushed row  1531000
Crushed row  1531200
Crushed row  1531400
Crushed row  1531600
Crushed row  1531800
Crushed row  1532000
Crushed row  1532200
Crushed row  1532400
Crushed row  1532600
Crushed row  1532800
Crushed row  1533000
Crushed row  1533200
Crushed row  1533400
Crushed row  1533600
Crushed row  1533800
Crushed row  1534000
Crushed row  1534200
Crushed row  1534400
Crushed row  1534600
Crushed row  1534800
Crushed row  1535000
Crushed row  1535200
Crushed row  1535400
Crushed row  1535600
Crushed row  1535800
Crushed row  1536000
Crushed row  1536200
Crushed row  1536400
Crushed row  1536600
Crushed row  1536800
Crushed row  1537000
Crushed row  1537200
Crushed row  1537400
Crushed row  1537600
Crushed row  1537800
Crushed row  1538000
Crushed row  1538200
Crushed row  1538400

Crushed row  1538600
Crushed row  1538800
Crushed row  1539000
Crushed row  1539200
Crushed row  1539400
Crushed row  1539600
Crushed row  1539800
Crushed row  1540000
Crushed row  1540200
Crushed row  1540400
Crushed row  1540600
Crushed row  1540800
Crushed row  1541000
Crushed row  1541200
Crushed row  1541400
Crushed row  1541600
Crushed row  1541800
Crushed row  1542000
Crushed row  1542200
Crushed row  1542400
Crushed row  1542600
Crushed row  1542800
Crushed row  1543000
Crushed row  1543200
Crushed row  1543400
Crushed row  1543600
Crushed row  1543800
Crushed row  1544000
Crushed row  1544200
Crushed row  1544400
Crushed row  1544600
Crushed row  1544800
Crushed row  1545000
Crushed row  1545200
Crushed row  1545400
Crushed row  1545600
Crushed row  1545800
Crushed row  1546000
Crushed row  1546200
Crushed row  1546400
Crushed row  1546600
Crushed row  1546800
Crushed row  1547000
Crushed row  1547200
Crushed row  1547400
Crushed row  1547600
Crushed row  1547800
Crushed row  1548000
Crushed row  1548200
Crushed row  1548400
Crushed row  1548600
Crushed row  1548800
Crushed row  1549000
Crushed row  1549200
Crushed row  1549400
Crushed row  1549600
Crushed row  1549800
Crushed row  1550000
Crushed row  1550200
Crushed row  1550400
Crushed row  1550600
Crushed row  1550800
Crushed row  1551000
Crushed row  1551200
Crushed row  1551400
Crushed row  1551600
Crushed row  1551800
Crushed row  1552000
Crushed row  1552200
Crushed row  1552400
Crushed row  1552600
Crushed row  1552800
Crushed row  1553000
Crushed row  1553200
Crushed row  1553400
Crushed row  1553600
Crushed row  1553800
Crushed row  1554000
Crushed row  1554200
Crushed row  1554400
Crushed row  1554600
Crushed row  1554800
Crushed row  1555000
Crushed row  1555200
Crushed row  1555400
Crushed row  1555600
Crushed row  1555800
Crushed row  1556000
Crushed row  1556200
Crushed row  1556400
Crushed row  1556600
Crushed row  1556800
Crushed row  1557000
Crushed row  1557200
Crushed row  1557400
Crushed row  1557600
Crushed row  1557800
Crushed row  1558000
Crushed row  1558200
Crushed row  1558400
Crushed row  1558600
Crushed row  1558800
Crushed row  1559000
Crushed row  1559200
Crushed row  1559400
Crushed row  1559600
Crushed row  1559800
Crushed row  1560000
Crushed row  1560200
Crushed row  1560400
Crushed row  1560600
Crushed row  1560800
Crushed row  1561000
Crushed row  1561200
Crushed row  1561400
Crushed row  1561600
Crushed row  1561800
Crushed row  1562000
Crushed row  1562200
Crushed row  1562400
Crushed row  1562600
Crushed row  1562800
Crushed row  1563000
Crushed row  1563200
Crushed row  1563400
Crushed row  1563600
Crushed row  1563800
Crushed row  1564000
Crushed row  1564200
Crushed row  1564400
Crushed row  1564600
Crushed row  1564800
Crushed row  1565000
Crushed row  1565200
Crushed row  1565400
Crushed row  1565600
Crushed row  1565800
Crushed row  1566000
Crushed row  1566200
Crushed row  1566400
Crushed row  1566600
Crushed row  1566800
Crushed row  1567000
Crushed row  1567200
Crushed row  1567400
Crushed row  1567600
Crushed row  1567800
Crushed row  1568000
Crushed row  1568200
Crushed row  1568400
Crushed row  1568600
Crushed row  1568800
Crushed row  1569000
Crushed row  1569200
Crushed row  1569400
Crushed row  1569600
Crushed row  1569800
Crushed row  1570000
Crushed row  1570200
Crushed row  1570400
Crushed row  1570600
Crushed row  1570800
Crushed row  1571000
Crushed row  1571200
Crushed row  1571400
Crushed row  1571600
Crushed row  1571800
Crushed row  1572000
Crushed row  1572200
Crushed row  1572400
Crushed row  1572600
Crushed row  1572800
Crushed row  1573000
Crushed row  1573200
Crushed row  1573400
Crushed row  1573600
Crushed row  1573800
Crushed row  1574000
Crushed row  1574200
Crushed row  1574400
Crushed row  1574600
Crushed row  1574800
Crushed row  1575000
Crushed row  1575200
Crushed row  1575400
Crushed row  1575600
Crushed row  1575800
Crushed row  1576000
Crushed row  1576200
Crushed row  1576400
Crushed row  1576600
Crushed row  1576800
Crushed row  1577000
Crushed row  1577200
Crushed row  1577400
Crushed row  1577600
Crushed row  1577800
Crushed row  1578000
Crushed row  1578200
Crushed row  1578400
Crushed row  1578600
Crushed row  1578800
Crushed row  1579000
Crushed row  1579200
Crushed row  1579400
Crushed row  1579600
Crushed row  1579800
Crushed row  1580000
Crushed row  1580200
Crushed row  1580400
Crushed row  1580600
Crushed row  1580800
Crushed row  1581000
Crushed row  1581200
Crushed row  1581400
Crushed row  1581600
Crushed row  1581800
Crushed row  1582000
Crushed row  1582200
Crushed row  1582400
Crushed row  1582600
Crushed row  1582800
Crushed row  1583000
Crushed row  1583200
Crushed row  1583400
Crushed row  1583600
Crushed row  1583800
Crushed row  1584000
Crushed row  1584200
Crushed row  1584400
Crushed row  1584600
Crushed row  1584800
Crushed row  1585000
Crushed row  1585200
Crushed row  1585400
Crushed row  1585600
Crushed row  1585800
Crushed row  1586000
Crushed row  1586200
Crushed row  1586400
Crushed row  1586600
Crushed row  1586800
Crushed row  1587000
Crushed row  1587200
Crushed row  1587400
Crushed row  1587600
Crushed row  1587800
Crushed row  1588000
Crushed row  1588200
Crushed row  1588400
Crushed row  1588600
Crushed row  1588800
Crushed row  1589000
Crushed row  1589200
Crushed row  1589400
Crushed row  1589600
Crushed row  1589800
Crushed row  1590000
Crushed row  1590200
Crushed row  1590400
Crushed row  1590600
Crushed row  1590800
Crushed row  1591000
Crushed row  1591200
Crushed row  1591400
Crushed row  1591600
Crushed row  1591800
Crushed row  1592000
Crushed row  1592200
Crushed row  1592400
Crushed row  1592600
Crushed row  1592800
Crushed row  1593000
Crushed row  1593200
Crushed row  1593400
Crushed row  1593600
Crushed row  1593800
Crushed row  1594000
Crushed row  1594200
Crushed row  1594400
Crushed row  1594600
Crushed row  1594800
Crushed row  1595000
Crushed row  1595200
Crushed row  1595400
Crushed row  1595600
Crushed row  1595800
Crushed row  1596000
Crushed row  1596200
Crushed row  1596400
Crushed row  1596600
Crushed row  1596800
Crushed row  1597000
Crushed row  1597200
Crushed row  1597400
Crushed row  1597600
Crushed row  1597800
Crushed row  1598000
Crushed row  1598200
Crushed row  1598400
Crushed row  1598600
Crushed row  1598800
Crushed row  1599000
Crushed row  1599200
Crushed row  1599400
Crushed row  1599600
Crushed row  1599800
Crushed row  1600000
Crushed row  1600200
Crushed row  1600400
Crushed row  1600600
Crushed row  1600800
Crushed row  1601000
Crushed row  1601200
Crushed row  1601400
Crushed row  1601600
Crushed row  1601800
Crushed row  1602000
Crushed row  1602200
Crushed row  1602400
Crushed row  1602600
Crushed row  1602800
Crushed row  1603000
Crushed row  1603200
Crushed row  1603400
Crushed row  1603600
Crushed row  1603800
Crushed row  1604000
Crushed row  1604200
Crushed row  1604400
Crushed row  1604600
Crushed row  1604800
Crushed row  1605000
Crushed row  1605200
Crushed row  1605400
Crushed row  1605600
Crushed row  1605800
Crushed row  1606000
Crushed row  1606200
Crushed row  1606400
Crushed row  1606600
Crushed row  1606800
Crushed row  1607000
Crushed row  1607200
Crushed row  1607400
Crushed row  1607600
Crushed row  1607800
Crushed row  1608000
Crushed row  1608200
Crushed row  1608400
Crushed row  1608600
Crushed row  1608800
Crushed row  1609000
Crushed row  1609200
Crushed row  1609400
Crushed row  1609600
Crushed row  1609800
Crushed row  1610000
Crushed row  1610200
Crushed row  1610400
Crushed row  1610600
Crushed row  1610800
Crushed row  1611000
Crushed row  1611200
Crushed row  1611400
Crushed row  1611600
Crushed row  1611800
Crushed row  1612000
Crushed row  1612200
Crushed row  1612400
Crushed row  1612600
Crushed row  1612800
Crushed row  1613000
Crushed row  1613200
Crushed row  1613400
Crushed row  1613600
Crushed row  1613800
Crushed row  1614000
Crushed row  1614200
Crushed row  1614400
Crushed row  1614600
Crushed row  1614800
Crushed row  1615000
Crushed row  1615200
Crushed row  1615400
Crushed row  1615600
Crushed row  1615800
Crushed row  1616000
Crushed row  1616200
Crushed row  1616400
Crushed row  1616600

Crushed row  1616800
Crushed row  1617000
Crushed row  1617200
Crushed row  1617400
Crushed row  1617600
Crushed row  1617800
Crushed row  1618000
Crushed row  1618200
Crushed row  1618400
Crushed row  1618600
Crushed row  1618800
Crushed row  1619000
Crushed row  1619200
Crushed row  1619400
Crushed row  1619600
Crushed row  1619800
Crushed row  1620000
Crushed row  1620200
Crushed row  1620400
Crushed row  1620600
Crushed row  1620800
Crushed row  1621000
Crushed row  1621200
Crushed row  1621400
Crushed row  1621600
Crushed row  1621800
Crushed row  1622000
Crushed row  1622200
Crushed row  1622400
Crushed row  1622600
Crushed row  1622800
Crushed row  1623000
Crushed row  1623200
Crushed row  1623400
Crushed row  1623600
Crushed row  1623800
Crushed row  1624000
Crushed row  1624200
Crushed row  1624400
Crushed row  1624600
Crushed row  1624800
Crushed row  1625000
Crushed row  1625200
Crushed row  1625400
Crushed row  1625600
Crushed row  1625800
Crushed row  1626000
Crushed row  1626200
Crushed row  1626400
Crushed row  1626600
Crushed row  1626800
Crushed row  1627000
Crushed row  1627200
Crushed row  1627400
Crushed row  1627600
Crushed row  1627800
Crushed row  1628000
Crushed row  1628200
Crushed row  1628400
Crushed row  1628600
Crushed row  1628800
Crushed row  1629000
Crushed row  1629200
Crushed row  1629400
Crushed row  1629600
Crushed row  1629800
Crushed row  1630000
Crushed row  1630200
Crushed row  1630400
Crushed row  1630600
Crushed row  1630800
Crushed row  1631000
Crushed row  1631200
Crushed row  1631400
Crushed row  1631600
Crushed row  1631800
Crushed row  1632000
Crushed row  1632200
Crushed row  1632400
Crushed row  1632600
Crushed row  1632800
Crushed row  1633000
Crushed row  1633200
Crushed row  1633400
Crushed row  1633600
Crushed row  1633800
Crushed row  1634000
Crushed row  1634200
Crushed row  1634400
Crushed row  1634600
Crushed row  1634800
Crushed row  1635000
Crushed row  1635200
Crushed row  1635400
Crushed row  1635600
Crushed row  1635800
Crushed row  1636000
Crushed row  1636200
Crushed row  1636400
Crushed row  1636600
Crushed row  1636800
Crushed row  1637000
Crushed row  1637200
Crushed row  1637400
Crushed row  1637600
Crushed row  1637800
Crushed row  1638000
Crushed row  1638200
Crushed row  1638400
Crushed row  1638600
Crushed row  1638800
Crushed row  1639000
Crushed row  1639200
Crushed row  1639400
Crushed row  1639600
Crushed row  1639800
Crushed row  1640000
Crushed row  1640200
Crushed row  1640400
Crushed row  1640600
Crushed row  1640800
Crushed row  1641000
Crushed row  1641200
Crushed row  1641400
Crushed row  1641600
Crushed row  1641800
Crushed row  1642000
Crushed row  1642200
Crushed row  1642400
Crushed row  1642600
Crushed row  1642800
Crushed row  1643000
Crushed row  1643200
Crushed row  1643400
Crushed row  1643600
Crushed row  1643800
Crushed row  1644000
Crushed row  1644200
Crushed row  1644400
Crushed row  1644600
Crushed row  1644800
Crushed row  1645000
Crushed row  1645200
Crushed row  1645400
Crushed row  1645600
Crushed row  1645800
Crushed row  1646000
Crushed row  1646200
Crushed row  1646400
Crushed row  1646600
Crushed row  1646800
Crushed row  1647000
Crushed row  1647200
Crushed row  1647400
Crushed row  1647600
Crushed row  1647800
Crushed row  1648000
Crushed row  1648200
Crushed row  1648400
Crushed row  1648600
Crushed row  1648800
Crushed row  1649000
Crushed row  1649200
Crushed row  1649400
Crushed row  1649600
Crushed row  1649800
Crushed row  1650000
Crushed row  1650200
Crushed row  1650400
Crushed row  1650600

In [168]:
piv_orders.shape

(1650618, 58)

In [169]:
len(twelve_mon)

1650618

In [172]:
min(twelve_mon)

0.0

In [173]:
orders["Revenue"].value_counts()

15.00      748641
10.00      372523
30.00      251267
25.00      161498
20.00      148637
45.00       49712
40.00       36809
35.00       32087
60.00       20551
50.00       16717
28.00       15419
0.00        14758
23.00       13177
13.00       12564
18.00        9366
55.00        8936
33.00        8522
8.00         8157
12.00        7228
26.00        6889
75.00        6828
2.00         6050
59.95        5309
38.00        5068
43.00        4207
65.00        4187
90.00        3861
70.00        3487
49.95        3374
11.11        3287
            ...
69.50           1
444.40          1
268.95          1
499.95          1
104.44          1
728.00          1
1800.00         1
187.95          1
71.11           1
186.95          1
229.00          1
3650.00         1
553.80          1
108.45          1
489.95          1
221.00          1
161.95          1
3500.00         1
173.95          1
720.00          1
61.50           1
218.00          1
110.45          1
990.00          1
487.70          1
110.55          1
217.00          1
526.95          1
82.17           1
2800.00         1
Name: Revenue, Length: 1056, dtype: int64

In [180]:
piv_orders["Total_LTV"].value_counts()

15.00      504936
10.00      258992
30.00      210854
25.00      124252
20.00      115056
45.00       59120
40.00       42541
35.00       31838
60.00       29063
50.00       20788
55.00       15712
75.00       11777
28.00       10545
23.00        8486
65.00        7963
70.00        7833
90.00        6920
33.00        6641
0.00         6322
18.00        6260
12.00        5466
43.00        4833
80.00        4686
13.00        4686
38.00        4605
85.00        3852
59.95        3693
26.00        3686
105.00       3509
8.00         3502
            ...
238.33          1
2055.00         1
128.50          1
28.50           1
340.95          1
194.90          1
342.95          1
142.22          1
466.00          1
1980.00         1
324.85          1
327.90          1
374.90          1
328.85          1
261.22          1
1935.00         1
329.85          1
467.00          1
332.90          1
1945.00         1
203.32          1
333.90          1
195.85          1
321.85          1
323.90          1
323.85          1
94.90           1
326.85          1
325.85          1
214.85          1
Name: Total_LTV, Length: 2253, dtype: int64

In [177]:
piv_orders.columns

Index([            'key_0', 2017-08-01 00:00:00, 2017-09-01 00:00:00,
       2017-10-01 00:00:00, 2017-11-01 00:00:00, 2017-12-01 00:00:00,
       2018-01-01 00:00:00, 2018-02-01 00:00:00, 2018-03-01 00:00:00,
       2018-04-01 00:00:00, 2018-05-01 00:00:00, 2018-06-01 00:00:00,
       2018-07-01 00:00:00, 2018-08-01 00:00:00, 2018-09-01 00:00:00,
       2018-10-01 00:00:00, 2018-11-01 00:00:00, 2018-12-01 00:00:00,
       2019-01-01 00:00:00, 2019-02-01 00:00:00, 2019-03-01 00:00:00,
       2019-04-01 00:00:00, 2019-05-01 00:00:00, 2019-06-01 00:00:00,
       2019-07-01 00:00:00, 2019-08-01 00:00:00, 2019-09-01 00:00:00,
       2019-10-01 00:00:00, 2019-11-01 00:00:00, 2019-12-01 00:00:00,
       2020-01-01 00:00:00,         'Total_LTV',  'First Order Date',
       2020-02-01 00:00:00, 2020-03-01 00:00:00, 2020-04-01 00:00:00,
       2020-05-01 00:00:00, 2020-06-01 00:00:00, 2020-07-01 00:00:00,
       2020-08-01 00:00:00, 2020-09-01 00:00:00, 2020-10-01 00:00:00,
       2020-11-01 00:00:00, 2020-12-01 00:00:00, 2021-01-01 00:00:00,
       2021-02-01 00:00:00, 2021-03-01 00:00:00, 2021-04-01 00:00:00,
       2021-05-01 00:00:00, 2021-06-01 00:00:00, 2021-07-01 00:00:00,
       2021-08-01 00:00:00, 2021-09-01 00:00:00, 2021-10-01 00:00:00,
       2021-11-01 00:00:00, 2021-12-01 00:00:00, 2022-01-01 00:00:00,
       2017-07-01 00:00:00],
      dtype='object')

In [181]:
piv_orders["12mo_LTV"] = twelve_mon

In [182]:
piv_orders["12mo_LTV"].value_counts()

15.00      521371
10.00      269162
30.00      211958
25.00      127226
20.00      118926
45.00       55736
40.00       40953
35.00       30977
60.00       26577
50.00       19447
55.00       13767
28.00       10401
75.00       10132
23.00        8463
65.00        6886
70.00        6508
33.00        6466
0.00         6439
18.00        6279
90.00        5847
12.00        5810
13.00        4697
43.00        4380
38.00        4310
80.00        3817
26.00        3711
59.95        3670
8.00         3505
85.00        3045
22.00        2919
            ...
357.95          1
2440.00         1
353.80          1
79.06           1
380.80          1
354.80          1
2500.00         1
365.80          1
367.95          1
809.95          1
240.17          1
381.95          1
147.50          1
323.70          1
102.22          1
322.95          1
2800.00         1
334.95          1
142.50          1
185.54          1
328.95          1
91.66           1
370.80          1
331.80          1
75.44           1
2310.00         1
144.50          1
105.22          1
2340.00         1
368.95          1
Name: 12mo_LTV, Length: 1860, dtype: int64

In [183]:
piv_orders.shape

(1650618, 59)

In [185]:
twenty_four_mon = []

for i in range(piv_orders.shape[0]):
    start_date = piv_orders["First Order Date"].iloc[i]
    end_24 = start_date + relativedelta(months=24)
    datelist = pd.date_range(start_date - relativedelta(months=1), end_24 - relativedelta(months=1), freq="MS").tolist()
    total = piv_orders[datelist[0]].iloc[i] + piv_orders[datelist[1]].iloc[i] + piv_orders[datelist[2]].iloc[i] + piv_orders[datelist[3]].iloc[i] + piv_orders[datelist[4]].iloc[i] + piv_orders[datelist[5]].iloc[i] + piv_orders[datelist[6]].iloc[i] + piv_orders[datelist[7]].iloc[i] + piv_orders[datelist[8]].iloc[i] + piv_orders[datelist[9]].iloc[i] + piv_orders[datelist[10]].iloc[i] + piv_orders[datelist[11]].iloc[i] + piv_orders[datelist[12]].iloc[i] + piv_orders[datelist[13]].iloc[i] + piv_orders[datelist[14]].iloc[i] + piv_orders[datelist[15]].iloc[i] + piv_orders[datelist[16]].iloc[i] + piv_orders[datelist[17]].iloc[i] + piv_orders[datelist[18]].iloc[i] + piv_orders[datelist[19]].iloc[i] + piv_orders[datelist[20]].iloc[i] + piv_orders[datelist[21]].iloc[i] + piv_orders[datelist[22]].iloc[i] + piv_orders[datelist[23]].iloc[i] 
    twenty_four_mon.append(total)
    if i % 500 == 0:
        print("Crushed row ", i)

Crushed row  0
Crushed row  500
Crushed row  1000
Crushed row  1500
Crushed row  2000
Crushed row  2500
Crushed row  3000
Crushed row  3500
Crushed row  4000
Crushed row  4500
Crushed row  5000
Crushed row  5500
Crushed row  6000
Crushed row  6500
Crushed row  7000
Crushed row  7500
Crushed row  8000
Crushed row  8500
Crushed row  9000
Crushed row  9500
Crushed row  10000
Crushed row  10500
Crushed row  11000
Crushed row  11500
Crushed row  12000
Crushed row  12500
Crushed row  13000
Crushed row  13500
Crushed row  14000
Crushed row  14500
Crushed row  15000
Crushed row  15500
Crushed row  16000
Crushed row  16500
Crushed row  17000
Crushed row  17500
Crushed row  18000
Crushed row  18500
Crushed row  19000
Crushed row  19500
Crushed row  20000
Crushed row  20500
Crushed row  21000
Crushed row  21500
Crushed row  22000
Crushed row  22500
Crushed row  23000
Crushed row  23500
Crushed row  24000
Crushed row  24500
Crushed row  25000
Crushed row  25500
Crushed row  26000
Crushed row  26500
Crushed row  27000
Crushed row  27500
Crushed row  28000
Crushed row  28500
Crushed row  29000
Crushed row  29500
Crushed row  30000
Crushed row  30500
Crushed row  31000
Crushed row  31500
Crushed row  32000
Crushed row  32500
Crushed row  33000
Crushed row  33500
Crushed row  34000
Crushed row  34500
Crushed row  35000
Crushed row  35500
Crushed row  36000
Crushed row  36500
Crushed row  37000
Crushed row  37500
Crushed row  38000
Crushed row  38500
Crushed row  39000
Crushed row  39500
Crushed row  40000
Crushed row  40500
Crushed row  41000
Crushed row  41500
Crushed row  42000
Crushed row  42500
Crushed row  43000
Crushed row  43500
Crushed row  44000
Crushed row  44500
Crushed row  45000
Crushed row  45500
Crushed row  46000
Crushed row  46500
Crushed row  47000
Crushed row  47500
Crushed row  48000
Crushed row  48500
Crushed row  49000
Crushed row  49500
Crushed row  50000
Crushed row  50500
Crushed row  51000
Crushed row  51500
Crushed row  52000
Crushed row  52500
Crushed row  53000
Crushed row  53500
Crushed row  54000
Crushed row  54500
Crushed row  55000
Crushed row  55500
Crushed row  56000
Crushed row  56500
Crushed row  57000
Crushed row  57500
Crushed row  58000
Crushed row  58500
Crushed row  59000
Crushed row  59500
Crushed row  60000
Crushed row  60500
Crushed row  61000
Crushed row  61500
Crushed row  62000
Crushed row  62500
Crushed row  63000
Crushed row  63500
Crushed row  64000
Crushed row  64500
Crushed row  65000
Crushed row  65500
Crushed row  66000
Crushed row  66500
Crushed row  67000
Crushed row  67500
Crushed row  68000
Crushed row  68500
Crushed row  69000
Crushed row  69500
Crushed row  70000
Crushed row  70500
Crushed row  71000
Crushed row  71500
Crushed row  72000
Crushed row  72500
Crushed row  73000
Crushed row  73500
Crushed row  74000
Crushed row  74500
Crushed row  75000
Crushed row  75500
Crushed row  76000
Crushed row  76500
Crushed row  77000
Crushed row  77500
Crushed row  78000
Crushed row  78500
Crushed row  79000
Crushed row  79500
Crushed row  80000
Crushed row  80500
Crushed row  81000
Crushed row  81500
Crushed row  82000
Crushed row  82500
Crushed row  83000
Crushed row  83500
Crushed row  84000
Crushed row  84500
Crushed row  85000
Crushed row  85500
Crushed row  86000
Crushed row  86500
Crushed row  87000
Crushed row  87500
Crushed row  88000
Crushed row  88500
Crushed row  89000
Crushed row  89500
Crushed row  90000
Crushed row  90500
Crushed row  91000
Crushed row  91500
Crushed row  92000
Crushed row  92500
Crushed row  93000
Crushed row  93500
Crushed row  94000
Crushed row  94500
Crushed row  95000
Crushed row  95500
Crushed row  96000
Crushed row  96500
Crushed row  97000
Crushed row  97500
Crushed row  98000
Crushed row  98500
Crushed row  99000
Crushed row  99500
Crushed row  100000
Crushed row  100500
Crushed row  101000
Crushed row  101500
Crushed row  102000
Crushed row  102500
Crushed row  103000
Crushed row  103500
Crushed row  104000
Crushed row  104500
Crushed row  105000
Crushed row  105500
Crushed row  106000
Crushed row  106500
Crushed row  107000
Crushed row  107500
Crushed row  108000
Crushed row  108500
Crushed row  109000
Crushed row  109500
Crushed row  110000
Crushed row  110500
Crushed row  111000
Crushed row  111500
Crushed row  112000
Crushed row  112500
Crushed row  113000
Crushed row  113500
Crushed row  114000
Crushed row  114500
Crushed row  115000
Crushed row  115500
Crushed row  116000
Crushed row  116500
Crushed row  117000
Crushed row  117500
Crushed row  118000
Crushed row  118500
Crushed row  119000
Crushed row  119500
Crushed row  120000
Crushed row  120500
Crushed row  121000
Crushed row  121500
Crushed row  122000
Crushed row  122500
Crushed row  123000
Crushed row  123500
Crushed row  124000
Crushed row  124500
Crushed row  125000
Crushed row  125500
Crushed row  126000
Crushed row  126500
Crushed row  127000
Crushed row  127500
Crushed row  128000
Crushed row  128500
Crushed row  129000
Crushed row  129500
Crushed row  130000
Crushed row  130500
Crushed row  131000
Crushed row  131500
Crushed row  132000
Crushed row  132500
Crushed row  133000
Crushed row  133500
Crushed row  134000
Crushed row  134500
Crushed row  135000
Crushed row  135500
Crushed row  136000
Crushed row  136500
Crushed row  137000
Crushed row  137500
Crushed row  138000
Crushed row  138500
Crushed row  139000
Crushed row  139500
Crushed row  140000
Crushed row  140500
Crushed row  141000
Crushed row  141500
Crushed row  142000
Crushed row  142500
Crushed row  143000
Crushed row  143500
Crushed row  144000
Crushed row  144500
Crushed row  145000
Crushed row  145500
Crushed row  146000
Crushed row  146500
Crushed row  147000
Crushed row  147500
Crushed row  148000
Crushed row  148500
Crushed row  149000
Crushed row  149500
Crushed row  150000
Crushed row  150500
Crushed row  151000
Crushed row  151500
Crushed row  152000
Crushed row  152500
Crushed row  153000
Crushed row  153500
Crushed row  154000
Crushed row  154500
Crushed row  155000
Crushed row  155500
Crushed row  156000
Crushed row  156500
Crushed row  157000
Crushed row  157500
Crushed row  158000
Crushed row  158500
Crushed row  159000
Crushed row  159500
Crushed row  160000
Crushed row  160500
Crushed row  161000
Crushed row  161500
Crushed row  162000
Crushed row  162500
Crushed row  163000
Crushed row  163500
Crushed row  164000
Crushed row  164500
Crushed row  165000
Crushed row  165500
Crushed row  166000
Crushed row  166500
Crushed row  167000
Crushed row  167500
Crushed row  168000
Crushed row  168500
Crushed row  169000
Crushed row  169500
Crushed row  170000
Crushed row  170500
Crushed row  171000
Crushed row  171500
Crushed row  172000
Crushed row  172500
Crushed row  173000
Crushed row  173500
Crushed row  174000
Crushed row  174500
Crushed row  175000
Crushed row  175500
Crushed row  176000
Crushed row  176500
Crushed row  177000
Crushed row  177500
Crushed row  178000
Crushed row  178500
Crushed row  179000
Crushed row  179500
Crushed row  180000
Crushed row  180500
Crushed row  181000
Crushed row  181500
Crushed row  182000
Crushed row  182500
Crushed row  183000
Crushed row  183500
Crushed row  184000
Crushed row  184500
Crushed row  185000
Crushed row  185500
Crushed row  186000
Crushed row  186500
Crushed row  187000
Crushed row  187500
Crushed row  188000
Crushed row  188500
Crushed row  189000
Crushed row  189500
Crushed row  190000
Crushed row  190500
Crushed row  191000
Crushed row  191500
Crushed row  192000
Crushed row  192500
Crushed row  193000
Crushed row  193500
Crushed row  194000
Crushed row  194500
Crushed row  195000
Crushed row  195500
Crushed row  196000
Crushed row  196500
Crushed row  197000
Crushed row  197500
Crushed row  198000
Crushed row  198500
Crushed row  199000
Crushed row  199500
Crushed row  200000
Crushed row  200500
Crushed row  201000
Crushed row  201500
Crushed row  202000
Crushed row  202500
Crushed row  203000
Crushed row  203500
Crushed row  204000
Crushed row  204500
Crushed row  205000
Crushed row  205500
Crushed row  206000
Crushed row  206500
Crushed row  207000
Crushed row  207500
Crushed row  208000
Crushed row  208500
Crushed row  209000
Crushed row  209500
Crushed row  210000

Crushed row  210500
Crushed row  211000
Crushed row  211500
Crushed row  212000
Crushed row  212500
Crushed row  213000
Crushed row  213500
Crushed row  214000
Crushed row  214500
Crushed row  215000
Crushed row  215500
Crushed row  216000
Crushed row  216500
Crushed row  217000
Crushed row  217500
Crushed row  218000
Crushed row  218500
Crushed row  219000
Crushed row  219500
Crushed row  220000
Crushed row  220500
Crushed row  221000
Crushed row  221500
Crushed row  222000
Crushed row  222500
Crushed row  223000
Crushed row  223500
Crushed row  224000
Crushed row  224500
Crushed row  225000
Crushed row  225500
Crushed row  226000
Crushed row  226500
Crushed row  227000
Crushed row  227500
Crushed row  228000
Crushed row  228500
Crushed row  229000
Crushed row  229500
Crushed row  230000
Crushed row  230500
Crushed row  231000
Crushed row  231500
Crushed row  232000
Crushed row  232500
Crushed row  233000
Crushed row  233500
Crushed row  234000
Crushed row  234500
Crushed row  235000
Crushed row  235500
Crushed row  236000
Crushed row  236500
Crushed row  237000
Crushed row  237500
Crushed row  238000
Crushed row  238500
Crushed row  239000
Crushed row  239500
Crushed row  240000
Crushed row  240500
Crushed row  241000
Crushed row  241500
Crushed row  242000
Crushed row  242500
Crushed row  243000
Crushed row  243500
Crushed row  244000
Crushed row  244500
Crushed row  245000
Crushed row  245500
Crushed row  246000
Crushed row  246500
Crushed row  247000
Crushed row  247500
Crushed row  248000
Crushed row  248500
Crushed row  249000
Crushed row  249500
Crushed row  250000
Crushed row  250500
Crushed row  251000
Crushed row  251500
Crushed row  252000
Crushed row  252500
Crushed row  253000
Crushed row  253500
Crushed row  254000
Crushed row  254500
Crushed row  255000
Crushed row  255500
Crushed row  256000
Crushed row  256500
Crushed row  257000
Crushed row  257500
Crushed row  258000
Crushed row  258500
Crushed row  259000
Crushed row  259500
Crushed row  260000
Crushed row  260500
Crushed row  261000
Crushed row  261500
Crushed row  262000
Crushed row  262500
Crushed row  263000
Crushed row  263500
Crushed row  264000
Crushed row  264500
Crushed row  265000
Crushed row  265500
Crushed row  266000
Crushed row  266500
Crushed row  267000
Crushed row  267500
Crushed row  268000
Crushed row  268500
Crushed row  269000
Crushed row  269500
Crushed row  270000
Crushed row  270500
Crushed row  271000
Crushed row  271500
Crushed row  272000
Crushed row  272500
Crushed row  273000
Crushed row  273500
Crushed row  274000
Crushed row  274500
Crushed row  275000
Crushed row  275500
Crushed row  276000
Crushed row  276500
Crushed row  277000
Crushed row  277500
Crushed row  278000
Crushed row  278500
Crushed row  279000
Crushed row  279500
Crushed row  280000
Crushed row  280500
Crushed row  281000
Crushed row  281500
Crushed row  282000
Crushed row  282500
Crushed row  283000
Crushed row  283500
Crushed row  284000
Crushed row  284500
Crushed row  285000
Crushed row  285500
Crushed row  286000
Crushed row  286500
Crushed row  287000
Crushed row  287500
Crushed row  288000
Crushed row  288500
Crushed row  289000
Crushed row  289500
Crushed row  290000
Crushed row  290500
Crushed row  291000
Crushed row  291500
Crushed row  292000
Crushed row  292500
Crushed row  293000
Crushed row  293500
Crushed row  294000
Crushed row  294500
Crushed row  295000
Crushed row  295500
Crushed row  296000
Crushed row  296500
Crushed row  297000
Crushed row  297500
Crushed row  298000
Crushed row  298500
Crushed row  299000
Crushed row  299500
Crushed row  300000
Crushed row  300500
Crushed row  301000
Crushed row  301500
Crushed row  302000
Crushed row  302500
Crushed row  303000
Crushed row  303500
Crushed row  304000
Crushed row  304500
Crushed row  305000
Crushed row  305500
Crushed row  306000
Crushed row  306500
Crushed row  307000
Crushed row  307500
Crushed row  308000
Crushed row  308500
Crushed row  309000
Crushed row  309500
Crushed row  310000
Crushed row  310500
Crushed row  311000
Crushed row  311500
Crushed row  312000
Crushed row  312500
Crushed row  313000
Crushed row  313500
Crushed row  314000
Crushed row  314500
Crushed row  315000
Crushed row  315500
Crushed row  316000
Crushed row  316500
Crushed row  317000
Crushed row  317500
Crushed row  318000
Crushed row  318500
Crushed row  319000
Crushed row  319500
Crushed row  320000
Crushed row  320500
Crushed row  321000
Crushed row  321500
Crushed row  322000
Crushed row  322500
Crushed row  323000
Crushed row  323500
Crushed row  324000
Crushed row  324500
Crushed row  325000
Crushed row  325500
Crushed row  326000
Crushed row  326500
Crushed row  327000
Crushed row  327500
Crushed row  328000
Crushed row  328500
Crushed row  329000
Crushed row  329500
Crushed row  330000
Crushed row  330500
Crushed row  331000
Crushed row  331500
Crushed row  332000
Crushed row  332500
Crushed row  333000
Crushed row  333500
Crushed row  334000
Crushed row  334500
Crushed row  335000
Crushed row  335500
Crushed row  336000
Crushed row  336500
Crushed row  337000
Crushed row  337500
Crushed row  338000
Crushed row  338500
Crushed row  339000
Crushed row  339500
Crushed row  340000
Crushed row  340500
Crushed row  341000
Crushed row  341500
Crushed row  342000
Crushed row  342500
Crushed row  343000
Crushed row  343500
Crushed row  344000
Crushed row  344500
Crushed row  345000
Crushed row  345500
Crushed row  346000
Crushed row  346500
Crushed row  347000
Crushed row  347500
Crushed row  348000
Crushed row  348500
Crushed row  349000
Crushed row  349500
Crushed row  350000
Crushed row  350500
Crushed row  351000
Crushed row  351500
Crushed row  352000
Crushed row  352500
Crushed row  353000
Crushed row  353500
Crushed row  354000
Crushed row  354500
Crushed row  355000
Crushed row  355500
Crushed row  356000
Crushed row  356500
Crushed row  357000
Crushed row  357500
Crushed row  358000
Crushed row  358500
Crushed row  359000
Crushed row  359500
Crushed row  360000
Crushed row  360500
Crushed row  361000
Crushed row  361500
Crushed row  362000
Crushed row  362500
Crushed row  363000
Crushed row  363500
Crushed row  364000
Crushed row  364500
Crushed row  365000
Crushed row  365500
Crushed row  366000
Crushed row  366500
Crushed row  367000
Crushed row  367500
Crushed row  368000
Crushed row  368500
Crushed row  369000
Crushed row  369500
Crushed row  370000
Crushed row  370500
Crushed row  371000
Crushed row  371500
Crushed row  372000
Crushed row  372500
Crushed row  373000
Crushed row  373500
Crushed row  374000
Crushed row  374500
Crushed row  375000
Crushed row  375500
Crushed row  376000
Crushed row  376500
Crushed row  377000
Crushed row  377500
Crushed row  378000
Crushed row  378500
Crushed row  379000
Crushed row  379500
Crushed row  380000
Crushed row  380500
Crushed row  381000
Crushed row  381500
Crushed row  382000
Crushed row  382500
Crushed row  383000
Crushed row  383500
Crushed row  384000
Crushed row  384500
Crushed row  385000
Crushed row  385500
Crushed row  386000
Crushed row  386500
Crushed row  387000
Crushed row  387500
Crushed row  388000
Crushed row  388500
Crushed row  389000
Crushed row  389500
Crushed row  390000
Crushed row  390500
Crushed row  391000
Crushed row  391500
Crushed row  392000
Crushed row  392500
Crushed row  393000
Crushed row  393500
Crushed row  394000
Crushed row  394500
Crushed row  395000
Crushed row  395500
Crushed row  396000
Crushed row  396500
Crushed row  397000
Crushed row  397500
Crushed row  398000
Crushed row  398500
Crushed row  399000
Crushed row  399500
Crushed row  400000
Crushed row  400500
Crushed row  401000
Crushed row  401500
Crushed row  402000
Crushed row  402500
Crushed row  403000
Crushed row  403500
Crushed row  404000
Crushed row  404500
Crushed row  405000
Crushed row  405500
Crushed row  406000
Crushed row  406500
Crushed row  407000
Crushed row  407500
Crushed row  408000
Crushed row  408500
Crushed row  409000
Crushed row  409500
Crushed row  410000
Crushed row  410500
Crushed row  411000
Crushed row  411500
Crushed row  412000
Crushed row  412500
Crushed row  413000
Crushed row  413500
Crushed row  414000
Crushed row  414500
Crushed row  415000

Crushed row  415500
Crushed row  416000
Crushed row  416500
Crushed row  417000
Crushed row  417500
Crushed row  418000
Crushed row  418500
Crushed row  419000
Crushed row  419500
Crushed row  420000
Crushed row  420500
Crushed row  421000
Crushed row  421500
Crushed row  422000
Crushed row  422500
Crushed row  423000
Crushed row  423500
Crushed row  424000
Crushed row  424500
Crushed row  425000
Crushed row  425500
Crushed row  426000
Crushed row  426500
Crushed row  427000
Crushed row  427500
Crushed row  428000
Crushed row  428500
Crushed row  429000
Crushed row  429500
Crushed row  430000
Crushed row  430500
Crushed row  431000
Crushed row  431500
Crushed row  432000
Crushed row  432500
Crushed row  433000
Crushed row  433500
Crushed row  434000
Crushed row  434500
Crushed row  435000
Crushed row  435500
Crushed row  436000
Crushed row  436500
Crushed row  437000
Crushed row  437500
Crushed row  438000
Crushed row  438500
Crushed row  439000
Crushed row  439500
Crushed row  440000
Crushed row  440500
Crushed row  441000
Crushed row  441500
Crushed row  442000
Crushed row  442500
Crushed row  443000
Crushed row  443500
Crushed row  444000
Crushed row  444500
Crushed row  445000
Crushed row  445500
Crushed row  446000
Crushed row  446500
Crushed row  447000
Crushed row  447500
Crushed row  448000
Crushed row  448500
Crushed row  449000
Crushed row  449500
Crushed row  450000
Crushed row  450500
Crushed row  451000
Crushed row  451500
Crushed row  452000
Crushed row  452500
Crushed row  453000
Crushed row  453500
Crushed row  454000
Crushed row  454500
Crushed row  455000
Crushed row  455500
Crushed row  456000
Crushed row  456500
Crushed row  457000
Crushed row  457500
Crushed row  458000
Crushed row  458500
Crushed row  459000
Crushed row  459500
Crushed row  460000
Crushed row  460500
Crushed row  461000
Crushed row  461500
Crushed row  462000
Crushed row  462500
Crushed row  463000
Crushed row  463500
Crushed row  464000
Crushed row  464500
Crushed row  465000
Crushed row  465500
Crushed row  466000
Crushed row  466500
Crushed row  467000
Crushed row  467500
Crushed row  468000
Crushed row  468500
Crushed row  469000
Crushed row  469500
Crushed row  470000
Crushed row  470500
Crushed row  471000
Crushed row  471500
Crushed row  472000
Crushed row  472500
Crushed row  473000
Crushed row  473500
Crushed row  474000
Crushed row  474500
Crushed row  475000
Crushed row  475500
Crushed row  476000
Crushed row  476500
Crushed row  477000
Crushed row  477500
Crushed row  478000
Crushed row  478500
Crushed row  479000
Crushed row  479500
Crushed row  480000
Crushed row  480500
Crushed row  481000
Crushed row  481500
Crushed row  482000
Crushed row  482500
Crushed row  483000
Crushed row  483500
Crushed row  484000
Crushed row  484500
Crushed row  485000
Crushed row  485500
Crushed row  486000
Crushed row  486500
Crushed row  487000
Crushed row  487500
Crushed row  488000
Crushed row  488500
Crushed row  489000
Crushed row  489500
Crushed row  490000
Crushed row  490500
Crushed row  491000
Crushed row  491500
Crushed row  492000
Crushed row  492500
Crushed row  493000
Crushed row  493500
Crushed row  494000
Crushed row  494500
Crushed row  495000
Crushed row  495500
Crushed row  496000
Crushed row  496500
Crushed row  497000
Crushed row  497500
Crushed row  498000
Crushed row  498500
Crushed row  499000
Crushed row  499500
Crushed row  500000
Crushed row  500500
Crushed row  501000
Crushed row  501500
Crushed row  502000
Crushed row  502500
Crushed row  503000
Crushed row  503500
Crushed row  504000
Crushed row  504500
Crushed row  505000
Crushed row  505500
Crushed row  506000
Crushed row  506500
Crushed row  507000
Crushed row  507500
Crushed row  508000
Crushed row  508500
Crushed row  509000
Crushed row  509500
Crushed row  510000
Crushed row  510500
Crushed row  511000
Crushed row  511500
Crushed row  512000
Crushed row  512500
Crushed row  513000
Crushed row  513500
Crushed row  514000
Crushed row  514500
Crushed row  515000
Crushed row  515500
Crushed row  516000
Crushed row  516500
Crushed row  517000
Crushed row  517500
Crushed row  518000
Crushed row  518500
Crushed row  519000
Crushed row  519500
Crushed row  520000
Crushed row  520500
Crushed row  521000
Crushed row  521500
Crushed row  522000
Crushed row  522500
Crushed row  523000
Crushed row  523500
Crushed row  524000
Crushed row  524500
Crushed row  525000
Crushed row  525500
Crushed row  526000
Crushed row  526500
Crushed row  527000
Crushed row  527500
Crushed row  528000
Crushed row  528500
Crushed row  529000
Crushed row  529500
Crushed row  530000
Crushed row  530500
Crushed row  531000
Crushed row  531500
Crushed row  532000
Crushed row  532500
Crushed row  533000
Crushed row  533500
Crushed row  534000
Crushed row  534500
Crushed row  535000
Crushed row  535500
Crushed row  536000
Crushed row  536500
Crushed row  537000
Crushed row  537500
Crushed row  538000
Crushed row  538500
Crushed row  539000
Crushed row  539500
Crushed row  540000
Crushed row  540500
Crushed row  541000
Crushed row  541500
Crushed row  542000
Crushed row  542500
Crushed row  543000
Crushed row  543500
Crushed row  544000
Crushed row  544500
Crushed row  545000
Crushed row  545500
Crushed row  546000
Crushed row  546500
Crushed row  547000
Crushed row  547500
Crushed row  548000
Crushed row  548500
Crushed row  549000
Crushed row  549500
Crushed row  550000
Crushed row  550500
Crushed row  551000
Crushed row  551500
Crushed row  552000
Crushed row  552500
Crushed row  553000
Crushed row  553500
Crushed row  554000
Crushed row  554500
Crushed row  555000
Crushed row  555500
Crushed row  556000
Crushed row  556500
Crushed row  557000
Crushed row  557500
Crushed row  558000
Crushed row  558500
Crushed row  559000
Crushed row  559500
Crushed row  560000
Crushed row  560500
Crushed row  561000
Crushed row  561500
Crushed row  562000
Crushed row  562500
Crushed row  563000
Crushed row  563500
Crushed row  564000
Crushed row  564500
Crushed row  565000
Crushed row  565500
Crushed row  566000
Crushed row  566500
Crushed row  567000
Crushed row  567500
Crushed row  568000
Crushed row  568500
Crushed row  569000
Crushed row  569500
Crushed row  570000
Crushed row  570500
Crushed row  571000
Crushed row  571500
Crushed row  572000
Crushed row  572500
Crushed row  573000
Crushed row  573500
Crushed row  574000
Crushed row  574500
Crushed row  575000
Crushed row  575500
Crushed row  576000
Crushed row  576500
Crushed row  577000
Crushed row  577500
Crushed row  578000
Crushed row  578500
Crushed row  579000
Crushed row  579500
Crushed row  580000
Crushed row  580500
Crushed row  581000
Crushed row  581500
Crushed row  582000
Crushed row  582500
Crushed row  583000
Crushed row  583500
Crushed row  584000
Crushed row  584500
Crushed row  585000
Crushed row  585500
Crushed row  586000
Crushed row  586500
Crushed row  587000
Crushed row  587500
Crushed row  588000
Crushed row  588500
Crushed row  589000
Crushed row  589500
Crushed row  590000
Crushed row  590500
Crushed row  591000
Crushed row  591500
Crushed row  592000
Crushed row  592500
Crushed row  593000
Crushed row  593500
Crushed row  594000
Crushed row  594500
Crushed row  595000
Crushed row  595500
Crushed row  596000
Crushed row  596500
Crushed row  597000
Crushed row  597500
Crushed row  598000
Crushed row  598500
Crushed row  599000
Crushed row  599500
Crushed row  600000
Crushed row  600500
Crushed row  601000
Crushed row  601500
Crushed row  602000
Crushed row  602500
Crushed row  603000
Crushed row  603500
Crushed row  604000
Crushed row  604500
Crushed row  605000
Crushed row  605500
Crushed row  606000
Crushed row  606500
Crushed row  607000
Crushed row  607500
Crushed row  608000
Crushed row  608500
Crushed row  609000
Crushed row  609500
Crushed row  610000
Crushed row  610500
Crushed row  611000
Crushed row  611500
Crushed row  612000
Crushed row  612500
Crushed row  613000
Crushed row  613500
Crushed row  614000
Crushed row  614500
Crushed row  615000
Crushed row  615500
Crushed row  616000
Crushed row  616500
Crushed row  617000
Crushed row  617500
Crushed row  618000
Crushed row  618500
Crushed row  619000
Crushed row  619500
Crushed row  620000

Crushed row  620500
Crushed row  621000
Crushed row  621500
Crushed row  622000
Crushed row  622500
Crushed row  623000
Crushed row  623500
Crushed row  624000
Crushed row  624500
Crushed row  625000
Crushed row  625500
Crushed row  626000
Crushed row  626500
Crushed row  627000
Crushed row  627500
Crushed row  628000
Crushed row  628500
Crushed row  629000
Crushed row  629500
Crushed row  630000
Crushed row  630500
Crushed row  631000
Crushed row  631500
Crushed row  632000
Crushed row  632500
Crushed row  633000
Crushed row  633500
Crushed row  634000
Crushed row  634500
Crushed row  635000
Crushed row  635500
Crushed row  636000
Crushed row  636500
Crushed row  637000
Crushed row  637500
Crushed row  638000
Crushed row  638500
Crushed row  639000
Crushed row  639500
Crushed row  640000
Crushed row  640500
Crushed row  641000
Crushed row  641500
Crushed row  642000
Crushed row  642500
Crushed row  643000
Crushed row  643500
Crushed row  644000
Crushed row  644500
Crushed row  645000
Crushed row  645500
Crushed row  646000
Crushed row  646500
Crushed row  647000
Crushed row  647500
Crushed row  648000
Crushed row  648500
Crushed row  649000
Crushed row  649500
Crushed row  650000
Crushed row  650500
Crushed row  651000
Crushed row  651500
Crushed row  652000
Crushed row  652500
Crushed row  653000
Crushed row  653500
Crushed row  654000
Crushed row  654500
Crushed row  655000
Crushed row  655500
Crushed row  656000
Crushed row  656500
Crushed row  657000
Crushed row  657500
Crushed row  658000
Crushed row  658500
Crushed row  659000
Crushed row  659500
Crushed row  660000
Crushed row  660500
Crushed row  661000
Crushed row  661500
Crushed row  662000
Crushed row  662500
Crushed row  663000
Crushed row  663500
Crushed row  664000
Crushed row  664500
Crushed row  665000
Crushed row  665500
Crushed row  666000
Crushed row  666500
Crushed row  667000
Crushed row  667500
Crushed row  668000
Crushed row  668500
Crushed row  669000
Crushed row  669500
Crushed row  670000
Crushed row  670500
Crushed row  671000
Crushed row  671500
Crushed row  672000
Crushed row  672500
Crushed row  673000
Crushed row  673500
Crushed row  674000
Crushed row  674500
Crushed row  675000
Crushed row  675500
Crushed row  676000
Crushed row  676500
Crushed row  677000
Crushed row  677500
Crushed row  678000
Crushed row  678500
Crushed row  679000
Crushed row  679500
Crushed row  680000
Crushed row  680500
Crushed row  681000
Crushed row  681500
Crushed row  682000
Crushed row  682500
Crushed row  683000
Crushed row  683500
Crushed row  684000
Crushed row  684500
Crushed row  685000
Crushed row  685500
Crushed row  686000
Crushed row  686500
Crushed row  687000
Crushed row  687500
Crushed row  688000
Crushed row  688500
Crushed row  689000
Crushed row  689500
Crushed row  690000
Crushed row  690500
Crushed row  691000
Crushed row  691500
Crushed row  692000
Crushed row  692500
Crushed row  693000
Crushed row  693500
Crushed row  694000
Crushed row  694500
Crushed row  695000
Crushed row  695500
Crushed row  696000
Crushed row  696500
Crushed row  697000
Crushed row  697500
Crushed row  698000
Crushed row  698500
Crushed row  699000
Crushed row  699500
Crushed row  700000
Crushed row  700500
Crushed row  701000
Crushed row  701500
Crushed row  702000
Crushed row  702500
Crushed row  703000
Crushed row  703500
Crushed row  704000
Crushed row  704500
Crushed row  705000
Crushed row  705500
Crushed row  706000
Crushed row  706500
Crushed row  707000
Crushed row  707500
Crushed row  708000
Crushed row  708500
Crushed row  709000
Crushed row  709500
Crushed row  710000
Crushed row  710500
Crushed row  711000
Crushed row  711500
Crushed row  712000
Crushed row  712500
Crushed row  713000
Crushed row  713500
Crushed row  714000
Crushed row  714500
Crushed row  715000
Crushed row  715500
Crushed row  716000
Crushed row  716500
Crushed row  717000
Crushed row  717500
Crushed row  718000
Crushed row  718500
Crushed row  719000
Crushed row  719500
Crushed row  720000
Crushed row  720500
Crushed row  721000
Crushed row  721500
Crushed row  722000
Crushed row  722500
Crushed row  723000
Crushed row  723500
Crushed row  724000
Crushed row  724500
Crushed row  725000
Crushed row  725500
Crushed row  726000
Crushed row  726500
Crushed row  727000
Crushed row  727500
Crushed row  728000
Crushed row  728500
Crushed row  729000
Crushed row  729500
Crushed row  730000
Crushed row  730500
Crushed row  731000
Crushed row  731500
Crushed row  732000
Crushed row  732500
Crushed row  733000
Crushed row  733500
Crushed row  734000
Crushed row  734500
Crushed row  735000
Crushed row  735500
Crushed row  736000
Crushed row  736500
Crushed row  737000
Crushed row  737500
Crushed row  738000
Crushed row  738500
Crushed row  739000
Crushed row  739500
Crushed row  740000
Crushed row  740500
Crushed row  741000
Crushed row  741500
Crushed row  742000
Crushed row  742500
Crushed row  743000
Crushed row  743500
Crushed row  744000
Crushed row  744500
Crushed row  745000
Crushed row  745500
Crushed row  746000
Crushed row  746500
Crushed row  747000
Crushed row  747500
Crushed row  748000
Crushed row  748500
Crushed row  749000
Crushed row  749500
Crushed row  750000
Crushed row  750500
Crushed row  751000
Crushed row  751500
Crushed row  752000
Crushed row  752500
Crushed row  753000
Crushed row  753500
Crushed row  754000
Crushed row  754500
Crushed row  755000
Crushed row  755500
Crushed row  756000
Crushed row  756500
Crushed row  757000
Crushed row  757500
Crushed row  758000
Crushed row  758500
Crushed row  759000
Crushed row  759500
Crushed row  760000
Crushed row  760500
Crushed row  761000
Crushed row  761500
Crushed row  762000
Crushed row  762500
Crushed row  763000
Crushed row  763500
Crushed row  764000
Crushed row  764500
Crushed row  765000
Crushed row  765500
Crushed row  766000
Crushed row  766500
Crushed row  767000
Crushed row  767500
Crushed row  768000
Crushed row  768500
Crushed row  769000
Crushed row  769500
Crushed row  770000
Crushed row  770500
Crushed row  771000
Crushed row  771500
Crushed row  772000
Crushed row  772500
Crushed row  773000
Crushed row  773500
Crushed row  774000
Crushed row  774500
Crushed row  775000
Crushed row  775500
Crushed row  776000
Crushed row  776500
Crushed row  777000
Crushed row  777500
Crushed row  778000
Crushed row  778500
Crushed row  779000
Crushed row  779500
Crushed row  780000
Crushed row  780500
Crushed row  781000
Crushed row  781500
Crushed row  782000
Crushed row  782500
Crushed row  783000
Crushed row  783500
Crushed row  784000
Crushed row  784500
Crushed row  785000
Crushed row  785500
Crushed row  786000
Crushed row  786500
Crushed row  787000
Crushed row  787500
Crushed row  788000
Crushed row  788500
Crushed row  789000
Crushed row  789500
Crushed row  790000
Crushed row  790500
Crushed row  791000
Crushed row  791500
Crushed row  792000
Crushed row  792500
Crushed row  793000
Crushed row  793500
Crushed row  794000
Crushed row  794500
Crushed row  795000
Crushed row  795500
Crushed row  796000
Crushed row  796500
Crushed row  797000
Crushed row  797500
Crushed row  798000
Crushed row  798500
Crushed row  799000
Crushed row  799500
Crushed row  800000
Crushed row  800500
Crushed row  801000
Crushed row  801500
Crushed row  802000
Crushed row  802500
Crushed row  803000
Crushed row  803500
Crushed row  804000
Crushed row  804500
Crushed row  805000
Crushed row  805500
Crushed row  806000
Crushed row  806500
Crushed row  807000
Crushed row  807500
Crushed row  808000
Crushed row  808500
Crushed row  809000
Crushed row  809500
Crushed row  810000
Crushed row  810500
Crushed row  811000
Crushed row  811500
Crushed row  812000
Crushed row  812500
Crushed row  813000
Crushed row  813500
Crushed row  814000
Crushed row  814500
Crushed row  815000
Crushed row  815500
Crushed row  816000
Crushed row  816500
Crushed row  817000
Crushed row  817500
Crushed row  818000
Crushed row  818500
Crushed row  819000
Crushed row  819500
Crushed row  820000
Crushed row  820500
Crushed row  821000
Crushed row  821500
Crushed row  822000
Crushed row  822500
Crushed row  823000
Crushed row  823500
Crushed row  824000
Crushed row  824500
Crushed row  825000

Crushed row  825500
Crushed row  826000
Crushed row  826500
Crushed row  827000
Crushed row  827500
Crushed row  828000
Crushed row  828500
Crushed row  829000
Crushed row  829500
Crushed row  830000
Crushed row  830500
Crushed row  831000
Crushed row  831500
Crushed row  832000
Crushed row  832500
Crushed row  833000
Crushed row  833500
Crushed row  834000
Crushed row  834500
Crushed row  835000
Crushed row  835500
Crushed row  836000
Crushed row  836500
Crushed row  837000
Crushed row  837500
Crushed row  838000
Crushed row  838500
Crushed row  839000
Crushed row  839500
Crushed row  840000
Crushed row  840500
Crushed row  841000
Crushed row  841500
Crushed row  842000
Crushed row  842500
Crushed row  843000
Crushed row  843500
Crushed row  844000
Crushed row  844500
Crushed row  845000
Crushed row  845500
Crushed row  846000
Crushed row  846500
Crushed row  847000
Crushed row  847500
Crushed row  848000
Crushed row  848500
Crushed row  849000
Crushed row  849500
Crushed row  850000
Crushed row  850500
Crushed row  851000
Crushed row  851500
Crushed row  852000
Crushed row  852500
Crushed row  853000
Crushed row  853500
Crushed row  854000
Crushed row  854500
Crushed row  855000
Crushed row  855500
Crushed row  856000
Crushed row  856500
Crushed row  857000
Crushed row  857500
Crushed row  858000
Crushed row  858500
Crushed row  859000
Crushed row  859500
Crushed row  860000
Crushed row  860500
Crushed row  861000
Crushed row  861500
Crushed row  862000
Crushed row  862500
Crushed row  863000
Crushed row  863500
Crushed row  864000
Crushed row  864500
Crushed row  865000
Crushed row  865500
Crushed row  866000
Crushed row  866500
Crushed row  867000
Crushed row  867500
Crushed row  868000
Crushed row  868500
Crushed row  869000
Crushed row  869500
Crushed row  870000
Crushed row  870500
Crushed row  871000
Crushed row  871500
Crushed row  872000
Crushed row  872500
Crushed row  873000
Crushed row  873500
Crushed row  874000
Crushed row  874500
Crushed row  875000
Crushed row  875500
Crushed row  876000
Crushed row  876500
Crushed row  877000
Crushed row  877500
Crushed row  878000
Crushed row  878500
Crushed row  879000
Crushed row  879500
Crushed row  880000
Crushed row  880500
Crushed row  881000
Crushed row  881500
Crushed row  882000
Crushed row  882500
Crushed row  883000
Crushed row  883500
Crushed row  884000
Crushed row  884500
Crushed row  885000
Crushed row  885500
Crushed row  886000
Crushed row  886500
Crushed row  887000
Crushed row  887500
Crushed row  888000
Crushed row  888500
Crushed row  889000
Crushed row  889500
Crushed row  890000
Crushed row  890500
Crushed row  891000
Crushed row  891500
Crushed row  892000
Crushed row  892500
Crushed row  893000
Crushed row  893500
Crushed row  894000
Crushed row  894500
Crushed row  895000
Crushed row  895500
Crushed row  896000
Crushed row  896500
Crushed row  897000
Crushed row  897500
Crushed row  898000
Crushed row  898500
Crushed row  899000
Crushed row  899500
Crushed row  900000
Crushed row  900500
Crushed row  901000
Crushed row  901500
Crushed row  902000
Crushed row  902500
Crushed row  903000
Crushed row  903500
Crushed row  904000
Crushed row  904500
Crushed row  905000
Crushed row  905500
Crushed row  906000
Crushed row  906500
Crushed row  907000
Crushed row  907500
Crushed row  908000
Crushed row  908500
Crushed row  909000
Crushed row  909500
Crushed row  910000
Crushed row  910500
Crushed row  911000
Crushed row  911500
Crushed row  912000
Crushed row  912500
Crushed row  913000
Crushed row  913500
Crushed row  914000
Crushed row  914500
Crushed row  915000
Crushed row  915500
Crushed row  916000
Crushed row  916500
Crushed row  917000
Crushed row  917500
Crushed row  918000
Crushed row  918500
Crushed row  919000
Crushed row  919500
Crushed row  920000
Crushed row  920500
Crushed row  921000
Crushed row  921500
Crushed row  922000
Crushed row  922500
Crushed row  923000
Crushed row  923500
Crushed row  924000
Crushed row  924500
Crushed row  925000
Crushed row  925500
Crushed row  926000
Crushed row  926500
Crushed row  927000
Crushed row  927500
Crushed row  928000
Crushed row  928500
Crushed row  929000
Crushed row  929500
Crushed row  930000
Crushed row  930500
Crushed row  931000
Crushed row  931500
Crushed row  932000
Crushed row  932500
Crushed row  933000
Crushed row  933500
Crushed row  934000
Crushed row  934500
Crushed row  935000
Crushed row  935500
Crushed row  936000
Crushed row  936500
Crushed row  937000
Crushed row  937500
Crushed row  938000
Crushed row  938500
Crushed row  939000
Crushed row  939500
Crushed row  940000
Crushed row  940500
Crushed row  941000
Crushed row  941500
Crushed row  942000
Crushed row  942500
Crushed row  943000
Crushed row  943500
Crushed row  944000
Crushed row  944500
Crushed row  945000
Crushed row  945500
Crushed row  946000
Crushed row  946500
Crushed row  947000
Crushed row  947500
Crushed row  948000
Crushed row  948500
Crushed row  949000
Crushed row  949500
Crushed row  950000
Crushed row  950500
Crushed row  951000
Crushed row  951500
Crushed row  952000
Crushed row  952500
Crushed row  953000
Crushed row  953500
Crushed row  954000
Crushed row  954500
Crushed row  955000
Crushed row  955500
Crushed row  956000
Crushed row  956500
Crushed row  957000
Crushed row  957500
Crushed row  958000
Crushed row  958500
Crushed row  959000
Crushed row  959500
Crushed row  960000
Crushed row  960500
Crushed row  961000
Crushed row  961500
Crushed row  962000
Crushed row  962500
Crushed row  963000
Crushed row  963500
Crushed row  964000
Crushed row  964500
Crushed row  965000
Crushed row  965500
Crushed row  966000
Crushed row  966500
Crushed row  967000
Crushed row  967500
Crushed row  968000
Crushed row  968500
Crushed row  969000
Crushed row  969500
Crushed row  970000
Crushed row  970500
Crushed row  971000
Crushed row  971500
Crushed row  972000
Crushed row  972500
Crushed row  973000
Crushed row  973500
Crushed row  974000
Crushed row  974500
Crushed row  975000
Crushed row  975500
Crushed row  976000
Crushed row  976500
Crushed row  977000
Crushed row  977500
Crushed row  978000
Crushed row  978500
Crushed row  979000
Crushed row  979500
Crushed row  980000
Crushed row  980500
Crushed row  981000
Crushed row  981500
Crushed row  982000
Crushed row  982500
Crushed row  983000
Crushed row  983500
Crushed row  984000
Crushed row  984500
Crushed row  985000
Crushed row  985500
Crushed row  986000
Crushed row  986500
Crushed row  987000
Crushed row  987500
Crushed row  988000
Crushed row  988500
Crushed row  989000
Crushed row  989500
Crushed row  990000
Crushed row  990500
Crushed row  991000
Crushed row  991500
Crushed row  992000
Crushed row  992500
Crushed row  993000
Crushed row  993500
Crushed row  994000
Crushed row  994500
Crushed row  995000
Crushed row  995500
Crushed row  996000
Crushed row  996500
Crushed row  997000
Crushed row  997500
Crushed row  998000
Crushed row  998500
Crushed row  999000
Crushed row  999500
Crushed row  1000000
Crushed row  1000500
Crushed row  1001000
Crushed row  1001500
Crushed row  1002000
Crushed row  1002500
Crushed row  1003000
Crushed row  1003500
Crushed row  1004000
Crushed row  1004500
Crushed row  1005000
Crushed row  1005500
Crushed row  1006000
Crushed row  1006500
Crushed row  1007000
Crushed row  1007500
Crushed row  1008000
Crushed row  1008500
Crushed row  1009000
Crushed row  1009500
Crushed row  1010000
Crushed row  1010500
Crushed row  1011000
Crushed row  1011500
Crushed row  1012000
Crushed row  1012500
Crushed row  1013000
Crushed row  1013500
Crushed row  1014000
Crushed row  1014500
Crushed row  1015000
Crushed row  1015500
Crushed row  1016000
Crushed row  1016500
Crushed row  1017000
Crushed row  1017500
Crushed row  1018000
Crushed row  1018500
Crushed row  1019000
Crushed row  1019500
Crushed row  1020000
Crushed row  1020500
Crushed row  1021000
Crushed row  1021500
Crushed row  1022000
Crushed row  1022500
Crushed row  1023000
Crushed row  1023500
Crushed row  1024000
Crushed row  1024500
Crushed row  1025000
Crushed row  1025500
Crushed row  1026000
Crushed row  1026500
Crushed row  1027000
Crushed row  1027500
Crushed row  1028000
Crushed row  1028500

Crushed row  1029000
Crushed row  1029500
Crushed row  1030000
Crushed row  1030500
Crushed row  1031000
Crushed row  1031500
Crushed row  1032000
Crushed row  1032500
Crushed row  1033000
Crushed row  1033500
Crushed row  1034000
Crushed row  1034500
Crushed row  1035000
Crushed row  1035500
Crushed row  1036000
Crushed row  1036500
Crushed row  1037000
Crushed row  1037500
Crushed row  1038000
Crushed row  1038500
Crushed row  1039000
Crushed row  1039500
Crushed row  1040000
Crushed row  1040500
Crushed row  1041000
Crushed row  1041500
Crushed row  1042000
Crushed row  1042500
Crushed row  1043000
Crushed row  1043500
Crushed row  1044000
Crushed row  1044500
Crushed row  1045000
Crushed row  1045500
Crushed row  1046000
Crushed row  1046500
Crushed row  1047000
Crushed row  1047500
Crushed row  1048000
Crushed row  1048500
Crushed row  1049000
Crushed row  1049500
Crushed row  1050000
Crushed row  1050500
Crushed row  1051000
Crushed row  1051500
Crushed row  1052000
Crushed row  1052500
Crushed row  1053000
Crushed row  1053500
Crushed row  1054000
Crushed row  1054500
Crushed row  1055000
Crushed row  1055500
Crushed row  1056000
Crushed row  1056500
Crushed row  1057000
Crushed row  1057500
Crushed row  1058000
Crushed row  1058500
Crushed row  1059000
Crushed row  1059500
Crushed row  1060000
Crushed row  1060500
Crushed row  1061000
Crushed row  1061500
Crushed row  1062000
Crushed row  1062500
Crushed row  1063000
Crushed row  1063500
Crushed row  1064000
Crushed row  1064500
Crushed row  1065000
Crushed row  1065500
Crushed row  1066000
Crushed row  1066500
Crushed row  1067000
Crushed row  1067500
Crushed row  1068000
Crushed row  1068500
Crushed row  1069000
Crushed row  1069500
Crushed row  1070000
Crushed row  1070500
Crushed row  1071000
Crushed row  1071500
Crushed row  1072000
Crushed row  1072500
Crushed row  1073000
Crushed row  1073500
Crushed row  1074000
Crushed row  1074500
Crushed row  1075000
Crushed row  1075500
Crushed row  1076000
Crushed row  1076500
Crushed row  1077000
Crushed row  1077500
Crushed row  1078000
Crushed row  1078500
Crushed row  1079000
Crushed row  1079500
Crushed row  1080000
Crushed row  1080500
Crushed row  1081000
Crushed row  1081500
Crushed row  1082000
Crushed row  1082500
Crushed row  1083000
Crushed row  1083500
Crushed row  1084000
Crushed row  1084500
Crushed row  1085000
Crushed row  1085500
Crushed row  1086000
Crushed row  1086500
Crushed row  1087000
Crushed row  1087500
Crushed row  1088000
Crushed row  1088500
Crushed row  1089000
Crushed row  1089500
Crushed row  1090000
Crushed row  1090500
Crushed row  1091000
Crushed row  1091500
Crushed row  1092000
Crushed row  1092500
Crushed row  1093000
Crushed row  1093500
Crushed row  1094000
Crushed row  1094500
Crushed row  1095000
Crushed row  1095500
Crushed row  1096000
Crushed row  1096500
Crushed row  1097000
Crushed row  1097500
Crushed row  1098000
Crushed row  1098500
Crushed row  1099000
Crushed row  1099500
Crushed row  1100000
Crushed row  1100500
Crushed row  1101000
Crushed row  1101500
Crushed row  1102000
Crushed row  1102500
Crushed row  1103000
Crushed row  1103500
Crushed row  1104000
Crushed row  1104500
Crushed row  1105000
Crushed row  1105500
Crushed row  1106000
Crushed row  1106500
Crushed row  1107000
Crushed row  1107500
Crushed row  1108000
Crushed row  1108500
Crushed row  1109000
Crushed row  1109500
Crushed row  1110000
Crushed row  1110500
Crushed row  1111000
Crushed row  1111500
Crushed row  1112000
Crushed row  1112500
Crushed row  1113000
Crushed row  1113500
Crushed row  1114000
Crushed row  1114500
Crushed row  1115000
Crushed row  1115500
Crushed row  1116000
Crushed row  1116500
Crushed row  1117000
Crushed row  1117500
Crushed row  1118000
Crushed row  1118500
Crushed row  1119000
Crushed row  1119500
Crushed row  1120000
Crushed row  1120500
Crushed row  1121000
Crushed row  1121500
Crushed row  1122000
Crushed row  1122500
Crushed row  1123000
Crushed row  1123500
Crushed row  1124000
Crushed row  1124500
Crushed row  1125000
Crushed row  1125500
Crushed row  1126000
Crushed row  1126500
Crushed row  1127000
Crushed row  1127500
Crushed row  1128000
Crushed row  1128500
Crushed row  1129000
Crushed row  1129500
Crushed row  1130000
Crushed row  1130500
Crushed row  1131000
Crushed row  1131500
Crushed row  1132000
Crushed row  1132500
Crushed row  1133000
Crushed row  1133500
Crushed row  1134000
Crushed row  1134500
Crushed row  1135000
Crushed row  1135500
Crushed row  1136000
Crushed row  1136500
Crushed row  1137000
Crushed row  1137500
Crushed row  1138000
Crushed row  1138500
Crushed row  1139000
Crushed row  1139500
Crushed row  1140000
Crushed row  1140500
Crushed row  1141000
Crushed row  1141500
Crushed row  1142000
Crushed row  1142500
Crushed row  1143000
Crushed row  1143500
Crushed row  1144000
Crushed row  1144500
Crushed row  1145000
Crushed row  1145500
Crushed row  1146000
Crushed row  1146500
Crushed row  1147000
Crushed row  1147500
Crushed row  1148000
Crushed row  1148500
Crushed row  1149000
Crushed row  1149500
Crushed row  1150000
Crushed row  1150500
Crushed row  1151000
Crushed row  1151500
Crushed row  1152000
Crushed row  1152500
Crushed row  1153000
Crushed row  1153500
Crushed row  1154000
Crushed row  1154500
Crushed row  1155000
Crushed row  1155500
Crushed row  1156000
Crushed row  1156500
Crushed row  1157000
Crushed row  1157500
Crushed row  1158000
Crushed row  1158500
Crushed row  1159000
Crushed row  1159500
Crushed row  1160000
Crushed row  1160500
Crushed row  1161000
Crushed row  1161500
Crushed row  1162000
Crushed row  1162500
Crushed row  1163000
Crushed row  1163500
Crushed row  1164000
Crushed row  1164500
Crushed row  1165000
Crushed row  1165500
Crushed row  1166000
Crushed row  1166500
Crushed row  1167000
Crushed row  1167500
Crushed row  1168000
Crushed row  1168500
Crushed row  1169000
Crushed row  1169500
Crushed row  1170000
Crushed row  1170500
Crushed row  1171000
Crushed row  1171500
Crushed row  1172000
Crushed row  1172500
Crushed row  1173000
Crushed row  1173500
Crushed row  1174000
Crushed row  1174500
Crushed row  1175000
Crushed row  1175500
Crushed row  1176000
Crushed row  1176500
Crushed row  1177000
Crushed row  1177500
Crushed row  1178000
Crushed row  1178500
Crushed row  1179000
Crushed row  1179500
Crushed row  1180000
Crushed row  1180500
Crushed row  1181000
Crushed row  1181500
Crushed row  1182000
Crushed row  1182500
Crushed row  1183000
Crushed row  1183500
Crushed row  1184000
Crushed row  1184500
Crushed row  1185000
Crushed row  1185500
Crushed row  1186000
Crushed row  1186500
Crushed row  1187000
Crushed row  1187500
Crushed row  1188000
Crushed row  1188500
Crushed row  1189000
Crushed row  1189500
Crushed row  1190000
Crushed row  1190500
Crushed row  1191000
Crushed row  1191500
Crushed row  1192000
Crushed row  1192500
Crushed row  1193000
Crushed row  1193500
Crushed row  1194000
Crushed row  1194500
Crushed row  1195000
Crushed row  1195500
Crushed row  1196000
Crushed row  1196500
Crushed row  1197000
Crushed row  1197500
Crushed row  1198000
Crushed row  1198500
Crushed row  1199000
Crushed row  1199500
Crushed row  1200000
Crushed row  1200500
Crushed row  1201000
Crushed row  1201500
Crushed row  1202000
Crushed row  1202500
Crushed row  1203000
Crushed row  1203500
Crushed row  1204000
Crushed row  1204500
Crushed row  1205000
Crushed row  1205500
Crushed row  1206000
Crushed row  1206500
Crushed row  1207000
Crushed row  1207500
Crushed row  1208000
Crushed row  1208500
Crushed row  1209000
Crushed row  1209500
Crushed row  1210000
Crushed row  1210500
Crushed row  1211000
Crushed row  1211500
Crushed row  1212000
Crushed row  1212500
Crushed row  1213000
Crushed row  1213500
Crushed row  1214000
Crushed row  1214500
Crushed row  1215000
Crushed row  1215500
Crushed row  1216000
Crushed row  1216500
Crushed row  1217000
Crushed row  1217500
Crushed row  1218000
Crushed row  1218500
Crushed row  1219000
Crushed row  1219500
Crushed row  1220000
Crushed row  1220500
Crushed row  1221000
Crushed row  1221500
Crushed row  1222000
Crushed row  1222500
Crushed row  1223000
Crushed row  1223500
Crushed row  1224000

Crushed row  1224500
Crushed row  1225000
Crushed row  1225500
Crushed row  1226000
Crushed row  1226500
Crushed row  1227000
Crushed row  1227500
Crushed row  1228000
Crushed row  1228500
Crushed row  1229000
Crushed row  1229500
Crushed row  1230000
Crushed row  1230500
Crushed row  1231000
Crushed row  1231500
Crushed row  1232000
Crushed row  1232500
Crushed row  1233000
Crushed row  1233500
Crushed row  1234000
Crushed row  1234500
Crushed row  1235000
Crushed row  1235500
Crushed row  1236000
Crushed row  1236500
Crushed row  1237000
Crushed row  1237500
Crushed row  1238000
Crushed row  1238500
Crushed row  1239000
Crushed row  1239500
Crushed row  1240000
Crushed row  1240500
Crushed row  1241000
Crushed row  1241500
Crushed row  1242000
Crushed row  1242500
Crushed row  1243000
Crushed row  1243500
Crushed row  1244000
Crushed row  1244500
Crushed row  1245000
Crushed row  1245500
Crushed row  1246000
Crushed row  1246500
Crushed row  1247000
Crushed row  1247500
Crushed row  1248000
Crushed row  1248500
Crushed row  1249000
Crushed row  1249500
Crushed row  1250000
Crushed row  1250500
Crushed row  1251000
Crushed row  1251500
Crushed row  1252000
Crushed row  1252500
Crushed row  1253000
Crushed row  1253500
Crushed row  1254000
Crushed row  1254500
Crushed row  1255000
Crushed row  1255500
Crushed row  1256000
Crushed row  1256500
Crushed row  1257000
Crushed row  1257500
Crushed row  1258000
Crushed row  1258500
Crushed row  1259000
Crushed row  1259500
Crushed row  1260000
Crushed row  1260500
Crushed row  1261000
Crushed row  1261500
Crushed row  1262000
Crushed row  1262500
Crushed row  1263000
Crushed row  1263500
Crushed row  1264000
Crushed row  1264500
Crushed row  1265000
Crushed row  1265500
Crushed row  1266000
Crushed row  1266500
Crushed row  1267000
Crushed row  1267500
Crushed row  1268000
Crushed row  1268500
Crushed row  1269000
Crushed row  1269500
Crushed row  1270000
Crushed row  1270500
Crushed row  1271000
Crushed row  1271500
Crushed row  1272000
Crushed row  1272500
Crushed row  1273000
Crushed row  1273500
Crushed row  1274000
Crushed row  1274500
Crushed row  1275000
Crushed row  1275500
Crushed row  1276000
Crushed row  1276500
Crushed row  1277000
Crushed row  1277500
Crushed row  1278000
Crushed row  1278500
Crushed row  1279000
Crushed row  1279500
Crushed row  1280000
Crushed row  1280500
Crushed row  1281000
Crushed row  1281500
Crushed row  1282000
Crushed row  1282500
Crushed row  1283000
Crushed row  1283500
Crushed row  1284000
Crushed row  1284500
Crushed row  1285000
Crushed row  1285500
Crushed row  1286000
Crushed row  1286500
Crushed row  1287000
Crushed row  1287500
Crushed row  1288000
Crushed row  1288500
Crushed row  1289000
Crushed row  1289500
Crushed row  1290000
Crushed row  1290500
Crushed row  1291000
Crushed row  1291500
Crushed row  1292000
Crushed row  1292500
Crushed row  1293000
Crushed row  1293500
Crushed row  1294000
Crushed row  1294500
Crushed row  1295000
Crushed row  1295500
Crushed row  1296000
Crushed row  1296500
Crushed row  1297000
Crushed row  1297500
Crushed row  1298000
Crushed row  1298500
Crushed row  1299000
Crushed row  1299500
Crushed row  1300000
Crushed row  1300500
Crushed row  1301000
Crushed row  1301500
Crushed row  1302000
Crushed row  1302500
Crushed row  1303000
Crushed row  1303500
Crushed row  1304000
Crushed row  1304500
Crushed row  1305000
Crushed row  1305500
Crushed row  1306000
Crushed row  1306500
Crushed row  1307000
Crushed row  1307500
Crushed row  1308000
Crushed row  1308500
Crushed row  1309000
Crushed row  1309500
Crushed row  1310000
Crushed row  1310500
Crushed row  1311000
Crushed row  1311500
Crushed row  1312000
Crushed row  1312500
Crushed row  1313000
Crushed row  1313500
Crushed row  1314000
Crushed row  1314500
Crushed row  1315000
Crushed row  1315500
Crushed row  1316000
Crushed row  1316500
Crushed row  1317000
Crushed row  1317500
Crushed row  1318000
Crushed row  1318500
Crushed row  1319000
Crushed row  1319500
Crushed row  1320000
Crushed row  1320500
Crushed row  1321000
Crushed row  1321500
Crushed row  1322000
Crushed row  1322500
Crushed row  1323000
Crushed row  1323500
Crushed row  1324000
Crushed row  1324500
Crushed row  1325000
Crushed row  1325500
Crushed row  1326000
Crushed row  1326500
Crushed row  1327000
Crushed row  1327500
Crushed row  1328000
Crushed row  1328500
Crushed row  1329000
Crushed row  1329500
Crushed row  1330000
Crushed row  1330500
Crushed row  1331000
Crushed row  1331500
Crushed row  1332000
Crushed row  1332500
Crushed row  1333000
Crushed row  1333500
Crushed row  1334000
Crushed row  1334500
Crushed row  1335000
Crushed row  1335500
Crushed row  1336000
Crushed row  1336500
Crushed row  1337000
Crushed row  1337500
Crushed row  1338000
Crushed row  1338500
Crushed row  1339000
Crushed row  1339500
Crushed row  1340000
Crushed row  1340500
Crushed row  1341000
Crushed row  1341500
Crushed row  1342000
Crushed row  1342500
Crushed row  1343000
Crushed row  1343500
Crushed row  1344000
Crushed row  1344500
Crushed row  1345000
Crushed row  1345500
Crushed row  1346000
Crushed row  1346500
Crushed row  1347000
Crushed row  1347500
Crushed row  1348000
Crushed row  1348500
Crushed row  1349000
Crushed row  1349500
Crushed row  1350000
Crushed row  1350500
Crushed row  1351000
Crushed row  1351500
Crushed row  1352000
Crushed row  1352500
Crushed row  1353000
Crushed row  1353500
Crushed row  1354000
Crushed row  1354500
Crushed row  1355000
Crushed row  1355500
Crushed row  1356000
Crushed row  1356500
Crushed row  1357000
Crushed row  1357500
Crushed row  1358000
Crushed row  1358500
Crushed row  1359000
Crushed row  1359500
Crushed row  1360000
Crushed row  1360500
Crushed row  1361000
Crushed row  1361500
Crushed row  1362000
Crushed row  1362500
Crushed row  1363000
Crushed row  1363500
Crushed row  1364000
Crushed row  1364500
Crushed row  1365000
Crushed row  1365500
Crushed row  1366000
Crushed row  1366500
Crushed row  1367000
Crushed row  1367500
Crushed row  1368000
Crushed row  1368500
Crushed row  1369000
Crushed row  1369500
Crushed row  1370000
Crushed row  1370500
Crushed row  1371000
Crushed row  1371500
Crushed row  1372000
Crushed row  1372500
Crushed row  1373000
Crushed row  1373500
Crushed row  1374000
Crushed row  1374500
Crushed row  1375000
Crushed row  1375500
Crushed row  1376000
Crushed row  1376500
Crushed row  1377000
Crushed row  1377500
Crushed row  1378000
Crushed row  1378500
Crushed row  1379000
Crushed row  1379500
Crushed row  1380000
Crushed row  1380500
Crushed row  1381000
Crushed row  1381500
Crushed row  1382000
Crushed row  1382500
Crushed row  1383000
Crushed row  1383500
Crushed row  1384000
Crushed row  1384500
Crushed row  1385000
Crushed row  1385500
Crushed row  1386000
Crushed row  1386500
Crushed row  1387000
Crushed row  1387500
Crushed row  1388000
Crushed row  1388500
Crushed row  1389000
Crushed row  1389500
Crushed row  1390000
Crushed row  1390500
Crushed row  1391000
Crushed row  1391500
Crushed row  1392000
Crushed row  1392500
Crushed row  1393000
Crushed row  1393500
Crushed row  1394000
Crushed row  1394500
Crushed row  1395000
Crushed row  1395500
Crushed row  1396000
Crushed row  1396500
Crushed row  1397000
Crushed row  1397500
Crushed row  1398000
Crushed row  1398500
Crushed row  1399000
Crushed row  1399500
Crushed row  1400000
Crushed row  1400500
Crushed row  1401000
Crushed row  1401500
Crushed row  1402000
Crushed row  1402500
Crushed row  1403000
Crushed row  1403500
Crushed row  1404000
Crushed row  1404500
Crushed row  1405000
Crushed row  1405500
Crushed row  1406000
Crushed row  1406500
Crushed row  1407000
Crushed row  1407500
Crushed row  1408000
Crushed row  1408500
Crushed row  1409000
Crushed row  1409500
Crushed row  1410000
Crushed row  1410500
Crushed row  1411000
Crushed row  1411500
Crushed row  1412000
Crushed row  1412500
Crushed row  1413000
Crushed row  1413500
Crushed row  1414000
Crushed row  1414500
Crushed row  1415000
Crushed row  1415500
Crushed row  1416000
Crushed row  1416500
Crushed row  1417000
Crushed row  1417500
Crushed row  1418000
Crushed row  1418500
Crushed row  1419000
Crushed row  1419500

Crushed row  1420000
Crushed row  1420500
Crushed row  1421000
Crushed row  1421500
Crushed row  1422000
Crushed row  1422500
Crushed row  1423000
Crushed row  1423500
Crushed row  1424000
Crushed row  1424500
Crushed row  1425000
Crushed row  1425500
Crushed row  1426000
Crushed row  1426500
Crushed row  1427000
Crushed row  1427500
Crushed row  1428000
Crushed row  1428500
Crushed row  1429000
Crushed row  1429500
Crushed row  1430000
Crushed row  1430500
Crushed row  1431000
Crushed row  1431500
Crushed row  1432000
Crushed row  1432500
Crushed row  1433000
Crushed row  1433500
Crushed row  1434000
Crushed row  1434500
Crushed row  1435000
Crushed row  1435500
Crushed row  1436000
Crushed row  1436500
Crushed row  1437000
Crushed row  1437500
Crushed row  1438000
Crushed row  1438500
Crushed row  1439000
Crushed row  1439500
Crushed row  1440000
Crushed row  1440500
Crushed row  1441000
Crushed row  1441500
Crushed row  1442000
Crushed row  1442500
Crushed row  1443000
Crushed row  1443500
Crushed row  1444000
Crushed row  1444500
Crushed row  1445000
Crushed row  1445500
Crushed row  1446000
Crushed row  1446500
Crushed row  1447000
Crushed row  1447500
Crushed row  1448000
Crushed row  1448500
Crushed row  1449000
Crushed row  1449500
Crushed row  1450000
Crushed row  1450500
Crushed row  1451000
Crushed row  1451500
Crushed row  1452000
Crushed row  1452500
Crushed row  1453000
Crushed row  1453500
Crushed row  1454000
Crushed row  1454500
Crushed row  1455000
Crushed row  1455500
Crushed row  1456000
Crushed row  1456500
Crushed row  1457000
Crushed row  1457500
Crushed row  1458000
Crushed row  1458500
Crushed row  1459000
Crushed row  1459500
Crushed row  1460000
Crushed row  1460500
Crushed row  1461000
Crushed row  1461500
Crushed row  1462000
Crushed row  1462500
Crushed row  1463000
Crushed row  1463500
Crushed row  1464000
Crushed row  1464500
Crushed row  1465000
Crushed row  1465500
Crushed row  1466000
Crushed row  1466500
Crushed row  1467000
Crushed row  1467500
Crushed row  1468000
Crushed row  1468500
Crushed row  1469000
Crushed row  1469500
Crushed row  1470000
Crushed row  1470500
Crushed row  1471000
Crushed row  1471500
Crushed row  1472000
Crushed row  1472500
Crushed row  1473000
Crushed row  1473500
Crushed row  1474000
Crushed row  1474500
Crushed row  1475000
Crushed row  1475500
Crushed row  1476000
Crushed row  1476500
Crushed row  1477000
Crushed row  1477500
Crushed row  1478000
Crushed row  1478500
Crushed row  1479000
Crushed row  1479500
Crushed row  1480000
Crushed row  1480500
Crushed row  1481000
Crushed row  1481500
Crushed row  1482000
Crushed row  1482500
Crushed row  1483000
Crushed row  1483500
Crushed row  1484000
Crushed row  1484500
Crushed row  1485000
Crushed row  1485500
Crushed row  1486000
Crushed row  1486500
Crushed row  1487000
Crushed row  1487500
Crushed row  1488000
Crushed row  1488500
Crushed row  1489000
Crushed row  1489500
Crushed row  1490000
Crushed row  1490500
Crushed row  1491000
Crushed row  1491500
Crushed row  1492000
Crushed row  1492500
Crushed row  1493000
Crushed row  1493500
Crushed row  1494000
Crushed row  1494500
Crushed row  1495000
Crushed row  1495500
Crushed row  1496000
Crushed row  1496500
Crushed row  1497000
Crushed row  1497500
Crushed row  1498000
Crushed row  1498500
Crushed row  1499000
Crushed row  1499500
Crushed row  1500000
Crushed row  1500500
Crushed row  1501000
Crushed row  1501500
Crushed row  1502000
Crushed row  1502500
Crushed row  1503000
Crushed row  1503500
Crushed row  1504000
Crushed row  1504500
Crushed row  1505000
Crushed row  1505500
Crushed row  1506000
Crushed row  1506500
Crushed row  1507000
Crushed row  1507500
Crushed row  1508000
Crushed row  1508500
Crushed row  1509000
Crushed row  1509500
Crushed row  1510000
Crushed row  1510500
Crushed row  1511000
Crushed row  1511500
Crushed row  1512000
Crushed row  1512500
Crushed row  1513000
Crushed row  1513500
Crushed row  1514000
Crushed row  1514500
Crushed row  1515000
Crushed row  1515500
Crushed row  1516000
Crushed row  1516500
Crushed row  1517000
Crushed row  1517500
Crushed row  1518000
Crushed row  1518500
Crushed row  1519000
Crushed row  1519500
Crushed row  1520000
Crushed row  1520500
Crushed row  1521000
Crushed row  1521500
Crushed row  1522000
Crushed row  1522500
Crushed row  1523000
Crushed row  1523500
Crushed row  1524000
Crushed row  1524500
Crushed row  1525000
Crushed row  1525500
Crushed row  1526000
Crushed row  1526500
Crushed row  1527000
Crushed row  1527500
Crushed row  1528000
Crushed row  1528500
Crushed row  1529000
Crushed row  1529500
Crushed row  1530000
Crushed row  1530500
Crushed row  1531000
Crushed row  1531500
Crushed row  1532000
Crushed row  1532500
Crushed row  1533000
Crushed row  1533500
Crushed row  1534000
Crushed row  1534500
Crushed row  1535000
Crushed row  1535500
Crushed row  1536000
Crushed row  1536500
Crushed row  1537000
Crushed row  1537500
Crushed row  1538000
Crushed row  1538500
Crushed row  1539000
Crushed row  1539500
Crushed row  1540000
Crushed row  1540500
Crushed row  1541000
Crushed row  1541500
Crushed row  1542000
Crushed row  1542500
Crushed row  1543000
Crushed row  1543500
Crushed row  1544000
Crushed row  1544500
Crushed row  1545000
Crushed row  1545500
Crushed row  1546000
Crushed row  1546500
Crushed row  1547000
Crushed row  1547500
Crushed row  1548000
Crushed row  1548500
Crushed row  1549000
Crushed row  1549500
Crushed row  1550000
Crushed row  1550500
Crushed row  1551000
Crushed row  1551500
Crushed row  1552000
Crushed row  1552500
Crushed row  1553000
Crushed row  1553500
Crushed row  1554000
Crushed row  1554500
Crushed row  1555000
Crushed row  1555500
Crushed row  1556000
Crushed row  1556500
Crushed row  1557000
Crushed row  1557500
Crushed row  1558000
Crushed row  1558500
Crushed row  1559000
Crushed row  1559500
Crushed row  1560000
Crushed row  1560500
Crushed row  1561000
Crushed row  1561500
Crushed row  1562000
Crushed row  1562500
Crushed row  1563000
Crushed row  1563500
Crushed row  1564000
Crushed row  1564500
Crushed row  1565000
Crushed row  1565500
Crushed row  1566000
Crushed row  1566500
Crushed row  1567000
Crushed row  1567500
Crushed row  1568000
Crushed row  1568500
Crushed row  1569000
Crushed row  1569500
Crushed row  1570000
Crushed row  1570500
Crushed row  1571000
Crushed row  1571500
Crushed row  1572000
Crushed row  1572500
Crushed row  1573000
Crushed row  1573500
Crushed row  1574000
Crushed row  1574500
Crushed row  1575000
Crushed row  1575500
Crushed row  1576000
Crushed row  1576500
Crushed row  1577000
Crushed row  1577500
Crushed row  1578000
Crushed row  1578500
Crushed row  1579000
Crushed row  1579500
Crushed row  1580000
Crushed row  1580500
Crushed row  1581000
Crushed row  1581500
Crushed row  1582000
Crushed row  1582500
Crushed row  1583000
Crushed row  1583500
Crushed row  1584000
Crushed row  1584500
Crushed row  1585000
Crushed row  1585500
Crushed row  1586000
Crushed row  1586500
Crushed row  1587000
Crushed row  1587500
Crushed row  1588000
Crushed row  1588500
Crushed row  1589000
Crushed row  1589500
Crushed row  1590000
Crushed row  1590500
Crushed row  1591000
Crushed row  1591500
Crushed row  1592000
Crushed row  1592500
Crushed row  1593000
Crushed row  1593500
Crushed row  1594000
Crushed row  1594500
Crushed row  1595000
Crushed row  1595500
Crushed row  1596000
Crushed row  1596500
Crushed row  1597000
Crushed row  1597500
Crushed row  1598000
Crushed row  1598500
Crushed row  1599000
Crushed row  1599500
Crushed row  1600000
Crushed row  1600500
Crushed row  1601000
Crushed row  1601500
Crushed row  1602000
Crushed row  1602500
Crushed row  1603000
Crushed row  1603500
Crushed row  1604000
Crushed row  1604500
Crushed row  1605000
Crushed row  1605500
Crushed row  1606000
Crushed row  1606500
Crushed row  1607000
Crushed row  1607500
Crushed row  1608000
Crushed row  1608500
Crushed row  1609000
Crushed row  1609500
Crushed row  1610000
Crushed row  1610500
Crushed row  1611000
Crushed row  1611500
Crushed row  1612000
Crushed row  1612500
Crushed row  1613000
Crushed row  1613500
Crushed row  1614000
Crushed row  1614500
Crushed row  1615000

Crushed row  1615500
Crushed row  1616000
Crushed row  1616500
Crushed row  1617000
Crushed row  1617500
Crushed row  1618000
Crushed row  1618500
Crushed row  1619000
Crushed row  1619500
Crushed row  1620000
Crushed row  1620500
Crushed row  1621000
Crushed row  1621500
Crushed row  1622000
Crushed row  1622500
Crushed row  1623000
Crushed row  1623500
Crushed row  1624000
Crushed row  1624500
Crushed row  1625000
Crushed row  1625500
Crushed row  1626000
Crushed row  1626500
Crushed row  1627000
Crushed row  1627500
Crushed row  1628000
Crushed row  1628500
Crushed row  1629000
Crushed row  1629500
Crushed row  1630000
Crushed row  1630500
Crushed row  1631000
Crushed row  1631500
Crushed row  1632000
Crushed row  1632500
Crushed row  1633000
Crushed row  1633500
Crushed row  1634000
Crushed row  1634500
Crushed row  1635000
Crushed row  1635500
Crushed row  1636000
Crushed row  1636500
Crushed row  1637000
Crushed row  1637500
Crushed row  1638000
Crushed row  1638500
Crushed row  1639000
Crushed row  1639500
Crushed row  1640000
Crushed row  1640500
Crushed row  1641000
Crushed row  1641500
Crushed row  1642000
Crushed row  1642500
Crushed row  1643000
Crushed row  1643500
Crushed row  1644000
Crushed row  1644500
Crushed row  1645000
Crushed row  1645500
Crushed row  1646000
Crushed row  1646500
Crushed row  1647000
Crushed row  1647500
Crushed row  1648000
Crushed row  1648500
Crushed row  1649000
Crushed row  1649500
Crushed row  1650000
Crushed row  1650500

In [186]:
piv_orders.shape

(1650618, 59)

In [187]:
len(twenty_four_mon)

1650618

In [188]:
piv_orders["24mo_LTV"] = twenty_four_mon

In [189]:
piv_orders.shape

(1650618, 60)

In [190]:
piv_orders["24mo_LTV"].value_counts()

15.00      505576
10.00      259718
30.00      210856
25.00      124458
20.00      115474
45.00       58849
40.00       42445
35.00       31759
60.00       28833
50.00       20689
55.00       15550
75.00       11608
28.00       10523
23.00        8477
65.00        7843
70.00        7688
90.00        6829
33.00        6629
0.00         6323
18.00        6252
12.00        5461
43.00        4807
13.00        4686
38.00        4593
80.00        4576
85.00        3758
59.95        3692
26.00        3683
8.00         3502
105.00       3441
            ...
107.50          1
260.90          1
263.85          1
262.85          1
207.22          1
342.22          1
280.85          1
223.88          1
282.85          1
284.90          1
552.00          1
1710.00         1
151.06          1
1705.00         1
114.77          1
309.90          1
265.85          1
146.06          1
264.85          1
265.90          1
270.90          1
1690.00         1
256.90          1
271.85          1
270.85          1
151.44          1
258.90          1
259.90          1
256.85          1
214.85          1
Name: 24mo_LTV, Length: 2179, dtype: int64

In [192]:
piv_orders[piv_orders["24mo_LTV"] == 0].shape

(6323, 60)

In [193]:
piv_orders = piv_orders[piv_orders["24mo_LTV"] > 0]

piv_orders.shape

(1642040, 60)

In [194]:
piv_orders["Total_LTV"] = piv_orders["Total_LTV"].round(2)

C:\Users\jtillis\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [195]:
piv_orders["12mo_LTV"] = piv_orders["12mo_LTV"].round(2)
piv_orders["24mo_LTV"] = piv_orders["24mo_LTV"].round(2)

C:\Users\jtillis\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\jtillis\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [196]:
piv_orders.head()

,key_0,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,...,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,2017-07-01 00:00:00,12mo_LTV,24mo_LTV
0,(818)751-9631,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,20.0,20.0
1,+16053210376@tmomail.net,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,10.0,10.0
2,+kristina.repinac@gmail.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,30.0,30.0
3,+shimmiehayshee@gmail.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,30.0,30.0
4,..Vianeymoraa@gmail.com,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,20.0,20.0

In [197]:
piv_orders[["Total_LTV", "12mo_LTV", "24mo_LTV"]].describe()

          Total_LTV      12mo_LTV      24mo_LTV
count  1.642040e+06  1.642040e+06  1.642040e+06
mean   2.882639e+01  2.707770e+01  2.860862e+01
std    6.261898e+01  4.483074e+01  6.187151e+01
min    2.000000e+00  0.000000e+00  2.000000e+00
25%    1.500000e+01  1.500000e+01  1.500000e+01
50%    2.000000e+01  1.800000e+01  2.000000e+01
75%    3.000000e+01  3.000000e+01  3.000000e+01
max    5.504995e+04  2.303495e+04  5.504995e+04

In [198]:
piv_orders["Total_LTV"].mean()

28.82639013666289

In [199]:
print("12 Month Customer Value:", piv_orders["12mo_LTV"].mean())

12 Month Customer Value: 27.077696182798622

In [200]:
print("24 Month Customer Value:", piv_orders["24mo_LTV"].mean())

24 Month Customer Value: 28.60861627000897

In [204]:
max(piv_orders[piv_orders["First Order Date"] < "2019-09-01 00:00:00"]["First Order Date"])

Timestamp('2019-08-31 00:00:00')

In [205]:
piv_orders[piv_orders["First Order Date"] < "2019-09-01 00:00:00"].shape

(1310954, 60)

In [208]:
piv_orders_before_Sept2019 = piv_orders[piv_orders["First Order Date"] < "2019-09-01 00:00:00"]

In [209]:
piv_orders_before_Sept2019.shape

(1310954, 60)

In [210]:
print("12 Month Customer Value:", piv_orders_before_Sept2019["12mo_LTV"].mean())

12 Month Customer Value: 26.948348469888153

In [211]:
print("24 Month Customer Value:", piv_orders_before_Sept2019["24mo_LTV"].mean())

24 Month Customer Value: 28.865907758773826

### Customer Lifetime Value Model - Take 2
1. Calculate average purchase value: Calculate this number by dividing your company's total revenue in a time period (usually one year) by the number of purchases over the course of that same time period.
2. Calculate average purchase frequency rate: Calculate this number by dividing the number of purchases over the course of the time period by the number of unique customers who made purchases during that time period.
3. Calculate customer value: Calculate this number by multiplying the average purchase value by the average purchase frequency rate.
5. Calculate average customer lifespan: Calculate this number by averaging out the number of years a customer continues purchasing from your company.
6. Then, calculate LTV by multiplying customer value by the average customer lifespan. This will give you an estimate of how much revenue you can reasonably expect an average customer to generate for your company over the course of their relationship with you.

In [74]:
piv_orders.columns

Index([               'Customers ID',           2016-06-01 00:00:00,
                 2016-07-01 00:00:00,           2016-08-01 00:00:00,
                 2016-09-01 00:00:00,           2016-10-01 00:00:00,
                 2016-11-01 00:00:00,           2016-12-01 00:00:00,
                 2017-01-01 00:00:00,           2017-02-01 00:00:00,
                 2017-03-01 00:00:00,           2017-04-01 00:00:00,
                 2017-05-01 00:00:00,           2017-06-01 00:00:00,
                 2017-07-01 00:00:00,           2017-08-01 00:00:00,
                 2017-09-01 00:00:00,           2017-10-01 00:00:00,
                 2017-11-01 00:00:00,           2017-12-01 00:00:00,
                 2018-01-01 00:00:00,           2018-02-01 00:00:00,
                 2018-03-01 00:00:00,           2018-04-01 00:00:00,
                 2018-05-01 00:00:00,           2018-06-01 00:00:00,
                 2018-07-01 00:00:00,           2018-08-01 00:00:00,
                 2018-09-01 00:00:00,           2018-10-01 00:00:00,
                 2018-11-01 00:00:00,           2018-12-01 00:00:00,
                 2019-01-01 00:00:00,           2019-02-01 00:00:00,
                 2019-03-01 00:00:00,           2019-04-01 00:00:00,
                 2019-05-01 00:00:00,           2019-06-01 00:00:00,
                         'Total_LTV', 'Customer Created Month_Year',
                 2019-07-01 00:00:00,           2019-08-01 00:00:00,
                 2019-09-01 00:00:00,           2019-10-01 00:00:00,
                 2019-11-01 00:00:00,           2019-12-01 00:00:00,
                 2020-01-01 00:00:00,           2020-02-01 00:00:00,
                 2020-03-01 00:00:00,           2020-04-01 00:00:00,
                 2020-05-01 00:00:00,           2020-06-01 00:00:00,
                 2020-07-01 00:00:00,           2020-08-01 00:00:00,
                 2020-09-01 00:00:00,           2020-10-01 00:00:00,
                 2020-11-01 00:00:00,           2020-12-01 00:00:00,
                 2021-01-01 00:00:00,           2021-02-01 00:00:00,
                 2021-03-01 00:00:00,           2021-04-01 00:00:00,
                 2021-05-01 00:00:00,           2021-06-01 00:00:00,
                          '12mo_LTV',                    '24mo_LTV'],
      dtype='object')

In [82]:
piv_orders.replace(0, np.nan).describe()

,Customers ID,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,...,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00,12mo_LTV,24mo_LTV
count,2.298519e+06,27403.000000,43239.000000,41789.000000,48355.000000,54365.000000,107160.000000,132004.000000,134360.000000,113881.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.724597e+06,931188.000000
mean,3.134713e+11,22.888931,24.691708,28.824030,30.670667,28.860411,27.736617,25.205937,20.376899,20.541714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.653017e+01,43.399932
std,4.685027e+11,26.794072,35.137883,114.284489,110.090175,88.098801,65.257281,42.614663,31.678410,42.117227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.467800e+02,203.872474
min,3.408534e+09,2.870000,2.870000,2.870000,3.070000,3.070000,2.620000,2.620000,3.070000,3.120000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.620000e+00,2.620000
25%,5.329395e+09,12.870000,12.870000,12.870000,13.070000,13.070000,13.070000,10.000000,10.000000,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.787000e+01,17.000000
50%,7.729636e+09,20.000000,20.000000,20.000000,20.000000,18.070000,20.000000,20.000000,15.000000,15.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.307000e+01,25.860000
75%,6.410774e+11,25.000000,27.780000,25.120000,25.000000,25.000000,30.000000,30.000000,23.070000,20.580000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000e+01,45.990000
max,1.865145e+12,1150.000000,4086.000000,3177.000000,2960.000000,3213.680000,2773.990000,4163.800000,4290.200000,6326.810000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.200835e+04,22792.520000

In [88]:
piv_orders.columns

Index([               'Customers ID',           2016-06-01 00:00:00,
                 2016-07-01 00:00:00,           2016-08-01 00:00:00,
                 2016-09-01 00:00:00,           2016-10-01 00:00:00,
                 2016-11-01 00:00:00,           2016-12-01 00:00:00,
                 2017-01-01 00:00:00,           2017-02-01 00:00:00,
                 2017-03-01 00:00:00,           2017-04-01 00:00:00,
                 2017-05-01 00:00:00,           2017-06-01 00:00:00,
                 2017-07-01 00:00:00,           2017-08-01 00:00:00,
                 2017-09-01 00:00:00,           2017-10-01 00:00:00,
                 2017-11-01 00:00:00,           2017-12-01 00:00:00,
                 2018-01-01 00:00:00,           2018-02-01 00:00:00,
                 2018-03-01 00:00:00,           2018-04-01 00:00:00,
                 2018-05-01 00:00:00,           2018-06-01 00:00:00,
                 2018-07-01 00:00:00,           2018-08-01 00:00:00,
                 2018-09-01 00:00:00,           2018-10-01 00:00:00,
                 2018-11-01 00:00:00,           2018-12-01 00:00:00,
                 2019-01-01 00:00:00,           2019-02-01 00:00:00,
                 2019-03-01 00:00:00,           2019-04-01 00:00:00,
                 2019-05-01 00:00:00,           2019-06-01 00:00:00,
                         'Total_LTV', 'Customer Created Month_Year',
                 2019-07-01 00:00:00,           2019-08-01 00:00:00,
                 2019-09-01 00:00:00,           2019-10-01 00:00:00,
                 2019-11-01 00:00:00,           2019-12-01 00:00:00,
                 2020-01-01 00:00:00,           2020-02-01 00:00:00,
                 2020-03-01 00:00:00,           2020-04-01 00:00:00,
                 2020-05-01 00:00:00,           2020-06-01 00:00:00,
                 2020-07-01 00:00:00,           2020-08-01 00:00:00,
                 2020-09-01 00:00:00,           2020-10-01 00:00:00,
                 2020-11-01 00:00:00,           2020-12-01 00:00:00,
                 2021-01-01 00:00:00,           2021-02-01 00:00:00,
                 2021-03-01 00:00:00,           2021-04-01 00:00:00,
                 2021-05-01 00:00:00,           2021-06-01 00:00:00,
                          '12mo_LTV',                    '24mo_LTV'],
      dtype='object')

In [92]:
sec_calc = piv_orders.replace(0, np.nan)

In [93]:
sec_calc.iloc[:, 1:38].tail()

,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,...,2018-09-01 00:00:00,2018-10-01 00:00:00,2018-11-01 00:00:00,2018-12-01 00:00:00,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00
2298514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.99
2298515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.59
2298516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.80
2298517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.25
2298518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.00

In [96]:
print("Number of Orders:", sec_calc.iloc[:, 1:38].count().sum())

Number of Orders: 3552237

In [97]:
orders = sec_calc.iloc[:, 1:38].count().sum()
total_amt = sec_calc["Total_LTV"].sum()
total_amt

91594136.14000005

In [98]:
AOV = total_amt / orders
AOV

25.784916980483015

In [105]:
orders_36 = sec_calc.iloc[:, 1:37].count().sum()
ord_per_month = orders_36 / 36

ord_per_month

97917.61111111111

In [100]:
piv_orders.head()

,Customers ID,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,...,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00,12mo_LTV,24mo_LTV
0,3.408534e+09,18.01,0.0,0.0,0.0,0.0,0.0,12.62,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.63,43.62
1,3.408534e+09,18.01,0.0,0.0,0.0,0.0,0.0,12.62,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.63,43.62
2,3.408534e+09,18.01,0.0,0.0,0.0,0.0,0.0,12.62,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.63,43.62
3,3.408537e+09,20.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.00,20.00
4,3.408539e+09,25.73,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.73,25.73

In [103]:
sec_calc = sec_calc[sec_calc["Customer Created Month_Year"] < "2019-06-01"]

In [104]:
sec_calc.shape

(2288172, 66)

In [108]:
avg_order_per_month = ord_per_month / sec_calc.shape[0]
avg_order_per_month

0.04279294175049389

In [110]:
orders / sec_calc.shape[0] / 36

0.04312317867712742

In [112]:
frequency_per_yr = avg_order_per_month * 12
frequency_per_yr

0.5135153010059267

In [113]:
lifespan = 2

In [110]:
orders / sec_calc.shape[0] / 36

0.04312317867712742

In [114]:
cust_value = AOV * frequency_per_yr
cust_value

13.240949404645566

In [116]:
LTV = cust_value * lifespan
LTV

26.48189880929113

### RFM
1. Create dataframe that has the RFM (recency, frequency, monetary) hard data for each customer
2. Input scaled scores into RFM table
3. Segment customers into 3 buckets based on RFM scores
4. Calculate average LTV for each bucket

In [5]:
Jun = pd.read_excel("Orders 6.18 (2).xlsx")
Jul = pd.read_excel("Orders 7.18 (1).xlsx")
Aug = pd.read_excel("Orders 8.18 (1).xlsx")
Sep = pd.read_excel("Orders 9.18 (1).xlsx")
Oct = pd.read_excel("Orders 10.18 (1).xlsx")
Nov = pd.read_excel("Orders 11.18.xlsx")
Dec = pd.read_excel("Orders 12.18.xlsx")
Jan = pd.read_excel("Orders 1.19.xlsx")
Feb = pd.read_excel("Orders 2.19.xlsx")
Mar = pd.read_excel("Orders 3.19.xlsx")
Apr = pd.read_excel("Orders 4.19.xlsx")
May = pd.read_excel("Orders 5.19.xlsx")
Jun2 = pd.read_excel("Orders 6.19.xlsx")

In [6]:
Dec.shape

(142569, 6)

In [7]:
one_year_orders_6_18 = pd.concat([Jun, Jul, Aug, Sep, Oct, Nov, Dec, Jan, Feb, Mar, Apr, May, Jun2])

one_year_orders_6_18.shape

(798621, 6)

In [8]:
one_year_orders_6_18 = one_year_orders_6_18[one_year_orders_6_18["Orders Total Price"] > 0]
one_year_orders_6_18.shape

(765415, 6)

In [9]:
piv_orders_new = one_year_orders_6_18.pivot_table(index="Customers ID", values=["Orders Total Price", "Order Line Total Quantity"], aggfunc=np.sum)

In [10]:
piv_orders_new.head()

              Order Line Total Quantity  Orders Total Price
Customers ID
138978865.0                           7              111.28
139237871.0                          48              763.39
145444941.0                           8               97.78
158479945.0                           3               45.05
158690749.0                           2               32.68

In [11]:
piv_orders_new.shape

(653961, 2)

In [12]:
one_year_orders_6_18.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity
0,6.298457e+11,2018-06-18,2018-06-18,12.99,0.00,1
1,7.538269e+09,2018-06-18,2017-09-18,17.99,0.00,1
2,6.296723e+11,2018-06-18,2018-06-18,17.99,0.00,1
3,1.555303e+11,2018-06-18,2018-02-11,17.99,0.00,1
4,3.725221e+09,2018-06-18,2016-07-16,15.00,2.99,1

In [13]:
recency = one_year_orders_6_18.pivot_table(index="Customers ID", values="Orders Created Date", aggfunc=np.max)

recency.head()

             Orders Created Date
Customers ID
138978865.0           2018-11-01
139237871.0           2019-02-15
145444941.0           2018-10-11
158479945.0           2018-12-08
158690749.0           2019-02-01

In [14]:
one_year_orders_6_18.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity
0,6.298457e+11,2018-06-18,2018-06-18,12.99,0.00,1
1,7.538269e+09,2018-06-18,2017-09-18,17.99,0.00,1
2,6.296723e+11,2018-06-18,2018-06-18,17.99,0.00,1
3,1.555303e+11,2018-06-18,2018-02-11,17.99,0.00,1
4,3.725221e+09,2018-06-18,2016-07-16,15.00,2.99,1

In [15]:
recency.shape

(653961, 1)

In [16]:
one_year_orders_6_18["Order_Cust_ID"] = one_year_orders_6_18["Customers ID"]

one_year_orders_6_18.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity,Order_Cust_ID
0,6.298457e+11,2018-06-18,2018-06-18,12.99,0.00,1,6.298457e+11
1,7.538269e+09,2018-06-18,2017-09-18,17.99,0.00,1,7.538269e+09
2,6.296723e+11,2018-06-18,2018-06-18,17.99,0.00,1,6.296723e+11
3,1.555303e+11,2018-06-18,2018-02-11,17.99,0.00,1,1.555303e+11
4,3.725221e+09,2018-06-18,2016-07-16,15.00,2.99,1,3.725221e+09

In [17]:
frqncy = one_year_orders_6_18.pivot_table(index="Customers ID", values="Order_Cust_ID", aggfunc="count")
frqncy.head()

              Order_Cust_ID
Customers ID
138978865.0               2
139237871.0               2
145444941.0               3
158479945.0               2
158690749.0               1

In [18]:
frqncy.shape

(653961, 1)

In [19]:
12591/653961

0.01925344171900159

In [20]:
frqncy["Order_Cust_ID"].value_counts()

1     569497
2      66812
3      12591
4       3193
5        969
6        427
7        177
8        114
9         64
10        29
11        24
12        18
13        13
14         7
15         6
16         5
17         2
19         2
21         2
22         2
39         1
18         1
20         1
24         1
25         1
27         1
46         1
Name: Order_Cust_ID, dtype: int64

In [21]:
monetary_value = one_year_orders_6_18.pivot_table(index="Customers ID", values="Orders Total Price", aggfunc=np.sum)
monetary_value.head()

              Orders Total Price
Customers ID
138978865.0               111.28
139237871.0               763.39
145444941.0                97.78
158479945.0                45.05
158690749.0                32.68

In [22]:
one_year_orders_6_18.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity,Order_Cust_ID
0,6.298457e+11,2018-06-18,2018-06-18,12.99,0.00,1,6.298457e+11
1,7.538269e+09,2018-06-18,2017-09-18,17.99,0.00,1,7.538269e+09
2,6.296723e+11,2018-06-18,2018-06-18,17.99,0.00,1,6.296723e+11
3,1.555303e+11,2018-06-18,2018-02-11,17.99,0.00,1,1.555303e+11
4,3.725221e+09,2018-06-18,2016-07-16,15.00,2.99,1,3.725221e+09

In [23]:
units = one_year_orders_6_18.pivot_table(index="Customers ID", values="Order Line Total Quantity", aggfunc=np.sum)
units.head()

              Order Line Total Quantity
Customers ID
138978865.0                           7
139237871.0                          48
145444941.0                           8
158479945.0                           3
158690749.0                           2

In [24]:
RFM_data = recency

In [25]:
RFM_data.head()

             Orders Created Date
Customers ID
138978865.0           2018-11-01
139237871.0           2019-02-15
145444941.0           2018-10-11
158479945.0           2018-12-08
158690749.0           2019-02-01

In [26]:
RFM_data["Frequency"] = frqncy["Order_Cust_ID"]
RFM_data["Monetary_Value"] = monetary_value["Orders Total Price"]
RFM_data["Units"] = units["Order Line Total Quantity"]

RFM_data.shape

(653961, 4)

In [27]:
RFM_data.head()

             Orders Created Date  Frequency  Monetary_Value  Units
Customers ID
138978865.0           2018-11-01          2          111.28      7
139237871.0           2019-02-15          2          763.39     48
145444941.0           2018-10-11          3           97.78      8
158479945.0           2018-12-08          2           45.05      3
158690749.0           2019-02-01          1           32.68      2

In [28]:
one_year_orders_6_18.shape

(765415, 7)

In [29]:
RFM_data["Orders Created Date"].max()

Timestamp('2019-06-20 00:00:00')

In [30]:
from datetime import timedelta
from dateutil.relativedelta import relativedelta

rcncy = []

low = RFM_data["Orders Created Date"].min() + relativedelta(months=4)
high = RFM_data["Orders Created Date"].max() - relativedelta(months=4)

for n in RFM_data["Orders Created Date"]:

    if n < low:
        rcncy.append(1)
    elif n > high:
        rcncy.append(3)
    else:
        rcncy.append(2)
        
RFM_data["Recency"] = rcncy

In [31]:
RFM_data.shape

(653961, 5)

In [32]:
RFM_data.sort_values("Orders Created Date").tail(40)

             Orders Created Date  Frequency  Monetary_Value  Units  Recency
Customers ID
1.157827e+12          2019-06-20          2       70.000000      6        3
2.042796e+12          2019-06-20          1       30.000000      2        3
2.042846e+12          2019-06-20          1       17.480000      1        3
1.748277e+11          2019-06-20          1       15.990000      1        3
1.156308e+12          2019-06-20          2       35.980000      2        3
2.042866e+12          2019-06-20          1       23.910000      1        3
1.165624e+12          2019-06-20          2       42.640000      3        3
1.812698e+11          2019-06-20          1       18.760000      1        3
7.464405e+09          2019-06-20          1       30.000000      2        3
7.466896e+09          2019-06-20          2       34.479999      2        3
7.471780e+09          2019-06-20          1       26.880000      1        3
6.050365e+11          2019-06-20          1       19.070000      1        3
1.099523e+12          2019-06-20          2       38.400000      3        3
2.042877e+12          2019-06-20          1       17.540000      1        3
2.042877e+12          2019-06-20          1       17.570000      1        3
2.042878e+12          2019-06-20          1       46.750000      1        3
2.042878e+12          2019-06-20          1       28.960000      2        3
2.042879e+12          2019-06-20          1       26.330000      1        3
2.042879e+12          2019-06-20          1       13.590000      1        3
2.042876e+12          2019-06-20          1       32.990000      2        3
2.042865e+12          2019-06-20          1       10.890000      1        3
7.424923e+09          2019-06-20          1       12.990000      1        3
7.397582e+09          2019-06-20          1       20.000000      1        3
7.316224e+09          2019-06-20          3       49.200000      4        3
2.042851e+12          2019-06-20          2       36.020000      2        3
1.851849e+12          2019-06-20          3       56.770000      4        3
7.335961e+09          2019-06-20          1       69.550000      3        3
7.341165e+09          2019-06-20          1       26.750000      2        3
1.756187e+11          2019-06-20          1       32.560000      2        3
1.757744e+11          2019-06-20          1       21.200000      2        3
1.166299e+12          2019-06-20          2       39.050000      2        3
6.106471e+11          2019-06-20          4      113.620000      9        3
1.762774e+11          2019-06-20          2       35.980000      2        3
1.762913e+11          2019-06-20          1       19.130000      1        3
1.100168e+12          2019-06-20          2       46.489999      3        3
7.387001e+09          2019-06-20          2       31.820000      2        3
1.764479e+11          2019-06-20          1       18.010000      1        3
7.394330e+09          2019-06-20          2       42.990000      3        3
1.407427e+11          2019-06-20          1       17.320000      1        3
2.043308e+12          2019-06-20          1       29.300000      2        3

In [33]:
RFM_data["Frequency"].value_counts()

1     569497
2      66812
3      12591
4       3193
5        969
6        427
7        177
8        114
9         64
10        29
11        24
12        18
13        13
14         7
15         6
16         5
17         2
19         2
21         2
22         2
39         1
18         1
20         1
24         1
25         1
27         1
46         1
Name: Frequency, dtype: int64

In [34]:
RFM_data = RFM_data.sort_values("Frequency")

In [35]:
whatevs = 9

In [36]:
RFM_data["Frequency"].iloc[:whatevs]

Customers ID
8.981314e+11    1
1.077099e+12    1
1.077099e+12    1
1.077099e+12    1
1.077099e+12    1
1.077100e+12    1
1.077100e+12    1
1.077100e+12    1
1.077100e+12    1
Name: Frequency, dtype: int64

In [37]:
freq = []


for n in RFM_data["Frequency"]:

    if n == 1:
        freq.append(1)
    elif n > 2:
        freq.append(3)
    else:
        freq.append(2)
        
RFM_data["Freq"] = freq

In [38]:
RFM_data.sort_values("Frequency").tail(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq
Customers ID,,,,,,
6.701042e+11,2019-06-17,20,2660.860000,190,3,3
6.415892e+11,2019-02-07,21,1211.400000,76,2,3
1.584132e+11,2019-06-13,21,1103.959999,70,3,3
6.461861e+09,2019-06-16,22,734.360000,64,3,3
8.532624e+11,2019-06-12,22,648.180000,39,3,3
5.185013e+09,2019-06-05,24,1148.440000,105,3,3
6.274299e+11,2018-11-29,25,2639.729999,156,2,3
5.698754e+09,2019-06-15,27,908.899999,60,3,3
7.687562e+09,2019-06-20,39,698.250000,59,3,3
6.360812e+11,2019-06-03,46,1317.779995,82,3,3

In [39]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq
count,653961.000000,653961.000000,653961.000000,653961.000000,653961.00000
mean,1.170351,27.075406,1.984608,2.051934,1.15615
std,0.539290,37.572964,3.248901,0.740536,0.43099
min,1.000000,0.050000,1.000000,1.000000,1.00000
25%,1.000000,15.000000,1.000000,2.000000,1.00000
50%,1.000000,19.080000,1.000000,2.000000,1.00000
75%,1.000000,30.000000,2.000000,3.000000,1.00000
max,46.000000,11435.450000,1528.000000,3.000000,3.00000

In [40]:
mon = []


for n in RFM_data["Monetary_Value"]:

    if n < 15:
        mon.append(1)
    elif n >= 30:
        mon.append(3)
    else:
        mon.append(2)
        
RFM_data["Mon"] = mon

In [41]:
RFM_data.sort_values("Monetary_Value").tail(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon
Customers ID,,,,,,,
8.506141e+11,2018-11-08,1,3150.00,350,2,1,3
7.255088e+11,2018-10-02,2,3284.38,299,1,2,3
9.113222e+11,2019-02-13,3,3531.24,225,2,3,3
1.782865e+11,2019-03-18,3,3648.04,260,3,3,3
1.129675e+12,2019-02-13,1,3750.00,250,2,1,3
1.109424e+12,2019-02-04,3,3872.83,250,2,3,3
1.744240e+12,2019-06-03,3,4980.00,332,3,3,3
1.142007e+12,2019-02-22,1,5010.00,334,3,1,3
1.737433e+12,2019-04-19,1,7875.00,675,3,1,3
7.180147e+11,2019-03-26,14,11435.45,1528,3,3,3

In [42]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq,Mon
count,653961.000000,653961.000000,653961.000000,653961.000000,653961.00000,653961.000000
mean,1.170351,27.075406,1.984608,2.051934,1.15615,2.082587
std,0.539290,37.572964,3.248901,0.740536,0.43099,0.694859
min,1.000000,0.050000,1.000000,1.000000,1.00000,1.000000
25%,1.000000,15.000000,1.000000,2.000000,1.00000,2.000000
50%,1.000000,19.080000,1.000000,2.000000,1.00000,2.000000
75%,1.000000,30.000000,2.000000,3.000000,1.00000,3.000000
max,46.000000,11435.450000,1528.000000,3.000000,3.00000,3.000000

In [43]:
62098/653961

0.09495673289385759

In [44]:
RFM_data["Units"].value_counts()

1       340828
2       184818
3        62098
4        30900
5        13300
6         7845
7         4150
8         2663
9         1668
10        1447
11         835
12         665
13         461
14         318
15         310
20         226
16         210
18         142
17         130
19         104
21          83
25          70
30          55
23          55
22          54
24          44
27          32
26          32
28          28
50          27
         ...
177          1
225          1
200          1
199          1
190          1
127          1
79           1
117          1
80           1
77           1
73           1
72           1
69           1
64           1
350          1
59           1
57           1
56           1
86           1
116          1
94           1
99           1
104          1
105          1
106          1
110          1
111          1
113          1
115          1
1528         1
Name: Units, Length: 120, dtype: int64

In [45]:
uni = []


for n in RFM_data["Units"]:

    if n < 2:
        uni.append(1)
    elif n >= 3:
        uni.append(3)
    else:
        uni.append(2)
        
RFM_data["Uni"] = uni

In [46]:
RFM_data["RFMU_Score"] = RFM_data["Recency"] + RFM_data["Freq"] + RFM_data["Mon"] + RFM_data["Uni"]
RFM_data["RFM_Score"] = RFM_data["Recency"] + RFM_data["Freq"] + RFM_data["Mon"]

RFM_data.head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFM_Score
Customers ID,,,,,,,,,,
8.981314e+11,2018-12-26,1,20.00,2,2,1,2,2,7,5
1.077099e+12,2018-12-26,1,10.00,2,2,1,1,2,6,4
1.077099e+12,2018-12-26,1,18.00,2,2,1,2,2,7,5
1.077099e+12,2018-12-26,1,28.00,2,2,1,2,2,7,5
1.077099e+12,2018-12-26,1,10.00,2,2,1,1,2,6,4
1.077100e+12,2018-12-26,1,28.00,2,2,1,2,2,7,5
1.077100e+12,2019-05-16,1,28.96,2,3,1,2,2,8,6
1.077100e+12,2018-12-26,1,13.50,1,2,1,1,1,5,4
1.077100e+12,2018-12-26,1,9.65,1,2,1,1,1,5,4
1.077100e+12,2018-12-27,1,13.50,1,2,1,1,1,5,4

In [47]:
RFM_data = RFM_data.sort_values("RFM_Score")

In [48]:
RFM_data.head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFM_Score
Customers ID,,,,,,,,,,
6.434514e+11,2018-07-17,1,10.00,2,1,1,1,2,5,3
6.369527e+11,2018-07-05,1,12.99,1,1,1,1,1,4,3
6.966450e+11,2018-08-28,1,5.99,1,1,1,1,1,4,3
6.718070e+11,2018-08-04,1,10.99,1,1,1,1,1,4,3
6.441523e+11,2018-07-18,1,12.99,1,1,1,1,1,4,3
6.718072e+11,2018-08-04,1,14.49,1,1,1,1,1,4,3
6.966375e+11,2018-08-27,1,11.72,1,1,1,1,1,4,3
4.689862e+09,2018-06-22,1,12.99,1,1,1,1,1,4,3
6.714986e+11,2018-08-04,1,14.49,1,1,1,1,1,4,3
5.291888e+09,2018-08-01,1,12.99,1,1,1,1,1,4,3

In [49]:
RFM_data["RFM_Score"].value_counts() / RFM_data["RFM_Score"].shape[0]

5    0.292100
6    0.250050
4    0.220874
7    0.097920
3    0.073619
8    0.048853
9    0.016584
Name: RFM_Score, dtype: float64

In [50]:
RFM_data["RFMU_Score"].value_counts() / RFM_data["RFMU_Score"].shape[0]

6     0.211696
7     0.192365
5     0.184662
8     0.127492
9     0.095163
4     0.067888
10    0.066943
11    0.037207
12    0.016584
Name: RFMU_Score, dtype: float64

In [51]:
RFM_data[RFM_data["RFM_Score"] == 6].head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFM_Score
Customers ID,,,,,,,,,,
8.717498e+11,2018-11-13,1,30.00,2,2,1,3,2,8,6
2.018468e+12,2019-06-16,1,25.20,2,3,1,2,2,8,6
9.018986e+11,2018-11-27,1,38.40,4,2,1,3,3,9,6
2.018511e+12,2019-06-16,1,24.68,2,3,1,2,2,8,6
1.840251e+12,2019-05-19,1,22.50,2,3,1,2,2,8,6
9.023633e+11,2018-11-27,1,32.00,3,2,1,3,3,9,6
2.018466e+12,2019-06-16,1,27.00,1,3,1,2,1,7,6
9.023625e+11,2018-11-27,1,33.00,2,2,1,3,2,8,6
9.019057e+11,2018-11-27,1,30.00,2,2,1,3,2,8,6
1.840250e+12,2019-05-19,1,19.77,1,3,1,2,1,7,6

In [52]:
bucketu = []


for n in RFM_data["RFMU_Score"]:

    if n < 6:
        bucketu.append("Bottom_Segment")
    elif n > 8:
        bucketu.append("Top_Segment")
    else:
        bucketu.append("Middle_Segment")
        
RFM_data["RFMU_Segment"] = bucketu



bucket = []


for n in RFM_data["RFM_Score"]:

    if n < 5:
        bucket.append("Bottom_Segment")
    elif n > 7:
        bucket.append("Top_Segment")
    else:
        bucket.append("Middle_Segment")
        
RFM_data["RFM_Segment"] = bucket

In [53]:
RFM_data.head()

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFM_Score,RFMU_Segment,RFM_Segment
Customers ID,,,,,,,,,,,,
6.434514e+11,2018-07-17,1,10.00,2,1,1,1,2,5,3,Bottom_Segment,Bottom_Segment
6.369527e+11,2018-07-05,1,12.99,1,1,1,1,1,4,3,Bottom_Segment,Bottom_Segment
6.966450e+11,2018-08-28,1,5.99,1,1,1,1,1,4,3,Bottom_Segment,Bottom_Segment
6.718070e+11,2018-08-04,1,10.99,1,1,1,1,1,4,3,Bottom_Segment,Bottom_Segment
6.441523e+11,2018-07-18,1,12.99,1,1,1,1,1,4,3,Bottom_Segment,Bottom_Segment

In [54]:
RFM_data["RFM_Segment"].value_counts() / RFM_data["RFM_Segment"].shape[0]

Middle_Segment    0.640070
Bottom_Segment    0.294493
Top_Segment       0.065437
Name: RFM_Segment, dtype: float64

In [55]:
RFM_data["RFMU_Segment"].value_counts() / RFM_data["RFMU_Segment"].shape[0]

Middle_Segment    0.531553
Bottom_Segment    0.252550
Top_Segment       0.215897
Name: RFMU_Segment, dtype: float64

In [56]:
print("Percentage of customers that have the same RFM/RFMU segment:")
RFM_data[RFM_data["RFMU_Segment"] == RFM_data["RFM_Segment"]].shape[0] / RFM_data.shape[0]

Percentage of customers that have the same RFM/RFMU segment:

0.8075970891230517

#### Calculating 12mo Customer Value Baseline

In [57]:
print("Bottom Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Bottom_Segment"]["Monetary_Value"].mean())

Bottom Segment 12mo Customer Value: 13.173319599775846

In [58]:
print("Middle Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Middle_Segment"]["Monetary_Value"].mean())

Middle Segment 12mo Customer Value: 22.218154186241854

In [59]:
print("Top Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Top_Segment"]["Monetary_Value"].mean())

Top Segment 12mo Customer Value: 55.29660279406192

In [60]:
four_val = RFM_data[RFM_data["RFMU_Score"] == 4]["Monetary_Value"].mean()
five_val = RFM_data[RFM_data["RFMU_Score"] == 5]["Monetary_Value"].mean()
six_val = RFM_data[RFM_data["RFMU_Score"] == 6]["Monetary_Value"].mean()
seven_val = RFM_data[RFM_data["RFMU_Score"] == 7]["Monetary_Value"].mean()
eight_val = RFM_data[RFM_data["RFMU_Score"] == 8]["Monetary_Value"].mean()
nine_val = RFM_data[RFM_data["RFMU_Score"] == 9]["Monetary_Value"].mean()
ten_val = RFM_data[RFM_data["RFMU_Score"] == 10]["Monetary_Value"].mean()
eleven_val = RFM_data[RFM_data["RFMU_Score"] == 11]["Monetary_Value"].mean()
twelve_val = RFM_data[RFM_data["RFMU_Score"] == 12]["Monetary_Value"].mean()

print("4 Average:", four_val)
print("5 Average:", five_val)
print("6 Average:", six_val)
print("7 Average:", seven_val)
print("8 Average:", eight_val)
print("9 Average:", nine_val)
print("10 Average:", ten_val)
print("11 Average:", eleven_val)
print("12 Average:", twelve_val)

4 Average: 11.285211730781667
5 Average: 13.867448853610881
6 Average: 16.803126574407855
7 Average: 21.88586286080363
8 Average: 31.710972825547973
9 Average: 44.13136983101041
10 Average: 54.0693443841934
11 Average: 66.67923800036536
12 Average: 98.78305570437479

#### Revenue lift if we 1% of customers up 1 point

In [61]:
.01*RFM_data.shape[0]

6539.610000000001

In [62]:
four_gain = RFM_data[RFM_data["RFMU_Score"] == 4].shape[0]*.01*(five_val - four_val)
five_gain = RFM_data[RFM_data["RFMU_Score"] == 5].shape[0]*.01*(six_val - five_val)
six_gain = RFM_data[RFM_data["RFMU_Score"] == 6].shape[0]*.01*(seven_val - six_val)
seven_gain = RFM_data[RFM_data["RFMU_Score"] == 7].shape[0]*.01*(eight_val - seven_val)
eight_gain = RFM_data[RFM_data["RFMU_Score"] == 8].shape[0]*.01*(nine_val - eight_val)
nine_gain = RFM_data[RFM_data["RFMU_Score"] == 9].shape[0]*.01*(ten_val - nine_val)
ten_gain = RFM_data[RFM_data["RFMU_Score"] == 10].shape[0]*.01*(eleven_val - ten_val)
eleven_gain = RFM_data[RFM_data["RFMU_Score"] == 11].shape[0]*.01*(twelve_val - eleven_val)
total_gain = four_gain + five_gain + six_gain + seven_gain + eight_gain + nine_gain + ten_gain + eleven_gain

print("Gain from 1% 4 shift:", four_gain)
print("Gain from 1% 5 shift:", five_gain)
print("Gain from 1% 6 shift:", six_gain)
print("Gain from 1% 7 shift:", seven_gain)
print("Gain from 1% 8 shift:", eight_gain)
print("Gain from 1% 9 shift:", nine_gain)
print("Gain from 1% 10 shift:", ten_gain)
print("Gain from 1% 11 shift:", eleven_gain)
print("Total gain from 1% shift:", total_gain)

Gain from 1% 4 shift: 1146.4099930512582
Gain from 1% 5 shift: 3545.1831291888425
Gain from 1% 6 shift: 7036.590942249176
Gain from 1% 7 shift: 12359.890084548735
Gain from 1% 8 shift: 10355.506003304306
Gain from 1% 9 shift: 6184.6997036823705
Gain from 1% 10 shift: 5520.35922728776
Gain from 1% 11 shift: 7811.500923739574
Total gain from 1% shift: 53960.14000705202

#### Revenue lift if we move 6/7/8s to 9s (middle to top)...

In [87]:
RFM_data[RFM_data["RFMU_Score"] == 6].shape

(138441, 12)

In [88]:
RFM_data[RFM_data["RFMU_Score"] == 7].shape

(125799, 12)

In [89]:
RFM_data[RFM_data["RFMU_Score"] == 8].shape

(83375, 12)

In [82]:
RFM_data[(RFM_data["RFMU_Score"] == 8) | (RFM_data["RFMU_Score"] == 7) | (RFM_data["RFMU_Score"] == 6)].shape[0]

347615

In [83]:
print("Annual Revenue Lift Moving 1% of 8s to 9s: $",.01*347615*33)

Annual Revenue Lift Moving 1% of 8s to 9s: $ 114712.95

In [84]:
print("Annual Revenue Lift Moving 5% of 8s to 9s: $",.05*347615*33)

Annual Revenue Lift Moving 5% of 8s to 9s: $ 573564.75

In [85]:
print("Annual Revenue Lift Moving 10% of 8s to 9s: $",.1*347615*33)

Annual Revenue Lift Moving 10% of 8s to 9s: $ 1147129.5

In [86]:
print("Annual Revenue Lift Moving 15% of 8s to 9s: $",.15*347615*33)

Annual Revenue Lift Moving 15% of 8s to 9s: $ 1720694.25

In [68]:
print("Annual Revenue Lift Moving 25% of 8s to 9s: $",.25*83375*33)

Annual Revenue Lift Moving 25% of 8s to 9s: $ 687843.75

#### Analysis of Levers to Pull to Move 8s to 9s...

In [69]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Freq"].value_counts()

1    74607
2     8768
Name: Freq, dtype: int64

In [70]:
print("Percent of 8s who have a 1 for FREQUENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Freq"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 1 for FREQUENCY:  0.8948365817091454

In [71]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Recency"].value_counts()

3    35212
2    33928
1    14235
Name: Recency, dtype: int64

In [72]:
print("Percent of 8s who have a 1 or 2 for RECENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Recency"] != 3)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 1 or 2 for RECENCY:  0.5776671664167916

In [73]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Mon"].value_counts()

2    45540
3    37804
1       31
Name: Mon, dtype: int64

In [74]:
print("Percent of 8s who have a 2 for MONETARY VALUE: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Mon"] == 2)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 2 for MONETARY VALUE:  0.5462068965517242

In [75]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Uni"].value_counts()

2    63726
3    17753
1     1896
Name: Uni, dtype: int64

In [76]:
print("Percent of 8s who have a 1 or 2 for UNITS: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Uni"] != 3)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 1 or 2 for UNITS:  0.7870704647676162

#### Revenue lift if we move 4s/5s to 6s (from bottom to middle)...

In [77]:
RFM_data[(RFM_data["RFMU_Score"] == 5) | (RFM_data["RFMU_Score"] == 4)].shape[0]

165158

In [78]:
print("Annual Revenue Lift Moving 1% of 5s to 6s: $",.01*165158*11)

Annual Revenue Lift Moving 1% of 5s to 6s: $ 18167.379999999997

In [79]:
print("Annual Revenue Lift Moving 5% of 5s to 6s: $",.05*165158*11)

Annual Revenue Lift Moving 5% of 5s to 6s: $ 90836.9

In [80]:
print("Annual Revenue Lift Moving 10% of 5s to 6s: $",.1*165158*11)

Annual Revenue Lift Moving 10% of 5s to 6s: $ 181673.8

In [81]:
print("Annual Revenue Lift Moving 15% of 5s to 6s: $",.15*165158*11)

Annual Revenue Lift Moving 15% of 5s to 6s: $ 272510.7

In [98]:
print("Annual Revenue Lift Moving 25% of 5s to 6s: $",.25*120762*11)

Annual Revenue Lift Moving 25% of 5s to 6s: $ 332095.5

#### Analysis of Levers to Pull to Move 5s to 6s...

In [99]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Freq"].value_counts()

1    120762
Name: Freq, dtype: int64

In [100]:
print("Percent of 5s who have a 1 for FREQUENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Freq"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 for FREQUENCY:  1.0

In [101]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Recency"].value_counts()

1    62928
2    57834
Name: Recency, dtype: int64

In [102]:
print("Percent of 5s who have a 1 or 2 for RECENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Recency"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 or 2 for RECENCY:  0.5210910716947385

In [103]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Mon"].value_counts()

1    61351
2    59411
Name: Mon, dtype: int64

In [104]:
print("Percent of 5s who have a 1 for MONETARY VALUE: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Mon"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 for MONETARY VALUE:  0.5080323280502145

In [105]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Uni"].value_counts()

1    117245
2      3517
Name: Uni, dtype: int64

In [106]:
print("Percent of 5s who have a 1 for UNITS: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Uni"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 for UNITS:  0.9708766002550471

### Pre/Post-QRX

In [107]:
Jan9 = pd.read_excel("Orders 1.19.xlsx")
Feb9 = pd.read_excel("Orders 2.19.xlsx")
Mar9 = pd.read_excel("Orders 3.19.xlsx")
Apr9 = pd.read_excel("Orders 4.19.xlsx")
May9 = pd.read_excel("Orders 5.19.xlsx")
Jun9 = pd.read_excel("Orders 6.19 (1).xlsx")

Jan8 = pd.read_excel("Orders 1.18.xlsx")
Feb8 = pd.read_excel("Orders 2.18.xlsx")
Mar8 = pd.read_excel("Orders 3.18.xlsx")
Apr8 = pd.read_excel("Orders 4.18.xlsx")
May8 = pd.read_excel("Orders 5.18 (1).xlsx")
Jun8 = pd.read_excel("Orders 6.18 (3).xlsx")

In [108]:
May8.shape

(45778, 6)

In [109]:
half_year = pd.concat([Jan8, Feb8, Mar8, Apr8, May8, Jun8])

half_year.shape

(321537, 6)

In [110]:
half_year = half_year[half_year["Orders Total Price"] > 0]
half_year.shape

(309697, 6)

In [111]:
piv_orders_new = half_year.pivot_table(index="Customers ID", values=["Orders Total Price", "Order Line Total Quantity"], aggfunc=np.sum)

In [112]:
piv_orders_new.head()

              Order Line Total Quantity  Orders Total Price
Customers ID
139237871.0                           4               65.31
145444941.0                          11               60.98
159394917.0                           1               19.32
159573729.0                           2               25.73
160948053.0                           2               30.87

In [113]:
piv_orders_new.shape

(282178, 2)

In [114]:
one_year_orders_6_18.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity,Order_Cust_ID
0,6.298457e+11,2018-06-18,2018-06-18,12.99,0.00,1,6.298457e+11
1,7.538269e+09,2018-06-18,2017-09-18,17.99,0.00,1,7.538269e+09
2,6.296723e+11,2018-06-18,2018-06-18,17.99,0.00,1,6.296723e+11
3,1.555303e+11,2018-06-18,2018-02-11,17.99,0.00,1,1.555303e+11
4,3.725221e+09,2018-06-18,2016-07-16,15.00,2.99,1,3.725221e+09

In [115]:
recency = half_year.pivot_table(index="Customers ID", values="Orders Created Date", aggfunc=np.max)

recency.head()

             Orders Created Date
Customers ID
139237871.0           2018-03-28
145444941.0           2018-06-29
159394917.0           2018-03-21
159573729.0           2018-06-03
160948053.0           2018-03-27

In [116]:
recency.shape

(282178, 1)

In [117]:
half_year["Order_Cust_ID"] = half_year["Customers ID"]

half_year.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity,Order_Cust_ID
0,7.530947e+09,2018-01-01,2017-09-16,20.00,0.0,2,7.530947e+09
1,1.194664e+11,2018-01-01,2018-01-01,17.99,0.0,1,1.194664e+11
2,9.999181e+10,2018-01-01,2017-12-13,12.99,0.0,1,9.999181e+10
3,1.189659e+11,2018-01-01,2018-01-01,20.00,0.0,2,1.189659e+11
4,1.189462e+11,2018-01-01,2018-01-01,17.99,0.0,1,1.189462e+11

In [118]:
frqncy = half_year.pivot_table(index="Customers ID", values="Order_Cust_ID", aggfunc="count")
frqncy.head()

              Order_Cust_ID
Customers ID
139237871.0               1
145444941.0               3
159394917.0               1
159573729.0               1
160948053.0               1

In [119]:
frqncy.shape

(282178, 1)

In [120]:
12591/653961

0.01925344171900159

In [121]:
frqncy["Order_Cust_ID"].value_counts()

1     259100
2      19919
3       2452
4        480
5        122
6         52
7         17
8         12
10         8
9          7
11         3
13         2
12         2
16         1
15         1
Name: Order_Cust_ID, dtype: int64

In [122]:
monetary_value = half_year.pivot_table(index="Customers ID", values="Orders Total Price", aggfunc=np.sum)
monetary_value.head()

              Orders Total Price
Customers ID
139237871.0                65.31
145444941.0                60.98
159394917.0                19.32
159573729.0                25.73
160948053.0                30.87

In [123]:
units = half_year.pivot_table(index="Customers ID", values="Order Line Total Quantity", aggfunc=np.sum)
units.head()

              Order Line Total Quantity
Customers ID
139237871.0                           4
145444941.0                          11
159394917.0                           1
159573729.0                           2
160948053.0                           2

In [124]:
RFM_data = recency

In [125]:
RFM_data.head()

             Orders Created Date
Customers ID
139237871.0           2018-03-28
145444941.0           2018-06-29
159394917.0           2018-03-21
159573729.0           2018-06-03
160948053.0           2018-03-27

In [126]:
RFM_data["Frequency"] = frqncy["Order_Cust_ID"]
RFM_data["Monetary_Value"] = monetary_value["Orders Total Price"]
RFM_data["Units"] = units["Order Line Total Quantity"]

RFM_data.shape

(282178, 4)

In [127]:
RFM_data.head()

             Orders Created Date  Frequency  Monetary_Value  Units
Customers ID
139237871.0           2018-03-28          1           65.31      4
145444941.0           2018-06-29          3           60.98     11
159394917.0           2018-03-21          1           19.32      1
159573729.0           2018-06-03          1           25.73      2
160948053.0           2018-03-27          1           30.87      2

In [128]:
RFM_data["Orders Created Date"].max()

Timestamp('2018-06-29 00:00:00')

In [129]:
from datetime import timedelta
from dateutil.relativedelta import relativedelta

rcncy = []

low = RFM_data["Orders Created Date"].min() + relativedelta(months=4)
high = RFM_data["Orders Created Date"].max() - relativedelta(months=4)

for n in RFM_data["Orders Created Date"]:

    if n < low:
        rcncy.append(1)
    elif n > high:
        rcncy.append(3)
    else:
        rcncy.append(2)
        
RFM_data["Recency"] = rcncy

In [130]:
high

Timestamp('2018-02-28 00:00:00')

In [131]:
RFM_data.sort_values("Orders Created Date").tail(40)

             Orders Created Date  Frequency  Monetary_Value  Units  Recency
Customers ID
3.712463e+09          2018-06-29          1           55.00      4        3
3.715681e+09          2018-06-29          1           15.00      1        3
3.722962e+09          2018-06-29          1           20.00      2        3
6.341878e+11          2018-06-29          1           15.00      1        3
3.723950e+09          2018-06-29          1           25.00      3        3
6.037309e+11          2018-06-29          2           40.00      3        3
3.730364e+09          2018-06-29          1           35.00      3        3
3.737920e+09          2018-06-29          1           17.99      1        3
3.764074e+09          2018-06-29          1           25.00      2        3
3.775137e+09          2018-06-29          2           55.00      4        3
6.317046e+11          2018-06-29          1           30.00      2        3
3.714395e+09          2018-06-29          1           31.50      3        3
3.272702e+09          2018-06-29          2           25.98      2        3
3.031521e+09          2018-06-29          2           31.71      2        3
3.024519e+09          2018-06-29          1           30.87      2        3
1.766467e+11          2018-06-29          2           50.00      3        3
1.454449e+08          2018-06-29          3           60.98     11        3
4.221791e+08          2018-06-29          1           27.00      2        3
1.060350e+09          2018-06-29          2           60.00      6        3
6.219556e+11          2018-06-29          1           30.00      2        3
6.218433e+11          2018-06-29          2           32.99      3        3
1.764456e+09          2018-06-29          2           30.98      2        3
2.063895e+09          2018-06-29          1           10.00      1        3
2.290002e+09          2018-06-29          1           41.16      5        3
6.216976e+11          2018-06-29          1           20.00      2        3
2.300392e+09          2018-06-29          2           25.98      2        3
2.347382e+09          2018-06-29          1           15.00      1        3
2.474490e+09          2018-06-29          2           30.98      2        3
2.633038e+09          2018-06-29          3           60.98      4        3
6.250128e+11          2018-06-29          2           47.99      5        3
2.694445e+09          2018-06-29          2           35.98      2        3
2.698370e+09          2018-06-29          1           17.99      1        3
2.893867e+09          2018-06-29          2           40.00      4        3
2.900794e+09          2018-06-29          1           45.00      3        3
2.911669e+09          2018-06-29          2           42.99      3        3
2.958123e+09          2018-06-29          1           30.00      2        3
6.032546e+11          2018-06-29          2           42.99      3        3
6.342040e+11          2018-06-29          1           12.99      1        3
6.235722e+11          2018-06-29          1           17.99      1        3
6.347065e+11          2018-06-29          1           20.00      2        3

In [132]:
RFM_data["Frequency"].value_counts()

1     259100
2      19919
3       2452
4        480
5        122
6         52
7         17
8         12
10         8
9          7
11         3
13         2
12         2
16         1
15         1
Name: Frequency, dtype: int64

In [133]:
RFM_data = RFM_data.sort_values("Frequency")

In [134]:
whatevs = 9

In [135]:
RFM_data["Frequency"].iloc[:whatevs]

Customers ID
1.392379e+08    1
1.762742e+11    1
1.762749e+11    1
1.762750e+11    1
1.762750e+11    1
1.762751e+11    1
1.762754e+11    1
1.762755e+11    1
1.762758e+11    1
Name: Frequency, dtype: int64

In [136]:
freq = []


for n in RFM_data["Frequency"]:

    if n == 1:
        freq.append(1)
    elif n > 2:
        freq.append(3)
    else:
        freq.append(2)
        
RFM_data["Freq"] = freq

In [137]:
RFM_data.sort_values("Frequency").tail(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq
Customers ID,,,,,,
1.089512e+11,2018-06-25,10,1215.250000,64,3,3
7.288607e+09,2018-05-29,11,668.420000,41,3,3
1.575494e+11,2018-03-08,11,215.880000,12,1,3
1.140361e+11,2018-02-17,11,614.879999,39,1,3
1.709452e+11,2018-06-18,12,437.940000,38,3,3
7.467046e+09,2018-06-25,12,250.930000,18,3,3
1.756049e+11,2018-06-26,13,485.000000,44,3,3
7.566964e+09,2018-05-27,13,245.880000,26,3,3
7.542152e+09,2018-06-25,15,625.000000,104,3,3
1.099570e+11,2018-06-10,16,293.920000,27,3,3

In [138]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq
count,282178.000000,282178.000000,282178.000000,282178.000000,282178.000000
mean,1.097208,24.712354,1.763692,1.595085,1.092980
std,0.367836,30.461261,2.457430,0.914356,0.326689
min,1.000000,2.990000,1.000000,1.000000,1.000000
25%,1.000000,17.990000,1.000000,1.000000,1.000000
50%,1.000000,17.990000,1.000000,1.000000,1.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000
max,16.000000,6000.000000,400.000000,3.000000,3.000000

In [139]:
mon = []


for n in RFM_data["Monetary_Value"]:

    if n < 15:
        mon.append(1)
    elif n >= 30:
        mon.append(3)
    else:
        mon.append(2)
        
RFM_data["Mon"] = mon

In [140]:
RFM_data.sort_values("Monetary_Value").tail(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon
Customers ID,,,,,,,
6.249229e+11,2018-06-07,1,1650.00,130,3,1,3
1.460990e+11,2018-03-23,2,1705.00,227,1,2,3
1.755762e+11,2018-03-24,1,1945.00,170,1,1,3
5.392646e+09,2018-01-26,2,1950.00,130,1,2,3
6.118507e+11,2018-05-27,1,2182.60,141,3,1,3
1.615457e+11,2018-02-26,1,2250.00,150,1,1,3
1.782865e+11,2018-05-11,3,2425.00,222,3,3,3
7.425866e+09,2018-02-19,1,3043.09,400,1,1,3
1.242338e+11,2018-01-05,1,3750.00,250,1,1,3
1.270184e+11,2018-01-08,1,6000.00,400,1,1,3

In [141]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq,Mon
count,282178.000000,282178.000000,282178.000000,282178.000000,282178.000000,282178.000000
mean,1.097208,24.712354,1.763692,1.595085,1.092980,2.038309
std,0.367836,30.461261,2.457430,0.914356,0.326689,0.683693
min,1.000000,2.990000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,17.990000,1.000000,1.000000,1.000000,2.000000
50%,1.000000,17.990000,1.000000,1.000000,1.000000,2.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000,3.000000
max,16.000000,6000.000000,400.000000,3.000000,3.000000,3.000000

In [142]:
62098/653961

0.09495673289385759

In [143]:
RFM_data["Units"].value_counts()

1      162470
2       80427
3       20922
4        9587
5        3444
6        1904
7         923
8         621
10        359
9         324
11        191
12        167
13        110
20         92
15         91
14         77
16         61
17         34
25         33
19         31
18         31
30         29
21         23
22         19
50         17
24         13
23         12
28         12
26         11
31          9
        ...
52          2
53          2
55          2
57          2
400         2
65          2
66          2
67          2
170         1
128         1
141         1
150         1
200         1
191         1
98          1
222         1
227         1
104         1
71          1
92          1
90          1
86          1
77          1
240         1
70          1
62          1
61          1
58          1
48          1
250         1
Name: Units, Length: 83, dtype: int64

In [144]:
uni = []


for n in RFM_data["Units"]:

    if n < 2:
        uni.append(1)
    elif n >= 3:
        uni.append(3)
    else:
        uni.append(2)
        
RFM_data["Uni"] = uni

In [145]:
RFM_data["RFMU_Score"] = RFM_data["Recency"] + RFM_data["Freq"] + RFM_data["Mon"] + RFM_data["Uni"]

RFM_data.head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Customers ID,,,,,,,,,
1.392379e+08,2018-03-28,1,65.31,4,1,1,3,3,8
1.762742e+11,2018-03-27,1,17.99,1,1,1,2,1,5
1.762749e+11,2018-03-28,1,21.99,1,1,1,2,1,5
1.762750e+11,2018-03-27,1,17.99,1,1,1,2,1,5
1.762750e+11,2018-03-27,1,17.99,1,1,1,2,1,5
1.762751e+11,2018-03-27,1,12.99,1,1,1,1,1,4
1.762754e+11,2018-03-27,1,12.99,1,1,1,1,1,4
1.762755e+11,2018-03-27,1,326.21,20,1,1,3,3,8
1.762758e+11,2018-03-27,1,20.00,2,1,1,2,2,6
1.762761e+11,2018-03-27,1,20.00,2,1,1,2,2,6

In [146]:
RFM_data = RFM_data.sort_values("RFMU_Score")

In [147]:
RFM_data.head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Customers ID,,,,,,,,,
7.607778e+09,2018-03-19,1,12.99,1,1,1,1,1,4
1.601573e+11,2018-02-22,1,12.99,1,1,1,1,1,4
5.414709e+10,2018-02-02,1,12.99,1,1,1,1,1,4
1.601583e+11,2018-02-22,1,12.99,1,1,1,1,1,4
5.148500e+09,2018-02-04,1,12.99,1,1,1,1,1,4
1.601587e+11,2018-02-22,1,12.99,1,1,1,1,1,4
5.148655e+09,2018-01-13,1,12.99,1,1,1,1,1,4
1.601528e+11,2018-02-22,1,12.99,1,1,1,1,1,4
7.478684e+09,2018-01-13,1,12.99,1,1,1,1,1,4
5.415266e+10,2018-03-22,1,12.99,1,1,1,1,1,4

In [148]:
RFM_data["RFMU_Score"].value_counts() / RFM_data["RFMU_Score"].shape[0]

5     0.264592
7     0.180836
6     0.160686
4     0.158070
8     0.112514
9     0.059115
10    0.040056
11    0.017673
12    0.006457
Name: RFMU_Score, dtype: float64

In [149]:
RFM_data[RFM_data["RFMU_Score"] == 6].head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Customers ID,,,,,,,,,
7.534094e+09,2018-01-21,1,25.00,2,1,1,2,2,6
7.537153e+09,2018-06-26,1,12.99,1,3,1,1,1,6
8.696378e+10,2018-01-04,1,25.00,2,1,1,2,2,6
9.517410e+10,2018-02-05,1,22.99,2,1,1,2,2,6
7.512767e+09,2018-05-18,1,12.99,1,3,1,1,1,6
7.585022e+09,2018-04-14,1,17.99,2,1,1,2,2,6
7.536412e+09,2018-03-22,1,25.00,2,1,1,2,2,6
7.531192e+09,2018-05-09,1,12.99,1,3,1,1,1,6
7.543451e+09,2018-06-15,1,12.99,1,3,1,1,1,6
7.528408e+09,2018-06-15,1,11.49,1,3,1,1,1,6

In [150]:
bucketu = []


for n in RFM_data["RFMU_Score"]:

    if n < 6:
        bucketu.append("Bottom_Segment")
    elif n > 8:
        bucketu.append("Top_Segment")
    else:
        bucketu.append("Middle_Segment")
        
RFM_data["RFMU_Segment"] = bucketu

In [151]:
RFM_data.head()

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFMU_Segment
Customers ID,,,,,,,,,,
7.607778e+09,2018-03-19,1,12.99,1,1,1,1,1,4,Bottom_Segment
1.601573e+11,2018-02-22,1,12.99,1,1,1,1,1,4,Bottom_Segment
5.414709e+10,2018-02-02,1,12.99,1,1,1,1,1,4,Bottom_Segment
1.601583e+11,2018-02-22,1,12.99,1,1,1,1,1,4,Bottom_Segment
5.148500e+09,2018-02-04,1,12.99,1,1,1,1,1,4,Bottom_Segment

In [152]:
print("Pre-QRX Distribution of Customers:")
RFM_data["RFMU_Segment"].value_counts() / RFM_data["RFMU_Segment"].shape[0]

Pre-QRX Distribution of Customers:

Middle_Segment    0.454036
Bottom_Segment    0.422662
Top_Segment       0.123302
Name: RFMU_Segment, dtype: float64

In [153]:
print("Pre-QRX Distribution of Frequency:")
RFM_data["Freq"].value_counts() / RFM_data["Freq"].shape[0]

Pre-QRX Distribution of Frequency:

1    0.918215
2    0.070590
3    0.011195
Name: Freq, dtype: float64

In [154]:
print("Pre-QRX Distribution of Monetary Value:")
RFM_data["Mon"].value_counts() / RFM_data["Mon"].shape[0]

Pre-QRX Distribution of Monetary Value:

2    0.531097
3    0.253606
1    0.215297
Name: Mon, dtype: float64

In [155]:
print("Pre-QRX Distribution of Units:")
RFM_data["Uni"].value_counts() / RFM_data["Uni"].shape[0]

Pre-QRX Distribution of Units:

1    0.575771
2    0.285022
3    0.139206
Name: Uni, dtype: float64

In [156]:
#start post-qrx analysis
half_year = pd.concat([Jan9, Feb9, Mar9, Apr9, May9, Jun9])

half_year.shape

(342631, 6)

In [157]:
half_year = half_year[half_year["Orders Total Price"] > 0]
half_year.shape

(324533, 6)

In [158]:
piv_orders_new = half_year.pivot_table(index="Customers ID", values=["Orders Total Price", "Order Line Total Quantity"], aggfunc=np.sum)

In [159]:
piv_orders_new.head()

              Order Line Total Quantity  Orders Total Price
Customers ID
139237871.0                           2               28.30
158690749.0                           2               32.68
160951941.0                           1               18.81
161038085.0                           3              127.53
161084573.0                           1               20.99

In [160]:
piv_orders_new.shape

(292011, 2)

In [161]:
one_year_orders_6_18.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity,Order_Cust_ID
0,6.298457e+11,2018-06-18,2018-06-18,12.99,0.00,1,6.298457e+11
1,7.538269e+09,2018-06-18,2017-09-18,17.99,0.00,1,7.538269e+09
2,6.296723e+11,2018-06-18,2018-06-18,17.99,0.00,1,6.296723e+11
3,1.555303e+11,2018-06-18,2018-02-11,17.99,0.00,1,1.555303e+11
4,3.725221e+09,2018-06-18,2016-07-16,15.00,2.99,1,3.725221e+09

In [162]:
recency = half_year.pivot_table(index="Customers ID", values="Orders Created Date", aggfunc=np.max)

recency.head()

             Orders Created Date
Customers ID
139237871.0           2019-02-15
158690749.0           2019-02-01
160951941.0           2019-04-22
161038085.0           2019-05-01
161084573.0           2019-02-24

In [163]:
recency.shape

(292011, 1)

In [164]:
half_year["Order_Cust_ID"] = half_year["Customers ID"]

half_year.head()

,Customers ID,Orders Created Date,Customers Created Date,Orders Total Price,Orders Total Order Discounts,Order Line Total Quantity,Order_Cust_ID
0,1.078357e+12,2019-01-01,2018-12-27,15.69,0.0,1,1.078357e+12
1,5.490552e+09,2019-01-01,2017-04-17,24.18,7.5,2,5.490552e+09
2,1.084824e+12,2019-01-01,2019-01-01,31.52,0.0,2,1.084824e+12
3,7.352098e+09,2019-01-01,2017-08-15,32.18,0.0,2,7.352098e+09
4,1.781557e+11,2019-01-01,2018-04-04,15.00,0.0,1,1.781557e+11

In [165]:
frqncy = half_year.pivot_table(index="Customers ID", values="Order_Cust_ID", aggfunc="count")
frqncy.head()

              Order_Cust_ID
Customers ID
139237871.0               1
158690749.0               1
160951941.0               1
161038085.0               2
161084573.0               1

In [166]:
frqncy.shape

(292011, 1)

In [167]:
12591/653961

0.01925344171900159

In [168]:
frqncy["Order_Cust_ID"].value_counts()

1     265503
2      22348
3       3104
4        679
5        203
6         79
7         36
8         32
9         10
10         6
11         4
14         2
12         2
24         1
21         1
16         1
Name: Order_Cust_ID, dtype: int64

In [169]:
monetary_value = half_year.pivot_table(index="Customers ID", values="Orders Total Price", aggfunc=np.sum)
monetary_value.head()

              Orders Total Price
Customers ID
139237871.0                28.30
158690749.0                32.68
160951941.0                18.81
161038085.0               127.53
161084573.0                20.99

In [170]:
units = half_year.pivot_table(index="Customers ID", values="Order Line Total Quantity", aggfunc=np.sum)
units.head()

              Order Line Total Quantity
Customers ID
139237871.0                           2
158690749.0                           2
160951941.0                           1
161038085.0                           3
161084573.0                           1

In [171]:
RFM_data = recency

In [172]:
RFM_data.head()

             Orders Created Date
Customers ID
139237871.0           2019-02-15
158690749.0           2019-02-01
160951941.0           2019-04-22
161038085.0           2019-05-01
161084573.0           2019-02-24

In [173]:
RFM_data["Frequency"] = frqncy["Order_Cust_ID"]
RFM_data["Monetary_Value"] = monetary_value["Orders Total Price"]
RFM_data["Units"] = units["Order Line Total Quantity"]

RFM_data.shape

(292011, 4)

In [174]:
RFM_data.head()

             Orders Created Date  Frequency  Monetary_Value  Units
Customers ID
139237871.0           2019-02-15          1           28.30      2
158690749.0           2019-02-01          1           32.68      2
160951941.0           2019-04-22          1           18.81      1
161038085.0           2019-05-01          2          127.53      3
161084573.0           2019-02-24          1           20.99      1

In [175]:
RFM_data["Orders Created Date"].max()

Timestamp('2019-06-26 00:00:00')

In [176]:
from datetime import timedelta
from dateutil.relativedelta import relativedelta

rcncy = []

low = RFM_data["Orders Created Date"].min() + relativedelta(months=4)
high = RFM_data["Orders Created Date"].max() - relativedelta(months=4)

for n in RFM_data["Orders Created Date"]:

    if n < low:
        rcncy.append(1)
    elif n > high:
        rcncy.append(3)
    else:
        rcncy.append(2)
        
RFM_data["Recency"] = rcncy

In [177]:
high

Timestamp('2019-02-26 00:00:00')

In [178]:
RFM_data.sort_values("Orders Created Date").tail(40)

             Orders Created Date  Frequency  Monetary_Value  Units  Recency
Customers ID
3.614249e+09          2019-06-26          1       13.640000      1        3
3.659225e+09          2019-06-26          2       51.000000      4        3
3.670155e+09          2019-06-26          1       24.080000      2        3
3.851019e+09          2019-06-26          1       26.000000      3        3
3.931430e+09          2019-06-26          1       28.000000      3        3
2.052959e+12          2019-06-26          1       25.000000      1        3
3.957934e+09          2019-06-26          2       75.040000      4        3
3.995914e+09          2019-06-26          1       19.610000      1        3
4.011099e+09          2019-06-26          2       51.260000      3        3
4.018666e+09          2019-06-26          1       19.080000      1        3
4.667037e+09          2019-06-26          2       30.890000      2        3
4.682543e+09          2019-06-26          1       41.000000      3        3
4.695245e+09          2019-06-26          1       18.520000      1        3
3.067730e+09          2019-06-26          3       53.559999      3        3
1.153078e+12          2019-06-26          3       53.970000      3        3
3.004645e+09          2019-06-26          1       17.470000      1        3
2.052994e+12          2019-06-26          1       12.990000      1        3
1.152048e+12          2019-06-26          2       94.170000      6        3
1.151589e+12          2019-06-26          1       36.990000      2        3
1.151539e+12          2019-06-26          2       81.989999      3        3
1.150677e+12          2019-06-26          2       55.000000      4        3
1.149796e+12          2019-06-26          3      142.120000     12        3
1.147666e+12          2019-06-26          4       92.990000      6        3
1.147510e+12          2019-06-26          2       60.000000      3        3
1.147024e+12          2019-06-26          2       42.110000      3        3
1.146821e+12          2019-06-26          2       36.550000      2        3
1.146749e+12          2019-06-26          2       48.440000      2        3
1.143985e+12          2019-06-26          2       80.649999      5        3
1.143404e+12          2019-06-26          2       73.460000      5        3
2.118492e+08          2019-06-26          1       17.990000      1        3
1.670649e+09          2019-06-26          1       27.090000      2        3
1.675013e+09          2019-06-26          1       11.990000      1        3
2.039386e+09          2019-06-26          1       12.830000      1        3
2.272802e+09          2019-06-26          1       17.990000      1        3
2.529150e+09          2019-06-26          1       19.430000      1        3
2.681833e+09          2019-06-26          2       55.850000      4        3
2.054505e+12          2019-06-26          1       30.000000      2        3
2.797676e+09          2019-06-26          1       25.000000      1        3
2.898165e+09          2019-06-26          1       19.300000      1        3
2.054505e+12          2019-06-26          1       13.920000      1        3

In [179]:
RFM_data["Frequency"].value_counts()

1     265503
2      22348
3       3104
4        679
5        203
6         79
7         36
8         32
9         10
10         6
11         4
14         2
12         2
24         1
21         1
16         1
Name: Frequency, dtype: int64

In [180]:
RFM_data = RFM_data.sort_values("Frequency")

In [181]:
whatevs = 9

In [182]:
RFM_data["Frequency"].iloc[:whatevs]

Customers ID
1.392379e+08    1
1.177687e+12    1
1.177688e+12    1
1.177688e+12    1
1.177688e+12    1
1.177689e+12    1
1.177690e+12    1
1.177691e+12    1
1.177692e+12    1
Name: Frequency, dtype: int64

In [183]:
freq = []


for n in RFM_data["Frequency"]:

    if n == 1:
        freq.append(1)
    elif n > 2:
        freq.append(3)
    else:
        freq.append(2)
        
RFM_data["Freq"] = freq

In [184]:
RFM_data.sort_values("Frequency").tail(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq
Customers ID,,,,,,
9.091215e+11,2019-06-01,11,146.910000,11,3,3
8.532624e+11,2019-06-12,11,314.150000,17,3,3
3.767286e+09,2019-06-01,11,411.569999,31,3,3
9.082990e+11,2019-06-10,12,314.090000,25,3,3
6.461861e+09,2019-06-16,12,373.200000,28,3,3
9.241382e+11,2019-06-14,14,284.830000,19,3,3
1.099570e+11,2019-06-10,14,343.840000,23,3,3
1.116437e+12,2019-05-09,16,744.359999,47,3,3
6.360812e+11,2019-06-03,21,552.680000,33,3,3
7.687562e+09,2019-06-21,24,484.480000,43,3,3

In [185]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq
count,292011.000000,292011.000000,292011.000000,292011.000000,292011.000000
mean,1.111366,28.106044,1.915284,1.619319,1.105023
std,0.407963,40.386452,3.027346,0.924708,0.349980
min,1.000000,0.050000,1.000000,1.000000,1.000000
25%,1.000000,16.930000,1.000000,1.000000,1.000000
50%,1.000000,20.000000,1.000000,1.000000,1.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000
max,24.000000,7875.000000,675.000000,3.000000,3.000000

In [186]:
mon = []


for n in RFM_data["Monetary_Value"]:

    if n < 15:
        mon.append(1)
    elif n >= 30:
        mon.append(3)
    else:
        mon.append(2)
        
RFM_data["Mon"] = mon

In [187]:
RFM_data.sort_values("Monetary_Value").tail(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon
Customers ID,,,,,,,
9.113222e+11,2019-02-13,2,2324.68,150,1,2,3
1.782865e+11,2019-03-18,2,2748.04,200,1,2,3
2.042749e+12,2019-06-20,2,3344.41,197,3,2,3
1.129675e+12,2019-02-13,1,3750.00,250,1,1,3
1.109424e+12,2019-02-04,3,3872.83,250,1,3,3
7.180147e+11,2019-03-26,7,4105.46,468,1,3,3
1.744240e+12,2019-06-03,3,4980.00,332,3,3,3
1.142007e+12,2019-02-22,1,5010.00,334,1,1,3
1.845250e+12,2019-06-25,2,7172.08,490,3,2,3
1.737433e+12,2019-04-19,1,7875.00,675,1,1,3

In [188]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq,Mon
count,292011.000000,292011.000000,292011.000000,292011.000000,292011.000000,292011.000000
mean,1.111366,28.106044,1.915284,1.619319,1.105023,2.142614
std,0.407963,40.386452,3.027346,0.924708,0.349980,0.640868
min,1.000000,0.050000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,16.930000,1.000000,1.000000,1.000000,2.000000
50%,1.000000,20.000000,1.000000,1.000000,1.000000,2.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000,3.000000
max,24.000000,7875.000000,675.000000,3.000000,3.000000,3.000000

In [189]:
62098/653961

0.09495673289385759

In [190]:
RFM_data["Units"].value_counts()

1      150521
2       88639
3       28494
4       12079
5        4947
6        2664
7        1373
8         880
9         547
10        510
11        267
12        219
13        116
15         97
14         96
20         83
16         65
17         40
18         35
19         32
21         32
25         25
23         24
30         20
50         14
24         13
40         12
22         12
100        11
26         11
        ...
114         1
119         1
125         1
127         1
130         1
169         1
675         1
109         1
175         1
197         1
200         1
468         1
110         1
94          1
104         1
95          1
490         1
90          1
85          1
82          1
79          1
334         1
332         1
73          1
70          1
65          1
63          1
61          1
52          1
45          1
Name: Units, Length: 85, dtype: int64

In [191]:
uni = []


for n in RFM_data["Units"]:

    if n < 2:
        uni.append(1)
    elif n >= 3:
        uni.append(3)
    else:
        uni.append(2)
        
RFM_data["Uni"] = uni

In [192]:
RFM_data["RFMU_Score"] = RFM_data["Recency"] + RFM_data["Freq"] + RFM_data["Mon"] + RFM_data["Uni"]

RFM_data.head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Customers ID,,,,,,,,,
1.392379e+08,2019-02-15,1,28.300000,2,1,1,2,2,6
1.177687e+12,2019-03-27,1,16.990000,1,1,1,2,1,5
1.177688e+12,2019-03-27,1,33.780000,3,1,1,3,3,8
1.177688e+12,2019-03-27,1,11.040000,1,1,1,1,1,4
1.177688e+12,2019-03-27,1,17.990000,1,1,1,2,1,5
1.177689e+12,2019-03-27,1,19.430000,1,1,1,2,1,5
1.177690e+12,2019-03-31,1,24.080000,2,1,1,2,2,6
1.177691e+12,2019-03-27,1,16.489999,1,1,1,2,1,5
1.177692e+12,2019-03-27,1,17.990000,1,1,1,2,1,5
1.177693e+12,2019-03-27,1,25.000000,2,1,1,2,2,6

In [193]:
RFM_data = RFM_data.sort_values("RFMU_Score")

In [194]:
RFM_data.head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Customers ID,,,,,,,,,
1.082244e+12,2019-01-02,1,10.73,1,1,1,1,1,4
7.275724e+09,2019-03-06,1,13.37,1,1,1,1,1,4
1.094116e+12,2019-01-10,1,13.50,1,1,1,1,1,4
1.746431e+12,2019-04-28,1,14.30,1,1,1,1,1,4
1.678427e+12,2019-04-05,1,7.99,1,1,1,1,1,4
1.508144e+11,2019-04-11,1,12.53,1,1,1,1,1,4
1.094139e+12,2019-01-10,1,13.50,1,1,1,1,1,4
7.285226e+09,2019-04-20,1,12.99,1,1,1,1,1,4
1.678438e+12,2019-04-05,1,10.99,1,1,1,1,1,4
7.285284e+09,2019-03-04,1,12.99,1,1,1,1,1,4

In [195]:
RFM_data["RFMU_Score"].value_counts() / RFM_data["RFMU_Score"].shape[0]

5     0.254658
7     0.191736
6     0.168377
8     0.138156
4     0.107938
9     0.061792
10    0.045926
11    0.022612
12    0.008804
Name: RFMU_Score, dtype: float64

In [196]:
RFM_data[RFM_data["RFMU_Score"] == 6].head(10)

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Customers ID,,,,,,,,,
9.136787e+11,2019-01-19,1,18.00,2,1,1,2,2,6
9.289906e+11,2019-02-23,1,21.20,2,1,1,2,2,6
9.125832e+11,2019-03-26,1,48.22,1,1,1,3,1,6
9.309180e+11,2019-01-24,1,48.71,1,1,1,3,1,6
9.291546e+11,2019-02-12,1,22.50,2,1,1,2,2,6
9.306880e+11,2019-01-01,1,29.64,2,1,1,2,2,6
9.298304e+11,2019-04-28,1,49.95,1,1,1,3,1,6
9.123840e+11,2019-02-03,1,25.00,2,1,1,2,2,6
9.112903e+11,2019-03-17,1,25.00,2,1,1,2,2,6
9.291443e+11,2019-05-22,1,12.99,1,3,1,1,1,6

In [197]:
bucketu = []


for n in RFM_data["RFMU_Score"]:

    if n < 6:
        bucketu.append("Bottom_Segment")
    elif n > 8:
        bucketu.append("Top_Segment")
    else:
        bucketu.append("Middle_Segment")
        
RFM_data["RFMU_Segment"] = bucketu

In [198]:
RFM_data.head()

,Orders Created Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFMU_Segment
Customers ID,,,,,,,,,,
1.082244e+12,2019-01-02,1,10.73,1,1,1,1,1,4,Bottom_Segment
7.275724e+09,2019-03-06,1,13.37,1,1,1,1,1,4,Bottom_Segment
1.094116e+12,2019-01-10,1,13.50,1,1,1,1,1,4,Bottom_Segment
1.746431e+12,2019-04-28,1,14.30,1,1,1,1,1,4,Bottom_Segment
1.678427e+12,2019-04-05,1,7.99,1,1,1,1,1,4,Bottom_Segment

In [199]:
print("Post-QRX Distribution of Customers:")
RFM_data["RFMU_Segment"].value_counts() / RFM_data["RFMU_Segment"].shape[0]

Post-QRX Distribution of Customers:

Middle_Segment    0.498269
Bottom_Segment    0.362596
Top_Segment       0.139135
Name: RFMU_Segment, dtype: float64

In [200]:
print("Post-QRX Distribution of Frequency:")
RFM_data["Freq"].value_counts() / RFM_data["Freq"].shape[0]

Post-QRX Distribution of Frequency:

1    0.909223
2    0.076531
3    0.014246
Name: Freq, dtype: float64

In [201]:
print("Post-QRX Distribution of Monetary Value:")
RFM_data["Mon"].value_counts() / RFM_data["Mon"].shape[0]

Post-QRX Distribution of Monetary Value:

2    0.568951
3    0.286832
1    0.144217
Name: Mon, dtype: float64

In [202]:
print("Post-QRX Distribution of Units:")
RFM_data["Uni"].value_counts() / RFM_data["Uni"].shape[0]

Post-QRX Distribution of Units:

1    0.515463
2    0.303547
3    0.180990
Name: Uni, dtype: float64

### Calculating Avg 12mo LTV for each segment

In [203]:
RFM_data[RFM_data["RFM_Segment"] == "Bottom_Segment"].shape

KeyError: 'RFM_Segment'

In [ ]:
RFM_data[RFM_data["RFM_Segment"] == "Middle_Segment"].shape

In [ ]:
RFM_data[RFM_data["RFM_Segment"] == "Top_Segment"].shape

In [ ]:
print("Bottom Segment 12mo Customer Value:", RFM_data[RFM_data["RFM_Segment"] == "Bottom_Segment"]["Monetary_Value"].mean())

In [ ]:
print("Bottom Segment 24mo Customer Value:", RFM_data[RFM_data["RFM_Segment"] == "Bottom_Segment"]["Monetary_Value"].mean()*1.2)

In [ ]:
print("Middle Segment 12mo Customer Value:", RFM_data[RFM_data["RFM_Segment"] == "Middle_Segment"]["Monetary_Value"].mean())

In [ ]:
print("Middle Segment 24mo Customer Value:", RFM_data[RFM_data["RFM_Segment"] == "Middle_Segment"]["Monetary_Value"].mean()*1.2)

In [ ]:
print("Top Segment 12mo Customer Value:", RFM_data[RFM_data["RFM_Segment"] == "Top_Segment"]["Monetary_Value"].mean())

In [ ]:
print("Top Segment 24mo Customer Value:", RFM_data[RFM_data["RFM_Segment"] == "Top_Segment"]["Monetary_Value"].mean()*1.2)

In [ ]:
RFM_data.head()

In [ ]:
RFM_data.sort_values("Monetary_Value", ascending=False).head(50)

### Calculating CAC

In [ ]:
facebook_insta_spend = 
email_spend = 
ad_words_spend =
paid_search_spend =
affiliate_spend =
direct_mail = 
verte_agency_spend = MEL
gen3_agency_spend = IAN J
site_expense = 
discounts =

In [ ]:
Jun18 = 32978
Jul18 = 38165
Aug18 = 42290
Sep18 = 38703
Oct18 = 26914
Nov18 = 63885
Dec18 = 102938
Jan19 = 40841
Feb19 = 41973
Mar19 = 44814
Apr19 = 34442
May19 = 34522
Jun19 = 34336
Jul19 = 20827  #run on 7/18

In [ ]:
jun18paid = .354
jun18dir = .2156
jun18organ = .2081
jun18social = .0392
jun18email = .0556
jun18affil = .1187

Findings:
+ look at ALL advertising and ALL revenue (instead of trying to look at one campaign
+ Net Customer Worth (LTV:CAC)