In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### RFM
1. Create dataframe that has the RFM (recency, frequency, monetary) hard data for each customer
2. Input scaled scores into RFM table
3. Segment customers into 3 buckets based on RFM scores
4. Calculate average LTV for each bucket

In [3]:
Sep18 = pd.read_excel("Feb 3 to March 28 2019.xlsx")
Oct18 = pd.read_excel("Apr2020.xlsx")
Nov18 = pd.read_excel("May2019.xlsx")
Dec18 = pd.read_excel("June2019.xlsx")
Jan19 = pd.read_excel("July2019.xlsx")
Feb19 = pd.read_excel("August2019.xlsx")
Mar19 = pd.read_excel("September2019.xlsx")
Apr19 = pd.read_excel("October2019.xlsx")
May19 = pd.read_excel("November2019.xlsx")
Jun19 = pd.read_excel("December2019.xlsx")
Jul19 = pd.read_excel("January2020 to Feb 3.xlsx")
#Aug19 = pd.read_excel("8.19 DE.xlsx")

In [126]:
one_year_orders_6_18 = pd.concat([Sep18, Oct18, Nov18, Dec18, Jan19, Feb19, Mar19, Apr19, May19, Jun19, Jul19])

one_year_orders_6_18.shape

(1562401, 4)

In [127]:
one_year_orders_6_18.head()

,Orders SFCC/Shopify Customer Email,Orders Posting Date,Orders Units Invoiced,Orders Gross Sales Amount
0,jenna@njpn.org,2019-06-28,750,11250.0
1,theisman.tamanaha@gmail.com,2019-12-19,716,11140.0
2,theisman.tamanaha@gmail.com,2019-12-20,452,7400.0
3,theisman.tamanaha@gmail.com,2019-09-14,358,4520.0
4,jenna@njpn.org,2019-06-27,340,5100.0

In [128]:
one_year_orders_6_18 = one_year_orders_6_18[one_year_orders_6_18["Orders Gross Sales Amount"] > 0]
one_year_orders_6_18.shape

(1562401, 4)

In [129]:
one_year_orders_6_18["Orders Gross Sales Amount"].sum()

39781100.58000002

In [130]:
one_year_orders_6_18 = one_year_orders_6_18.drop_duplicates()

one_year_orders_6_18.shape

(837304, 4)

In [131]:
one_year_orders_6_18.shape

(837304, 4)

In [132]:
one_year_orders_6_18["Orders Gross Sales Amount"].sum()

21219590.19000001

In [133]:
one_year_orders_6_18.head()

,Orders SFCC/Shopify Customer Email,Orders Posting Date,Orders Units Invoiced,Orders Gross Sales Amount
0,jenna@njpn.org,2019-06-28,750,11250.0
1,theisman.tamanaha@gmail.com,2019-12-19,716,11140.0
2,theisman.tamanaha@gmail.com,2019-12-20,452,7400.0
3,theisman.tamanaha@gmail.com,2019-09-14,358,4520.0
4,jenna@njpn.org,2019-06-27,340,5100.0

In [134]:
one_year_orders_6_18.columns = ["Email", "Order Date", "Units", "Money"]

In [135]:
one_year_orders_6_18.head()

                         Email Order Date  Units    Money
0               jenna@njpn.org 2019-06-28    750  11250.0
1  theisman.tamanaha@gmail.com 2019-12-19    716  11140.0
2  theisman.tamanaha@gmail.com 2019-12-20    452   7400.0
3  theisman.tamanaha@gmail.com 2019-09-14    358   4520.0
4               jenna@njpn.org 2019-06-27    340   5100.0

In [136]:
one_year_orders_6_18.shape

(837304, 4)

In [137]:
piv_orders_new = one_year_orders_6_18.pivot_table(index="Email", values=["Money", "Units"], aggfunc=np.sum)

In [138]:
piv_orders_new.head()

                             Money  Units
Email
(818)751-9631                 20.0      1
+kristina.repinac@gmail.com   30.0      1
+shimmiehayshee@gmail.com     30.0      2
.jeraldine6@yahoo.com         15.0      1
0007zacharyriley@gmail.com    30.0      2

In [139]:
piv_orders_new.shape

(711654, 2)

In [140]:
one_year_orders_6_18.head()

                         Email Order Date  Units    Money
0               jenna@njpn.org 2019-06-28    750  11250.0
1  theisman.tamanaha@gmail.com 2019-12-19    716  11140.0
2  theisman.tamanaha@gmail.com 2019-12-20    452   7400.0
3  theisman.tamanaha@gmail.com 2019-09-14    358   4520.0
4               jenna@njpn.org 2019-06-27    340   5100.0

In [141]:
one_year_orders_6_18.shape

(837304, 4)

In [142]:
recency = one_year_orders_6_18.pivot_table(index="Email", values="Order Date", aggfunc=np.max)

recency.head()

                            Order Date
Email
(818)751-9631               2019-11-23
+kristina.repinac@gmail.com 2020-01-16
+shimmiehayshee@gmail.com   2019-02-26
.jeraldine6@yahoo.com       2019-04-17
0007zacharyriley@gmail.com  2019-03-04

In [143]:
one_year_orders_6_18.head()

                         Email Order Date  Units    Money
0               jenna@njpn.org 2019-06-28    750  11250.0
1  theisman.tamanaha@gmail.com 2019-12-19    716  11140.0
2  theisman.tamanaha@gmail.com 2019-12-20    452   7400.0
3  theisman.tamanaha@gmail.com 2019-09-14    358   4520.0
4               jenna@njpn.org 2019-06-27    340   5100.0

In [144]:
recency.shape

(711654, 1)

In [145]:
one_year_orders_6_18["Order_Cust_ID"] = one_year_orders_6_18["Email"]

one_year_orders_6_18.head()

,Email,Order Date,Units,Money,Order_Cust_ID
0,jenna@njpn.org,2019-06-28,750,11250.0,jenna@njpn.org
1,theisman.tamanaha@gmail.com,2019-12-19,716,11140.0,theisman.tamanaha@gmail.com
2,theisman.tamanaha@gmail.com,2019-12-20,452,7400.0,theisman.tamanaha@gmail.com
3,theisman.tamanaha@gmail.com,2019-09-14,358,4520.0,theisman.tamanaha@gmail.com
4,jenna@njpn.org,2019-06-27,340,5100.0,jenna@njpn.org

In [146]:
frqncy = one_year_orders_6_18.pivot_table(index="Email", values="Order_Cust_ID", aggfunc="count")
frqncy.head()

                             Order_Cust_ID
Email
(818)751-9631                            1
+kristina.repinac@gmail.com              1
+shimmiehayshee@gmail.com                1
.jeraldine6@yahoo.com                    1
0007zacharyriley@gmail.com               1

In [147]:
frqncy.shape

(711654, 1)

In [148]:
frqncy[frqncy.index == "jarback@earthlink.net"]

                       Order_Cust_ID
Email
jarback@earthlink.net              9

In [149]:
one_year_orders_6_18[one_year_orders_6_18["Email"] == "jarback@earthlink.net"]

                        Email Order Date  Units  Money          Order_Cust_ID
74180   jarback@earthlink.net 2019-04-30      3   45.0  jarback@earthlink.net
126924  jarback@earthlink.net 2019-06-15      2   30.0  jarback@earthlink.net
140298  jarback@earthlink.net 2019-10-22      2   30.0  jarback@earthlink.net
283649  jarback@earthlink.net 2019-05-10      2   30.0  jarback@earthlink.net
300590  jarback@earthlink.net 2019-02-11      2   30.0  jarback@earthlink.net
754301  jarback@earthlink.net 2019-12-24      1   15.0  jarback@earthlink.net
788519  jarback@earthlink.net 2019-10-30      1   15.0  jarback@earthlink.net
823136  jarback@earthlink.net 2019-09-20      1   25.0  jarback@earthlink.net
826464  jarback@earthlink.net 2019-10-21      1   15.0  jarback@earthlink.net

In [151]:
frqncy["Order_Cust_ID"].value_counts()/frqncy.shape[0]

1     0.866703
2     0.104777
3     0.020351
4     0.005237
5     0.001586
6     0.000618
7     0.000313
8     0.000153
9     0.000082
10    0.000042
11    0.000042
13    0.000020
15    0.000017
14    0.000013
16    0.000013
12    0.000010
17    0.000004
18    0.000003
20    0.000003
27    0.000003
29    0.000001
19    0.000001
22    0.000001
23    0.000001
24    0.000001
26    0.000001
63    0.000001
Name: Order_Cust_ID, dtype: float64

In [152]:
monetary_value = one_year_orders_6_18.pivot_table(index="Email", values="Money", aggfunc=np.sum)
monetary_value.head()

                             Money
Email
(818)751-9631                 20.0
+kristina.repinac@gmail.com   30.0
+shimmiehayshee@gmail.com     30.0
.jeraldine6@yahoo.com         15.0
0007zacharyriley@gmail.com    30.0

In [153]:
one_year_orders_6_18.head()

,Email,Order Date,Units,Money,Order_Cust_ID
0,jenna@njpn.org,2019-06-28,750,11250.0,jenna@njpn.org
1,theisman.tamanaha@gmail.com,2019-12-19,716,11140.0,theisman.tamanaha@gmail.com
2,theisman.tamanaha@gmail.com,2019-12-20,452,7400.0,theisman.tamanaha@gmail.com
3,theisman.tamanaha@gmail.com,2019-09-14,358,4520.0,theisman.tamanaha@gmail.com
4,jenna@njpn.org,2019-06-27,340,5100.0,jenna@njpn.org

In [154]:
units = one_year_orders_6_18.pivot_table(index="Email", values="Units", aggfunc=np.sum)
units.head()

                             Units
Email
(818)751-9631                    1
+kristina.repinac@gmail.com      1
+shimmiehayshee@gmail.com        2
.jeraldine6@yahoo.com            1
0007zacharyriley@gmail.com       2

In [155]:
RFM_data = recency

In [156]:
RFM_data.head()

                            Order Date
Email
(818)751-9631               2019-11-23
+kristina.repinac@gmail.com 2020-01-16
+shimmiehayshee@gmail.com   2019-02-26
.jeraldine6@yahoo.com       2019-04-17
0007zacharyriley@gmail.com  2019-03-04

In [157]:
RFM_data["Frequency"] = frqncy["Order_Cust_ID"]
RFM_data["Monetary_Value"] = monetary_value["Money"]
RFM_data["Units"] = units["Units"]

RFM_data.shape

(711654, 4)

In [158]:
RFM_data.head()

                            Order Date  Frequency  Monetary_Value  Units
Email
(818)751-9631               2019-11-23          1            20.0      1
+kristina.repinac@gmail.com 2020-01-16          1            30.0      1
+shimmiehayshee@gmail.com   2019-02-26          1            30.0      2
.jeraldine6@yahoo.com       2019-04-17          1            15.0      1
0007zacharyriley@gmail.com  2019-03-04          1            30.0      2

In [159]:
one_year_orders_6_18.shape

(837304, 5)

In [160]:
RFM_data["Order Date"].max()

Timestamp('2020-01-31 00:00:00')

In [161]:
from datetime import timedelta
from dateutil.relativedelta import relativedelta

rcncy = []

low = RFM_data["Order Date"].min() + relativedelta(months=4)
high = RFM_data["Order Date"].max() - relativedelta(months=4)

for n in RFM_data["Order Date"]:

    if n < low:
        rcncy.append(1)
    elif n > high:
        rcncy.append(3)
    else:
        rcncy.append(2)
        
RFM_data["Recency"] = rcncy

In [162]:
high

Timestamp('2019-09-30 00:00:00')

In [163]:
RFM_data.sort_values("Order Date").tail(40)

,Order Date,Frequency,Monetary_Value,Units,Recency
Email,,,,,
polkadot71187@gmail.com,2020-01-31,1,41.0,3,3
bgianelloni@gmail.com,2020-01-31,2,38.0,4,3
alexisk.taylor15@gmail.com,2020-01-31,1,10.0,1,3
taccharr@gmail.com,2020-01-31,1,30.0,2,3
justchad76@gmail.com,2020-01-31,1,20.0,1,3
Driegel6@gmail.com,2020-01-31,1,25.0,1,3
zaira.ruizz09@gmail.com,2020-01-31,1,33.0,2,3
eian49er@icloud.com,2020-01-31,1,15.0,1,3
mstraube1990@gmail.com,2020-01-31,1,15.0,1,3
Melinda.Carlson16@outlook.com,2020-01-31,1,25.0,2,3
fionayimm@gmail.com,2020-01-31,1,60.0,4,3
lqk.nebraskafan@gmail.com,2020-01-31,1,25.0,1,3
okate900@gmail.com,2020-01-31,1,2.0,1,3
LMakar53@gmail.com,2020-01-31,1,15.0,1,3
jmoneyissupafly@aim.com,2020-01-31,3,60.0,6,3
dannielleannayeager@gmail.com,2020-01-31,1,17.0,2,3
alexishancher@hotmail.com,2020-01-31,1,10.0,1,3
thewudong@gmail.com,2020-01-31,1,10.0,1,3
marki.kaveney@gmail.com,2020-01-31,1,15.0,1,3
ted.susick@verizon.net,2020-01-31,1,20.0,2,3
poke_yo_face@yahoo.com,2020-01-31,1,10.0,1,3
lucymacgrey@yahoo.com,2020-01-31,1,15.0,1,3
william.scales@gmail.com,2020-01-31,1,15.0,1,3
kelley.22.smith@gmail.com,2020-01-31,1,10.0,1,3
pokeypaw@gmail.com,2020-01-31,1,20.0,2,3
groomsfamily2311@gmail.com,2020-01-31,2,55.0,2,3
zaidyarreola@icloud.com,2020-01-31,3,85.0,6,3
maryannec18@gmail.com,2020-01-31,1,20.0,1,3
Julia7932@yahoo.com,2020-01-31,1,30.0,1,3
huntla221@gmail.com,2020-01-31,1,30.0,2,3
kity_2888@yahoo.com,2020-01-31,1,30.0,2,3
sharonmohr7@icloud.com,2020-01-31,2,45.0,3,3
rlhallett46@comcast.net,2020-01-31,1,10.0,1,3
sheenahump@yahoo.com,2020-01-31,1,10.0,1,3
rasha.shahbain1226@icloud.com,2020-01-31,1,30.0,2,3
kittykinsey2010@att.net,2020-01-31,1,72.0,3,3
Cindy_Seger@hotmail.com,2020-01-31,1,20.0,1,3
Julianaboney@gmail.com,2020-01-31,1,8.0,1,3
EspinozaFabricio@icloud.com,2020-01-31,1,20.0,1,3
jenntlaplante@hotmail.com,2020-01-31,3,55.0,3,3

In [164]:
RFM_data["Frequency"].value_counts()/RFM_data.shape[0]

1     0.866703
2     0.104777
3     0.020351
4     0.005237
5     0.001586
6     0.000618
7     0.000313
8     0.000153
9     0.000082
10    0.000042
11    0.000042
13    0.000020
15    0.000017
14    0.000013
16    0.000013
12    0.000010
17    0.000004
18    0.000003
20    0.000003
27    0.000003
29    0.000001
19    0.000001
22    0.000001
23    0.000001
24    0.000001
26    0.000001
63    0.000001
Name: Frequency, dtype: float64

In [165]:
RFM_data = RFM_data.sort_values("Frequency")

In [166]:
whatevs = 9

In [167]:
RFM_data["Frequency"].iloc[:whatevs]

Email
(818)751-9631              1
linzb.7.16@gmail.com       1
linzbacci@optonline.net    1
linzbuhler@yahoo.com       1
linzcc@sbcglobal.net       1
linzdragon.9@gmail.com     1
linzdusk@yahoo.com         1
linzeemiller@yahoo.com     1
linz_thompson@yahoo.com    1
Name: Frequency, dtype: int64

In [168]:
freq = []


for n in RFM_data["Frequency"]:

    if n == 1:
        freq.append(1)
    elif n > 2:
        freq.append(3)
    else:
        freq.append(2)
        
RFM_data["Freq"] = freq

In [169]:
RFM_data.sort_values("Frequency").tail(10)

,Order Date,Frequency,Monetary_Value,Units,Recency,Freq
Email,,,,,,
billing@rusticroutedesigns.com,2020-01-09,20,1303.00,87,3,3
makenzi.cook@yahoo.com,2020-01-30,20,405.00,27,3,3
ginnakae@gmail.com,2020-01-20,22,480.00,31,3,3
suxianquan00@gmail.com,2020-01-06,23,990.00,64,3,3
kittie_maggot089@hotmail.com,2020-01-27,24,1041.00,66,3,3
Gabbys199027@gmail.com,2020-01-18,26,497.00,68,3,3
andreadupre@comcast.net,2019-11-11,27,472.00,65,3,3
pradagirl74@gmail.com,2020-01-10,27,1373.85,96,3,3
theisman.tamanaha@gmail.com,2020-01-28,29,40789.95,2980,3,3
undefined,2020-01-29,63,2897.28,203,3,3

In [170]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq
count,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000
mean,1.176489,29.816072,1.973557,2.258360,1.161816
std,0.549214,64.628145,4.526566,0.818538,0.438943
min,1.000000,2.000000,1.000000,1.000000,1.000000
25%,1.000000,15.000000,1.000000,2.000000,1.000000
50%,1.000000,20.000000,1.000000,2.000000,1.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000
max,63.000000,40789.950000,2980.000000,3.000000,3.000000

In [171]:
mon = []


for n in RFM_data["Monetary_Value"]:

    if n < 15:
        mon.append(1)
    elif n >= 25:
        mon.append(3)
    else:
        mon.append(2)
        
RFM_data["Mon"] = mon

In [172]:
RFM_data.sort_values("Monetary_Value").tail(10)

,Order Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon
Email,,,,,,,
lydiadaily1@gmail.com,2019-12-13,10,2940.00,310,3,3,3
kmbenson888@yahoo.com,2019-03-18,2,3000.00,200,1,2,3
cate@popsockets.com,2020-01-27,11,4079.90,245,3,3,3
accounts@intermarketing.com,2019-04-01,2,4500.00,300,1,2,3
sabine@chantecaille.com,2019-06-05,3,4980.00,332,2,3,3
dusty@sherrihill.com,2019-02-22,1,5010.00,334,1,1,3
bo_slooh59@hotmail.com,2019-12-02,3,5850.00,372,3,3,3
ccelletticombs@munroe.com,2019-08-24,4,7500.00,300,2,3,3
jenna@njpn.org,2019-06-28,3,18600.00,1240,2,3,3
theisman.tamanaha@gmail.com,2020-01-28,29,40789.95,2980,3,3,3

In [173]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq,Mon
count,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000
mean,1.176489,29.816072,1.973557,2.258360,1.161816,2.357210
std,0.549214,64.628145,4.526566,0.818538,0.438943,0.693394
min,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,15.000000,1.000000,2.000000,1.000000,2.000000
50%,1.000000,20.000000,1.000000,2.000000,1.000000,2.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000,3.000000
max,63.000000,40789.950000,2980.000000,3.000000,3.000000,3.000000

In [174]:
RFM_data["Recency"].value_counts()/RFM_data.shape[0]

3    0.497556
2    0.263247
1    0.239196
Name: Recency, dtype: float64

In [175]:
62098/653961

0.09495673289385759

In [176]:
len(RFM_data[RFM_data["Units"] > 75])

69

In [177]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq,Mon
count,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000
mean,1.176489,29.816072,1.973557,2.258360,1.161816,2.357210
std,0.549214,64.628145,4.526566,0.818538,0.438943,0.693394
min,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,15.000000,1.000000,2.000000,1.000000,2.000000
50%,1.000000,20.000000,1.000000,2.000000,1.000000,2.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000,3.000000
max,63.000000,40789.950000,2980.000000,3.000000,3.000000,3.000000

In [178]:
RFM_data["Units"].sort_values().value_counts()/RFM_data.shape[0]

1       0.539290
2       0.261786
3       0.097387
4       0.045658
5       0.020847
6       0.012297
7       0.006642
8       0.004419
9       0.002786
10      0.002418
11      0.001304
12      0.001048
13      0.000667
14      0.000524
15      0.000441
16      0.000379
20      0.000268
17      0.000236
18      0.000194
19      0.000145
21      0.000126
22      0.000100
23      0.000096
30      0.000090
25      0.000080
24      0.000079
26      0.000059
40      0.000044
29      0.000042
27      0.000037
          ...
1240    0.000001
159     0.000001
163     0.000001
172     0.000001
310     0.000001
175     0.000001
157     0.000001
103     0.000001
122     0.000001
121     0.000001
67      0.000001
71      0.000001
53      0.000001
72      0.000001
74      0.000001
76      0.000001
78      0.000001
82      0.000001
84      0.000001
87      0.000001
88      0.000001
89      0.000001
90      0.000001
96      0.000001
99      0.000001
372     0.000001
104     0.000001
107     0.000001
115     0.000001
2980    0.000001
Name: Units, Length: 119, dtype: float64

In [179]:
uni = []


for n in RFM_data["Units"]:

    if n < 2:
        uni.append(1)
    elif n >= 3:
        uni.append(3)
    else:
        uni.append(2)
        
RFM_data["Uni"] = uni

In [180]:
RFM_data["RFMU_Score"] = RFM_data["Recency"] + RFM_data["Freq"] + RFM_data["Mon"] + RFM_data["Uni"]

RFM_data.head(10)

,Order Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Email,,,,,,,,,
(818)751-9631,2019-11-23,1,20.0,1,3,1,2,1,7
linzb.7.16@gmail.com,2019-06-26,1,10.0,1,2,1,1,1,5
linzbacci@optonline.net,2019-09-19,1,45.0,3,2,1,3,3,9
linzbuhler@yahoo.com,2019-05-09,1,10.0,1,1,1,1,1,4
linzcc@sbcglobal.net,2019-10-21,1,10.0,1,3,1,1,1,6
linzdragon.9@gmail.com,2019-02-26,1,15.0,1,1,1,2,1,5
linzdusk@yahoo.com,2019-12-29,1,40.0,3,3,1,3,3,10
linzeemiller@yahoo.com,2019-03-17,1,90.0,6,1,1,3,3,8
linz_thompson@yahoo.com,2019-09-18,1,15.0,1,2,1,2,1,6
linzer8@gmail.com,2019-05-11,1,20.0,2,1,1,2,2,6

In [181]:
RFM_data = RFM_data.sort_values("RFMU_Score")

In [182]:
RFM_data.head(10)

,Order Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
Email,,,,,,,,,
beardenk@bellsouth.net,2019-05-20,1,10.0,1,1,1,1,1,4
mmycomedtec316@yahoo.com,2019-03-23,1,10.0,1,1,1,1,1,4
alanimol@yahoo.com,2019-04-11,1,10.0,1,1,1,1,1,4
corycee@gmail.com,2019-05-20,1,10.0,1,1,1,1,1,4
ldblack021412@gmail.com,2019-04-11,1,10.0,1,1,1,1,1,4
jillsuazo@msn.com,2019-03-06,1,10.0,1,1,1,1,1,4
briantolep@gmail.com,2019-03-25,1,10.0,1,1,1,1,1,4
ldebro1991@hotmail.com,2019-05-22,1,10.0,1,1,1,1,1,4
hbusby607@gmail.com,2019-03-16,1,10.0,1,1,1,1,1,4
paulstevn@hotmail.com,2019-04-10,1,10.0,1,1,1,1,1,4

In [183]:
RFM_data.describe()

,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score
count,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000,711654.000000
mean,1.176489,29.816072,1.973557,2.258360,1.161816,2.357210,1.659634,7.437020
std,0.549214,64.628145,4.526566,0.818538,0.438943,0.693394,0.788902,1.839899
min,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000
25%,1.000000,15.000000,1.000000,2.000000,1.000000,2.000000,1.000000,6.000000
50%,1.000000,20.000000,1.000000,2.000000,1.000000,2.000000,1.000000,7.000000
75%,1.000000,30.000000,2.000000,3.000000,1.000000,3.000000,2.000000,9.000000
max,63.000000,40789.950000,2980.000000,3.000000,3.000000,3.000000,3.000000,12.000000

In [184]:
RFM_data["RFMU_Score"].value_counts() / RFM_data["RFMU_Score"].shape[0]

7     0.272673
6     0.151066
8     0.146654
9     0.121197
5     0.119182
10    0.091873
11    0.041967
4     0.035378
12    0.020010
Name: RFMU_Score, dtype: float64

In [185]:
bucketu = []


for n in RFM_data["RFMU_Score"]:

    if n < 6:
        bucketu.append("Bottom_Segment")
    elif n > 8:
        bucketu.append("Top_Segment")
    else:
        bucketu.append("Middle_Segment")
        
RFM_data["RFMU_Segment"] = bucketu

In [186]:
RFM_data.head()

,Order Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFMU_Segment
Email,,,,,,,,,,
beardenk@bellsouth.net,2019-05-20,1,10.0,1,1,1,1,1,4,Bottom_Segment
mmycomedtec316@yahoo.com,2019-03-23,1,10.0,1,1,1,1,1,4,Bottom_Segment
alanimol@yahoo.com,2019-04-11,1,10.0,1,1,1,1,1,4,Bottom_Segment
corycee@gmail.com,2019-05-20,1,10.0,1,1,1,1,1,4,Bottom_Segment
ldblack021412@gmail.com,2019-04-11,1,10.0,1,1,1,1,1,4,Bottom_Segment

In [187]:
RFM_data["RFMU_Segment"].value_counts() / RFM_data["RFMU_Segment"].shape[0]

Middle_Segment    0.570394
Top_Segment       0.275047
Bottom_Segment    0.154560
Name: RFMU_Segment, dtype: float64

In [188]:
RFM_data["RFMU_Score"].value_counts() / RFM_data["RFMU_Score"].shape[0]

7     0.272673
6     0.151066
8     0.146654
9     0.121197
5     0.119182
10    0.091873
11    0.041967
4     0.035378
12    0.020010
Name: RFMU_Score, dtype: float64

In [189]:
RFM_data.shape

(711654, 10)

In [190]:
RFM_data.head()

,Order Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFMU_Segment
Email,,,,,,,,,,
beardenk@bellsouth.net,2019-05-20,1,10.0,1,1,1,1,1,4,Bottom_Segment
mmycomedtec316@yahoo.com,2019-03-23,1,10.0,1,1,1,1,1,4,Bottom_Segment
alanimol@yahoo.com,2019-04-11,1,10.0,1,1,1,1,1,4,Bottom_Segment
corycee@gmail.com,2019-05-20,1,10.0,1,1,1,1,1,4,Bottom_Segment
ldblack021412@gmail.com,2019-04-11,1,10.0,1,1,1,1,1,4,Bottom_Segment

In [191]:
RFM_data["ID"] = RFM_data.index

In [192]:
RFM_data.head()

,Order Date,Frequency,Monetary_Value,Units,Recency,Freq,Mon,Uni,RFMU_Score,RFMU_Segment,ID
Email,,,,,,,,,,,
beardenk@bellsouth.net,2019-05-20,1,10.0,1,1,1,1,1,4,Bottom_Segment,beardenk@bellsouth.net
mmycomedtec316@yahoo.com,2019-03-23,1,10.0,1,1,1,1,1,4,Bottom_Segment,mmycomedtec316@yahoo.com
alanimol@yahoo.com,2019-04-11,1,10.0,1,1,1,1,1,4,Bottom_Segment,alanimol@yahoo.com
corycee@gmail.com,2019-05-20,1,10.0,1,1,1,1,1,4,Bottom_Segment,corycee@gmail.com
ldblack021412@gmail.com,2019-04-11,1,10.0,1,1,1,1,1,4,Bottom_Segment,ldblack021412@gmail.com

In [193]:
one_year_orders_6_18.head()

,Email,Order Date,Units,Money,Order_Cust_ID
0,jenna@njpn.org,2019-06-28,750,11250.0,jenna@njpn.org
1,theisman.tamanaha@gmail.com,2019-12-19,716,11140.0,theisman.tamanaha@gmail.com
2,theisman.tamanaha@gmail.com,2019-12-20,452,7400.0,theisman.tamanaha@gmail.com
3,theisman.tamanaha@gmail.com,2019-09-14,358,4520.0,theisman.tamanaha@gmail.com
4,jenna@njpn.org,2019-06-27,340,5100.0,jenna@njpn.org

In [194]:
RFM_data.shape

(711654, 11)

#### Calculating 12mo Customer Value Baseline

In [195]:
print("Bottom Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Bottom_Segment"]["Monetary_Value"].mean())

Bottom Segment 12mo Customer Value: 13.072613711781658

In [196]:
print("Middle Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Middle_Segment"]["Monetary_Value"].mean())

Middle Segment 12mo Customer Value: 22.316517344424092

In [197]:
print("Top Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Top_Segment"]["Monetary_Value"].mean())

Top Segment 12mo Customer Value: 54.77752694928872

In [198]:
RFM_data["Freq"].value_counts()/RFM_data.shape[0]

1    0.866703
2    0.104777
3    0.028519
Name: Freq, dtype: float64

In [199]:
RFM_data["Mon"].value_counts()/RFM_data.shape[0]

3    0.482802
2    0.391606
1    0.125592
Name: Mon, dtype: float64

In [200]:
RFM_data["Uni"].value_counts()/RFM_data.shape[0]

1    0.539290
2    0.261786
3    0.198924
Name: Uni, dtype: float64

In [201]:
RFM_data["Recency"].value_counts()/RFM_data.shape[0]

3    0.497556
2    0.263247
1    0.239196
Name: Recency, dtype: float64

In [202]:
RFM_data["RFMU_Score"].value_counts()/RFM_data.shape[0]

7     0.272673
6     0.151066
8     0.146654
9     0.121197
5     0.119182
10    0.091873
11    0.041967
4     0.035378
12    0.020010
Name: RFMU_Score, dtype: float64

In [203]:
RFM_data["RFMU_Segment"].value_counts()/RFM_data.shape[0]

Middle_Segment    0.570394
Top_Segment       0.275047
Bottom_Segment    0.154560
Name: RFMU_Segment, dtype: float64

#### Calculating 12mo Customer Value Baseline

In [77]:
print("Bottom Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Bottom_Segment"]["Monetary_Value"].mean())

Bottom Segment 12mo Customer Value: 16.849171427142682

In [78]:
print("Middle Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Middle_Segment"]["Monetary_Value"].mean())

Middle Segment 12mo Customer Value: 31.12552313913451

In [79]:
print("Top Segment 12mo Customer Value:", RFM_data[RFM_data["RFMU_Segment"] == "Top_Segment"]["Monetary_Value"].mean())

Top Segment 12mo Customer Value: 60.20452991858251

In [68]:
four_val = RFM_data[RFM_data["RFMU_Score"] == 4]["Monetary_Value"].mean()
five_val = RFM_data[RFM_data["RFMU_Score"] == 5]["Monetary_Value"].mean()
six_val = RFM_data[RFM_data["RFMU_Score"] == 6]["Monetary_Value"].mean()
seven_val = RFM_data[RFM_data["RFMU_Score"] == 7]["Monetary_Value"].mean()
eight_val = RFM_data[RFM_data["RFMU_Score"] == 8]["Monetary_Value"].mean()
nine_val = RFM_data[RFM_data["RFMU_Score"] == 9]["Monetary_Value"].mean()
ten_val = RFM_data[RFM_data["RFMU_Score"] == 10]["Monetary_Value"].mean()
eleven_val = RFM_data[RFM_data["RFMU_Score"] == 11]["Monetary_Value"].mean()
twelve_val = RFM_data[RFM_data["RFMU_Score"] == 12]["Monetary_Value"].mean()

print("4 Average:", four_val)
print("5 Average:", five_val)
print("6 Average:", six_val)
print("7 Average:", seven_val)
print("8 Average:", eight_val)
print("9 Average:", nine_val)
print("10 Average:", ten_val)
print("11 Average:", eleven_val)
print("12 Average:", twelve_val)

4 Average: 292.24801280769236
5 Average: 347.84830507627095
6 Average: 470.11959458783787
7 Average: 671.9953225403225
8 Average: 865.3249700359278
9 Average: 1352.4848550217387
10 Average: 2181.9209316086963
11 Average: 4445.361792353773
12 Average: 10077.374086199334

#### Revenue lift if we 1% of customers up 1 point

In [69]:
.01*RFM_data.shape[0]

15.25

In [70]:
four_gain = RFM_data[RFM_data["RFMU_Score"] == 4].shape[0]*.01*(five_val - four_val)
five_gain = RFM_data[RFM_data["RFMU_Score"] == 5].shape[0]*.01*(six_val - five_val)
six_gain = RFM_data[RFM_data["RFMU_Score"] == 6].shape[0]*.01*(seven_val - six_val)
seven_gain = RFM_data[RFM_data["RFMU_Score"] == 7].shape[0]*.01*(eight_val - seven_val)
eight_gain = RFM_data[RFM_data["RFMU_Score"] == 8].shape[0]*.01*(nine_val - eight_val)
nine_gain = RFM_data[RFM_data["RFMU_Score"] == 9].shape[0]*.01*(ten_val - nine_val)
ten_gain = RFM_data[RFM_data["RFMU_Score"] == 10].shape[0]*.01*(eleven_val - ten_val)
eleven_gain = RFM_data[RFM_data["RFMU_Score"] == 11].shape[0]*.01*(twelve_val - eleven_val)
total_gain = four_gain + five_gain + six_gain + seven_gain + eight_gain + nine_gain + ten_gain + eleven_gain

print("Gain from 1% 4 shift:", four_gain)
print("Gain from 1% 5 shift:", five_gain)
print("Gain from 1% 6 shift:", six_gain)
print("Gain from 1% 7 shift:", seven_gain)
print("Gain from 1% 8 shift:", eight_gain)
print("Gain from 1% 9 shift:", nine_gain)
print("Gain from 1% 10 shift:", ten_gain)
print("Gain from 1% 11 shift:", eleven_gain)
print("Total gain from 1% shift:", total_gain)

Gain from 1% 4 shift: 86.7364559389826
Gain from 1% 5 shift: 144.28012162364897
Gain from 1% 6 shift: 298.77607736967724
Gain from 1% 7 shift: 239.72876289455056
Gain from 1% 8 shift: 813.5570079263042
Gain from 1% 9 shift: 1144.6217856900016
Gain from 1% 10 shift: 3644.139785799574
Gain from 1% 11 shift: 11939.86606295259
Total gain from 1% shift: 18311.706060195327

In [71]:
four_gain = RFM_data[RFM_data["RFMU_Score"] == 4].shape[0]*.05*(five_val - four_val)
five_gain = RFM_data[RFM_data["RFMU_Score"] == 5].shape[0]*.05*(six_val - five_val)
six_gain = RFM_data[RFM_data["RFMU_Score"] == 6].shape[0]*.05*(seven_val - six_val)
seven_gain = RFM_data[RFM_data["RFMU_Score"] == 7].shape[0]*.05*(eight_val - seven_val)
eight_gain = RFM_data[RFM_data["RFMU_Score"] == 8].shape[0]*.05*(nine_val - eight_val)
nine_gain = RFM_data[RFM_data["RFMU_Score"] == 9].shape[0]*.05*(ten_val - nine_val)
ten_gain = RFM_data[RFM_data["RFMU_Score"] == 10].shape[0]*.05*(eleven_val - ten_val)
eleven_gain = RFM_data[RFM_data["RFMU_Score"] == 11].shape[0]*.05*(twelve_val - eleven_val)
total_gain = four_gain + five_gain + six_gain + seven_gain + eight_gain + nine_gain + ten_gain + eleven_gain

print("Gain from 5% 4 shift:", four_gain)
print("Gain from 5% 5 shift:", five_gain)
print("Gain from 5% 6 shift:", six_gain)
print("Gain from 5% 7 shift:", seven_gain)
print("Gain from 5% 8 shift:", eight_gain)
print("Gain from 5% 9 shift:", nine_gain)
print("Gain from 5% 10 shift:", ten_gain)
print("Gain from 5% 11 shift:", eleven_gain)
print("Total gain from 5% shift:", total_gain)

Gain from 5% 4 shift: 433.682279694913
Gain from 5% 5 shift: 721.4006081182449
Gain from 5% 6 shift: 1493.8803868483863
Gain from 5% 7 shift: 1198.6438144727529
Gain from 5% 8 shift: 4067.7850396315207
Gain from 5% 9 shift: 5723.108928450008
Gain from 5% 10 shift: 18220.69892899787
Gain from 5% 11 shift: 59699.33031476295
Total gain from 5% shift: 91558.53030097665

#### Revenue lift if we move 8s to 9s (middle to top)...

In [72]:
RFM_data[RFM_data["RFMU_Score"] == 8].shape[0]

167

In [73]:
print("Annual Revenue Lift Moving 1% of 8s to 9s: $",.01*83375*33)

Annual Revenue Lift Moving 1% of 8s to 9s: $ 27513.75

In [74]:
print("Annual Revenue Lift Moving 5% of 8s to 9s: $",.05*83375*33)

Annual Revenue Lift Moving 5% of 8s to 9s: $ 137568.75

In [75]:
print("Annual Revenue Lift Moving 10% of 8s to 9s: $",.1*83375*33)

Annual Revenue Lift Moving 10% of 8s to 9s: $ 275137.5

In [76]:
print("Annual Revenue Lift Moving 15% of 8s to 9s: $",.15*83375*33)

Annual Revenue Lift Moving 15% of 8s to 9s: $ 412706.25

In [77]:
print("Annual Revenue Lift Moving 25% of 8s to 9s: $",.25*83375*33)

Annual Revenue Lift Moving 25% of 8s to 9s: $ 687843.75

#### Analysis of Levers to Pull to Move 8s to 9s...

In [78]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Freq"].value_counts()

2    113
1     33
3     21
Name: Freq, dtype: int64

In [79]:
print("Percent of 8s who have a 1 for FREQUENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Freq"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 1 for FREQUENCY:  0.19760479041916168

In [80]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Recency"].value_counts()

2    80
1    67
3    20
Name: Recency, dtype: int64

In [81]:
print("Percent of 8s who have a 1 or 2 for RECENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Recency"] != 3)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 1 or 2 for RECENCY:  0.8802395209580839

In [82]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Mon"].value_counts()

2    158
3      6
1      3
Name: Mon, dtype: int64

In [83]:
print("Percent of 8s who have a 2 for MONETARY VALUE: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Mon"] == 2)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 2 for MONETARY VALUE:  0.9461077844311377

In [84]:
RFM_data[RFM_data["RFMU_Score"] == 8]["Uni"].value_counts()

2    103
3     60
1      4
Name: Uni, dtype: int64

In [85]:
print("Percent of 8s who have a 1 or 2 for UNITS: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 8) & (RFM_data["Uni"] != 3)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 8].shape[0])

Percent of 8s who have a 1 or 2 for UNITS:  0.6407185628742516

#### Revenue lift if we move 4s/5s to 6s (from bottom to middle)...

In [86]:
RFM_data[RFM_data["RFMU_Score"] == 5].shape[0]

118

In [87]:
print("Annual Revenue Lift Moving 1% of 5s to 6s: $",.01*120762*11)

Annual Revenue Lift Moving 1% of 5s to 6s: $ 13283.820000000002

In [88]:
print("Annual Revenue Lift Moving 5% of 5s to 6s: $",.05*120762*11)

Annual Revenue Lift Moving 5% of 5s to 6s: $ 66419.1

In [89]:
print("Annual Revenue Lift Moving 10% of 5s to 6s: $",.1*120762*11)

Annual Revenue Lift Moving 10% of 5s to 6s: $ 132838.2

In [90]:
print("Annual Revenue Lift Moving 15% of 5s to 6s: $",.15*120762*11)

Annual Revenue Lift Moving 15% of 5s to 6s: $ 199257.3

In [91]:
print("Annual Revenue Lift Moving 25% of 5s to 6s: $",.25*120762*11)

Annual Revenue Lift Moving 25% of 5s to 6s: $ 332095.5

#### Analysis of Levers to Pull to Move 5s to 6s...

In [92]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Freq"].value_counts()

1    99
2    19
Name: Freq, dtype: int64

In [93]:
print("Percent of 5s who have a 1 for FREQUENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Freq"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 for FREQUENCY:  0.8389830508474576

In [94]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Recency"].value_counts()

2    69
1    49
Name: Recency, dtype: int64

In [95]:
print("Percent of 5s who have a 1 or 2 for RECENCY: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Recency"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 or 2 for RECENCY:  0.4152542372881356

In [96]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Mon"].value_counts()

1    115
2      3
Name: Mon, dtype: int64

In [97]:
print("Percent of 5s who have a 1 for MONETARY VALUE: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Mon"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 for MONETARY VALUE:  0.9745762711864406

In [98]:
RFM_data[RFM_data["RFMU_Score"] == 5]["Uni"].value_counts()

1    91
2    27
Name: Uni, dtype: int64

In [99]:
print("Percent of 5s who have a 1 for UNITS: ", 
      RFM_data[(RFM_data["RFMU_Score"] == 5) & (RFM_data["Uni"] == 1)].shape[0] / RFM_data[RFM_data["RFMU_Score"] == 5].shape[0])

Percent of 5s who have a 1 for UNITS:  0.7711864406779662